@import "../mixins.scss";
@import "../components/_animation.scss";
@import "../components/_landing-page-promo.scss";
@import "../components/_projects.scss";
@import "../components/_landing-page-projects.scss";
@import "../components/_landing-page-offer.scss";
@import "../components/_landing-page-features.scss";
@import "../components/_landing-page-summary.scss";
@import "../components/_summary-card.scss";
@import "../components/_modal-landing-actions.scss";

.body {
  &_landing {
    padding-top: 0;
    overflow: hidden;
  }
}