.analyst-card__position {
  margin-bottom: 19px;

  font-family: var(--font-family-primary);
  font-size: 14px;
  line-height: 24px;
  color: var(--color-black-060);

  @media screen and (max-width: 767px) {
    margin-bottom: 13px;
  }
}

.analyst-card__name {
  margin-bottom: 14px;

  @media screen and (max-width: 767px) {
    margin-bottom: 17px;
  }
}

.analyst-card__email {
  font-family: var(--font-family-primary);
  font-size: 18px;
  line-height: 24px;
}
