.analysts {
  padding-top: 56px;
  padding-bottom: 40px;
}

.analysts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 21px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.analysts__item {
  margin-bottom: -1px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  &:not(:nth-child(3n)) .analysts__analyst-card {
    margin-right: -10px;
    padding-left: 21px;
    padding-right: 31px;

    border-right: 1px solid var(--color-border);
  }

  @media screen and (max-width: 767px) {
    padding-top: 11px;
    padding-bottom: 37px;
  }
}

.analysts__analyst-card {
  margin-right: -10px;
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 31px;
  padding-bottom: 35px;

  .analysts__item:not(:nth-child(3n)) & {
    border-right: 1px solid var(--color-border);
  }

  @media screen and (max-width: 1279px) {
    .analysts__item:not(:nth-child(3n)) & {
      border-right: none;
    }

    .analysts__item:not(:nth-child(2n)) & {
      border-right: 1px solid var(--color-border);
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;

    .analysts__item:not(:nth-child(2n)) & {
      border-right: none;
    }
  }
}
