[data-animate] {
  // fade-in-bottom-40px
  &.fib-40,
  .fib-40 {
    transform: translateY(40px);
    opacity: 0;

    @media screen and (max-width: 1023px) {
      transform: none;
      opacity: 1;
    }
  }

  // fade-in-bottom-60px
  &.fib-60,
  .fib-60 {
    transform: translateY(60px);
    opacity: 0;

    @media screen and (max-width: 1023px) {
      transform: none;
      opacity: 1;
    }
  }

  &.d-200,
  .d-200 {
    animation-delay: 0.2s;
  }

  &.d-400,
  .d-400 {
    animation-delay: 0.4s;
  }

  &.d-600,
  .d-600 {
    animation-delay: 0.6s;
  }

  &.show {
    &.fib-40,
    .fib-40 {
      animation-name: fade-in-bottom-40px;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;

      animation-fill-mode: both;

      @media screen and (max-width: 1023px) {
        animation: none;
        transform: none;
        opacity: 1;
      }
    }

    &.fib-60,
    .fib-60 {
      animation-name: fade-in-bottom-60px;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;

      animation-fill-mode: both;

      @media screen and (max-width: 1023px) {
        animation: none;
        transform: none;
        opacity: 1;
      }
    }
  }
}

@keyframes fade-in-bottom-40px {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom-60px {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.body_landing h2 {
  span {
    transition: color 0.5s ease-in-out 0.5s;
    &:nth-child(1) {
      color: var(--color-black)!important;
    }
    &:nth-child(2) {
      color: var(--color-black-020)!important;
    }
  }
  &.show-more {
    span {
      &:nth-child(1) {
        color: var(--color-black-020)!important;
      }
      &:nth-child(2) {
        color: var(--color-black)!important;
      }
    }
  }
}