.annual-meetings {
  @include adaptiveDesktopToMobile("padding-top", 54, 72);
  @include adaptiveDesktopToMobile("padding-bottom", 235, 114);
}

.annual-meetings__title {
  @include adaptiveDesktopToMobile("margin-bottom", 139, 60);
  max-width: 910px;
}

.annual-meetings__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 80px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 72px;
  }
}

.annual-meetings__link {
  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-black);
    text-decoration: none;

    .annual-meetings__file-name {
      text-decoration: underline;
    }
  }
}

.annual-meetings__file-data {
  margin-bottom: 18px;

  color: var(--color-black-060);

  span:not(:last-child) {
    position: relative;
    margin-right: 46px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: -23px;
      transform: translate(50%, -50%);

      width: 6px;
      height: 6px;
      background-color: var(--color-black-060);
      border-radius: 50%;
    }
  }
}

.annual-meetings__file-name {
  // font-size: 22px;
}
