.banner {
  @include adaptiveFull("margin-bottom", 116, 116, 58);
}

.banner__wrapper {
  overflow: hidden;
  position: relative;
  min-height: 674px;

  @media screen and (max-width: 1023px) {
    min-height: 337px;
  }
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: var(--color-blue6);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner__decor {
  position: absolute;
  right: 20px;
  bottom: -136px;
  z-index: 2;

  --color-patter: var(--color-white-almost);

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.banner__content {
  position: relative;
  z-index: 3;

  @include adaptiveDesktopToMobile("padding-top", 46, 11);
  @include adaptiveDesktopToMobile("padding-left", 54, 13);
  @include adaptiveDesktopToMobile("padding-right", 54, 13);
  @include adaptiveDesktopToMobile("padding-bottom", 46, 11);

  color: var(--color-white);
}

.banner__title {
  max-width: 650px;
  @include adaptiveDesktopToMobile("margin-bottom", 48, 24);

  @media screen and (max-width: 374px) {
    font-size: 40px;
  }
}

.banner__paragraph {
  max-width: 480px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 374px) {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}
