.big-banner {
  color: var(--color-white);
  &__wrapper {
    position: relative;
    @include adaptiveDesktopToMobile("height", 900, 500);
  }
  &__swiper {
    overflow: hidden;
    height: 100%;
  }
  &__swiper-wrapper {
  }
  &__slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    min-height: 100%;
    &-left-wrapper {
      // background-image: url("../../img/big-banner-bg-1.jpg");
      // background-size: 100% 100%;
      @include adaptiveDesktopToMobile("padding-top", 150, 0);
      position: relative;
      z-index: 1;
    }
    &-title {
      max-width: 560px;
    }
    &-counter {
      display: flex;
      align-items: flex-end;
      line-height: 1;
      &-current {
        font-weight: 500;
        @include adaptiveDesktopToMobile("font-size", 64, 48);
        line-height: 97.5%;
      }
      &-all {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    &-description {
      @include adaptiveDesktopToMobile("margin-top", 35, 9);
      max-width: 270px;
    }
    &-right-wrapper {
    }
    &-photo {
    }
  }
  &__video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  &__video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btns {
  }
  &__btn {
    @include adaptiveDesktopToMobile("width", 60, 30);
    @include adaptiveDesktopToMobile("height", 60, 30);
    &_down {
      position: absolute;
      @include adaptiveDesktopToMobile("bottom", 46, 10);
      @include adaptiveDesktopToMobile("left", 46, 20);
      transform: rotate(90deg);
      z-index: 1;
    }
    &_next {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
    &_prev {
      transform: rotate(180deg);
    }
  }

  &__slider-controls {
    position: absolute;
    top: 50%;
    @include adaptiveDesktopToMobile("right", 46, 20);
    transform: translateY(-50%);
    display: grid;
    @include adaptiveDesktopToMobile("row-gap", 20, 10);
    z-index: 1;
  }
  &__progress {
    @include adaptiveDesktopToMobile("width", 65, 30);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-bg {
      position: absolute;
      fill: none;
      stroke: transparent;
      stroke-width: 4px;
    }
    &-current {
      fill: none;
      stroke: #fff;
      stroke-width: 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .big-banner {
    height: auto;
    &__swiper {
      @include adaptiveDesktopToMobile("height", 900, 500);
    }
    &__slide {
      grid-template-columns: auto;
      &-left-wrapper {
        background: transparent;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        padding-bottom: 30px;
      }
      &-right-wrapper {
        position: relative;
        width: 100%;
        max-width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 83%;
          background-image: url("../../img/big-banner-gradient.png");
          background-size: 100% 100%;
        }
      }
      &-title {
        max-width: 400px;
      }
      &-photo {
        width: auto;
        min-height: 100%;
      }
    }
    // &__video-wrapper {
    //   position: relative;
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 83%;
    //     background-image: url("../../img/big-banner-gradient.png");
    //     background-size: 100% 100%;
    //   }
    // }
    &__btns {
      display: none;
    }
  }
}
