.big-banner {
  color: var(--color-white);
  &__wrapper {
    position: relative;
    // @include adaptiveDesktopToMobile("height", 900, 500);
    height: calc(100vh - 80px);
    background-color: var(--color-purple2);
    .container {
      height: 100%;
    }
  }
  &__text {
    // @include adaptiveDesktopToMobile("padding-top", 50, 0);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 50px;
  }
  &__title {
    // max-width: 560px;
    @include adaptiveDesktopToMobile("font-size", 96, 36);
  }
  &__description {
    @include adaptiveDesktopToMobile("margin-top", 35, 9);
    max-width: 435px;
    font-size: 18px;
  }
  &__video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00122d;
      opacity: 0.35;
    }
  }
  &__video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__next {
    width: 60px;
    height: 60px;
    transform: rotate(90deg);
    margin-top: auto;
    position: absolute;
    bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .big-banner {
    &__wrapper {
      height: 500px;
      background-image: url("../../img/big-banner-bg.png");
      background-size: cover;
    }
    &__text {
      justify-content: flex-end;
    }
    &__next {
      display: none;
    }
    &__video {
      display: none;
    }
  }
}
