.blog {
  margin-top: 100px;
  overflow: hidden;
  &__title {
    margin-bottom: 65px;
  }
  &__cards {
    background: var(--color-purple);
    color: var(--color-white);
    padding: 20px 0;
    .card {
      border-color: #a031d3;
      &::after {
        background-color: #a031d3;
      }
      &__more-borders {
        &::before {
          background-color: #a031d3;
        }
      }
      &__subtitle {
        color: #c489ff;
      }
      &__button {
        border-color: var(--color-white);
      }
      &__show {
        filter: invert(1);
      }
    }
    &-row {
      border-color: #9646e8;
    }
  }
  &__card {
  }
}

@media screen and (max-width: 768px) {
  .blog {
    &__cards-row {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &__cards {
      padding-bottom: 60px;
    }
  }
}
