.business {
  @include adaptiveDesktopToMobile("padding-top", 40, 0);
  @include adaptiveDesktopToMobile("margin-bottom", 240, 100);
  position: relative;
  &__chapters {
    // @include adaptiveDesktopToMobile("margin-top", 100, 30);
  }
  &__chapter {
    @include adaptiveDesktopToMobile("padding-top", 120, 110);
  }
  &__chapter-title {
    max-width: 55%;
    @include adaptiveDesktopToMobile("font-size", 96, 43);
  }
  &__chapter-description {
    @include adaptiveDesktopToMobile("margin-top", 32, 10);
    max-width: 47%;
    @include adaptiveDesktopToMobile("font-size", 28, 16);
    line-height: 1.29;
    font-family: var(--font-family-primary);
  }
  &__banner {
    display: flex;
    flex-direction: column;
    height: 674px;
    position: relative;
    padding-top: 44px;
    padding-right: 58px;
    padding-bottom: 44px;
    padding-left: 58px;
    color: var(--color-white);
    margin-bottom: 12px;
    .products-card__show {
      display: none;
    }
  }
  &__banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__banner-bg-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__banner-list {
    margin-top: auto;
  }
  &__cards-list {
  }
  &__cards-list-item {
  }
  &__subsection-title {
    margin-top: 93px;
    margin-bottom: 38px;
  }
  .projects-page__list-links-wrapper {
    max-width: none;
  }
}

@media screen and (max-width: 1023px) {
  .business__banner {
    color: var(--color-black);
    height: auto;
    padding: 0;
    &-bg {
      display: none;
    }
    .business__chapter-title {
      max-width: 100%;
    }
    .business__chapter-description {
      max-width: 80%;
    }
    .banner-products-card {
      margin-top: 26px;
      @include adaptiveDesktopToMobile("padding", 30, 0);
      @include adaptiveDesktopToMobile("padding-top", 40, 30);
      @include adaptiveDesktopToMobile("padding-bottom", 30, 20);
      position: relative;
      min-height: 360px;
      display: flex;
      flex-direction: column;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 94.5%;
        background-color: var(--color-border);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 94.5%;
        background-color: var(--color-border);
      }
    }
    .products-card__show {
      display: block;
      margin-top: auto;
    }
  }
  .business__chapter {
    margin-top: -50px;
    &:last-child {
      .banner-products-card__logo {
        filter: invert(1);
      }
    }
  }
}
