.calendar {
  @include adaptiveDesktopToMobile("margin-bottom", 135, 55);
}

.calendar__events-group {
  border-top: 1px solid var(--color-border);

  @media screen and (max-width: 767px) {
    border-top: none;
  }
}

.calendar__event-group {
  padding-top: 30px;
  border-bottom: 1px solid var(--color-border);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 50px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.calendar__event-group-title {
  margin-bottom: 55px;

  @media screen and (max-width: 767px) {
    margin-bottom: 45px;
  }
}

.calendar__event {
  display: flex;

  min-height: 170px;
  padding-top: 30px;
  padding-bottom: 20px;

  border-top: 1px solid var(--color-border);

  @media screen and (max-width: 767px) {
    flex-direction: column;

    min-height: 160px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.calendar__event-date {
  flex-shrink: 0;

  width: 210px;
  padding-right: 50px;

  color: var(--color-black-060);

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 16px;

    br {
      display: none;
    }
  }
}

.calendar__event-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.calendar__event-title {
  margin-bottom: auto;

  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}

.calendar__event-type {
  margin-top: 8px;

  color: var(--color-black-060);

  @media screen and (max-width: 767px) {
    margin-top: 6px;
  }
}

.calendar__event-participants {
  margin-top: 8px;

  @media screen and (max-width: 767px) {
    margin-top: 6px;
  }
}

.calendar__load-more-btn {
  display: block;
  margin: 125px auto 0;

  @media screen and (max-width: 767px) {
    margin: 55px auto 0;
  }
}
