.card {
  display: flex;
  @include adaptiveLargeDesktopToMobile("min-height", 520, 130);
  @include adaptiveDesktopToMobile("padding-top", 40, 20);
  @include adaptiveDesktopToMobile("padding-bottom", 40, 20);
  @include adaptiveDesktopToMobile("padding-left", 18, 0);
  @include adaptiveDesktopToMobile("padding-right", 18, 0);
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  font-family: var(--font-family-primary);
  position: relative;
  &:hover {
    text-decoration: none;
    color: inherit;
    .card__show {
      animation: 0.5s arrowAnimationType-1;
    }
    .card__title {
      text-decoration: underline;
    }
  }
  &__pic {
    position: relative;
    flex: 1 1 50.6%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__pic-photo {
    position: relative;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    &[src=""] {
      display: none;
    }
  }
  &__pic-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: hidden;
    z-index: 0;
    background-color: var(--color-green-deep);
  }
  &__pic-bg-img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    .patter {
      min-width: 100%;
      min-height: 100%;
    }
    &_1 {
      display: block;
    }
  }
  &__content {
    @include adaptiveLargeDesktopToMobile("margin-left", 63, 30);
    @include adaptiveDesktopToMobile("padding-top", 15, 0);
    @include adaptiveDesktopToMobile("padding-bottom", 15, 0);
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-grey);
  }
  &__title {
    margin-top: 10px;
    @include adaptiveDesktopToMobile("font-size", 38, 28);
    font-weight: normal;
    line-height: 1.12;
    max-width: 540px;
    @include adaptiveDesktopToMobile("margin-bottom", 20, 10);
  }
  &__author {
    max-width: 250px;
    @include adaptiveDesktopToMobile("margin-bottom", 20, 10);
  }
  &__button {
    margin-top: auto;
    + .card__bottom-wrapper {
      @include adaptiveDesktopToMobile("margin-top", 30, 10);
    }
  }
  &__bottom-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__show {
    background-image: url("../img/card-arrow.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
  &__more-borders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 94%;
      background-color: var(--color-border);
    }
  }
}

.card {
  &_vertical {
    flex-direction: column;
    @include adaptiveDesktopToMobile("padding-top", 32, 20);
    @include adaptiveDesktopToMobile("padding-bottom", 32, 20);
    @include adaptiveDesktopToMobile("padding-left", 30, 0);
    @include adaptiveDesktopToMobile("padding-right", 30, 0);
    border: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 94%;
      background-color: var(--color-border);
    }
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 93%;
        width: 1px;
        background-color: var(--color-border);
      }
    }
    .card__title {
      font-size: 28px;
      font-weight: 500;
    }
    .card__author {
      max-width: 90%;
    }
    .card__content {
      padding: 0;
      margin: 0;
    }
    .card__pic {
      width: 100%;
      @include adaptiveLargeDesktopToMobile("height", 200, 0);
      margin: 0;
      flex: inherit;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card__pic-photo {
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }
  &_large {
    &:last-child {
      border-bottom: none;
    }
  }
  &_medium {
    @include adaptiveLargeDesktopToMobile("min-height", 570, 525);
    @media screen and (max-width: 1280px) {
      @include adaptiveLargeDesktopToMobile("min-height", 570, 300);
    }
  }
  &_small {
    @include adaptiveLargeDesktopToMobile("min-height", 450, 260);
  }
  &_main {
    @include adaptiveLargeDesktopToMobile("min-height", 674, 100);
    @include adaptiveDesktopToMobile("padding-top", 36, 20);
    @include adaptiveDesktopToMobile("padding-bottom", 36, 20);
    @include adaptiveDesktopToMobile("padding-left", 43, 0);
    @include adaptiveDesktopToMobile("padding-right", 43, 0);
    margin-bottom: 40px;
    border: none;
    &:hover {
      .card__show {
        animation: 0.5s arrowAnimationType-2;
      }
    }
    .card__content {
      padding: 0;
      margin: 0;
    }
    .card__pic {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .card__pic-bg {
      width: 100%;
      left: auto;
      right: 0;
      transform: translateY(-50%);
    }
    .card__pic-bg-img {
      width: 50%;
      left: auto;
      right: 0;
      transform: translateY(-50%);
    }
    .card__content {
      color: var(--color-white);
    }
    .card__subtitle {
      color: var(--color-white);
      font-size: 16px;
      line-height: 1.5;
    }
    .card__title {
      font-weight: 500;
      @include adaptiveDesktopToMobile("font-size", 64, 28);
      line-height: 1.12;
      max-width: 715px;
    }
    .card__show {
      filter: invert(1);
      @include adaptiveDesktopToMobile("width", 32, 18);
      @include adaptiveDesktopToMobile("height", 32, 18);
    }

    .card__button {
      border-color: var(--color-white);
      &:hover,
      &:focus {
        color: var(--color-white);
        border-color: var(--color-white);
        opacity: 0.8;
      }
    }
  }
  &_invert {
    flex-direction: row-reverse;
    .card__content {
      margin-left: 0;
    }
    .card__pic {
      @include adaptiveLargeDesktopToMobile("margin-left", 63, 30);
    }
  }
  &_bg-color-1 {
    .card__pic-bg {
      background-color: var(--color-purple);
    }
  }
  &_bg-color-2 {
    .card__pic-bg {
      background-color: var(--color-green-ligth);
    }
  }
  &_bg-color-3 {
    .card__pic-bg {
      background-color: var(--color-blue-dark-type-1);
    }
  }
  &_bg-color-4 {
    .card__pic-bg {
      background-color: var(--color-orange-light);
    }
  }
  &_bg-color-5 {
    .card__pic-bg {
      background-color: var(--color-orange-extra-light);
    }
  }
  &_bg-color-6 {
    .card__pic-bg {
      background-color: var(--color-blue-light);
    }
  }
  &_bg-color-7 {
    .card__pic-bg {
      background-color: var(--color-green);
    }
  }
  &_bg-color-8 {
    .card__pic-bg {
      background-color: var(--color-green-3);
    }
  }
  &_bg-color-9 {
    .card__pic-bg {
      background-color: var(--color-turquoise-2);
    }
  }
  &_bg-color-10 {
    .card__pic-bg {
      background-color: var(--color-turquoise-dim);
    }
  }
  &_bg-color-11 {
    .card__pic-bg {
      background-color: var(--color-blue-dark-type-2);
    }
  }
  &_bg-color-12 {
    .card__pic-bg {
      background-color: var(--color-turquoise);
    }
  }
  &_bg-color-13 {
    .card__pic-bg {
      background-color: var(--color-green-5);
    }
  }
  &_bg-color-14 {
    .card__pic-bg {
      background-color: var(--color-green-2);
    }
  }
  &_bg-patter-type-1 {
    .card__pic-bg-img {
      display: none;
    }
    .card__pic-bg-img_1 {
      display: block;
    }
  }
  &_bg-patter-type-2 {
    .card__pic-bg-img {
      display: none;
    }
    .card__pic-bg-img_2 {
      display: block;
    }
  }
  &_bg-patter-type-3 {
    .card__pic-bg-img {
      display: none;
    }
    .card__pic-bg-img_3 {
      display: block;
    }
  }
  &_bg-patter-type-4 {
    .card__pic-bg-img {
      display: none;
    }
    .card__pic-bg-img_4 {
      display: block;
    }
  }
  &_bg-patter-color-1 {
    .card__pic-bg-img {
      --color-patter: var(--color-pink);
    }
  }
  &_bg-patter-color-2 {
    .card__pic-bg-img {
      --color-patter: var(--color-green-ligth);
    }
  }
  &_bg-patter-color-3 {
    .card__pic-bg-img {
      --color-patter: var(--color-turquoise);
    }
  }
  &_bg-patter-color-4 {
    .card__pic-bg-img {
      --color-patter: var(--color-orange);
    }
  }
  &_bg-patter-color-5 {
    .card__pic-bg-img {
      --color-patter: var(--color-orange-extra-light);
    }
  }
  &_bg-patter-color-6 {
    .card__pic-bg-img {
      --color-patter: var(--color-orange-light);
    }
  }
  &_bg-patter-color-7 {
    .card__pic-bg-img {
      --color-patter: var(--color-yellow);
    }
  }
  &_bg-patter-color-8 {
    .card__pic-bg-img {
      --color-patter: var(--color-green);
    }
  }
  &_bg-patter-color-9 {
    .card__pic-bg-img {
      --color-patter: var(--color-green-2);
    }
  }
  &_bg-patter-color-10 {
    .card__pic-bg-img {
      --color-patter: var(--color-turquoise-dim);
    }
  }
  &_bg-patter-color-11 {
    .card__pic-bg-img {
      --color-patter: var(--color-turquoise-2);
    }
  }
  &_bg-patter-color-12 {
    .card__pic-bg-img {
      --color-patter: var(--color-blue6);
    }
  }
  &_bg-patter-color-13 {
    .card__pic-bg-img {
      --color-patter: var(--color-green-deep);
    }
  }
  &_bg-patter-color-14 {
    .card__pic-bg-img {
      --color-patter: var(--color-blue12);
    }
  }
  &_bg-patter-color-16 {
    .card__pic-bg-img {
      --color-patter: var(--color-green-ligth-4);
    }
  }
}

.cards__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: -6px;
  margin-right: -6px;
  &_without_border_top {
    .card {
      &::before {
        display: none;
      }
    }
  }
  &_without_border_bottom {
    .card {
      &__more-borders {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .cards__row {
    grid-template-columns: repeat(2, 1fr);
    &.cards__row_without_border_top {
      .card {
        &:nth-child(1),
        &:nth-child(2) {
          &::before {
            display: block;
          }
        }
      }
    }
  }
  .card {
    &_vertical {
      min-height: auto !important;
      &:nth-child(even) {
        &::after {
          display: none;
        }
      }
      .card__content {
        flex: auto;
      }
      .card__pic {
        height: 164px;
      }
      .card__title {
        margin-bottom: 50px;
      }
      .card__author {
        margin-top: -50px;
        margin-bottom: 50px;
      }
      .card__bottom-wrapper {
        padding-top: 20px;
      }
    }
    &_medium {
      @include adaptiveLargeDesktopToMobile("min-height", 570, 300);
    }
  }
}

@media screen and (max-width: 1024px) {
  .card {
    &_vertical {
      &:not(:last-child) {
        &:nth-child(even) {
          &::after {
            display: none;
          }
        }
      }
      .card {
        &__pic {
          height: 164px;
        }
      }
      &::before {
        display: none;
      }
      &:nth-child(1),
      &:nth-child(2) {
        &::before {
          display: block;
        }
      }
    }
    &_medium {
      .card__content {
        flex: auto;
      }
      &:nth-child(1),
      &:nth-child(2) {
        &::before {
          display: block;
        }
      }
    }
    &_main {
      .card__show {
        width: 18px;
        height: 18px;
      }
    }
  }
  .cards__row {
    grid-template-columns: repeat(2, 1fr);

    &_without_border_bottom {
      .card {
        &:nth-child(1),
        &:nth-child(2) {
          .card__more-borders {
            &::before {
              display: block;
            }
          }
        }
      }
    }
    &_without_border_top {
      .card {
        &_medium {
          &:nth-child(1),
          &:nth-child(2) {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .card {
    &_large {
      flex-direction: column;
      // @include adaptiveDesktopToMobile("height", 700, 550);
      height: auto;
      .card {
        &__pic {
          flex: unset;
          margin-left: 0;
          margin-right: 0;
          min-height: 200px;
          max-height: 200px;
        }
        &__content {
          flex: unset;
          height: 100%;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
        }
        &__subtitle {
          margin-top: 18px;
        }
        &__title {
          max-width: 100%;
          margin-bottom: 40px;
        }
        &__author {
          margin-top: -30px;
          margin-bottom: 40px;
        }
        &__button {
          margin-top: 20px;
        }
        &__bottom-wrapper {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card {
    &_main {
      // padding: 20px;
      height: auto;
      flex-direction: column;
      margin-bottom: 0;
      border-top: 1px solid var(--color-border);
      .card {
        &__pic {
          position: relative;
          left: auto;
          top: auto;
          transform: none;
          min-height: 200px;
          max-height: 200px;
          overflow: hidden;
        }
        &__pic-photo {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        &__pic-bg {
          width: 100%;
        }
        &__pic-bg-img {
          width: 100%;
        }
        &__content {
          color: var(--color-black);
        }
        &__subtitle {
          color: var(--color-grey);
          margin-top: 18px;
        }
        &__button {
          border-color: var(--color-black);
          margin-top: 20px;
        }
        &__show {
          filter: invert(0);
        }
        &__title {
          max-width: 100%;
          margin-bottom: 40px;
        }
        &__author {
          margin-top: -30px;
          margin-bottom: 40px;
        }
        &__bottom-wrapper {
          margin-top: 20px;
        }
      }
    }
    &_vertical {
      height: auto;
      .card {
        &__title {
          max-width: 100%;
          margin-bottom: 40px;
        }
        &__author {
          margin-top: -30px;
          margin-bottom: 40px;
        }
        &__button {
          margin-top: 20px;
        }
        // &__bottom-wrapper {
        //   margin-top: 20px;
        // }
      }
    }
  }
  .cards__row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 599px) {
  .card {
    &_large {
      // .card__author {
      //   display: none;
      // }
    }
    &_main {
      // .card__author {
      //   display: none;
      // }
    }
  }
  .cards__row {
    grid-template-columns: 1fr;
    &_without_border_bottom {
      .card {
        &:not(:last-child) {
          .card__more-borders {
            &::before {
              display: block;
            }
          }
        }
      }
    }
  }
  .card_vertical {
    &::after {
      display: none;
    }
    &:not(:first-child) {
      &::before {
        display: none;
      }
    }
    &::before {
      width: 100%;
    }
    .card__more-borders {
      &::before {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .card_large,
  .card_main {
    // .card__button {
    //   display: none;
    // }
    .card__bottom-wrapper {
      // margin-top: auto;
    }
  }
}
