.colored-block {
  overflow: hidden;
  padding-top: 20px;
  &:not(:first-child) {
    margin-top: 40px;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  .card__button {
    border-color: var(--color-white);

    &:hover,
    &:focus {
      color: var(--color-white);
      opacity: 0.8;
    }
  }
  &_blue {
    background-color: var(--color-hover);
    color: var(--color-white);
    .card {
      border-color: var(--color-blue-deep);
      &__subtitle {
        color: var(--color-blue-ligth);
      }
      &__show {
        filter: invert(1);
      }
      &::after {
        background-color: var(--color-blue-deep);
      }
    }
  }
  &_blue-2 {
    background-color: var(--color-blue-dark-type-2);
    color: var(--color-white);
    .card {
      border-color: var(--color-blue4);
      &__subtitle {
        color: var(--color-blue-ligth);
      }
      &__show {
        filter: invert(1);
      }
      &::after,
      &::before {
        background-color: var(--color-blue4);
      }
      .card__more-borders {
        &::after,
        &::before {
          background-color: var(--color-blue4);
        }
      }
    }
  }
  &_light-blue {
    background-color: var(--color-blue-light);
    color: var(--color-white);
    .card {
      border-color: var(--color-blue-light2);
      &__subtitle {
        color: var(--color-blue2);
      }
      &__show {
        filter: invert(1);
      }
      &::after {
        background-color: var(--color-blue-light2);
      }
    }
  }
  &_light-orange {
    background-color: var(--color-orange-light);
    color: var(--color-white);
    .card {
      border-color: var(--color-orange-special-1);
      &__subtitle {
        color: var(--color-orange-dark);
      }
      &__show {
        filter: invert(1);
      }
      &::after {
        background-color: var(--color-orange-special-1);
      }
    }
  }
  &_green {
    background-color: var(--color-green-3);
    color: var(--color-white);
    .card {
      border-color: var(--color-green-2);
      &__subtitle {
        color: var(--color-green-dark-2);
      }
      &__show {
        filter: invert(1);
      }
      &::after {
        background-color: var(--color-green-2);
      }
    }
  }
  &_turquoise {
    background-color: var(--color-turquoise-dim);
    color: var(--color-white);
    .card {
      border-color: var(--color-turquoise-dark-2);
      &__subtitle {
        color: var(--color-turquoise-extra-dark);
      }
      &__show {
        filter: invert(1);
      }
      &::after {
        background-color: var(--color-turquoise-dark-2);
      }
    }
  }
  &_purple {
    background-color: var(--color-purple);
    color: var(--color-white);
    .card {
      border-color: var(--color-purple4);
      &__subtitle {
        color: var(--color-purple5);
      }
      &__show {
        filter: invert(1);
      }
      &::after {
        background-color: var(--color-purple4);
      }
    }
  }
}
