.contact-card {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  border-bottom: 1px solid var(--color-border);

  &:hover {
    text-decoration: unset;
    color: unset;
  }

  &_size_small {
    min-height: 522px;
  }

  @media screen and (max-width: 1679px) {
    min-height: 440px;
  }

  @media screen and (max-width: 1023px) {
    min-height: 602px;
  }

  @media screen and (max-width: 767px) {
    min-height: 402px;

    &_size_small {
      min-height: 402px;
    }
  }
}

.contact-card__img {
  overflow: hidden;

  width: 100%;
  height: 522px;

  background-color: var(--color-blue-deep);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform var(--trans--500);

    .contact-card:hover &,
    .contact-card:focus & {
      transform: scale(1.02);
    }
  }

  @media screen and (max-width: 1679px) {
    height: 440px;

    .contact-card_size_small & {
      height: 228px;
    }
  }

  .contact-card_size_small & {
    height: 270px;
  }

  @media screen and (max-width: 767px) {
    height: 200px;

    .contact-card_size_small & {
      height: 200px;
    }
  }
}

.contact-card__desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 20px;
  padding-top: 24px;
}

.contact-card__title {
  margin-bottom: 18px;

  .contact-card:hover & {
    text-decoration: underline;
  }
}

.contact-card__address {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
}

.contact-card__card-show {
  margin-left: auto;
  margin-top: auto;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.contact-card__card-show {
  .contact-card:hover & {
    animation: 0.5s arrowAnimationType-1;
  }
}
