.contacts-simple {
  @include adaptiveDesktopToMobile("margin-top", 40, 20);
  @include adaptiveDesktopToMobile("margin-bottom", 365, 85);
  font-family: var(--font-family-primary);
}

.contacts-simple__list {
  border-top: 1px solid var(--color-border);
}

.contacts-simple__item {
  display: flex;
  align-items: flex-start;

  @include adaptiveDesktopToMobile("padding-top", 60, 20);
  @include adaptiveDesktopToMobile("padding-bottom", 60, 36);

  border-bottom: 1px solid var(--color-border);

  @media screen and(max-width: 767px) {
    display: block;
  }
}

.contacts-simple__photo {
  flex-grow: 0;

  @include adaptiveFull("width", 360, 270, 270);

  @media screen and(max-width: 767px) {
    width: 100%;
  }
}

.contacts-simple__info {
  flex: 1 1 auto;

  @include adaptiveFull("margin-left", 90, 45, 45);

  @media screen and(max-width: 767px) {
    margin-left: 0;
    margin-top: 11px;
  }
}

.contacts-simple__wrapper {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 40, 25);
  }
}

.contacts-simple__name {
  margin-bottom: 6px;

  @media screen and(max-width: 767px) {
    margin-bottom: 24px;

    font-size: 28px;
    line-height: 34px;
  }
}

.contacts-simple__desc {
  margin-bottom: 8px;

  color: var(--color-grey);
}

.contacts-simple__address {
  max-width: 520px;

  @media screen and(max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}

.contacts-simple__contacts {
  display: flex;
  flex-wrap: wrap;

  margin-right: -35px;
  margin-bottom: -40px;

  @media screen and(max-width: 1023px) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.contacts-simple__record {
  padding-right: 65px;
  padding-bottom: 40px;

  @media screen and (max-width: 767px) {
    padding-right: 0;
    padding-bottom: 0;
  }
}

.contacts-simple__link {
  span {
    margin-left: 20px;
    color: var(--color-grey);
  }

  @media screen and(max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}
