.contacts {
  overflow: hidden;
  position: relative;
  z-index: 5;

  margin-top: -157px;
  @include adaptiveDesktopToMobile("padding-bottom", 223, 40);

  @media screen and (max-width: 1023px) {
    margin-top: 20px;
  }
}

.contacts__list {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 20px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(auto-fill, 295px);
    justify-content: center;
  }

  @media screen and (max-width: 1023px) {
    display: block;

    border-top: 1px solid var(--color-border);
  }
}

.contacts-item {
  width: 382px;

  &_shift {
    grid-column: 2 span;
  }

  &_shift-right {
    margin-left: auto;
  }

  &_shift-left {
    margin-right: auto;
  }

  &_shift-almost-right {
    margin-left: auto;
    margin-right: 114px;
  }

  &_shift-almost-left {
    margin-right: auto;
    margin-left: 114px;
  }

  @media screen and (max-width: 1679px) {
    width: 322px;
  }

  @media screen and (max-width: 1279px) {
    width: 295px;

    &_shift {
      grid-column: 1 span;
    }

    &_shift-right {
      margin-left: 0;
      margin-right: 0;
    }

    &_shift-left {
      margin-left: 0;
      margin-right: 0;
    }

    &_shift-almost-right {
      margin-left: 0;
      margin-right: 0;
    }

    &_shift-almost-left {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
    margin: 24px 0;
  }
}

.contacts__bg-wrapper {
  position: absolute;
  left: -250px;
  top: 860px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.contacts__bg {
  width: 698px;
  height: 500px;
  --color-patter: var(--color-beige);
}
