.content-cards {
  @include adaptiveDesktopToMobile("margin-bottom", 120, 80);
  position: relative;
}

.content-cards__bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  @include adaptiveDesktopToMobile("width", 575, 260);
  @include adaptiveDesktopToMobile("height", 380, 190);
  z-index: -1;
  --color-patter: var(--color-white-almost);
}
