.content-annotation {
  @include adaptiveDesktopToMobile("margin-bottom", 96, 48);
}

.content-annotation__wrapper {
  position: relative;
  overflow: hidden;
}

.content-annotation__decor {
  position: absolute;
  left: 20px;
  bottom: -136px;
  --color-patter: var(--color-white-almost);
}

.content-annotation__content {
  position: relative;
  z-index: 1;

  max-width: 740px;
  margin-left: auto;
  @include adaptiveDesktopToMobile("margin-bottom", 105, 45);
  @include adaptiveDesktopToMobile("padding-left", 96, 0);
  @include adaptiveDesktopToMobile("padding-right", 96, 0);
}

.content-annotation__paragraph {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
