.content-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  padding: 40px 20px;
  column-gap: 60px;
  &_inverse {
    .content-card__img {
      grid-column-start: 2;
    }
  }

  @media screen and (max-width: 1023px) {
    display: block;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.content-card__img {
  grid-row: 1 / 3;
  // width: calc(100% - 56px);

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
    @include adaptiveFull("padding-bottom", 40, 40, 20);
  }
}

.content-card__content {
  width: calc((100% - 56px) / 2);

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.content-card__title {
  margin-top: -10px;
  // margin-bottom: 28px;
}

.content-card__paragraph {
  font-size: 18px;
  line-height: 1.78;
  font-family: var(--font-family-main);
  &:not(:last-child) {
    // margin-bottom: 32px;
  }
}

.content-card__paragraph-link {
  text-decoration: underline;
  &:hover {
    color: inherit;
  }
}

.content-card__strong-word {
  text-decoration: underline;
}
