.courses {
  position: relative;

  margin-top: 515px;
  @include adaptiveFull("margin-bottom", 40, 40, 20);
  @include adaptiveFull("padding-top", 90, 90, 45);
  @include adaptiveFull("padding-bottom", 72, 72, 36);
  color: var(--color-white);
  background-color: var(--color-pink-bright2);

  @media screen and (max-width: 1023px) {
    margin-top: 0;
  }
}

.courses__content {
  display: flex;

  @include adaptiveFull("margin-bottom", 96, 96, 48);

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.courses__decor {
  position: absolute;
  top: -418px;
  right: 0;
  z-index: -1;

  --color-patter: var(--color-pink-bright2);

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.courses__img {
  flex-shrink: 0;

  @include adaptiveFull("margin-right", 80, 40, 40);

  img {
    @include adaptiveFull("width", 538, 269, 269);
    height: auto;
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}

.courses__desc {
  flex-grow: 1;
}

.courses__title {
  @include adaptiveFull("margin-top", -10, -10, -5);
  @include adaptiveFull("margin-bottom", 48, 48, 24);
}

.courses__paragraph {
  max-width: 640px;
  margin-left: 10px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.courses__indicators {
  display: flex;
  font-family: var(--font-family-primary);

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.courses__indicator {
  padding: 24px 64px 48px 32px;

  &:first-child {
    flex-grow: 1;
  }

  &:not(:first-child) {
    @include adaptiveFull("padding-left", 145, 32, 32);
    @include adaptiveFull("padding-right", 100, 0, 0);
    border-left: 1px solid var(--color-white-040);
  }

  @media screen and (max-width: 1023px) {
    padding-left: 0;
    padding-right: 0;

    &:not(:first-child) {
      padding-left: 0;
      padding-right: 0;
      border-left: none;
      border-top: 1px solid var(--color-white-040);
    }
  }

  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.courses__indicator-quantity {
  margin-bottom: 25px;
  font-size: 140px;
  line-height: 130px;

  @media screen and (max-width: 1439px) {
    font-size: 120px;
    line-height: 115px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 96px;
    line-height: 96px;
  }

  @media screen and (max-width: 767px) {
    font-size: 64px;
    line-height: 64px;
  }
}

.courses__indicator-unit {
  width: 300px;

  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}
