.custom-input {
  position: relative;

  display: flex;

  label {
    display: block;
    width: 100%;

    input {
      flex-grow: 1;
      width: 100%;
      max-width: 600px;
      min-height: 40px;
      padding: 11px 10px;

      font-family: var(--font-family-primary);

      border: 1px solid var(--color-border);
      border-radius: 2px;
      outline: none;

      transition: border var(--trans--300);

      &:hover,
      &:focus {
        border: 1px solid var(--color-black);
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;

    font-family: var(--font-family-primary);
    color: var(--color-grey);
  }

  &__error {
    position: absolute;
    left: 12px;
    bottom: -24px;

    font-size: 12px;
    line-height: 14px;

    color: var(--color-red);

    opacity: 0;

    transition: opacity var(--trans--300);
  }

  &.is-invalid {
    input {
      border: 1px solid var(--color-red);

      &:focus,
      &:hover {
        border: 1px solid var(--color-red);
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  &.is-valid {
    input {
      border: 1px solid var(--color-border);

      &:focus,
      &:hover {
        border: 1px solid var(--color-black);
      }
    }
  }
}

.custom-textarea {
  position: relative;

  label {
    display: block;
    width: 100%;

    textarea {
      flex-grow: 1;
      width: 100%;
      padding: 11px 10px;

      resize: none;

      font-family: var(--font-family-primary);

      border: 1px solid var(--color-border);
      border-radius: 2px;
      outline: none;

      transition: border var(--trans--300);

      &:hover,
      &:focus {
        border: 1px solid var(--color-black);
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;

    font-family: var(--font-family-primary);
    color: var(--color-grey);
  }
}
