.custom-toggle {
  position: relative;

  display: flex;
  width: 100%;
  margin-bottom: 14px;
  padding: 0;

  &__error {
    position: absolute;

    left: 36px;
    bottom: -14px;

    font-size: 9px;
    line-height: 12px;

    color: var(--color-red);

    opacity: 0;

    transition: opacity var(--trans--300);
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;

    min-height: 24px;
    padding-left: 36px;

    font-family: var(--font-family-primary);
    font-size: 9px;
    line-height: 12px;
    color: var(--color-grey);

    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--checkbox {
    label {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 24px;
        height: 24px;

        border: 1px solid var(--color-light-grey2);
        border-radius: 2px;

        transition: border var(--trans--300);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 24px;
        height: 24px;

        border: 1px solid var(--color-light-grey2);
        border-radius: 2px;

        transition:
          border-color var(--trans--300),
          background-color var(--trans--300);
      }
    }
  }

  // &--radio {
  //   label {
  //     &::before {
  //       content: "";
  //       position: absolute;
  //       top: 2px;
  //       left: 0;

  //       width: 16px;
  //       height: 16px;

  //       border: 1px solid green;
  //       border-radius: 50%;

  //       transition: border var(--trans--300);
  //     }

  //     &::after {
  //       content: "";
  //       position: absolute;
  //       top: 6px;
  //       left: 4px;

  //       width: 8px;
  //       height: 8px;

  //       background-color: transparent;
  //       border-radius: 50%;

  //       transition: background-color var(--trans--300);
  //     }
  //   }
  // }

  input:checked + label::after {
    border-color: var(--color-blue-dark-type-2);
    background-color: var(--color-blue-dark-type-2);
    background-image: url("../../img/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  input:disabled + label::before {
    opacity: 0.5;
  }

  &.is-invalid {

    .custom-toggle__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    label span {
      color: $color-eucalyptus;
    }
  }*/
}
