.custom-select {
  position: relative;

  &__label {
    position: absolute;
    top: 0;
    left: 10px;

    font-family: var(--font-family-primary);
    color: var(--color-grey);

    transition:
      transform var(--trans--300),
      opacity var(--trans--300);

    pointer-events: none;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition:
      transform var(--trans--300),
      opacity var(--trans--300);

    pointer-events: none;
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  &__button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-height: 40px;
    padding: 11px 10px;

    font-family: var(--font-family-primary);

    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    outline: none;
    cursor: pointer;

    transition: border var(--trans--300);

    &:hover,
    &:focus {
      border: 1px solid var(--color-black);
    }
  }

  &__list {
    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 100%;
    max-height: calc(7 * 44px + 1px);
    margin: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;

    &::-webkit-scrollbar {
      width: 18px;
      height: 8px;
      background-color: var(--color-white);
      background-size: 8px 100%;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, var(--color-beige) 50%, #fff 50%);
    }

    font-family: var(--font-family-primary);

    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-top: none;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition:
      visibility var(--trans--300),
      opacity var(--trans--300);
  }

  &__item {
    padding: 10px 11px;

    outline: none;
    cursor: pointer;

    transition: background-color var(--trans--300);

    &[aria-selected='true'] {
      color: var(--color-blue-dark-type-2);
    }

    &:hover,
    &:focus {
      color: var(--color-blue-dark-type-2);
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;

    color: orangered;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: opacity var(--trans--300) 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 14px;
    height: 8px;
    margin-left: auto;

    background-color: var(--color-black);

    transition: transform var(--trans--300);

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 30px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;

      border-color: var(--color-black);
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    // .custom-select__label {
    //   opacity: 0;
    // }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    // .custom-select__label {
    //   opacity: 0;
    // }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: 2px solid orangered;

      &:focus,
      &:hover {
        border: 2px solid rgba(orangered, 0.5);
      }
    }
  }

  // &.is-valid {
  //   .custom-select__button {
  //     border: 2px solid green;

  //     &:focus,
  //     &:hover {
  //       border: 2px solid rgba(green, 0.5);
  //     }
  //   }
  // }

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}
