.divisions {
  position: relative;
  overflow: hidden;

  padding: 54px 0 163px;
  font-family: var(--font-family-primary);
  .container {
    position: relative;
    z-index: 1;
  }

  &_color_green {
    --main-color: var(--color-green-ligth);

    background-color: var(--color-green-3);

    .divisions__bg {
      --color-patter: var(--color-green-4);
      opacity: 0.4;
    }
  }

  &_color_blue {
    --main-color: var(--color-blue-dark-type-2);

    background-color: var(--main-color);

    .divisions__bg {
      --color-patter: var(--color-blue-dark-type-1);
    }
  }

  &_color_turquoise {
    --main-color: var(--color-turquoise);

    background-color: var(--main-color);
  }

  &_color_pink {
    --main-color: var(--color-pink-light);

    background-color: var(--color-pink-bright);

    .divisions__bg {
      --color-patter: var(--color-pink-light-2);
    }
  }

  &_patter-type_1 {
    .divisions__bg {
      display: none;
      &_patter-type_1 {
        display: block;
      }
    }
  }
  &_patter-type_2 {
    .divisions__bg {
      display: none;
      &_patter-type_2 {
        display: block;
      }
    }
  }
  &_patter-type_3 {
    .divisions__bg {
      display: none;
      &_patter-type_3 {
        display: block;
      }
    }
  }
  &_patter-type_4 {
    .divisions__bg {
      display: none;
      &_patter-type_4 {
        display: block;
      }
    }
  }
}

.divisions__title {
  max-width: 750px;
  @include adaptiveDesktopToMobile("margin-bottom", 115, 52);

  color: var(--color-white);

  @media screen and (max-width: 767px) {
    @include adaptiveDesktopToMobile("font-size", 96, 36);
  }
}

.divisions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveDesktopToMobile("gap", 60, 66);

  padding-top: 65px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);

    padding: 0;

    border-top: none;
  }
}

.divisions__list-item {
  max-width: 300px;

  dt {
    @include adaptiveDesktopToMobile("margin-bottom", 20, 15);

    color: var(--color-green-dark);

    .divisions_color_pink & {
      color: var(--color-pink-extra-light);
    }

    .divisions_color_blue & {
      color: var(--color-blue-ligth);
    }
  }

  @media screen and (max-width: 1023px) {
    dd {
      font-size: 22px;
    }
  }
}

.divisions__link {
  font-family: var(--font-family-primary);
  color: var(--color-white);

  &:hover {
    color: var(--color-white);
  }
}

.divisions__bg-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.divisions__bg {
  width: 953px;
  height: 632px;

  @media screen and (max-width: 767px) {
    width: 711px;
    height: 472px;
    transform: translateX(58%);
  }
}
