.documents-archive {
  position: relative;
}

.documents-archive__subscribtion {
  position: absolute;
  top: 0;
  right: 0;
}

.documents-archive__subscribtion-btn {
  display: flex;
  align-items: center;
  padding: 14px 22px;

  font-family: var(--font-family-primary);
  font-size: inherit;
  line-height: inherit;
  color: var(--color-black);

  border: 1px solid var(--color-black);
  border-radius: 1px;

  transition: color var(--trans--300), border-color var(--trans--300);

  span {
    margin-left: 15px;
  }

  &:hover,
  &:focus {
    color: var(--color-hover);
    border-color: var(--color-hover);
  }
}

.documents-archive__list {
  .documents-archive__summary & {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 21px;
  }

  @media screen and (max-width: 1023px) {
    .documents-archive__summary & {
      display: block;
    }
  }
}

.documents-archive__year {
  margin-bottom: 45px;
  @include adaptiveDesktopToMobile("margin-bottom", 42, 20);

  .documents-archive__summary & {
    margin-left: 20px;
  }

  @media screen and (max-width: 1023px) {
    .documents-archive__summary & {
      margin-left: unset;
    }
  }
}

.documents-archive__item {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 80, 52);
  }
}

.documents-archive__year-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;

  .documents-archive__summary .documents-archive__item:nth-child(1) & {
    grid-template-columns: 1fr;
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) & {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);

    .documents-archive__summary .documents-archive__item:nth-child(1) & {
      grid-template-columns: repeat(2, 1fr);
    }

    .documents-archive__summary .documents-archive__item:nth-child(2) & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);

    .documents-archive__summary .documents-archive__item:nth-child(1) & {
      grid-template-columns: repeat(1, 1fr);
    }

    .documents-archive__summary .documents-archive__item:nth-child(2) & {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.documents-archive__year-item {
  position: relative;
  margin-bottom: -1px;
  padding: 20px 0;

  &:before {
    position: absolute;
    width: 100%;
    top: 0;
    height: 1px;
    left: 0;
    background-color: var(--color-border);
  }

  &:nth-child(1):before,
  &:nth-child(2):before,
  &:nth-child(3):before {
    content: "";
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-border);
  }

  @media screen and (max-width: 1023px) {
    &:nth-child(3):before {
      content: unset;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    padding: 0;

    &:nth-child(2):before {
      content: unset;
    }
  }
}

.documents-archive__link {
  position: relative;
  font-family: var(--font-family-primary);
  width: 100%;
  min-height: 160px;
  height: 100%;
  padding: 12px 20px;

  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-black);
    text-decoration: none;

    .documents-archive__file-name {
      text-decoration: underline;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: -11px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border);
  }

  .documents-archive__year-item:not(:nth-child(3n)) &::before {
    content: "";
  }

  .documents-archive__summary .documents-archive__item:nth-child(1) &::before {
    content: unset;
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) &::before {
    content: "";
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n) &::before {
    content: unset;
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n + 1) &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -11px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border);
  }

  @media screen and (max-width: 1023px) {
    .documents-archive__year-item:not(:nth-child(3n)) &::before {
      content: unset;
    }

    .documents-archive__year-item:not(:nth-child(2n)) &::before {
      content: "";
    }

    .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n + 1) &::after {
      content: unset;
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
    .documents-archive__year-item:not(:nth-child(2n)) &::before {
      content: unset;
    }

    &::before {
      content: unset;
    }

    .documents-archive__summary .documents-archive__item:nth-child(2) &::before {
      content: unset;
    }
  }
}

.documents-archive__file-data {
  margin-bottom: 18px;

  color: var(--color-black-060);

  span:not(:last-child) {
    position: relative;
    margin-right: 46px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: -23px;
      transform: translate(50%, -50%);

      width: 6px;
      height: 6px;
      background-color: var(--color-black-060);
      border-radius: 50%;
    }
  }
}

.documents-archive__file-name {
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}

.documents-archive__load-more-btn {
  display: block;
  margin: 125px auto 0;

  @media screen and (max-width: 767px) {
    margin: 55px auto 0;
  }
}
