.ecosystem {
  @include adaptiveDesktopToMobile('padding-top', 70, 30);
}
.ecosystem__title {
  @include adaptiveDesktopToMobile('margin-bottom', 70, 30);
}
.ecosystem__numbers {
  background-color: var(--color-white-almost);
  @include adaptiveDesktopToMobile('margin-bottom', 78, 30);
  padding: 15px 0;
}
.ecosystem__numbers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ecosystem__number {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  @include adaptiveDesktopToMobile('padding', 50, 0);
  @include adaptiveDesktopToMobile('padding-top', 80, 0);
  @include adaptiveDesktopToMobile('padding-bottom', 80, 0);
  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 95%;
      background-color: var(--color-border);
    }
  }
}
.anim-content {
}
.ecosystem__number-title {
  @include adaptiveDesktopToMobile('margin-bottom', 70, 30);
  white-space: nowrap;
}
.ecosystem__number-description {
  @include adaptiveDesktopToMobile('font-size', 28, 20);
}
.ecosystem__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveDesktopToMobile('margin-bottom', 120, 50);
}
.ecosystem__card {
  @include adaptiveDesktopToMobile('padding', 30, 0);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-border);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-border);
  }
  &:not(:last-child) {
    .ecosystem__card-more-borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 95%;
        background-color: var(--color-border);
      }
    }
  }
}
.ecosystem__card-block {
}
.ecosystem__card-block-title {
  margin-bottom: 10px;
  @include adaptiveDesktopToMobile('font-size', 28, 20);
}
.ecosystem__card-block-description {
  @include adaptiveDesktopToMobile('margin-bottom', 40, 20);
  @include adaptiveDesktopToMobile('font-size', 18, 14);
}


@media screen and (max-width: 768px) {
  .ecosystem__numbers-list {
    grid-template-columns: auto;
  }
  .ecosystem__number {
    padding: 20px 0;
    align-items: center;
    &:not(:last-child) {
      &::before {
        top: auto;
        right: auto;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
      }
    }
  }
  .ecosystem__cards {
    grid-template-columns: auto;
  }
  .ecosystem__card {
    padding: 20px 0;
    &:not(:first-child) {
      &::before {
        display: none;
      }
    }
    &::before,
    &::after {
      width: 100%;
    }
  }
  .ecosystem__card-more-borders {
    display: none;
  }
  
}