.education-offer {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 193, 254);
}

.education-offer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1023px) {
    display: block;
  }
}
