.education-review {
  margin-top: 75px;
  margin-bottom: 80px;
}

.education-review__content {
  max-width: 940px;
  margin: 0 115px 125px;
  @include adaptiveFull("margin-left", 115, 0, 0);
  @include adaptiveFull("margin-right", 115, 0, 0);
  @include adaptiveDesktopToMobile("margin-bottom", 125, 80);
}

.education-review__title {
  @include adaptiveDesktopToMobile("margin-bottom", 44, 21);
}

.education-review__desc a {
  text-decoration: underline;
}
