.events {
  @include adaptiveDesktopToMobile("margin-top", 100, 70);
  @include adaptiveDesktopToMobile("margin-bottom", 100, 80);
}
.container {
}
.container_content {
}
.events__title {
  @include adaptiveDesktopToMobile("margin-bottom", 66, 38);
}
.title-h2 {
}
.events__cards-row {
}
.cardds__row {
}
.cardd {
}
.cardd_medium {
}
.cardd__content {
}
.cardd__subtitle {
}
.cardd__title {
}
.cardd__author {
}
.cardd__bottom-wrapper {
}
.cardd__show {
}
.cardd_with-photo {
}
.cardd__pic {
}
.cardd__pic-photo {
}
.cardd__pic-bg {
}
.cardd__pic-bg-img {
}
.cardd__pic-bg-img_1 {
}
.cardd__pic-bg-img_2 {
}
.cardd__pic-bg-img_3 {
}
.cardd__pic-bg-img_4 {
}
.cardd_with-button {
}
.cardd__button {
}
.btn {
}
.cardd__clarification {
}
.events__show-all {
  margin: 0 auto;
  @include adaptiveDesktopToMobile("margin-top", 75, 68);
}
.btn_primary {
}

@media screen and (max-width: 600px) {
  .events__cards-row {
    border-bottom: 1px solid var(--color-border);
  }
}
