.event {
  padding-top: 60px;
  @include adaptiveDesktopToMobile("padding-top", 60, 75);
}

.event__title, h2:not([class]) {
  max-width: 900px;
  @include adaptiveFull("margin-left", 115, 0, 0);
  @include adaptiveFull("margin-right", 115, 0, 0);

  &:not(:first-child) {
    margin-top: 34px;
  }

  &:not(:last-child) {
    margin-bottom: 34px;
  }
}

.event__paragraph, p:not([class]) {
  max-width: 900px;
  @include adaptiveFull("font-size", 18, 16, 14);
  @include adaptiveFull("margin-left", 115, 0, 0);
  @include adaptiveFull("margin-right", 115, 0, 0);

  &:not(:first-child) {
    margin-top: 32px;
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.event ul:not([class]) {
  @include adaptiveFull("margin-left", 115, 0, 0);
  @include adaptiveFull("margin-right", 115, 0, 0);
}

.event li:not([class]) {
  display: flex;
  @include adaptiveFull("font-size", 18, 16, 14);
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: 8px;
    margin-top: 9px;
  }
}

.event__footer {
  margin-top: 90px;
  margin-bottom: 80px;
  @include adaptiveFull("margin-left", 115, 0, 0);
  @include adaptiveFull("margin-right", 115, 0, 0);
}

.event__actions {
  position: relative;
  overflow: hidden;

  padding: 48px 0;

  color: var(--color-white);

  background-color: var(--color-green-ligth);
}

.event__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: block;
    position: static;
  }
}

.event__date {
  position: relative;
  z-index: 1;

  display: flex;

  @include adaptiveFull("margin-left", 115, 0, 0);
  margin-right: 80px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    position: relative;
    justify-content: center;

    margin-bottom: 52px;
    padding-bottom: 30px;
  }
}
.event__date-day {
  margin-right: 12px;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;

  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 34px;
  }
}
.event__date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event__date-month-and-year {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 34px;
  }
}
.event__date-time {
  font-size: 16px;
  line-height: 24px;

  @media screen and (max-width: 767px) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
  }
}
.event__btn {
  position: relative;
  z-index: 1;

  min-width: 190px;
  border-color: var(--color-white);

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.event__bg {
  position: absolute;
  top: 0;
  right: -137px;

  width: 824px;
  height: 469px;

  svg {
    --color-patter: var(--color-green-deep);
  }

  @media screen and (max-width: 767px) {
    top: 130px;
    left: 33px;
    right: unset;
  }
}
