.financial-reports-block {
  margin-bottom: 195px;
}

.financial-reports-block__banner {
  @include adaptiveFull("margin-bottom", 85, 85, 40);
}

.financial-reports-block__years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;

  margin-bottom: 46px;
}

.financial-reports-block__year {
  &:not(first-child) {
    margin-left: 20px;
  }
}

.financial-reports-block__btn {
  margin: 80px auto 0;
}
