.footer {
  @include adaptiveDesktopToMobile("padding-top", 80, 32);
  background-color: var(--color-beige);
  z-index: 5;
  position: relative;
  &__menu {
    display: grid;
    grid-template-columns: 1.6fr 1.1fr 2.7fr 1fr;
  }
  &__items {
  }
  &__item {
  }
  &__social {
    .social-link {
      color: var(--color-grey-2);

      &:hover {
        &:hover,
        &:focus {
          color: var(--color-grey-3);
        }
      }
    }
  }
  &__links {
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    &_favorite {
      .footer__link {
        color: var(--color-black);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 10px;
      }
    }
    &-list {
      max-width: 260px;
      padding-right: 15px;
      &:nth-child(2) {
        grid-column-start: 2;
      }
    }
  }
  &__link {
    padding: 7px 0;
    color: var(--color-grey-3);
    &:hover {
      text-decoration: none;
    }
    &_title {
    }
  }
  &__bottom-wrapper {
    @include adaptiveDesktopToMobile("margin-top", 160, 100);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-border);
    height: 120px;
  }
  &__logo-wrapper {
    width: 25%;
  }
  &__logo {
    @include adaptiveDesktopToMobile("width", 42, 34);
    @include adaptiveDesktopToMobile("height", 42, 34);
    color: var(--color-light-grey3);
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: var(--color-grey-3);
    }
  }
  &__copyright {
    color: var(--color-grey-2);
    &_desktop {
      margin-left: auto;
    }
    &_mobile {
      display: none;
    }
  }

  &_landing {
    @include adaptiveDesktopToMobile("padding-top", 0, 0);
    background: none;
    & .footer__bottom-wrapper {
      margin-top: 0;
      justify-content: space-between;
    }
    .footer__logo-wrapper {
      width: auto;
      @media screen and (max-width: 1120px) {
        width: 100%;
        margin-top: 60px;
      }
    }
    .footer__copyright {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1120px) {
  .footer {
    &__menu {
      grid-template-columns: repeat(2, 1fr);
    }
    &__column {
      &:nth-child(3) {
        grid-column: span 2;
      }
    }
    &__social {
      margin-bottom: 30px;
    }
    &__logo-wrapper {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__copyright {
      &_desktop {
        display: none;
      }
      &_mobile {
        display: block;
      }
    }
    &__bottom-wrapper {
      flex-direction: column-reverse;
      border: none;
      padding-bottom: 18px;
      height: auto;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 39%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &__menu {
      grid-template-rows: repeat(4, 1fr);
    }
    &__column {
      &:nth-child(1) {
        grid-row: span 1;
      }
      &:nth-child(2) {
        grid-row: span 4;
      }
      &:nth-child(3) {
        grid-column: auto;
      }
      &:nth-child(4) {
        grid-row: span 2;
      }
    }
    &__links {
      margin: 0;
      &:not(.footer__links_favorite) {
        display: none;
      }
    }
  }
}
