.for-press {
  padding-top: 50px;
  padding-bottom: 50px;

  &:last-child {
    margin-bottom: 240px;
  }
}

.for-press__title {
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    font-size: 38px;
  }
}

.for-press__btn {
  margin: 75px auto 0;
}

.for-press__contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.for-press__contact {
  position: relative;
  margin-bottom: -1px;
  padding: 20px 0;

  &:before {
    position: absolute;
    width: 100%;
    top: 0;
    height: 1px;
    left: 0;
    background-color: var(--color-border);
  }

  &:nth-child(1):before,
  &:nth-child(2):before,
  &:nth-child(3):before {
    content: "";
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-border);
  }

  @media screen and (max-width: 1023px) {
    &:nth-child(3):before {
      content: unset;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    padding: 0;

    &:nth-child(2):before {
      content: unset;
    }
  }
}

.for-press__contact-link{
  position: relative;
  font-family: var(--font-family-primary);
  width: 100%;
  min-height: 160px;
  height: 100%;
  padding: 12px 20px;

  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-black);
    text-decoration: none;

    .for-press__contact-data {
      text-decoration: underline;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: -11px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border);
  }

  .for-press__contact:not(:nth-child(3n)) &::before {
    content: "";
  }

  @media screen and (max-width: 1023px) {
    .for-press__contact:not(:nth-child(3n)) &::before {
      content: unset;
    }

    .for-press__contact:not(:nth-child(2n)) &::before {
      content: "";
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
    .for-press__contact:not(:nth-child(2n)) &::before {
      content: unset;
    }

    &::before {
      content: unset;
    }
  }
}

.for-press__contact-type {
  margin-bottom: 18px;

  color: var(--color-black-060);

  span:not(:last-child) {
    position: relative;
    margin-right: 46px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: -23px;
      transform: translate(50%, -50%);

      width: 6px;
      height: 6px;
      background-color: var(--color-black-060);
      border-radius: 50%;
    }
  }
}

.for-press__contact-data {
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}
