.for-professionals {
  @include adaptiveDesktopToMobile("margin-bottom", 120, 80);
  position: relative;
  .content-card__paragraph {
    font-size: 16px;
  }
  .content-cards__target-groups {
    position: relative;
    margin-top: 80px;
  }
  .content-cards__bg {
    position: absolute;
    top: 30%;
    left: -150px;
    width: 50vw;
    height: 400px;
    z-index: -1;
    --color-patter: var(--color-white-almost);
  }
}

.for-professionals__title {
  @include adaptiveDesktopToMobile("margin-bottom", 240, 160);
  font-weight: 400;

  @include adaptiveDesktopToMobile("font-size", 62, 28);
  @include adaptiveDesktopToMobile("line-heigth", 72, 34);
}

.for-professionals__title-bg {
  position: absolute;
  top: 60px;
  left: 66px;
  width: 50vw;
  @include adaptiveDesktopToMobile("height", 400, 190);
  z-index: -1;
  --color-patter: var(--color-white-almost);
}

.for-professionals__cover {
  img {
    width: 100%;
    height: auto;
    max-height: 674px;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    height: 500px;
    @include adaptiveDesktopToMobile("margin-left", -46, -20);
    @include adaptiveDesktopToMobile("margin-right", -46, -20);

    img {
      width: 100%;
      height: 100%;
      max-height: unset;
    }
  }
}

.for-professionals__paragraph {
  font-weight: 400;

  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 72, 36);
  }

  a {
    display: inline;
    font-weight: 700;
    color: var(--color-blue-dark-type-2);

    &:hover,
    &:focus {
      color: var(--color-blue-dark-type-2);
    }
  }
}

.for-professionals__socials {
  display: flex;
  padding-left: 20px;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    padding: 0;
  }
}

.for-professionals__social-link {
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.1);
  }
  &:not(:last-child) {
    margin-right: 32px;
  }
}
