.header {
  font-family: var(--font-family-primary);
  background-color: var(--color-white);
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  &_scroll {
    border-bottom: 1px solid rgba(185, 185, 185, 0.4);
  }
  &__container {
    // position: relative;
  }
  &__wrapper {
    @include adaptiveDesktopToMobile("height", 80, 60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }
  &__logo {
    @include adaptiveDesktopToMobile("width", 42, 34);
    @include adaptiveDesktopToMobile("height", 42, 34);
  }
  &__menu {
    height: 100%;
    &-list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveDesktopToMobile("margin-left", -18, -12);
      @include adaptiveDesktopToMobile("margin-right", -18, -12);
    }
    &-item {
      height: 100%;
      display: flex;
      align-items: center;
      @include adaptiveDesktopToMobile("padding-left", 23, 12);
      @include adaptiveDesktopToMobile("padding-right", 23, 12);
      line-height: 1.25;
      &:hover {
        .header__tab-wrapper {
        }
        .header__tab {
        }
        .header__tab-column {
          cursor: default;
        }
      }
    }
    &-link {
      padding: 7px 0;
      // border-bottom: 2px solid transparent;
      // transition: 0.2s border-bottom ease-in-out;
      &:hover {
        text-decoration: none;
        // border-bottom: 2px solid #e6e6e6;
        color: inherit;
      }
      &_active {
        border-bottom: 2px solid var(--color-hover);
        color: var(--color-hover);
      }
    }
  }
  &__change-language {
    font-weight: 500;
  }
  &__tab-bg {
    position: absolute;
    @include adaptiveDesktopToMobile("top", 80, 60);
    left: 50%;
    width: 100vw;
    height: 650px;
    border-top: 1px solid rgba(185, 185, 185, 0.4);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(80px);
    z-index: 10;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top center;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.2s;
    &_hovered {
      background: rgba(255, 255, 255, 0.8);
    }
    &_active {
      transform: scaleY(1) translateX(-50%);
      transition-delay: 0s;
    }
  }
  &__tab-wrapper {
    position: absolute;
    @include adaptiveDesktopToMobile("top", 80, 60);
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 650px;
    @include adaptiveDesktopToMobile("padding-left", 162, 0);
    @include adaptiveDesktopToMobile("padding-top", 54, 43);
    z-index: 11;
    pointer-events: none;
    &_active {
      pointer-events: all;
      // cursor: url("../img/cursor-close.svg"), auto;
      cursor: none !important;
      .custom-cursor {
        opacity: 1;
        transform: scale(1);
      }
    }
    // opacity: 0;
    // transition: 0.3s opacity ease-in-out;
    // pointer-events: none;
    // &_active {
    //   opacity: 1;
    //   pointer-events: all;
    // }
  }
  &__tab {
    // opacity: 0;
    // pointer-events: none;
    // display: none;
    // transition: 0.3s opacity ease-in-out;
    // &_active {
    //   opacity: 1;
    //   display: block;
    //   pointer-events: all;
    // }
    transform: translateY(-1.33333rem);
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0s;
    &_active {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
    &-menu {
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      @include adaptiveDesktopToMobile("column-gap", 120, 0);
    }
    &-column {
    }
    &-item {
      font-weight: 500;
      @include adaptiveDesktopToMobile("font-size", 36, 26);
      line-height: 1.17;
      max-width: 450px;
      &:not(:last-child) {
        margin-bottom: 26px;
      }
      &_business {
        display: flex;
        align-items: center;
        margin-top: 74px;
        @include adaptiveDesktopToMobile("font-size", 28, 26);
        line-height: 1.21;
        &::before {
          content: "";
          background-image: url("../img/header-tab-business.svg");
          width: 38px;
          height: 32px;
          display: inline-block;
          margin-right: 17px;
        }
      }
    }
    &-link {
    }
  }
  &_menu-opened {
    .burger {
      &-container {
        transform: rotate(90deg);
      }
      &__bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s;
        &_top {
          transform: translateY(5px) rotate(45deg);
        }
        &_btm {
          transform: translateY(3px) rotate(-45deg);
        }
      }
    }
  }
}

.custom-cursor {
  width: 70px;
  height: 70px;
  background-image: url("../img/cursor-close.svg");
  pointer-events: none;
  position: fixed;
  z-index: 99999999999999999999999999999999999999;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  &_active {
    opacity: 1;
    transform: scale(1);
  }
}

.burger {
  width: 32px;
  height: 12px;
  position: absolute;
  display: block;
  // margin: -10px auto 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-container {
    position: relative;
    display: none;
    height: 50px;
    width: 50px;
    margin-right: -9px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  &__bar {
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    background: var(--color-black);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
    &_top {
      transform: translateY(0px) rotate(0deg);
    }
    &_btm {
      transform: translateY(8px) rotate(0deg);
    }
  }
}

@media screen and (max-width: 1150px) {
  .header {
    &__menu {
      display: none;
      &-list {
        height: auto;
      }
      &-link {
        border: none;
        color: inherit;
        &:hover {
          border: none;
          color: inherit;
        }
      }
      &-item {
        height: auto;
        display: list-item;
      }
    }
    &__change-language {
      margin-left: auto;
      margin-right: 17px;
      font-size: 18px;
    }
    &__tab {
      &-wrapper {
        position: absolute;
        width: 100%;
        height: auto;
        border: none;
        background: transparent;
        backdrop-filter: unset;
        padding: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition-delay: 0.2s;
        transition: none;
        cursor: default;
        &_active {
          position: static;
          transform: translateY(0);
          opacity: 1;
          transition-delay: 0.1s;
          transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
      &-list {
        grid-template-columns: auto;
      }
      &-column {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &-item {
        font-size: 18px;
        line-height: 1.5;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &_business {
          margin-top: 30px;
        }
      }
    }
    &_menu-opened {
      .header {
        &__container {
          border-bottom: 1px solid rgba(185, 185, 185, 0.4);
        }
        &__menu {
          display: block;
          position: fixed;
          @include adaptiveDesktopToMobile("top", 81, 61);
          right: 0;
          background-color: var(--color-white);
          padding-top: 43px;
          padding-left: 26px;
          padding-right: 26px;
          padding-bottom: 54px;
          width: calc(100% + 1px);
          height: 94%;
          max-width: 500px;
          overflow-y: scroll;
          border-left: 1px solid rgba(185, 185, 185, 0.4);
          &-list {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0;
            margin-right: 0;
          }
          &-item {
            font-size: 26px;
            font-weight: 500;
            line-height: 1.23;
            margin-left: 0;
            margin-right: 0;
            width: 100%;

            &:not(:last-child) {
              margin-bottom: 35px;
            }
          }
          &-link {
            display: inline-block;
            width: 100%;
            position: relative;
            &[data-tab] {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                background-image: url("../img/menu-plus.svg");
              }
            }
          }
        }
        &__tab {
          &-wrapper {
            &_active {
              margin-top: 35px;
            }
          }
        }
      }
    }
  }
  .burger {
    &-container {
      display: inline-block;
    }
  }
}
