.history {
  background-color: var(--color-blue6);
  color: var(--color-white);
  @include adaptiveDesktopToMobile("padding-top", 65, 40);
  @include adaptiveDesktopToMobile("padding-bottom", 130, 40);
  font-family: var(--font-family-primary);
}
.container {
}
.history__title {
  text-align: center;
  margin-bottom: 10px;
}

.history__subtitle {
  text-align: center;
  @include adaptiveDesktopToMobile("margin-bottom", 70, 30);
}
.history__dates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.history__date {
}
.history-date {
  min-height: 270px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-blue4);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-blue4);
  }
  .history-date__more-borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &:not(:last-child) {
    .history-date__more-borders {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 95%;
        background-color: var(--color-blue4);
      }
    }
  }
  &:nth-child(odd):not(:last-child) {
    .history-date__more-borders {
      &::after {
        content: '';
        position: absolute;
        top: 85%;
        right: -10%;
        transform: translateY(-50%);
        @include adaptiveDesktopToMobile("width", 138, 69);
        @include adaptiveDesktopToMobile("height", 32, 16);
        background-image: url('../../img/history-arrow.svg');
        background-size: 100% 100%;
      }
    }
  }
  &:nth-child(even) {
    .history-date__more-borders {
      &::after {
        content: '';
        position: absolute;
        top: 15%;
        right: -10%;
        transform: translateY(-50%);
        @include adaptiveDesktopToMobile("width", 138, 69);
        @include adaptiveDesktopToMobile("height", 32, 16);
        background-image: url('../../img/history-arrow.svg');
        background-size: 100% 100%;
      }
    }
    p {
      &:last-of-type {
        padding-left: 30px;
        color: var(--color-turquoise);
      }
    }
  }
  &:nth-child(odd):not(:first-child) {
    p {
      &:first-of-type {
        padding-left: 30px;
        color: var(--color-turquoise);
      }
    }
  }
  p {
    &:last-of-type {
      margin-top: auto;
    }
  }
}
.history__date--1 {
}
.history-date__start {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 38, 24);
  color: var(--color-turquoise);
}
.history-date__description {
  max-width: 180px;
}
.history-date__end {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 38, 24);
}
.history__date--2 {
}
.history__date--3 {
}
.history__date--4 {
}
.history__date--5 {
}

@media screen and (max-width: 768px) {
  .history__dates {
    display: grid;
    grid-template-columns: auto;
  }
  .history-date__more-borders {
    display: none;
  }
  .history__date {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    padding: 20px 0;
    &::before,
    &::after {
      width: 100%;
    }
    p {
      &:nth-of-type(3) {
        display: none;
      }
      &:last-of-type {
        margin: 0;
      }
    }
    &:nth-child(3) {
      flex-direction: row-reverse;
    }
  }
  .history-date__start {
    padding: 0!important;
    color: var(--color-turquoise);
    margin-right: 20px;
  }
  .history-date__end {
    padding: 0!important;
    color: var(--color-turquoise);
    margin-right: 20px;
  }
  .history-date__description {
    max-width: none;
    color: inherit!important;
    text-align: right;
  }
}