.indicators {
  @include adaptiveDesktopToMobile("margin-bottom", 132, 64);

  font-family: var(--font-family-primary);
  padding: 40px 0;
  color: var(--color-white);
  background-color: var(--color-pink-bright2);

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.indicators__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.indicators__item {
  min-height: 250px;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-white-040);

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-top: 1px solid var(--color-white-040);
  }

  @media screen and (max-width: 1279px) {
    &:nth-child(3) {
      border-top: none;
    }
  }

  @media screen and (max-width: 767px) {
    &:nth-child(1),
    &:nth-child(2) {
      border-top: none;
    }
    &:nth-child(3) {
      border-bottom: none;
    }
  }
}

.indicators__wrapper {
  position: relative;

  height: 100%;
  padding: 25px;

  @include adaptiveFull("padding-top", 24, 24, 12);
  @include adaptiveFull("padding-bottom", 48, 48, 24);

  &::before {
    position: absolute;
    top: 0;
    right: -11px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-white-040);
  }

  .indicators__item:not(:nth-child(3n)) &::before {
    content: "";
  }

  @media screen and (max-width: 1279px) {
    .indicators__item:not(:nth-child(3n)) &::before {
      content: unset;
    }

    .indicators__item:not(:nth-child(2n)) &::before {
      content: "";
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0;
    .indicators__item:not(:nth-child(2n)) &::before {
      content: unset;
    }

    &::before {
      content: unset;
    }
  }
}

.indicators__quantity {
  margin-bottom: 25px;

  font-size: 140px;
  line-height: 130px;

  @media screen and (max-width: 1439px) {
    margin-bottom: 12px;

    font-size: 72px;
    line-height: 72px;
  }
}

.indicators__unit {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}
