.intro-slider {
  @include adaptiveDesktopToMobile("margin-top", 50, 60);
  @include adaptiveDesktopToMobile("margin-bottom", 130, 100);
  position: relative;
  z-index: 5;
  &_color_green {
    --main-color: var(--color-green-ligth);
  }

  &_color_green {
    --main-color: var(--color-green-3);
  }
  &_color_blue {
    --main-color: var(--color-blue-dark-type-2);
  }
  &_color_turquoise {
    --main-color: var(--color-turquoise-3);
  }
  &_color_pink {
    --main-color: var(--color-pink-bright);
  }
}

.intro-slider__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  min-height: 100px;
  margin-bottom: 95px;
  padding-left: 134px;

  font-weight: 400;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    background-color: var(--main-color);
    background-image: url("../../img/icon-pin.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  @media screen and (max-width: 767px) {
    min-height: unset;
    padding-top: 73px;
    padding-left: 0;

    font-size: 17px;

    &::before {
      width: 60px;
      height: 60px;

      background-size: 22px 31px;
    }
  }
}

.intro-slider__wrapper {
  @include adaptiveDesktopToMobile("margin-bottom", 120, 100);

  @media screen and (max-width: 767px) {
    @include adaptiveDesktopToMobile("margin-left", -46, -20);
    @include adaptiveDesktopToMobile("margin-right", -46, -20);
  }
}

.intro-slider__thumbs-wrapper {
  max-width: 1348px;
  margin-bottom: 46px;

  @media screen and (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.intro-slider__thumbs-slides {
  align-items: center;
}

.intro-slider__slide {
  img {
    object-fit: contain;
    max-height: 794px;
  }
}

.intro-slider__thumbs-slide {
  height: 100%;
  img {
    height: 100%;
  }

  @media screen and (max-width: 767px) {
    width: 250px;
  }
}

.intro-slider__controls {
  display: flex;
  align-items: center;

  max-width: 1348px;
  margin: 0 auto;
  padding: 0 60px;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.intro-slider__scrollbar {
  flex: 1 1 auto;
  height: 2px;

  background-color: rgba(#b9b9b9, 0.2);
}

.intro-slider__scrollbar-drag {
  position: relative;

  height: 2px;
  background-color: var(--color-dark-grey);

  &::before {
    cursor: pointer;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    height: 40px;
  }

  &:hover {
    background-color: var(--main-color);
  }
}

.intro-slider__btns {
  flex: 0 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 95px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.intro-slider__btn {
  position: relative;
  width: 40px;
  height: 40px;

  &_next {
    transform: rotate(180deg);
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 14px;
    height: 2px;

    background-color: var(--color-black);
    border-radius: 1px;
  }

  &::before {
    transform-origin: left top;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform-origin: left bottom;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:disabled {
    opacity: 0.4;
  }

  &:not(:disabled):hover,
  &:focus {
    &::before,
    &::after {
      background-color: var(--main-color);
    }
  }
}
