.investitions {
  margin-top: 62px;
  margin-bottom: 204px;
  .container_content {
    max-width: 1440px;
  }
}

.investitions__title {
  margin-bottom: 90px;
}

.investitions__content-block {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
