.page-header {
  overflow: hidden;
  position: relative;

  @include adaptiveLargeDesktopToMobile("margin-bottom", 74, 60);
}

.page-header__top-wrapper {
  overflow: hidden;
  @media screen and (max-width: 768px) {
    overflow: visible;
  }
  position: relative;
  z-index: 2;

  padding-top: 54px;
  padding-bottom: 54px;
  @include adaptiveLargeDesktopToMobile("padding-bottom", 54, 34);

  @media screen and (max-width: 1023px) {
    padding-top: calc(80% + 20px);
  }
}

.page-header__title {
  max-width: unset;

  @include adaptiveFull("padding-left", 75, 0, 0);
  @include adaptiveFull("padding-right", 75, 0, 0);

  @include adaptiveLargeDesktopToMobile("font-size", 96, 36);
  @include adaptiveLargeDesktopToMobile("line-height", 96, 47);

  @media screen and (max-width: 1023px) {
    z-index: 6;
    br {
      display: none;
    }
  }
}

.page-header__bg-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-50%);

  width: 805px;

  @media screen and (max-width: 1023px) {
    // display: none;
    top: 65%;
  }
}

.body_b2c-type-2 div.page-header__bg-wrapper {
  @media screen and (max-width: 1023px) {
    left: auto;
    @include adaptiveFull('top', 500, 500, 200);
    @include adaptiveFull('right', -50, -50, -40);
    @include adaptiveFull('width', 500, 500, 400);
    @include adaptiveFull('height', 400, 400, 200);
  }
}

.body_b2c-type-2 .page-header__top-wrapper {
  @media screen and (max-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      @include adaptiveFull('height', 293, 293, 240);
      background-color: var(--color-blue-dark-type-2);
      z-index: 3;
    }
  }
}

.page-header__img {
  position: absolute;
  top: -38px;
  right: 0;
  bottom: -77px;

  width: 65%;
  max-height: 620px;

  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1023px) {
    top: 0;
    bottom: unset;

    max-width: unset;
    width: 100%;
    height: unset;
  }
}

.body_b2c-type-2 {
  .page-header__top-wrapper {
    @include adaptiveDesktopToMobile("min-height", 576, 440);
  }
  .page-header__bg-wrapper {
    @include adaptiveFull("left", 75, 0, 0);
    top: 85%;
    max-height: 460px;
    max-width: 642px;
  }
}
