.landing-page-feature-card {
  overflow: hidden;
  position: relative;

  font-family: var(--font-family-primary);
  padding: 30px;
  color: var(--color-white);

  &_purple {
    background-color: var(--color-purple6);
  }

  &_blue {
    background-color: var(--color-blue-dark-type-2);
  }

  &_light-green {
    background-color: var(--color-green-3);
  }
}

.landing-page-feature-card__inner {
  position: relative;
  z-index: 2;

  min-height: 484px;
}

.landing-page-feature-card__title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 38px;
  line-height: 1.25;

  transition: opacity var(--trans--300);

  .landing-page-feature-card:hover &,
  .landing-page-feature-card:focus-within & {
    opacity: 0;
  }
}

.landing-page-feature-card__message {
  font-weight: 500;
  font-size: 38px;
  line-height: 1.25;

  opacity: 0;

  transition: opacity var(--trans--300);

  .landing-page-feature-card:hover &,
  .landing-page-feature-card:focus-within & {
    opacity: 1;
  }
}

.landing-page-feature-card__icon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-white);

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-white);
  }

  &::before {
    width: 2px;
    height: 24px;
  }

  &::after {
    width: 24px;
    height: 2px;
  }

  transition: opacity var(--trans--300);

  .landing-page-feature-card:hover &,
  .landing-page-feature-card:focus-within & {
    opacity: 0;
  }
}

.landing-page-feature-card__decor {
  position: absolute;
  z-index: 1;

  .landing-page-feature-card_purple & {
    left: -63px;
    top: -195px;

    width: 803px;
    height: 575px;

    --color-patter: var(--color-purple7);
  }

  .landing-page-feature-card_light-green & {
    left: 114px;
    top: 133px;

    width: 1368px;
    height: 633px;

    --color-patter: var(--color-green-ligth-3);
  }

  .landing-page-feature-card_blue & {
    left: 50px;
    top: -50px;

    width: 713px;
    height: 431px;

    --color-patter: var(--color-blue7);
  }
}
