.landing-page-promo {
  display: flex;
  align-items: center;
  position: relative;

  
  @include adaptiveLargeDesktopToMobile("margin-bottom", 92, 47);


  color: var(--color-white);
  background-color: var(--color-blue-dark-type-2);
  background-image: linear-gradient(264.38deg, #2898FF 11.46%, #004EC0 97.72%);

}

.landing-page-promo__container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  @include adaptiveLargeDesktopToMobile("min-height", 500, 485);
  @include adaptiveLargeDesktopToMobile("padding-top", 50, 30);
  @include adaptiveLargeDesktopToMobile("padding-bottom", 50, 30);
  width: 100%;
  @media screen and (max-width: 599px) {
    align-items: flex-end;
  }
}

.landing-promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1921px) {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      // width: 17%;
      @include adaptiveFull("width", -250, -700, 450);
      background: linear-gradient(90deg, #0047d8 77.71%, rgba(4, 84, 198, 0) 100%);
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      @include adaptiveFull("width", -250, -650, 450);
      background: linear-gradient(270deg, #0099FF 91.24%, rgba(41, 153, 255, 0) 100%);
    }
  }
  
}

.landing-promo__bg-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 1920px;
  &_desktop {
    @media screen and (max-width: 599px) {
      display: none;
    }
  }
  &_mobile {
    display: none;
    @media screen and (max-width: 599px) {
      display: block;
    }
  }
}


.landing-page-promo__title {
  @include adaptiveLargeDesktopToMobile("font-size", 64, 36);
  @include adaptiveLargeDesktopToMobile("line-height", 64, 42);
  max-width: 50%;

  @media screen and (max-width: 599px) {
    max-width: 100%;
  }

  span {
    display: block;
  }
}

.landing-promo__next {
  width: 60px;
  height: 60px;
  transform: rotate(90deg);
  margin-top: auto;
  position: absolute;
  bottom: 50px;
  @include adaptiveDesktopToMobile("left", 46, 20);
  z-index: 1;
  @media screen and (max-width: 599px) {
    display: none;
  }
}