.landing-page-card {
  font-family: var(--font-family-primary);
  color: var(--color-white);

  &_pink {
    background-color: var(--color-pink-bright2);
  }

  &_purple {
    background-color: var(--color-purple6);
  }

  &_blue {
    background-color: var(--color-blue-dark-type-2);
  }

  &_light-green {
    background-color: var(--color-green-3);
  }
}

.landing-page-card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 840px;
  min-height: 612px;
  padding: 45px 55px 65px;

  .landing-page-card:nth-child(2n+1) & {
    margin-left: auto;
  }

  .landing-page-card:nth-child(2n) & {
    margin-right: auto;
  }
}


.landing-page-card__inner {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.landing-page-card__title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 54px;
  line-height: 66px;
}

.landing-page-card__message {
  font-weight: 500;
  font-size: 38px;
  line-height: 125%;
  opacity: 0;
}

.landing-page-card__icon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-white);

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-white);
  }

  &::before {
    width: 2px;
    height: 24px;
  }

  &::after {
    width: 24px;
    height: 2px;
  }
}
