.landing-page-products {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 82, 60);
}

.landing-page-products__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 48, 30);

  @include adaptiveLargeDesktopToMobile("font-size", 64, 28);
  @include adaptiveLargeDesktopToMobile("line-height", 74, 36);

  color: var(--color-blue-dark-type-2);

  span {
    &:first-child {
      color: var(--color-black);
    }

    display: block;
  }
}

.body_b2c-type-2 {
  .landing-page-products__title {
    font-weight: normal;
  }
}

.landing-page-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveFull("gap", 56, 28, 28);

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.landing-page-products__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  @include adaptiveDesktopToMobile("padding", 40, 23);
  @include adaptiveDesktopToMobile("padding-bottom", 0, 0);

  background-color: var(--color-white-dirty);
  border-radius: 40px;
  @include adaptiveDesktopToMobile("border-radius", 40, 28);

  @media screen and (max-width: 767px) {
    max-width: 400px;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.landing-page-products__product-img {
  height: 50px;
  width: auto;
  @include adaptiveDesktopToMobile("margin-bottom", 35, 20);
}

.landing-page-products__product-desc {
  @include adaptiveDesktopToMobile("margin-bottom", 15, 10);
  @include adaptiveDesktopToMobile("font-size", 24, 22);
  @include adaptiveDesktopToMobile("line-height", 28, 29);
}

.body_b2c-type-2 {
  .landing-page-products__product-desc {
    font-weight: normal;
  }
}


.landing-page-products__decor {
  align-self: stretch;
  margin-top: auto;
  @include adaptiveDesktopToMobile("margin-left", -40, -23);
  @include adaptiveDesktopToMobile("margin-right", -40, -23);

  img {
    display: block;
    margin: 0 auto;
  }
}
