.landing-page-changes {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 82, 60);
}

.landing-page-changes__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 48, 30);

  @include adaptiveLargeDesktopToMobile("font-size", 64, 28);
  @include adaptiveLargeDesktopToMobile("line-height", 74, 36);

  color: var(--color-blue-dark-type-2);

  span {
    &:first-child {
      color: var(--color-black);
    }

    display: block;
  }
}

.body_b2c-type-2 {
  .landing-page-changes__title {
    font-weight: normal;
  }
  .landing-page-products__product-list {
    @include adaptiveLargeDesktopToMobile("margin-bottom", 30, 15);
  }
  .landing-page-products__product-item {
    display: flex;
    font-family: inherit;
    @include adaptiveLargeDesktopToMobile("font-size", 18, 14);
    &::before {
      content: "";
      min-width: 4px;
      min-height: 4px;
      max-width: 4px;
      max-height: 4px;
      border-radius: 50%;
      background-color: #000000;
      display: block;
      margin-right: 10px;
      @include adaptiveLargeDesktopToMobile("margin-top", 13, 10);
    }
  }
}

.landing-page-changes__container {
  position: relative;
  pointer-events: none;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;

    height: 146px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-white-dirty) 100%);
  }
}

.landing-page-changes__wrapper {
  overflow-y: scroll;
  position: relative;
  max-height: 653px;
  padding: 45px;
  scrollbar-width: none;
  background-color: var(--color-white-dirty);
  border-radius: 40px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 767px) {
    padding: 16px;
    max-height: 236px;
  }
}

.landing-page-changes__services {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;

  margin: 0 auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(4, 1fr);

    padding: 0;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.landing-page-changes__service {
  // padding: 15px;

  @media screen and (max-width: 1023px) {
    // padding: 5px;
  }
}

.landing-page-changes__service-link {
  min-width: 100%;
}

.landing-page-changes__service-icon {
  // width: 150px;
  // height: 150px;
  width: 100%;
  aspect-ratio: 1 / 1;

  @media screen and (max-width: 1023px) {
    // width: 50px;
    // height: 50px;
  }
}

.modal--landing2-actions .modal__close-btn {
  @include adaptiveLargeDesktopToMobile("top", 33, 15);
  @include adaptiveLargeDesktopToMobile("right", 40, 10);
}
