.landing-page-projects {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 160, 80);

  main & {
    padding-top: 0;
  }
}

.landing-page-projects__title {
  @include adaptiveLargeDesktopToMobile("font-size", 64, 27);
  @include adaptiveLargeDesktopToMobile("line-height", 80, 34);

  span {
    display: block;

    &:first-child {
      color: var(--color-black-020);
    }
  }
}
