.landing-page-together {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 92, 60);
}

.landing-page-together__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 48, 30);
  font-weight: normal;
  @include adaptiveLargeDesktopToMobile("font-size", 64, 28);
  @include adaptiveLargeDesktopToMobile("line-height", 74, 36);

  color: var(--color-blue-dark-type-2);

  span {
    &:first-child {
      color: var(--color-black);
    }

    display: block;
  }
}

.landing-page-together__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: -24px;
  margin-bottom: -24px;

  @media screen and (max-width: 1023px) {
    display: block;

    margin-top: 0;
    margin-bottom: 0;
  }
}

.landing-page-together__item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 394px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 48px;

  color: var(--color-white);

  border-radius: 40px;
  outline-offset: -2px;

  &_blue {
    width: percentage(674 / 1312);
    background-color: var(--color-blue-dark-type-2);
  }

  &_purple {
    width: percentage(592 / 1312);
    background-color: var(--color-purple6);
  }

  &_pink {
    width: percentage(406 / 1312);
    background-color: var(--color-pink-bright2);
  }

  &_light-green {
    width: percentage(858 / 1312);
    background-color: var(--color-green-3);
  }

  &:nth-child(1) {
    .landing-page-together__decor {
      width: 800px;
      height: 573px;
    }
  }

  &:nth-child(2) {
    .landing-page-together__decor {
      width: 720px;
      height: 400px;
    }
  }

  &:nth-child(3) {
    .landing-page-together__decor {
      width: 620px;
      height: 400px;
    }
  }

  &:nth-child(4) {
    .landing-page-together__decor {
      width: 1324px;
      height: 573px;
    }
  }

  @media screen and (max-width: 1279px) {
    &_blue {
      width: 100%;
    }

    &_purple {
      width: calc(50% - 24px);
    }

    &_pink {
      width: calc(50% - 24px);
    }

    &_light-green {
      width: 100%;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_purple {
      width: 100%;
    }

    &_pink {
      width: 100%;
    }
  }
}

.landing-page-together__about {
  position: relative;
  z-index: 2;

  margin-bottom: 20px;

  @include adaptiveDesktopToMobile("font-size", 38, 22);
  @include adaptiveDesktopToMobile("line-height", 47, 29);
}

.body_b2c-type-2 {
  .landing-page-together__about {
    font-weight: normal;
  }
}

.landing-page-together__socials {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin: auto -8px 0;
}

.landing-page-together__social {
  margin: 0 8px;
}

.landing-page-together__social-link {
  width: 42px;
  height: 42px;
  background-color: var(--color-white);
  border-radius: 10px;

  transition: color var(--trans--300), background-color var(--trans--300);

  .landing-page-together__item_blue & {
    color: var(--color-blue-dark-type-2);
  }

  .landing-page-together__item_purple & {
    color: var(--color-purple6);
  }

  .landing-page-together__item_pink & {
    color: var(--color-pink-bright2);
  }

  .landing-page-together__item_light-green & {
    color: var(--color-green-3);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
    transition: opacity 0.3s linear;
  }

  &_inverted {
    background: none;

    .landing-page-together__item_blue &,
    .landing-page-together__item_purple &,
    .landing-page-together__item_pink &,
    .landing-page-together__item_light-green & {
      color: var(--color-white);
      transition: opacity 0.3s linear;
    }

    &:hover,
    &:focus {
      background: none;

      .landing-page-together__item_blue &,
      .landing-page-together__item_purple &,
      .landing-page-together__item_pink &,
      .landing-page-together__item_light-green & {
        opacity: 0.7;
        transition: opacity 0.3s linear;
      }
    }
  }

  &_thin {
    width: 32px;
  }
}

.landing-page-together__decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .landing-page-together__item_blue & {
    --color-patter: var(--color-blue3);
  }

  .landing-page-together__item_purple & {
    --color-patter: var(--color-purple2);
  }

  .landing-page-together__item_pink & {
    left: 20px;
    transform: translate(0, -50%);

    --color-patter: var(--color-pink6);
  }

  .landing-page-together__item_light-green & {
    --color-patter: var(--color-green);
  }
}
