.landing-page-promo {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 126, 60);
}

.landing-page-promo__titleee {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 48, 30);
  font-weight: normal;
  @include adaptiveLargeDesktopToMobile("font-size", 64, 28);
  @include adaptiveLargeDesktopToMobile("line-height", 74, 36);

  color: var(--color-blue-dark-type-2);

  span {
    &:first-child {
      color: var(--color-black);
    }

    display: block;
  }
}

.landing-page-promo__wrapper {
  overflow: hidden;
  display: flex;

  @include adaptiveLargeDesktopToMobile("margin-bottom", 48, 10);

  background-color: var(--color-blue-dark-type-2);
  @include adaptiveLargeDesktopToMobile("border-radius", 40, 28);

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.landing-page-promo__img {
  flex-grow: 1;
  max-width: 53%;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    height: auto;
  }
}

.landing-page-promo__img-bg {
  position: absolute;
  z-index: 1;
  @include adaptiveLargeDesktopToMobile("bottom", 160, 80);
  transform: translateY(100%);
  @include adaptiveLargeDesktopToMobile("right", 80, 40);
  @include adaptiveLargeDesktopToMobile("width", 930, 465);
  @include adaptiveLargeDesktopToMobile("height", 403, 200);
}

.landing-page-promo__content {
  display: flex;
  flex-direction: column;
  width: 607px;
  @include adaptiveLargeDesktopToMobile("padding-top", 36, 25);
  @include adaptiveLargeDesktopToMobile("padding-left", 42, 23);
  @include adaptiveLargeDesktopToMobile("padding-right", 42, 23);
  padding-bottom: 39px;

  color: var(--color-white);

  @media screen and (max-width: 1023px) {
    flex-shrink: 0;
    width: 450px;
  }

  @media screen and (max-width: 767px) {
    width: unset;
    max-width: 500px;
  }
}

.landing-page-promo__desc {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 57, 30);

  @include adaptiveLargeDesktopToMobile("font-size", 32, 22);
  @include adaptiveLargeDesktopToMobile("line-height", 42, 29);
}

.body_b2c-type-2 {
  .landing-page-promo__desc {
    font-weight: normal;
  }
}

.landing-page-promo__content-btn {
  @include adaptiveLargeDesktopToMobile("padding-top", 36, 14);
  @include adaptiveLargeDesktopToMobile("padding-left", 32, 20);
  @include adaptiveLargeDesktopToMobile("padding-right", 32, 20);
  @include adaptiveLargeDesktopToMobile("padding-bottom", 36, 16);
  margin-top: auto;
  @include adaptiveLargeDesktopToMobile("font-size", 32, 18);
  @include adaptiveLargeDesktopToMobile("line-height", 42, 23);

  color: var(--color-blue-dark-type-2);
  background-color: var(--color-white);
  border-color: var(--color-white);
  @include adaptiveLargeDesktopToMobile("border-radius", 16, 12);
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
}

.landing-page-promo__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 846px;
  margin-left: auto;
  margin-right: auto;
  @include adaptiveLargeDesktopToMobile("padding-top", 47, 30);
  @include adaptiveLargeDesktopToMobile("padding-left", 95, 23);
  @include adaptiveLargeDesktopToMobile("padding-right", 95, 23);
  @include adaptiveLargeDesktopToMobile("padding-bottom", 47, 30);
  color: var(--color-blue-dark-type-2);
  @include adaptiveLargeDesktopToMobile("font-size", 32, 18);
  @include adaptiveLargeDesktopToMobile("line-height", 37, 23);
  border-width: 4px;
  border-color: var(--color-blue-dark-type-2);
  @include adaptiveLargeDesktopToMobile("border-radius", 150, 75);
  transition: all 0.3s linear;
  &:hover {
    background-color: var(--color-blue-dark-type-2);
    border-color: var(--color-blue-dark-type-2);
    color: var(--color-white);
  }

  @media screen and (max-width: 767px) {
    padding: 9px;
    width: 100%;
    height: auto;
  }
}
