.landing-page-summary {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 190, 70);
  position: relative;
}

.landing-page-summary__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 56, 35);

  @include adaptiveLargeDesktopToMobile("font-size", 64, 27);
  @include adaptiveLargeDesktopToMobile("line-height", 80, 34);

  span {
    display: block;

    &:first-child {
      color: var(--color-black-020);
    }
  }
}

.landing-page-summary__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include adaptiveLargeDesktopToMobile("row-gap", 60, 50);
  column-gap: 20px;

  @include adaptiveLargeDesktopToMobile("margin-bottom", 96, 65);

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.landing-page-summary__offer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  @include adaptiveLargeDesktopToMobile("font-size", 64, 27);
  @include adaptiveLargeDesktopToMobile("line-height", 74, 31);

  @media screen and (max-width: 767px) {
    max-width: 320px;
    text-align: center;
  }
}

.landing-page-summary__offer-type {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  @include adaptiveLargeDesktopToMobile("padding-left", 16, 8);
  @include adaptiveLargeDesktopToMobile("padding-right", 16, 8);
  @include adaptiveLargeDesktopToMobile("padding-bottom", 10, 5);

  @include adaptiveLargeDesktopToMobile("font-size", 64, 27);
  @include adaptiveLargeDesktopToMobile("line-height", 74, 31);

  color: var(--color-white);
  background-color: var(--color-blue-dark-type-2);
  @include adaptiveLargeDesktopToMobile("border-radius", 20, 12);

  svg {
    @include adaptiveLargeDesktopToMobile("width", 50, 27);
    @include adaptiveLargeDesktopToMobile("height", 32, 31);
    @include adaptiveLargeDesktopToMobile("margin-top", 10, 5);
    @include adaptiveLargeDesktopToMobile("margin-right", 16, 9);
    transform: rotate(360deg);
    &.active {
      transform: rotate(0deg);
      transition: transform 0.6s ease-in-out;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  span {
    width: 0;
    opacity: 0;
    &.active {
      width: auto;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.landing-page-summary__card {
  .summary-card__img-pic {
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    .summary-card__img-pic {
      transform: scale(1.05);
    }
  }
}

.landing-page-summary__bg {
  position: absolute;
  top: 80%;
  left: -10%;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0.5;
  --color-patter: var(--color-light-grey4);
  @media screen and (max-width: 767px) {
    display: none;
  }
}