.landing-page-banner {
  margin-bottom: 160px;
}

.landing-page-banner__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 674px;

  color: var(--color-white);

  padding: 64px 46px 58px;
}

.landing-page-banner__title {
  max-width: 800px;
}

.landing-page-banner__btn {
  margin-top: auto;

  border-color:var(--color-white);

  &::after {
    filter: brightness(0) invert(1);
  }
}

.landing-page-banner__img {
  position: absolute;top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
