.landing-page-offer {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 100, 35);
}

.landing-page-offer__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 70, 45);

  span {
    display: block;
  }
}

.landing-page-offer__wrapper {
  overflow: hidden;
  position: relative;

  @include adaptiveLargeDesktopToMobile("padding-top", 45, 20);
  @include adaptiveLargeDesktopToMobile("padding-right", 45, 20);
  @include adaptiveLargeDesktopToMobile("padding-left", 570, 200);
  @include adaptiveLargeDesktopToMobile("padding-bottom", 55, 20);

  background-color: var(--color-blue-dark-type-2);

  @media screen and (max-width: 1120px) {
    @include adaptiveFull("padding-top", 650, 700, 280);
    @include adaptiveLargeDesktopToMobile("padding-left", 45, 20);
  }
}

.landing-page-offer__content {
  position: relative;
  z-index: 2;

  @include adaptiveLargeDesktopToMobile("max-width", 550, 400);

  color: var(--color-white);
}

.landing-page-offer__desc {
  margin-bottom: 38px;

  font-family: var(--font-family-primary);
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 33, 24);
  @include adaptiveDesktopToMobile("line-height", 43, 29);
}

.landing-page-offer__content___inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 1120px) {
    flex-direction: column;
  }
}

.landing-page-offer__btn {
  margin-top: 10px;
  margin-right: 40px;

  border-color: var(--color-white);

  &:after {
    filter: brightness(0) invert(1);
  }
  &:hover,
  &:focus {
    color: var(--color-white);
    border-color: var(--color-white);

    &:after {
      filter: brightness(0) invert(1);
    }
  }

  @media screen and (max-width: 1120px) {
    width: 100%;
    margin-right: 0;
  }
}

.landing-page-offer__rules {
  margin-top: 10px;

  font-size: 16px;
  line-height: 42px;
  color: var(--color-white-060);

  &:hover,
  &:focus {
    color: var(--color-white-060);
  }
}

.landing-page-offer__img {
  position: absolute;
  @include adaptiveFull("top", -120, -250, -450);
  @include adaptiveFull("left", -120, -45, -45);
  @include adaptiveFull("bottom", -120, 0, 0);
  z-index: 1;
  @media screen and (min-width: 1681px) {
    top: -120px;
    left: -120px;
    bottom: -120px;
  }
  img {
    height: 100%;
    width: auto;
  }

  @media screen and (max-width: 1120px) {
    @media screen and (min-width: 960px) {
      img {
        width: 86%;
      }
    }
    bottom: unset;
    @include adaptiveFull("right", -120, -45, -45);
    // @include adaptiveFull("top", -120, -250, -450);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 125%;
      height: auto;
      max-width: none;
    }
  }
}

.landing-page-offer__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include adaptiveDesktopToMobile("padding-bottom", 65, 35);
  @include adaptiveFull("padding-left", 40, 0, 0);
  @include adaptiveFull("padding-left", 40, 0, 0);

  color: var(--color-black);

  border-bottom: 1px solid var(--color-border);

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.landing-page-offer__actions-about {
  max-width: 360px;
  @include adaptiveFull("margin-top", 65, 35, 35);

  @include adaptiveDesktopToMobile("font-size", 27, 21);
  @include adaptiveDesktopToMobile("line-height", 31, 24);

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
}

.landing-page-offer__socials {
  display: flex;

  @include adaptiveFull("margin-top", 65, 35, 35);
  margin-left: 50px;
  margin-right: 50px;

  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
    max-width: 178px;
  }

  @media screen and (max-width: 1023px) {
    flex-wrap: nowrap;
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    max-width: 256px;
  }
}

.landing-page-offer__social {
  margin: 5px;

  @media screen and (max-width: 767px) {
    margin: 11px;
  }
}

.landing-page-offer__social-link {
  color: var(--color-black);
  opacity: 0.3;
  transition: opacity var(--trans--300);

  &:hover {
    color: var(--color-black);
    opacity: 1;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  @media screen and (max-width: 767px) {
    svg {
      width: 42px;
      height: 42px;
    }
  }
}

.landing-page-offer__actions_btn {
  @include adaptiveFull("margin-top", 65, 35, 35);

  @media screen and (max-width: 1023px) {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}