.landing-page-features {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 80, 50);
}

.landing-page-features__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 67, 47);

  @include adaptiveLargeDesktopToMobile("font-size", 64, 27);
  @include adaptiveLargeDesktopToMobile("line-height", 80, 34);

  span {
    display: block;

    &:first-child {
      color: var(--color-black-020);
    }
  }
}

.landing-page-features__list {
  @media screen and (max-width: 599px) {
    overflow: hidden;
  }
}

.landing-page-features__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.landing-page-features__link {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  min-height: 320px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media screen and (max-width: 1023px) {
    overflow: visible;
    display: block;

    min-height: unset;
  }
}

.landing-page-features__feature-wrapper {
  position: relative;
  z-index: 3;

  margin-top: 88px;
  margin-left: 114px;
  margin-bottom: 60px;

  @media screen and (max-width: 1023px) {
    margin: 0;
  }
}

.landing-page-features__feature-img {
  position: relative;
  z-index: 2;

  @include adaptiveLargeDesktopToMobile("height", 80, 40);
  width: auto;
  &:not(:first-child) {
    @media screen and (max-width: 599px) {
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%)!important;
      width: 141%;
      height: auto;
      z-index: 2;
    }
  }
}

.landing-page-features__feature-desc {
  max-width: 300px;
  @include adaptiveLargeDesktopToMobile("margin-top", 30, 18);

  font-family: var(--font-family-primary);
  line-height: 1.15;
  color: var(--color-black-030);

  @media screen and (max-width: 1023px) {
    margin-bottom: 22px;
  }
}

.landing-page-features__decor-wrapper {
  overflow: hidden;
  position: absolute;
  right: 331px;
  bottom: 0;
  z-index: 1;

  width: 446px;
  height: 193px;

  --color-patter: var(--color-white-dirty);

  svg {
    position: absolute;
  }

  &_centered-y {
    svg {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &_alt-pos {
    svg {
      left: 30px;
      bottom: -5px;
    }
  }

  @media screen and (max-width: 1023px) {
    position: relative;
    right: unset;
    bottom: unset;

    width: unset;
    height: 315px;

    @include adaptiveLargeDesktopToMobile("margin-left", -46, -20);
    @include adaptiveLargeDesktopToMobile("margin-right", -46, -20);

    svg {
      left: 95px;
      width: 100%;
      height: 360px;
    }

    &_alt-pos {
      svg {
        width: 140%;
        min-width: 750px;
        left: 95px;
        bottom: unset;
      }
    }
  }
}

.landing-page-features__actions {
  display: flex;

  padding: 20px 0;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  @media screen and (min-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 1023px) {
    display: block;

    border-top: none;
    border-bottom: none;
  }
}

.landing-page-features__action {
  width: percentage(1/3);
  @include adaptiveLargeDesktopToMobile("padding-top", 30, 20);
  @include adaptiveLargeDesktopToMobile("padding-bottom", 30, 23);
  padding-left: 50px;
  padding-right: 50px;

  &:not(:last-child) {
    border-right: 1px solid var(--color-border);
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    border-bottom: 1px solid var(--color-border);

    &:not(:last-child) {
      border-right: none;
    }
  }
}

.landing-page-features__action-inner {
  @include adaptiveLargeDesktopToMobile("font-size", 27, 21);
  line-height: 1.15;
  font-weight: normal;
}
