.load-more-btn {
  display: block;

  color: var(--color-grey);

  transition: color var(--trans--300);

  svg {
    display: block;
  }

  &:focus,
  &:hover {
    color: var(--color-hover);
  }

  &:hover {
    svg {
      animation: load-more-btn 1.2s infinite linear;
    }
  }
}

@keyframes load-more-btn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
