.main-video {
  @include adaptiveDesktopToMobile("padding-top", 184, 79);
  overflow: hidden;
  &__container {
    position: relative;
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      @include adaptiveDesktopToMobile("height", 757, 500);
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background: var(--color-pink);
      }
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    @include adaptiveDesktopToMobile("max-width", 440, 298);
    color: var(--color-white);
  }
  &__title {
  }
  &__play {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      @include adaptiveDesktopToMobile("width", 60, 45);
      @include adaptiveDesktopToMobile("height", 60, 45);
      display: block;
      background-image: url("../../img/btn-play.svg");
      background-size: 100% 100%;
      margin-right: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-video {
    &__container {
      padding: 0;
      height: 100%;
    }
    &__text {
      @include adaptiveDesktopToMobile("left", 46, 20);
      top: auto;
      bottom: 34px;
      transform: none;
    }
  }
}
