.manager-card {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100%;

  &:hover {
    text-decoration: unset;
    color: unset;
  }

  @media screen and (max-width: 1023px) {
    padding: 20px 0;

    border-bottom: 1px solid var(--color-border);

    .manager__slider:first-child & {
      border-top: 1px solid var(--color-border);
    }

    &.manager-card_inverted-colors {
      border-bottom: 1px solid var(--color-blue-deep);
    }
  }
}

.manager-card__photo {
  overflow: hidden;

  width: 100%;
  height: 522px;

  background-color: var(--color-blue-deep);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: transform var(--trans--500);

    .manager-card:hover &,
    .manager-card:focus & {
      transform: scale(1.02);
    }
  }

  .manager-card__medium & {
    height: 440px;
  }

  @media screen and (max-width: 1679px) {
    height: 440px;
  }

  @media screen and (max-width: 1023px) {
    height: 320px;
  }
}

.manager-card__desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 8px;
  padding-top: 24px;

  @media screen and (max-width: 1023px) {
    padding: 0;
    padding-top: 20px;
  }
}

.manager-card__name {
  margin-bottom: 18px;

  .manager-card:hover & {
    text-decoration: underline;
  }

  .manager-card_inverted-colors & {
    color: var(--color-white);
  }
}

.manager-card__position {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  .manager-card_inverted-colors & {
    color: var(--color-blue-ligth);
  }
}
