.manager-bio {
  overflow: hidden;
  position: relative;

  padding-top: 105px;
  padding-bottom: 160px;
  @include adaptiveDesktopToMobile ("padding-top", 105, 55);
  @include adaptiveDesktopToMobile ("padding-bottom", 160, 85);

  color: var(--color-white);
  background-color: var(--color-purple2);
}

.manager-bio__title {
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: 38px;
  line-height: 40px;

  &:not(:last-child) {
    @include adaptiveDesktopToMobile ("margin-bottom", 60, 24);
  }
}

.manager-bio__paragraph {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile ("margin-bottom", 32, 24);
  }
}

.manager-bio__decor {
  position: absolute;
  top: 111px;
  right: -41px;
  z-index: -1;

  --color-patter: var(--color-purple8);
}
