.managers-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 322px);
  gap: 80px 20px;

  @media screen and (max-width: 1023px) {
    display: flex;

    width: fit-content;
    @include adaptiveDesktopToMobile("padding-left", 46, 20);
    @include adaptiveDesktopToMobile("padding-right", 46, 20);
  }
}

.managers-list__manager {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-border);

  .manager-card {
    border-bottom: none;
  }

  @media screen and (max-width: 1023px) {
    width: 273px;
  }

  &_no-border-bottom-mobile {
    border-bottom: none;
  }
}
