.manager-feedback {
  position: relative;
  overflow: hidden;

  @include adaptiveDesktopToMobile("padding-top", 110, 46);
  @include adaptiveDesktopToMobile("padding-bottom", 110, 46);

  color: var(--color-white);
  background-color: var(--color-green-ligth);
}

.manager-feedback__container {
  position: relative;
  z-index: 1;
}

.manager-feedback__feedback {
  display: flex;
  align-items: flex-start;
  padding-left: 60px;
  padding-right: 115px;

  @media screen and (max-width: 1279px) {
    padding: 0;
  }

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.manager-feedback__wrapper {
  flex: 1 1 auto;

  margin-right: 135px;

  @media screen and (max-width: 1023px) {
    margin-right: 0;
  }
}

.manager-feedback__content {
  margin-bottom: 90px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
  }
}

.manager-feedback__photo-mobile {
  display: none;

  width: 143px;
  margin-bottom: 32px;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.manager-feedback__author {
  max-width: 270px;
  margin-bottom: 14px;
}

.manager-feedback__author-position {
  max-width: 270px;
}

.manager-feedback__photo-desctop {
  flex: 0 0 322px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.manager-feedback__decor {
  position: absolute;
  @include adaptiveDesktopToMobile("right", 47, -145);
  bottom: 0;

  svg {
    display: block;
    @include adaptiveDesktopToMobile("width", 753, 414);
    @include adaptiveDesktopToMobile("heigth", 500, 275);

    --color-patter: var(--color-green-2);
  }
}
