.manager-summary {
  position: relative;
  z-index: 1;
  margin-top: 60px;
  margin-bottom: -60px;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.manager-summary__container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.manager-summary__data {
  @include adaptiveFull("padding-top", 155, 55, 45);
  @include adaptiveFull("padding-right", 60, 45, 25);
  // @include adaptiveFull("padding-bottom", 155, 55, 45);
  padding-bottom: 55px;
}

.manager-summary__name {
  @include adaptiveDesktopToMobile("max-width", 570, 400);

  font-family: var(--font-family-primary);
  font-weight: 500;
  @include adaptiveFull("font-size", 64, 36, 36);
  @include adaptiveFull("line-height", 64, 36, 36);

  &:not(:last-child) {
    @include adaptiveFull("margin-bottom", 28, 24, 24);
  }

  @media screen and (max-width: 767px) {
    max-width: unset;
  }
}

.manager-summary__thesis {
  @include adaptiveFull("max-width", 570, 400, 400);

  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  @include adaptiveFull("font-size", 24, 16, 16);
  @include adaptiveFull("line-height", 32, 24, 24);

  &:not(:last-child) {
    @include adaptiveFull("margin-bottom", 32, 24, 24);
  }

  @media screen and (max-width: 767px) {
    max-width: unset;
  }
}

.manager-summary__photo {
  flex-shrink: 0;

  width: calc(50% - 60px);
  max-width: 660px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    width: unset;
    max-width: unset;
  }
}
