.managers {
  overflow: hidden;
  position: relative;
  z-index: 5;

  margin-top: -50px;
  @include adaptiveDesktopToMobile("padding-bottom", 216, 40);

  background-image: linear-gradient(to bottom, transparent 870px, var(--color-blue-dark-type-2) 870px, var(--color-blue-dark-type-2) 2200px);

  @media screen and (max-width: 1023px) {
    margin-top: 20px;

    background-image: linear-gradient(to bottom, transparent 703px, var(--color-blue-dark-type-2) 703px);
  }
}

.managers__list {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px 20px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.managers-item {
  width: 382px;

  &_shift {
    grid-column: 2 span;
  }

  &_shift-right {
    margin-left: auto;
  }

  &_shift-left {
    margin-right: auto;
  }

  &_shift-almost-right {
    margin-left: auto;
    margin-right: 112px;
  }

  &_shift-almost-left {
    margin-right: auto;
    margin-left: 112px;
  }

  &_with_border_bottom {
    min-height: 620px;

    .manager-card {
      border-bottom: 1px solid var(--color-border);
      &.manager-card_inverted-colors {
        border-bottom: 1px solid var(--color-blue-deep);
      }
    }
  }

  @media screen and (max-width: 1679px) {
    width: 322px;

    &_shift-almost-right {
      margin-right: 0;
    }

    &_shift-almost-left {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1279px) {
    width: 295px;

    &_shift-almost-right {
      margin-right: 0;
    }

    &_shift-almost-left {
      margin-left: 0;
    }
  }
}

.managers__sliders {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.manager__slider {
  overflow-x: auto;
  @include adaptiveDesktopToMobile("margin-left", -46, -20);
  @include adaptiveDesktopToMobile("margin-right", -46, -20);

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.managers__slides {
  display: flex;

  width: fit-content;
}

.manager__slide {
  width: 273px;
  min-height: 545px;
  padding: 0 20px;
}

.managers__bg-wrapper {
  position: absolute;
  left: -90px;
  top: 870px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.managers__bottom-bg-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.managers__bg {
  width: 892px;
  height: 500px;
  --color-patter: var(--color-blue-dark-type-3);
}
