.materials {
  margin-bottom: 135px;
}

.materials__annual-item {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 40, 0);
  }
}

.materials__year {
  @include adaptiveDesktopToMobile("margin-top", 68, 52);
  @include adaptiveDesktopToMobile("margin-bottom", 46, 20);
}

.materials__month-list {
  border-top: 1px solid var(--color-border);
}

.materials__month-item {
  display: flex;

  border-bottom: 1px solid var(--color-border);

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.materials__date {
  flex-shrink: 0;

  width: 225px;
  padding: 32px 20px;

  color: var(--color-black-060);

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.materials__list {
  flex-grow: 1;
}

.materials__item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  @media screen and (max-width: 1023px) {
    padding: 12px 0;
  }
}

.materials__date-mobile {
  display: none;

  color: var(--color-black-060);

  @media screen and (max-width: 1023px) {
    display: block;
    margin-bottom: 12px;
  }
}

.materials__link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--color-black);
    text-decoration: none;
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column-reverse;
    align-items: stretch;

    padding: 10px 0;
  }
}

.materials__name {
  flex-grow: 1;

  padding-top: 25px;
  padding-right: 32px;
  padding-bottom: 32px;

  .materials__link:hover &,
  .materials__link:focus & {
    text-decoration: underline;
  }

  @media screen and (max-width: 1023px) {
    padding: 12px 0;
  }
}

.materials__file-type {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 115px;

  span {
    width: 65px;
  }
}

.materials__load-more-btn {
  display: block;
  margin: 125px auto 0;

  @media screen and (max-width: 767px) {
    margin: 55px auto 0;
  }
}
