.modal-success-message {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 580px;
}

.modal-success-message__title {
  margin-top: 24px;
  margin-bottom: 48px;
}

.modal-success-message__message {
  margin-bottom: 48px;

  color: var(--color-green-3);
}

.modal-success-message__close-btn {
  margin-top: auto;
  margin-left: auto;
}

