.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: var(--color-black-030);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition:
    opacity var(--trans--600),
    transform var(--trans--600),
    visibility var(--trans--600);

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @media screen and (max-width: 767px) {
      padding: 32px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 664px;
    padding: 42px 28px 32px;

    background-color: var(--color-white);

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    padding: 0;

    background: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 2px;
      height: 30px;

      background-color: var(--color-black);

      transition: transform var(--trans--300);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: var(--color-black-020);
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }

  &--round {
    .modal__content {
      @include adaptiveLargeDesktopToMobile("border-radius", 40, 28);
    }
  }
}
