.modal-landing-actions {
  @include adaptiveLargeDesktopToMobile("padding-left", 34, 0);
  @include adaptiveLargeDesktopToMobile("padding-right", 34, 0);
}

.modal-landing-actions__title {
  @include adaptiveLargeDesktopToMobile("margin-bottom", 45, 30);
  font-weight: normal;
}

.modal-landing-actions__item {
  &:not(:last-child) {
    @include adaptiveLargeDesktopToMobile("margin-bottom", 34, 17);
  }
}

.modal-landing-actions__link {
  display: flex;

  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-blue-dark-type-2);
    text-decoration: none;
  }
}

.modal-landing-actions__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include adaptiveLargeDesktopToMobile("width", 104, 64);
  @include adaptiveLargeDesktopToMobile("height", 104, 64);
  @include adaptiveLargeDesktopToMobile("margin-right", 30, 16);

  background-color: var(--color-white-dirty);
  @include adaptiveLargeDesktopToMobile("border-radius", 24, 12);

  img {
    @include adaptiveLargeDesktopToMobile("width", 52, 32);
    @include adaptiveLargeDesktopToMobile("height", 52, 32);
    object-fit: contain;
  }
}

.modal-landing-actions__desc {
  @include adaptiveDesktopToMobile("font-size", 24, 16);
  @include adaptiveDesktopToMobile("line-height", 32, 20);
  font-weight: normal;
  display: flex;
  align-items: center;
}
