.modal-event-registration__title {
  margin-bottom: 48px;
}

.modal-event-registration__inputs {
  display: flex;
  justify-content: space-between;

  margin: 0 -12px;

  &:last-of-type {
    padding-bottom: 16px;
  }

  @media screen and (max-width: 599px) {
    display: block;
  }
}

.modal-event-registration__input {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 48px;
}

.modal-event-registration__textarea {
  margin-bottom: 24px;
}

.modal-event-registration__checkbox {
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 27px;
  }

  label a {
    display: inline;
    color: var(--color-black);

    &:hover,
    &:focus {
      color: var(--color-hover);
    }
  }
}

.modal-event-registration__conditions {
  margin-bottom: 4px;

  font-size: 9px;
  line-height: 12px;
  color: var(--color-grey-2);

  &:last-of-type {
    margin-bottom: 32px;
  }

  &_accent {
    color: var(--color-black);
  }

  a {
    color: var(--color-black);
  }
}

.modal-event-registration__submit-btn {
  margin-left: auto;
}
