.modal-landing-actions__title {
  margin-bottom: 24px;
}

.modal-landing-actions__list {
  border-top: 1px solid var(--color-border);
}

.modal-landing-actions__item {
  min-height: 98px;
  padding: 20px 0;

  border-bottom: 1px solid var(--color-border);
}

.modal-landing-actions__link {
  display: flex;

  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.modal-landing-actions__icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;

  padding: 0 32px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);

  img {
    width: 52px;
    height: 52px;
    object-fit: contain;
  }
  
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

.modal-landing-actions__content {
  flex-grow: 1;

  margin-bottom: 6px;
  padding: 0 32px;

  font-size: 18px;
  line-height: 24px;
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

.modal-landing-actions__desc {
  margin-bottom: 6px;
}

.modal-landing-actions__date {
  color: var(--color-black-030);
}

.modal-landing-actions__btn-pseudo-wrapper {
  display: flex;
  align-items: center;

  padding: 0 32px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.modal-landing-actions__btn-pseudo {
  width: 52px;
  border: none;

  &:hover {
    &::after {
      filter: brightness(0);
    }
  }


  .modal-landing-actions__link:hover &,
  .modal-landing-actions__link:focus & {
    &::after {
      animation: btnArrowAnimation;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
    }
  }
}
