.modal-subscribe-form__title {
  margin-bottom: 48px;
}

.modal-subscribe-form__inputs {
  display: flex;
  justify-content: space-between;

  margin: 0 -12px;

  &:last-of-type {
    padding-bottom: 16px;
  }

  @media screen and (max-width: 599px) {
    display: block;
  }
}

.modal-subscribe-form__input {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 48px;
}

.modal-subscribe-form__select {
  width: 100%;
  padding: 34px 12px 0;
  margin-bottom: 48px;
}

.modal-subscribe-form__list {
  width: calc(100% - 2 * 12px);
}

.modal-subscribe-form__conditions {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-grey-2);

  &:last-of-type {
    margin-bottom: 55px;
  }

  a {
    color: var(--color-black);
  }
}

.modal-subscribe-form__submit-btn {
  margin-left: auto;
}
