.more-news {
  margin-bottom: 245px;
  &__cards {
    @include adaptiveDesktopToMobile("margin-top", 85, 35);
    @include adaptiveDesktopToMobile("padding-top", 20, 24);
    @include adaptiveDesktopToMobile("padding-bottom", 20, 24);

    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }
  &__show-all {
    margin: 0 auto;
    @include adaptiveDesktopToMobile("margin-top", 77, 70);
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .more-news {
    &__cards {
      &-row {
        border: none;
      }
    }
    &__show-all {
      width: 100%;
    }
  }
}
