.news-contacts {
  @include adaptiveDesktopToMobile("margin-top", 75, 32);
  @include adaptiveDesktopToMobile("margin-bottom", 175, 68);
}

.news-contacts__title {
  max-width: 550px;
  @include adaptiveDesktopToMobile("margin-bottom", 85, 27);
  padding-left: 115px;

  @media screen and (max-width: 1279px) {
    padding-left: 0;
  }
}

.news-contacts__list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 115px;

  @media screen and (max-width: 1279px) {
    padding-left: 0;
  }
}

.news-contacts__item {
  width: 305px;
  margin-right: 150px;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 12px;

    border-bottom: 1px solid var(--color-border);

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}

.news-contacts__position {
  @include adaptiveDesktopToMobile("margin-bottom", 5, 14);

  color: var(--color-black-060);
}

.news-contacts__name {
  @include adaptiveDesktopToMobile("margin-bottom", 32, 11);

  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}

.news-contacts__link {
  display: block;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 32px;
  }
}
