.news-content {
  @include adaptiveDesktopToMobile("padding-top", 70, 40);
  @include adaptiveDesktopToMobile("padding-bottom", 110, 100);
}

.news-content__tex {
  max-width: 900px;
  margin: 0 110px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &_accent {
    padding-right: 40px;

    &:not(:first-child) {
      margin-top: 85px;
    }

    &:not(:last-child) {
      margin-bottom: 85px;
    }
  }

  br {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    margin: 0;

    &_accent {
      padding-right: 0;

      &:not(:first-child) {
        margin-top: 60px;
      }

      &:not(:last-child) {
        margin-bottom: 72px;
      }
    }
  }

  @media screen and (max-width: 599px) {
    br {
      display: block;
    }
  }
}

.news-content__managers-slider {
  @include adaptiveDesktopToMobile("margin-bottom", 130, 0);

  @media screen and (max-width: 1023px) {
    overflow-x: auto;
    @include adaptiveDesktopToMobile("margin-left", -46, -20);
    @include adaptiveDesktopToMobile("margin-right", -46, -20);

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.news-content__managers {
  &:not(:first-child) {
    margin-top: 130px;
  }

  &:not(:last-child) {
    margin-bottom: 130px;
  }

  &_shift {
    margin-left: 110px;

    &:not(:first-child) {
      margin-top: 110px;
    }

    &:not(:last-child) {
      margin-bottom: 110px;
    }
  }

  @media screen and (max-width: 1023px) {
    &:not(:first-child) {
      margin-top: 60px;
    }

    &:not(:last-child) {
      margin-bottom: 72px;
    }

    &_shift {
      margin-left: 0;

      &:not(:first-child) {
        margin-top: 60px;
      }

      &:not(:last-child) {
        margin-bottom: 72px;
      }
    }
  }
}
