.news-press-releases {
  margin-bottom: 200px;
  &__cards {
    @include adaptiveDesktopToMobile("margin-top", 85, 35);
    @include adaptiveDesktopToMobile("padding-top", 40, 24);
    @include adaptiveDesktopToMobile("padding-bottom", 40, 24);
  }
  &__show-all {
    margin: 0 auto;
    @include adaptiveDesktopToMobile("margin-top", 77, 70);
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .news-press-releases .card_large {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .news-press-releases {
    &__cards {
      &-row {
        border: none;
      }
    }
    &__show-all {
      width: 100%;
    }
  }
}
