.offer-card {
  display: flex;
  flex-direction: column;

  color: var(--color-white);
  background-color: var(--color-pink-bright2);

  &:nth-child(2n) {
    background-color: var(--color-purple2);
  }
}

.offer-card__cover {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 1023px) {

    img {
      max-height: 500px;
      object-fit: cover;
    }
  }
}

.offer-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include adaptiveDesktopToMobile("padding", 30, 18);
  @include adaptiveDesktopToMobile("padding-top", 35, 21);
}

.offer-card__title {
  @include adaptiveDesktopToMobile("margin-bottom", 21, 13);
}

.offer-card__text-content {
  margin-bottom: 48px;
}

.offer-card__content-paragraph {
  margin-bottom: 24px;

  &.accent {
    font-weight: 500;
  }

  &:last-child {
    margin: 0;
  }
}

.offer-card__footer {
  margin-top: auto;
}

.offer-card__btn {
  width: 210px;

  border-color:var(--color-white);

  &::after {
    filter: brightness(0) invert(1);
  }
}

.offer-card__social {
  display: flex;

  margin: 0 -10px;
}

.offer-card__social-item {
  padding: 0 10px;
}

.offer-card__social-link {
  transition: color var(--trans--300);
}
