.page-header {
  position: relative;
  z-index: 5;
  color: var(--color-black);
  // @include adaptiveDesktopToMobile("padding-bottom", 87, 36);
  &_service {
    @include adaptiveDesktopToMobile("margin-bottom", 240, 100);
    .page-header__top-wrapper {
      padding-bottom: 15px;
    }
  }
  &_big {
    & .page-header__title {
      max-width: 100%;
    }
  }
  &_blue {
    color: var(--color-white);
    background-color: var(--color-blue-dark-type-2);
  }
  &_blue-light {
    color: var(--color-white);
    background-color: var(--color-blue-light);
  }
  &_green-ligth {
    color: var(--color-white);
    background-color: var(--color-green-ligth);
  }
  &_purple {
    color: var(--color-white);
    background-color: var(--color-purple-dim);
  }
  &_purple2 {
    color: var(--color-white);
    background-color: var(--color-purple);
  }
  &_orange-light {
    color: var(--color-white);
    background-color: var(--color-orange-light);
  }
  &_orange-extra-light {
    color: var(--color-white);
    background-color: var(--color-orange-extra-light);
  }
  &_patter_green-ligth {
    .page-header__bg {
      --color-patter: var(--color-green-ligth);
    }
  }
  &_patter_green-deep {
    .page-header__bg {
      --color-patter: var(--color-green-deep);
    }
  }
  &_patter_blue {
    .page-header__bg {
      --color-patter: var(--color-blue3);
    }
  }
  &_patter_blue-alt {
    .page-header__bg {
      --color-patter: var(--color-blue2);
    }
  }
  &_patter_dark-blue {
    .page-header__bg {
      --color-patter: var(--color-blue-dark-type-1);
    }
  }
  &_patter_turquoise {
    .page-header__bg {
      --color-patter: var(--color-turquoise);
    }
  }
  &_patter_turquoise-dark {
    .page-header__bg {
      --color-patter: var(--color-turquoise-dark);
    }
  }
  &_patter_turquoise-3 {
    .page-header__bg {
      --color-patter: var(--color-turquoise-3);
    }
  }
  &_patter_turquoise-dim {
    .page-header__bg {
      --color-patter: var(--color-turquoise-dim);
    }
  }
  &_patter_pink {
    .page-header__bg {
      --color-patter: var(--color-pink-light);
    }
  }
  &_patter_pink-bright {
    .page-header__bg {
      --color-patter: var(--color-pink-bright);
    }
  }
  &_patter_orange {
    .page-header__bg {
      --color-patter: var(--color-orange);
    }
  }
  &_patter_orange-light {
    .page-header__bg {
      --color-patter: var(--color-orange-light);
    }
  }
  &_patter_yellow {
    .page-header__bg {
      --color-patter: var(--color-yellow);
    }
  }
  &_patter_green {
    .page-header__bg {
      --color-patter: var(--color-green-5);
    }
  }
  &_patter-type_1 {
    .page-header__bg {
      display: none;
      &_patter-type_1 {
        display: flex;
      }
    }
  }
  &_patter-type_2 {
    .page-header__bg {
      display: none;
      &_patter-type_2 {
        display: flex;
      }
    }
  }
  &_patter-type_3 {
    .page-header__bg {
      display: none;
      &_patter-type_3 {
        display: flex;
      }
    }
  }
  &_patter-type_4 {
    .page-header__bg {
      display: none;
      &_patter-type_4 {
        display: flex;
      }
    }
  }
  &_patter-type_5 {
    .page-header__bg {
      display: none;
      &_patter-type_5 {
        display: flex;
      }
    }
  }
  &_patter-type_6 {
    .page-header__bg {
      display: none;
      &_patter-type_6 {
        display: flex;
      }
    }
  }
  &_patter-type_7 {
    .page-header__bg {
      display: none;
      &_patter-type_7 {
        display: flex;
      }
    }
  }
  &_presentations {
    color: var(--color-white);
    background-color: var(--color-purple-dim);
    .page-header__bg {
      --color-patter: var(--color-turquoise-3);
    }
  }
  &__top-wrapper {
    @include adaptiveDesktopToMobile("padding-top", 61, 27);
    @include adaptiveDesktopToMobile("padding-bottom", 61, 27);
    @include adaptiveDesktopToMobile("min-height", 500, 300);
    position: relative;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  &__bottom-wrapper {
    display: flex;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 43px;
  }
  &__select {
  }
  &__search {
    margin-left: 20px;
    &-label {
    }
    &-input {
    }
  }
  &__btn {
    &_subscribe {
      margin-left: auto;
      width: 190px;
      padding: 0 23px;
      &::before {
        content: "";
        margin-right: 15px;
        width: 30px;
        height: 22px;
        background-image: url("../img/subcsribe.svg");
        background-size: 100% 100%;
        filter: brightness(0);
        background-repeat: no-repeat;
      }
      &:hover {
        &::before {
          filter: none;
          animation: subscribeAnimation 0.5s;
        }
      }
    }
  }
  &__sub-title {
    @include adaptiveDesktopToMobile("margin-top", 20, -18);
    margin-bottom: 20px;
    color: var(--color-grey);
    span:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 1050px;
    &-row {
      overflow: hidden;
    }
    &-link {
      &:hover {
        color: inherit;
      }
    }
  }
  &__title-word-wrapper {
    display: inline-block;
    // animation: pageAnimationWords 0.5s ease-out;
    // animation-fill-mode: forwards;
    line-height: 1.1;
    &:last-child {
      // animation-delay: 0.1s;
      // transform: translateY(200px);
      // margin-top: -30px;
    }
  }
  &__desc {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 57px;
    font-family: var(--font-family-primary);
    &.page-header__desc_large {
      @include adaptiveDesktopToMobile("font-size", 28, 20);
      line-height: 1.29;
    }
    &.page-header__desc_small {
      font-size: 16px;
      @include adaptiveDesktopToMobile("margin-top", 40, 15);
      line-height: 1.25;
    }
    span {
      display: block;
    }
  }
  &__go-back {
    margin-top: auto;
  }
  &__bg {
    display: none;
    justify-content: flex-end;
    // align-items: center;
    width: 100%;
    height: 100%;
    --color-patter: var(--color-green-ligth);
    .patter {
      width: fit-content;
      height: 100%;
      object-fit: cover;
    }
    &_patter-type_1 {
      display: flex;
    }
    &-wrapper {
      position: absolute;
      top: 0;
      // @include adaptiveDesktopToMobile("right", -46, -350);
      @include adaptiveDesktopToMobile("right", -46, -20);
      height: 100%;
      width: 56%;
      overflow: hidden;
      // @include adaptiveDesktopToMobile("padding-left", 0, 480);
    }
  }
  &_patter-shift_down {
    .page-header__bg {
      &-wrapper {
        top: 372px;
        @media screen and (max-width: 768px) {
          @include adaptiveFull("top", 372, 150, 125);
        }
      }
    }
  }
  &__cards {
    overflow: hidden;
    @include adaptiveDesktopToMobile("margin-top", 42, 23);
    padding-bottom: 100px;
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveDesktopToMobile("column-gap", 60, 0);
    }
    &-pagination {
      display: none;
    }
  }
  &__card {
    height: 440px;
    padding: 10px 0;
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        @include adaptiveDesktopToMobile("right", -30, 0);
        height: 100%;
        width: 1px;
        background-color: var(--color-blue5);
      }
    }
    &-title {
      @include adaptiveDesktopToMobile("margin-bottom", 40, 20);
    }
    &-text {
      @include adaptiveDesktopToMobile("max-width", 353, 271);
    }
  }
  &__container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__optional-content {
    @include adaptiveFull("padding-top", 20, 20, 30);
    @include adaptiveDesktopToMobile("padding-bottom", 50, 0);
  }
  &__date {
    display: flex;
    margin-bottom: 40px;
  }
  &__date-item {
    margin-bottom: 20px;
  }
  &__date-day {
    margin-right: 12px;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
  }
  &__date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__date-month-and-year {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  &__date-time {
    font-size: 16px;
    line-height: 24px;
  }
  &__btn {
    min-width: 190px;
    border-color: var(--color-white);
  }
  &_for-press {
    color: var(--color-white);
    background-image: url("../../img/for-press-header.jpg");
    background-size: cover;
  }
}

@media screen and (max-width: 1023px) {
  .page-header {
    &__sub-title {
      span:not(:last-child) {
        display: block;
        margin-right: 0;
      }
    }
    &__bg {
      @include adaptiveFull("width", 700, 600, 425);
      &-wrapper {
        @include adaptiveFull("width", 700, 500, 225);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    &__cards {
      overflow: hidden;
      position: relative;
      padding-bottom: 90px;
      &-wrapper {
        display: flex;
        column-gap: 0;
      }
      &-pagination {
        display: block;
        text-align: left;
        .swiper-pagination-bullet {
          width: 20px;
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          margin: 0 5px;
          border-radius: 0;
          &-active {
            background: var(--color-white);
          }
        }
      }
    }
    &__card {
      height: auto;
      &::before {
        display: none;
      }
      &-text {
        max-width: 100%;
      }
    }
    &_presentations {
      color: var(--color-black);
      background-color: transparent;
      .page-header__bg {
        --color-patter: var(--color-hover);
      }
    }
    &__container {
      position: static;

      color: var(--color-black);
      background-color: var(--color-white);
    }
    &__date {
      position: relative;
      justify-content: center;

      margin-bottom: 52px;
      padding-bottom: 30px;
    }
    &__date-day {
      font-size: 28px;
      line-height: 34px;
    }
    &__date-month-and-year {
      font-size: 28px;
      line-height: 34px;
    }
    &__date-time {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      text-align: center;
    }
    &__btn {
      width: 100%;
      border-color: var(--color-black);
    }
  }
}
