.partners {
  @include adaptiveDesktopToMobile("padding-top", 62, 73);
  @include adaptiveDesktopToMobile("padding-bottom", 227, 71);
}

.partners__title {
  @include adaptiveDesktopToMobile("margin-bottom", 138, 60);
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveDesktopToMobile("gap", 60, 66);

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.partners__list-item {
  max-width: 300px;

  &:nth-child(2n + 1) {
    grid-column: 1 / 1;
  }

  dt {
    margin-bottom: 20px;
    @include adaptiveDesktopToMobile("margin-bottom", 20, 10);

    color: var(--color-grey);
  }

  @media screen and (max-width: 1023px) {
    dd {
      font-size: 22px;
    }
  }
}

.partners__link {
  &:hover {
    color: var(--color-black);
  }
}

.partners__partner {
  color: var(--color-hover);
  text-transform: uppercase;
}
