.practice {
  @include adaptiveDesktopToMobile("margin-bottom", 145, 75);
}

.practice__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 21px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.practice__item {
  display: flex;
  flex-direction: column;

  padding: 20px 0;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  @media screen and (max-width: 1279px) {
    border-top: none;

    &:nth-child(1),
    &:nth-child(2) {
      border-top: 1px solid var(--color-border);
    }
  }

  @media screen and (max-width: 767px) {
    &:nth-child(2) {
      border-top: none;
    }
  }
}

.practice__wrapper {
  position: relative;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 10px 20px;

  &::after {
    position: absolute;
    top: 0;
    right: -12px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border);
  }

  .practice__item:nth-child(4n + 1) &::after,
  .practice__item:nth-child(4n + 2) &::after,
  .practice__item:nth-child(4n + 3) &::after {
    content: "";
  }

  @media screen and (max-width: 1279px) {
    .practice__item:nth-child(4n + 1) &::after,
    .practice__item:nth-child(4n + 2) &::after,
    .practice__item:nth-child(4n + 3) &::after {
      content: unset;
    }

    .practice__item:nth-child(2n + 1) &::after {
      content: "";
    }
  }

  @media screen and (max-width: 767px) {
    display: block;

    padding: 0;
  }
}

.practice__content {
  @include adaptiveDesktopToMobile("margin-bottom", 75, 55);
}

.practice__title {
  margin-bottom: 12px;
}

.practice__paragraph {
  font-family: var(--font-family-primary);
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.practice__btn-show {
  background-image: url("../../img/card-arrow.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: auto;
}
