.press {
  @include adaptiveDesktopToMobile("padding-top", 186, 72);
  overflow: hidden;
  @include adaptiveDesktopToMobile("margin-bottom", 200, 120);
  &__title {
  }
  &__cards {
    @include adaptiveDesktopToMobile("margin-top", 40, 35);
    @include adaptiveDesktopToMobile("padding-top", 40, 24);
    @include adaptiveDesktopToMobile("padding-bottom", 40, 24);
    // border-top: 1px solid rgba(185, 185, 185, 0.4);
    // border-bottom: 1px solid rgba(185, 185, 185, 0.4);
    &-row {
      margin-top: 40px;
    }
  }
  .card {
    &_large {
      border-bottom: 1px solid var(--color-border);
      border-top: none;
    }
  }
  &__show-all {
    margin: 0 auto;
    @include adaptiveDesktopToMobile("margin-top", 77, 70);
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .press {
    &__cards {
      &-row {
        border: none;
      }
    }
    &__show-all {
      width: 100%;
    }
  }
}
