.predict-services {
  @include adaptiveDesktopToMobile("margin-top", 80, 40);
}
.predict-services__title {
  @include adaptiveDesktopToMobile("margin-bottom", 80, 40);
}
.predict-services__cards-list {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    z-index: 1;
    background-color: var(--color-white);
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  .products-card {
    &:hover {
      .products-card__name {
        text-decoration: none;
      }
    }
  }
}
