.press-contacts {
  @include adaptiveDesktopToMobile("padding-top", 60, 30);
  font-family: var(--font-family-primary);
  a {
    &:hover {
      color: inherit;
    }
  }
}
.press-contacts__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  @include adaptiveDesktopToMobile("margin-bottom", 40, 20);
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    z-index: 1;
  }
}
.press-contacts__card {
  display: flex;
  flex-direction: column;
  @include adaptiveDesktopToMobile("padding-top", 50, 20);
  @include adaptiveDesktopToMobile("padding-right", 30, 0);
  @include adaptiveDesktopToMobile("padding-bottom", 35, 20);
  @include adaptiveDesktopToMobile("padding-left", 30, 0);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-border);
  }
  &:not(:nth-child(3n)) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 95%;
      width: 1px;
      background-color: var(--color-border);
    }
  }
  &:nth-child(-n + 3) {
    .press-contacts__card-more-borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 1px;
        background-color: var(--color-border);
      }
    }
  }
}
.press-contacts__card-photo {
  @include adaptiveDesktopToMobile("margin-bottom", 20, 10);
}
.press-contacts__card-photo-img {
  margin: 0 auto;
}
.press-contacts__card-where {
  font-size: 14px;
  line-height: 1.71;
  opacity: 0.6;
  @include adaptiveDesktopToMobile("margin-bottom", 20, 10);
}
.press-contacts__card-name {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 28, 20);
  line-height: 1.21;
  color: #000000;
  @include adaptiveDesktopToMobile("margin-bottom", 20, 10);
}
.press-contacts__card-description {
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  line-height: 1.33;
  max-width: 370px;
  @include adaptiveDesktopToMobile("margin-bottom", 25, 15);
}
.press-contacts__card-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.press-contacts__card-email {
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  line-height: 1.33;
  color: var(--color-blue-dark-type-2);
}
.press-contacts__card-logo {
  display: flex;
  margin: 0 -11px;
}
.press-contacts__card-logo-img {
  margin: 0 11px;
}

.press-contacts__footer {
  background-color: var(--color-blue-light);
  color: var(--color-white);
  @include adaptiveDesktopToMobile("padding-top", 50, 25);
  @include adaptiveDesktopToMobile("padding-bottom", 30, 15);
}
.press-contacts__footer-wrapper {
  display: grid;
  grid-template-columns: 5fr 3fr 4fr;
}
.press-contacts__footer-description {
  @include adaptiveDesktopToMobile("margin-top", 18, 10);
}
.press-contacts__footer-block {
  @include adaptiveDesktopToMobile("padding-left", 30, 15);
  @include adaptiveDesktopToMobile("padding-right", 30, 15);
  @include adaptiveDesktopToMobile("padding-bottom", 60, 30);
  @include adaptiveDesktopToMobile("padding-top", 20, 10);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-blue-light2);
  }
  &:not(:nth-child(3n)) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 95%;
      width: 1px;
      background-color: var(--color-blue-light2);
    }
  }
}
.press-contacts__footer-item {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 20, 10);
  }
}
.press-contacts__footer-item-title {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-blue2);
}
.press-contacts__footer-item-description {
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  line-height: 1.78;
  max-width: 490px;
}
.press-contacts__footer-social-links {
  @include adaptiveDesktopToMobile("margin-left", -8, -4);
  @include adaptiveDesktopToMobile("margin-right", -8, -4);
  @include adaptiveDesktopToMobile("margin-top", -8, -4);
  @include adaptiveDesktopToMobile("margin-bottom", -8, -4);
}
.press-contacts__footer-social-link {
  @include adaptiveDesktopToMobile("margin-left", 8, 4);
  @include adaptiveDesktopToMobile("margin-right", 8, 4);
  @include adaptiveDesktopToMobile("margin-top", 8, 4);
  @include adaptiveDesktopToMobile("margin-bottom", 8, 4);
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.1);
  }
}
.press-contacts__footer-social-link-img {
}
.press-contacts__footer-block_big {
  grid-column: span 3;
  @include adaptiveDesktopToMobile("padding-bottom", 30, 15);
  @include adaptiveDesktopToMobile("padding-top", 40, 20);
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
  .press-contacts__footer-item {
    display: flex;
    align-items: center;
  }
}
.press-contacts__footer-question {
  border-color: var(--color-white);
  border-radius: 6px;
  @include adaptiveDesktopToMobile("margin-right", 50, 25);
  &:hover {
    color: var(--color-white);
    border-color: var(--color-white);
    opacity: 0.8;
  }
}

@media screen and (max-width: 1023px) {
  .press-contacts__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .press-contacts__card {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 95%;
      width: 1px;
      background-color: var(--color-border);
    }
    &:nth-child(even) {
      &::after {
        display: none;
      }
    }
    &:nth-child(3) {
      .press-contacts__card-more-borders {
        &::before {
          display: none;
        }
      }
    }
  }
  .press-contacts__footer-wrapper {
    grid-template-columns: auto;
  }
  .press-contacts__footer-block {
    padding: 15px;
    &::after {
      display: none;
    }
  }
  .press-contacts__footer-block_big {
    grid-column: auto;
  }
}

@media screen and (max-width: 767px) {
  .press-contacts__cards {
    grid-template-columns: auto;
  }
  .press-contacts__card {
    &::after {
      display: none;
    }
    &::before {
      width: 100%;
    }
    &:nth-child(2) {
      .press-contacts__card-more-borders {
        &::before {
          display: none;
        }
      }
    }
    &:nth-child(odd),
    &:nth-child(even) {
      .press-contacts__card-more-borders {
        &::before {
          width: 100%;
        }
      }
    }
  }
  .press-contacts__footer-block_big {
    .press-contacts__footer-item {
      flex-direction: column;
    }
  }
  .press-contacts__footer-question {
    margin: 0 0 15px 0;
    width: 100%;
  }
}
