.predict-contacts {
  @include adaptiveDesktopToMobile("margin-top", 80, 40);
  @include adaptiveDesktopToMobile("margin-bottom", 140, 70);
}
.predict-contacts__title {
}
.predict-contacts__list {
  @include adaptiveDesktopToMobile("margin-top", 70, 30);
  display: flex;
  flex-wrap: wrap;
}
.predict-contacts__list-item {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-right", 100, 20);
  }
}
.predict-contacts__link {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 28, 16);
  line-height: 1.21;
  color: var(--color-grey);
  padding: 10px 0;
}
