.projects-row-big {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.projects-row-big__item {
  display: flex;
  flex-direction: column;

  padding: 20px 0;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.projects-row-big__card {
  position: relative;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &::after {
    position: absolute;
    top: 0;
    right: -12px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border);
  }

  .projects-row-big__item:nth-child(3n + 1) &::after,
  .projects-row-big__item:nth-child(3n + 2) &::after {
    content: "";
  }

  @media screen and (max-width: 1023px) {
    .projects-row-big__item:nth-child(3n + 1) &::after,
    .projects-row-big__item:nth-child(3n + 2) &::after {
      content: unset;
    }
  }
}

.projects-row-big__card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 10px 20px;

  @media screen and (max-width: 767px) {
    padding: 22px 0;
  }
}

.projects-row-big__card-paragraph {
  @include adaptiveDesktopToMobile("font-size", 18, 14);
  font-family: var(--font-family-primary);
  line-height: 1.78;
  max-width: 370px;
}

.projects-row-big__card-title {
  @include adaptiveDesktopToMobile("margin-bottom", 15, 24);
}

.projects-row-big__card-text-content {
  @include adaptiveDesktopToMobile("margin-bottom", 95, 40);
}

.projects-row-big__card-logo {
  @include adaptiveDesktopToMobile("margin-bottom", 26, 15);
}

.projects-row-big__card-logo-img {

}

.projects-row-big__card-paragraph {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.projects-row-big__card-footer {
  margin-top: auto;
}

.projects-row-big__card-btn {
  width: 210px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
