.projects {
  @include adaptiveDesktopToMobile("padding-top", 140, 70);
  // @include adaptiveDesktopToMobile("padding-bottom", 187, 70);
  overflow: hidden;
  &_landing-page {
    padding: 100px 0;
  }
  &__title {
    @include adaptiveDesktopToMobile("margin-bottom", 90, 30);
    .projects_landing-page & {
      max-width: 1100px;
      @include adaptiveDesktopToMobile("margin-bottom", 55, 55);
    }
  }
  &__desc {
    max-width: 860px;
    margin-bottom: 130px;
  }
  &-swiper {
    width: 100vw;
    pointer-events: none;
  }
  &__cards {
    // @include adaptiveDesktopToMobile("margin-top", 90, 30);
    display: grid;
    @include adaptiveDesktopToMobile("row-gap", 44, 26);
    @include adaptiveDesktopToMobile("column-gap", 60, 36);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    @include adaptiveDesktopToMobile("margin-right", 44, 26);
    @include adaptiveDesktopToMobile("max-width", 2364, 1418);
    @include adaptiveDesktopToMobile("width", 2364, 1418);
    &-slide {
      width: fit-content;
      transition-timing-function: linear;
    }
    &-wrapper {
      transition-timing-function: linear;
    }
  }
  &__card {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    @include adaptiveDesktopToMobile("padding", 16, 0);
    // @include adaptiveDesktopToMobile("width", 166, 112);
    // @include adaptiveDesktopToMobile("height", 166, 112);
    overflow: hidden;
    &-logo {
      @include adaptiveDesktopToMobile("width", 110, 66);
      @include adaptiveDesktopToMobile("height", 110, 66);
      // width: 110px;
      // height: 110px;
      img {
        width: 100%;
      }
    }
    // &-name {
    //   margin-top: 13px;
    //   @include adaptiveDesktopToMobile("font-size", 14, 12);
    //   text-align: center;
    //   line-height: 1.71;
    //   color: var(--color-grey);
    // }
    &-pic {
      position: relative;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      &-img {
        width: auto;
        height: 100%;
        max-width: unset;
      }
    }
    // &-video {
    //   width: 100%;
    //   // max-height: 100%;
    //   object-fit: cover;
    //   border-radius: 22px;
    // }
    &_large {
      grid-column: span 2;
      grid-row: span 2;
      @include adaptiveDesktopToMobile("width", 330, 198);
      @include adaptiveDesktopToMobile("height", 330, 198);
      // @include adaptiveDesktopToMobile("height", 296, 247);
      border-radius: 22px;
      padding: 0 !important;
      .projects__card-pic-img {
        @include adaptiveDesktopToMobile("max-height", 330, 198);
      }
    }
    &_medium {
      grid-column: span 2;
      @include adaptiveDesktopToMobile("width", 330, 198);
      @include adaptiveDesktopToMobile("height", 142, 85);
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 22px;
      padding: 0 !important;
      .projects__card-pic-img {
        @include adaptiveDesktopToMobile("max-height", 142, 85);
      }
    }
  }
  &__show-all {
    margin: 0 auto;
    @include adaptiveDesktopToMobile("margin-top", 100, 70);
    .projects_landing-page & {
      margin-top: 75px;
    }
  }
}
.container {
}
.container_content {
}
.swiper-container-free-mode > .projects__cards-wrapper.swiper-wrapper {
  transition-timing-function: linear;
}
