.products-row {
  padding-top: 26px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.products-row__item {
  width: calc(100% / 4);
  position: relative;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 94.5%;
      background-color: var(--color-border);
    }
  }
}
.products-card {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  height: 100%;
  @include adaptiveDesktopToMobile("padding", 30, 0);
  @include adaptiveDesktopToMobile("padding-top", 40, 30);
  @include adaptiveDesktopToMobile("padding-bottom", 30, 20);
  position: relative;
  &:hover {
    text-decoration: none;
    color: inherit;
    .products-card__name {
      text-decoration: underline;
    }
    .products-card__show {
      animation: 0.5s arrowAnimationType-1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 94.5%;
    background-color: var(--color-border);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background-color: var(--color-border);
  }
}
.products-card__logo {
  margin-bottom: 25px;
}
.products-card__logo-img {
  max-width: 68px;
}
.products-card__name {
  margin-bottom: 15px;
}
.products-card__description {
  font-family: var(--font-family-primary);
  max-width: 250px;
  margin-bottom: 25px;
}
.products-card__show {
  background-image: url("../../img/card-arrow.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: auto;
}

.banner-products-row {
}
.banner-products-row__item {
}
.banner-products-card {
  &:hover {
    color: inherit;
  }
}
.banner-products-card__logo {
  margin-bottom: 24px;
}
.banner-products-card__name {
  margin-bottom: 12px;
}
.banner-products-card__description {
  max-width: 280px;
  font-family: var(--font-family-primary);
}

@media screen and (max-width: 1439px) {
  .products-row__item {
    width: calc(100% / 3);
    &:nth-child(4) {
      &::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .products-row {
    flex-wrap: nowrap;
    overflow-y: visible;
    overflow-x: scroll;
    @include adaptiveDesktopToMobile("margin-right", -46, -20);
  }
  .products-row__item {
    margin-right: 20px;
    width: fit-content;
    &:nth-child(odd),
    &:nth-child(even) {
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 94.5%;
        background-color: var(--color-border);
      }
    }
  }
  .products-card {
    min-width: 232px;
    &::after {
      display: none;
    }
  }
}
