.products {
  @include adaptiveDesktopToMobile("padding-top", 70, 30);
  @include adaptiveDesktopToMobile("padding-bottom", 120, 30);
}
.container {
}
.vk {
}
.vk__wrapper {
  @include adaptiveDesktopToMobile("margin-bottom", 120, 30);
}
.vk__title {
  @include adaptiveDesktopToMobile("margin-bottom", 24, 12);
}
.section-title {
}
.vk__subtitle {
}
.section-subtitle {
}
.vk__cards {
  @include adaptiveDesktopToMobile("margin-top", 70, 20);
}
.vk-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.vk-card {
  padding: 30px;
  position: relative;
  min-height: 200px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 95%;
    height: 1px;
    background-color: var(--color-border);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--color-border);
  }
  &:not(:last-child) {
    .vk-card__more-borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 95%;
        background-color: var(--color-border);
      }
    }
  }
}
.vk-card__wrapper {
}
.vk-card__logo {
}
.vk-card__logo-img {
}
.vk-card__name {
  color: var(--color-grey);
  max-width: 85%;
  @include adaptiveDesktopToMobile("margin-top", 30, 15);
}

.vk__lists {
}
.vk-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.vk-lists__column {
}
.vk-list {
  
  // display: flex;
  // align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--color-border);
  &:first-child {
    border-top: 1px solid var(--color-border);
  }
  &:not(:last-child) {
    // margin-bottom: 34px;
  }
  &.active {
    padding-bottom: 40px;
    .vk-list__name {
      &::after {
        transform: rotate(180deg);
      }
    }
    .vk-list__items {
      display: block;
    }
  }
}
.vk-list__name {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 110px;
  &::after {
    content: "";
    min-width: 16px;
    min-height: 9px;
    display: inline-block;
    background-image: url("../../img/vk-lists-dropdown.png");
    background-size: 100% 100%;
    margin-left: 15px;
    transform-origin: center center;
    transition: transform 0.2s linear;
  }
}
.vk-list__items {
  display: none;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.vk-list__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.vk-list__item-logo {
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  margin-right: 12px;
  img {
    width: 100%;
    height: 100%;
  }
}
.services-card__logo-img {
  width: 100%;
  height: 100%;
}
.vk-list__item-name {

}
.vk-list__subname {
  margin-bottom: 23px;
}

@media screen and (max-width: 1279px) {
  .vk-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .vk-card {
    &:nth-child(n + 4) {
      &::before {
        display: none;
      }
    }
    &:nth-child(3) {
      .vk-card__more-borders {
        &::before {
          display: none;
        }
      }
    }
    &:nth-child(5) {
      .vk-card__more-borders {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 95%;
          background-color: var(--color-border);
        }
      }
    }
  }
  .vk-lists {
    grid-template-columns: repeat(2, 1fr);
  }
  .vk-lists__column {
    &:nth-child(n + 3) {
      .vk-list {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .vk-cards {
    grid-template-columns: auto;
  }
  .vk-card__more-borders {
    display: none;
  }
  .vk-card {
    padding: 20px 0;
    min-height: auto;
    &::before, &::after {
      width: 100%;
    }
    &:not(:first-child) {
      &::before {
        display: none;
      }
    }
  }
  .vk-lists {
    grid-template-columns: repeat(1, 1fr);
  }
  .vk-lists__column {
    &:not(:first-child) {
      .vk-list {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  .vk-list {
    padding: 0;
    &.active {
      padding-bottom: 20px;
    }
  }
  .vk-list__name {
    min-height: auto;
    padding: 20px 0;
  }
}