.projects-page {
  @include adaptiveDesktopToMobile("padding-top", 40, 0);
  @include adaptiveDesktopToMobile("padding-bottom", 240, 60);
  &__list-links-wrapper {
    overflow: hidden;
    // max-width: 1350px;
    margin: 0 auto;
  }
  &__list-links {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-border);
    margin-right: -2px;
  }
  &__list-item-links {
    background-color: #fff;
    flex-grow: 1;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-border);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 65%;
      background-color: var(--color-border);
    }
  }
  &__link {
    @include adaptiveDesktopToMobile("padding-left", 27, 0);
    @include adaptiveDesktopToMobile("padding-right", 27, 0);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
  &__chapter {
    @include adaptiveDesktopToMobile("padding-top", 90, 55);
  }
  &__chapter-title {
    @include adaptiveDesktopToMobile("margin-bottom", 57, 2);
    @include adaptiveDesktopToMobile("font-size", 96, 35);
  }
  &__chapter-subtitle {
    @include adaptiveDesktopToMobile("margin-top", 93, 45);
    @include adaptiveDesktopToMobile("margin-bottom", 40, 15);
    @include adaptiveDesktopToMobile("font-size", 38, 28);
  }
  &__cards-list-wrapper {
    position: relative;
    color: var(--color-white);
    min-height: 780px;
    &.products-row {
      @include adaptiveDesktopToMobile("padding-top", 40, 20);
    }
    .products-row__item {
      &::before {
        background-color: rgba(227, 227, 227, 0.3);
      }
      &:nth-child(-n + 5) {
        &::before {
          display: none;
        }
      }
      &:nth-child(n + 5) {
        .products-card {
          &::before {
            display: none;
          }
        }
        &::before {
          display: none;
        }
      }
    }

    .products-card {
      &::before {
        background-color: rgba(227, 227, 227, 0.3);
      }
      &::after {
        background-color: rgba(227, 227, 227, 0.3);
      }
    }
    .products-card__show {
      filter: invert(1);
    }
  }
  &__cards-list-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
  }
  &__cards-list-bg-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__cards-combo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // .projects-page__cards-list {
    //   grid-column: span 2;
    // }
    .projects-page__cards-list-item {
      width: calc(100% / 2);
    }
  }
  &__cards-list {
  }
  &__cards-list-item {
  }
  &__card {
  }
  &__select {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .projects-page {
    &__cards-list-wrapper {
      .products-row__item {
        &:nth-child(n + 4) {
          .products-card {
            &::before {
              display: none;
            }
          }
        }
      }
    }
    &__cards-combo {
      grid-template-columns: 2fr 1fr;
      .projects-page__chapter-subtitle {
      }
      .projects-page__cards-list {
        &:last-child {
          .projects-page__cards-list-item {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .projects-page {
    &__cards-list-wrapper {
      min-height: auto;
      color: inherit;
      .products-card {
        &::before {
          background-color: var(--color-border);
        }
      }
      .products-row__item {
        &:nth-child(even),
        &:nth-child(odd) {
          &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 94.5%;
            background-color: var(--color-border);
          }
          .products-card {
            &::before {
              display: block;
            }
          }
        }
      }
      .products-card__show {
        filter: unset;
      }
    }
    &__cards-list-bg {
      display: none;
    }
    &__cards-combo {
      grid-template-columns: auto;
      .projects-page__chapter-subtitle {
        &:nth-child(2) {
          grid-row-start: 3;
        }
      }
      .projects-page__cards-list {
        .projects-page__cards-list-item {
          width: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects-page {
    position: relative;
    padding-top: 0;
    &__list-links-wrapper {
      display: none;
    }
    &__chapter {
      @include adaptiveDesktopToMobile("padding-top", 170, 135);
      margin-top: -80px;
    }
    &__select {
      display: block;
      position: sticky;
      background-color: #fff;
      @include adaptiveDesktopToMobile("top", 79, 59);
      font-size: 16px;
      z-index: 1;
      @include adaptiveDesktopToMobile("margin-left", -46, -20);
      @include adaptiveDesktopToMobile("margin-right", -46, -20);
      @include adaptiveDesktopToMobile("padding-left", 46, 20);
      @include adaptiveDesktopToMobile("padding-right", 46, 20);
      // width: 100vw;
      font-family: var(--font-family-main);
      .custom-select__button {
        border: none;
        border-bottom: 1px solid var(--color-border);
        max-width: none;
        border-radius: unset;
        font-family: var(--font-family-main);
      }
      .custom-select__list {
        max-width: 100%;
        @include adaptiveDesktopToMobile("margin-left", -46, -20);
        @include adaptiveDesktopToMobile("margin-right", -46, -20);
        @include adaptiveDesktopToMobile("padding-left", 46, 20);
        @include adaptiveDesktopToMobile("padding-right", 46, 20);
        font-family: var(--font-family-main);
      }
      &.custom-select.is-open .custom-select__list {
        border: none;
        border-bottom: 1px solid var(--color-border);
        border-color: var(--color-border);
      }
      .custom-select__item[aria-selected="true"] {
        color: inherit;
      }
    }
  }
}
