.promo {
  margin: 0 auto;
  @include adaptiveDesktopToMobile("margin-top", 200, 72);
  padding-bottom: 130px;
  position: relative;
  max-width: 1440px;
}
.container {
}
.container_content {
}
.promo__title {
  max-width: 1000px;
  @include adaptiveDesktopToMobile("font-size", 64, 28);
  @include adaptiveDesktopToMobile("margin-bottom", 88, 30);
}
.title-h3 {
}
.promo__cards {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  @include adaptiveDesktopToMobile("column-gap", 134, 0);
}
.promo__cards-list {
}
.promo__card {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 145, 60);
  }
}
.promo__card-photo {
  @include adaptiveDesktopToMobile("margin-bottom", 22, 18);
}
.promo__card-photo-img {
}
.promo__card-text {
  @include adaptiveDesktopToMobile("padding-left", 15, 0);
  @include adaptiveDesktopToMobile("padding-right", 15, 0);
  max-width: 550px;
}
.promo__card-title {
  @include adaptiveDesktopToMobile("font-size", 36, 28);
  margin-bottom: 13px;
}
.title-h4 {
}
.promo__card-description {
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  line-height: 1.78;
}
.promo__bgs {
}
.promo__bg {
  position: absolute;
  --color-patter: var(--color-white-almost);
  z-index: -1;
  @include adaptiveDesktopToMobile("width", 750, 375);
  @include adaptiveDesktopToMobile("height", 500, 250);
}
.promo__bg_middle {
  top: 60%;
  left: -15%;
  transform: translateY(-50%);
}
.promo__bg_bottom {
  bottom: 0;
  right: -15%;
}

@media screen and (max-width: 1024px) {
  .promo {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    margin-bottom: -10px;
  }
  .promo__cards {
    grid-template-columns: auto;
  }
  .promo__cards-list {
    &:not(:last-child) {
      @include adaptiveDesktopToMobile("margin-bottom", 145, 60);
    }
  }
  .promo__card {
    padding-top: 20px;
    border-top: 1px solid var(--color-border);
  }
  .promo__card-photo {
    @include adaptiveFull("height", 400, 400, 200);
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .promo__card-photo-img {
    width: 100%;
    object-fit: cover;
  }
  .promo__card-text {
    padding: 0;
  }
  .promo__bg_bottom {
    right: -50%;
  }
}
