.profit {
  background-color: var(--color-white-almost);
}
.container {
}
.profit__prompt {
  @include adaptiveDesktopToMobile("height", 170, 40);
  display: flex;
  align-items: center;
  max-width: 1085px;
  margin: 0 auto;
}
.profit__prompt-item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-right", 26, 10);
  }
  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 2px;
    @include adaptiveDesktopToMobile("margin-right", 14, 7);
  }
  &:nth-child(1) {
    &::before {
      background-color: var(--color-blue-dark-type-2);
    }
  }
  &:nth-child(2) {
    &::before {
      background-color: var(--color-blue8);
    }
  }
  &:nth-child(3) {
    &::before {
      background-color: var(--color-blue8);
    }
  }
}
.profit__diagram {
}
.profit-diagram {
  @include adaptiveDesktopToMobile("height", 480, 130);
  background-color: var(--color-bg--main);
  position: relative;
  .container {
    height: 100%;
  }
}
.profit-diagram__background {
  @include adaptiveDesktopToMobile("padding-top", 40, 11);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  i {
    display: block;
    @include adaptiveDesktopToMobile("height", 40, 11);
    background-color: #fff;
    @include adaptiveDesktopToMobile("margin-bottom", 40, 11);
  }
}
.profit-diagram-pic {
  min-width: 97%;
  min-height: 98%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.profit__more {
  background-color: var(--color-blue-dark-type-2);
  @include adaptiveDesktopToMobile("padding-top", 40, 15);
  @include adaptiveDesktopToMobile("padding-bottom", 40, 15);
  font-family: var(--font-family-primary);
  @include adaptiveDesktopToMobile("margin-top", 100, 40);
}
.profit__more-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-white);
}
.profit__more-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 27px;
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 95%;
      background-color: var(--color-blue4);
    }
  }
  .profit__more-item-borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      height: 1px;
      background-color: var(--color-blue4);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      height: 1px;
      background-color: var(--color-blue4);
    }
  }
}
.profit__more-item-name {
  @include adaptiveDesktopToMobile("font-size", 28, 20);
  @include adaptiveDesktopToMobile("margin-bottom", 36, 18);
}

[data-percent] {
  opacity: 0;
}
.profit__more-item-number {
  font-size: 82px;
  @include adaptiveDesktopToMobile("font-size", 96, 26);
  @include adaptiveDesktopToMobile("margin-bottom", 24, 12);
  span {
    @include adaptiveDesktopToMobile("font-size", 140, 50);
  }
}
.profit__more-item-description {
  @include adaptiveDesktopToMobile("font-size", 28, 20);
  @include adaptiveDesktopToMobile("margin-bottom", 40, 0);
}



@media screen and (max-width: 991px) {
  .profit__more-items {
    grid-template-columns: auto;
  }
  .profit__more-item {
    align-items: center;
    &::after {
      display: none;
    }
    &:not(:first-child) {
      .profit__more-item-borders {
        &::before, &::after {
          width: 100%;
        }
        &::before {
          display: none;
        }
      }
    }
  }
  .profit__more-item-description {
    text-align: center;
  }
}
