.projects {
  @include adaptiveDesktopToMobile("margin-top", 187, 73);
  overflow: hidden;
  &__title {
  }
  &__cards {
    @include adaptiveDesktopToMobile("width", 2221, 1519);
    @include adaptiveDesktopToMobile("height", 504, 342);
    @include adaptiveDesktopToMobile("margin-top", 90, 40);
    pointer-events: none;
    &.swiper-container-free-mode {
      .swiper-wrapper {
        transition-timing-function: linear;
      }
    }
  }
  &__show-all {
    margin: 0 auto;
    @include adaptiveDesktopToMobile("margin-top", 100, 70);
  }
}
