.product-presentation {
  padding-top: 40px;
}
.product-presentation__description {
  max-width: 1020px;
  @include adaptiveDesktopToMobile("font-size", 28, 16);
}
.product-presentation__slider {
  max-width: 1020px;
  margin: 0;
  @include adaptiveDesktopToMobile("margin-top", 80, 40);
}
.product-presentation__slider-wrapper {
}
.product-presentation__slide {
  background-color: var(--color-dark-grey3);
  color: var(--color-white);
  @include adaptiveDesktopToMobile("padding", 60, 20);
  @include adaptiveDesktopToMobile("min-height", 565, 280);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-presentation__logo {
}
.product-presentation__logo-img {
}
.product-presentation__slider-title {
}
.product-presentation__slider-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include adaptiveDesktopToMobile("margin-top", 40, 20);
}
.product-presentation__slider-controls {
  display: flex;
  align-items: center;
}
.product-presentation__slider-btn {
  width: 27px;
  height: 27px;
  background-image: url("../../img/arrow-btn.svg");
  background-size: 100% 100%;
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.15);
  }
}
.product-presentation__slider-btn_prev {
}
.product-presentation__slider-counter {
  @include adaptiveDesktopToMobile("margin-left", 50, 20);
  @include adaptiveDesktopToMobile("margin-right", 50, 20);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 18px;
}
.product-presentation__slider-counter-active {
}
.product-presentation__slider-counter-all {
}
.product-presentation__slider-btn_next {
  transform: rotate(180deg);
  &:hover {
    transform: rotate(180deg) scale(1.15);
  }
}
.product-presentation__download {
  width: 22px;
  height: 27px;
  background-image: url("../../img/pdf-icon.svg");
  background-size: 100% 100%;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 0.8;
  }
}
