.products {
  // @include adaptiveDesktopToMobile("padding-top", 145, 32);
  overflow: hidden;
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    height: 874px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(185, 185, 185, 0.4);
    border-bottom: 1px solid rgba(185, 185, 185, 0.4);
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include adaptiveLargeDesktopToMobile("background-position", 350, 110);
    @media screen and (max-width: 768px) {
      @include adaptiveFull("background-position", 322, 708, 280);
    }
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: -10px;
      height: 100%;
      width: 1px;
      background-color: rgba(185, 185, 185, 0.4);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -10px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(185, 185, 185, 0.4);
    }
    &:nth-of-type(4),
    &:nth-of-type(7),
    &:nth-of-type(12) {
      &::before {
        display: none;
      }
    }
    &:nth-of-type(10),
    &:nth-of-type(12),
    &:nth-of-type(13),
    &:nth-of-type(14) {
      &::after {
        display: none;
      }
    }
    &-bg {
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      &-wrapper {
        position: absolute;
        bottom: 0;
        height: 53%;
        max-width: 100%;
        width: 100%;
        right: 0;
        overflow: hidden;
      }
    }
    &:hover {
      color: var(--color-white);
      text-decoration: none;
      // .products {
      //   &__card {
      //     &-bg {
      //       opacity: 1;
      //     }
      //   }
      // }
    }
    &:nth-child(1) {
      grid-area: 1 / 1 / 3 / 2;
    }
    &:nth-child(5) {
      grid-area: 2 / 2 / 4 / 3;
    }
    &:nth-child(7) {
      grid-area: 2 / 4 / 4 / 5;
    }
    &:nth-child(9) {
      grid-area: 3 / 3 / 5 / 4;
    }
    &:nth-child(10) {
      grid-area: 4 / 1 / 6 / 2;
    }
    &:nth-child(12) {
      grid-area: 4 / 4 / 6 / 5;
    }
    &_blue {
      background-image: linear-gradient(0deg, var(--color-blue-dark-type-2), var(--color-blue-dark-type-2));
      --color-patter: var(--color-blue3);
    }
    &_violet {
      background-image: linear-gradient(0deg, var(--color-purple2), var(--color-purple2));
      --color-patter: var(--color-purple6);
    }
    &_violet-light {
      background-image: linear-gradient(0deg, var(--color-purple-dim), var(--color-purple-dim));
      --color-patter: var(--color-purple3);
    }
    &_pink {
      background-image: linear-gradient(0deg, var(--color-pink2), var(--color-pink2));
      --color-patter: var(--color-pink3);
    }
    &_pink-another-patter {
      --color-patter: var(--color-pink4);
    }
    &_pink-light {
      background-image: linear-gradient(0deg, var(--color-pink-bright2), var(--color-pink-bright2));
      --color-patter: var(--color-blue-dark-type-1);
    }
    &_pink-dark {
      background-image: linear-gradient(0deg, var(--color-pink5), var(--color-pink5));
      --color-patter: var(--color-blue-dark-type-1);
    }
    &_green1 {
      background-image: linear-gradient(0deg, var(--color-green-3), var(--color-green-3));
      --color-patter: var(--color-green-2);
    }
    &_green2 {
      background-image: linear-gradient(0deg, var(--color-green-3), var(--color-green-3));
      --color-patter: var(--color-green-ligth-4);
    }
    &_orange {
      background-image: linear-gradient(0deg, var(--color-orange-light), var(--color-orange-light));
      background-color: var();
      --color-patter: var(--color-orange);
    }
    &_turquoise {
      background-image: linear-gradient(0deg, var(--color-turquoise-3), var(--color-turquoise-3));
    }
    &_patter {
      // &:hover {
      //   align-items: flex-start;
      //   padding-top: 62px;
      // }
      &-1 {
        &:hover {
        }
      }
      &-2 {
        &:hover {
        }
      }
      &-3 {
        .products {
          &__card {
            overflow: hidden;
            &-bg {
              width: 126%;
              height: 145%;
              // margin-left: -20px;
            }
          }
        }
      }
    }
    &-title {
      font-family: var(--font-family-primary);
      font-weight: 500;
      font-size: 24px;
      line-height: 1.33;
      max-width: 195px;
      text-align: center;
    }
  }
  &__show-more {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .products {
    padding-bottom: 61px;
    &__cards {
      grid-template-columns: auto;
      grid-template-rows: auto;
      height: auto;
      border: none;
    }
    &__card {
      grid-area: auto !important;
      height: 180px;

      &::before,
      &::after {
        display: none;
      }
      border-bottom: 1px solid rgba(185, 185, 185, 0.4);
      &:first-of-type {
        border-top: 1px solid rgba(185, 185, 185, 0.4);
      }
      &_patter {
        &:hover {
          align-items: center;
          padding: 0;
        }
      }
      &-bg {
        display: none;
      }
    }
    &__show-more {
      display: flex;
      margin-top: 68px;
      width: 100%;
      padding-left: 18px;
    }
  }
}
