.release-content {
  @include adaptiveDesktopToMobile("margin-top", 55, 40);
  @include adaptiveDesktopToMobile("margin-bottom", 64, 70);
}

.release-content__paragraph {
  @include adaptiveFull("padding-left", 130, 0, 0);
  @include adaptiveFull("padding-right", 130, 0, 0);
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &_accent {
    &:not(:first-child) {
      @include adaptiveDesktopToMobile("margin-top", 105, 50);
    }

    &:not(:last-child) {
      @include adaptiveDesktopToMobile("margin-bottom", 105, 50);
    }
  }

  @media screen and (max-width: 1023px) {
    &_accent {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

.release-content__paragraph img {
  max-width: 100%;
  height: auto !important;
}

.release-content__footer {
  @include adaptiveDesktopToMobile("margin-bottom", 300, 112);
  @include adaptiveFull("padding-left", 130, 0, 0);
  @include adaptiveFull("padding-right", 130, 0, 0);
}
