.responsibility-systems {
  background-color: var(--color-blue8);
  color: var(--color-white);
  @include adaptiveDesktopToMobile('padding-top', 50, 20);
  @include adaptiveDesktopToMobile('padding-bottom', 100, 40);
  position: relative;
  overflow: hidden
}
.responsibility-systems__wrapper {
  @include adaptiveDesktopToMobile('padding-left', 110, 0);
  @include adaptiveDesktopToMobile('padding-right', 110, 0);
}
.responsibility-systems__title {
}
.responsibility-systems__description {
  @include adaptiveDesktopToMobile('margin-top', 45, 20);
  @include adaptiveDesktopToMobile('font-size', 18, 14);
  line-height: 1.78;
  max-width: 800px;
}
.responsibility-systems__list {
  @include adaptiveDesktopToMobile('margin-top', 45, 20);

  .projects-row-big__item {
    border-top: 1px solid var(--color-blue10);
    border-bottom: 1px solid var(--color-blue10);
  }

  .projects-row-big__card {
    &::after {
      background-color: var(--color-blue10);
    }
  }

  .projects-row-big__card-btn {
    border: 1px solid var(--color-white);
    &::after {
      filter: brightness(0) invert(1);
    }
    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }
}
.responsibility-systems__item {
}
.responsibility-systems__bg {
  @include adaptiveDesktopToMobile('width', 720, 288);
  @include adaptiveDesktopToMobile('height', 375, 150);
  position: absolute;
  bottom: 0;
  right: 0;
  --color-patter: var(--color-blue11);
  transform: translateY(30%);
}