.responsibility-help {
  @include adaptiveDesktopToMobile('margin-top', 70, 30);
}
.responsibility-help__wrapper {
  @include adaptiveDesktopToMobile('padding-left', 110, 0);
  @include adaptiveDesktopToMobile('padding-right', 110, 0);
}
.responsibility-help__title {
}
.responsibility-help__description {
  @include adaptiveDesktopToMobile('margin-top', 45, 20);
  @include adaptiveDesktopToMobile('font-size', 18, 14);
  line-height: 1.78;
  max-width: 800px;
}
.responsibility-help__list {
  @include adaptiveDesktopToMobile('margin-top', 130, 30);
}
.responsibility-help__item {
}