.responsibility-examples {
  @include adaptiveDesktopToMobile('padding-top', 80, 10);
  @include adaptiveDesktopToMobile('margin-bottom', 75, 40);
  @include adaptiveDesktopToMobile('padding-bottom', 75, 40);
  position: relative;
  overflow: hidden;
  .content-card__paragraph {
    max-width: 560px;
  }
  .content-card__title {
    @include adaptiveDesktopToMobile('font-size', 38, 26);
  }
  .content-card__paragraph {
    @include adaptiveDesktopToMobile('font-size', 18, 14);
  }
}
.responsibility-examples__bg {
  position: absolute;
  --color-patter: var(--color-white-almost);
}
.responsibility-examples__bg_top {
  @include adaptiveDesktopToMobile('width', 575, 230);
  @include adaptiveDesktopToMobile('height', 380, 152);
  top: 10%;
  left: 0;
}
.responsibility-examples__bg_bottom {
  @include adaptiveDesktopToMobile('width', 900, 230);
  @include adaptiveDesktopToMobile('height', 500, 152);
  bottom: 0;
  right: 0;
  transform: translate(20%, 35%);
}