.responsibility-review {
  @include adaptiveDesktopToMobile('margin-top', 75, 25);
}
.responsibility-review__wrapper {
  @include adaptiveDesktopToMobile('padding-left', 110, 0);
  @include adaptiveDesktopToMobile('padding-right', 110, 0);
  max-width: 1085px;
}
.responsibility-review__title {
}
.responsibility-review__description {
  @include adaptiveDesktopToMobile('margin-top', 45, 20);
  @include adaptiveDesktopToMobile('font-size', 18, 14);
  line-height: 1.78;
}
.responsibility-review__description-link {
  text-decoration: underline;
  &:hover {
    color: inherit;
  }
}
.responsibility-review__photo {
  @include adaptiveDesktopToMobile('margin-top', 60, 20);
}
.responsibility-review__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}