.rise {
  @include adaptiveDesktopToMobile("padding-bottom", 230, 40);
  font-family: var(--font-family-primary);
}
.container {
}
.rise__title {
  @include adaptiveDesktopToMobile("margin-bottom", 50, 20);
}
.rise__grid {
}
.rise-grid__row {
  display: grid;
  grid-template-columns: 2.66fr 2.68fr 2.54fr 1fr;
  background-color: #fff;
  @include adaptiveDesktopToMobile("height", 80, 40);
  border-radius: 10px;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:nth-child(1) {
    background-color: var(--color-blue-dark-type-2);
    height: 48px;
    border-radius: 0;
  }
  &:not(:first-child) {
    border-bottom: 1px solid var(--color-border);
  }
}

.rise__grid-th {
  display: flex;
  align-items: center;
  color: var(--color-white);
  @include adaptiveDesktopToMobile("padding-left", 32, 5);
  @include adaptiveDesktopToMobile("font-size", 16, 12);
  border: none;
  &:nth-child(4) {
    @include adaptiveDesktopToMobile("min-width", 100, 55);
  }
}
.rise__grid-td {
  display: flex;
  align-items: center;
  @include adaptiveDesktopToMobile("padding-left", 32, 5);
  &:nth-child(1) {
    @include adaptiveDesktopToMobile("font-size", 28, 12);
    font-weight: 500;
  }
  &:nth-child(2) {
    @include adaptiveDesktopToMobile("font-size", 16, 10);
  }
  &:nth-child(3) {
    @include adaptiveDesktopToMobile("font-size", 16, 10);
  }
  &:nth-child(4) {
    @include adaptiveDesktopToMobile("font-size", 38, 12);
    color: var(--color-blue-dark-type-2);
    position: relative;
    @include adaptiveDesktopToMobile("min-width", 100, 45);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      background-image: url("../../img/rise-arrow-up.svg");
      background-size: 100% 100%;
      @include adaptiveDesktopToMobile("width", 20, 10);
      @include adaptiveDesktopToMobile("height", 20, 10);
    }
  }
}
