.search-block {
  display: flex;
  align-items: center;
  &:hover,
  &:focus-within {
    .search-block {
      &__label {
        opacity: 0;
      }
      &__input {
        &::placeholder {
          opacity: 1;
        }
      }
    }
  }
  &__label {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 26px;
    min-width: 25px;
    min-height: 26px;
    background-image: url("../img/search.svg");
    background-size: 100% 100%;
    filter: brightness(0);
    transition: opacity 0.3s;

  }
  &__input {
    margin-left: 10px;
    font-family: var(--font-family-primary);
    border: none;
    outline: none;
    &::placeholder {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
