.section-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 66px;
  margin-bottom: 43px;

  &_no-margins {
    margin: 0;
  }
}
.section-controls__inputs {
  display: flex;
}

.section-controls__select-label {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
.section-controls__select-btn {
  margin-right: 20px;
  padding: 11px 16px;
  font-weight: 500;
  font-size: 38px;
  line-height: 42px;
  border-color: transparent;

  .section-controls__select.is-open & {
    border: 1px solid var(--color-border);
    border-bottom-color: transparent;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--color-border);
  }

  @media screen and (max-width: 768px) {
    max-width: unset;
    margin: -13px 0;
    padding-left: 0;
  }
}
.section-controls__select-list {
  max-height: calc(7 * 64px + 1px);
  // margin-right: 50px;

  .section-controls__select.is-open & {
    border-color: var(--color-border);
  }

  @media screen and (max-width: 768px) {
    transform: translateY(calc(100% - 14px));
  }
}
.section-controls__select-item {
  padding: 11px 16px;
  font-weight: 500;
  font-size: 38px;
  line-height: 42px;
  &[aria-selected="true"] {
    text-decoration: underline;
  }
}
.section-controls__search-block {
  margin-left: 20px;
}
.section-controls__btns {
  display: flex;
}
.section-controls__btn {
  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .section-controls {
    flex-direction: column;
    border-top: 1px solid var(--color-border);
    margin-bottom: 100px;
    margin-top: 20px;
  }
  .section-controls__inputs,
  .section-controls__btns {
    flex-direction: column;
    width: 100%;
  }
  .section-controls__select {
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-border);
    .select {
      &__toggle {
        justify-content: space-between;
        padding: 0;
        &::after {
          margin-right: 0;
        }
      }
    }
    &.select {
      &_show {
        .select {
          &__toggle,
          &__dropdown {
            border: none;
          }
        }
      }
    }
  }
  .section-controls__search-block {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-border);
    .search-block__input {
      height: 36px;
      width: 100%;
      margin: 0;
      font-weight: 500;
      @include adaptiveDesktopToMobile("font-size", 38, 28);
      color: var(--color-black);
      &::placeholder {
        opacity: 1;
        font-weight: 500;
        @include adaptiveDesktopToMobile("font-size", 38, 28);
        color: var(--color-black);
      }
    }
  }
  .section-controls__btn {
    margin-top: 20px;
    width: 100%;
  }
}
