.services-and-technologies {
  @include adaptiveDesktopToMobile("margin-bottom", 240, 120);
}

.services-and-technologies__container {
  position: relative;
}

.services-and-technologies__decor {
  position: absolute;
  top: -98px;
  right: 46px;
  z-index: 1;

  --color-patter: var(--color-white-almost);

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.services-and-technologies__title {
  position: relative;
  z-index: 2;
  margin-bottom: 92px;
}

.services-and-technologies__list {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;

  background-color: var(--color-white);

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.services-and-technologies__item {
  display: flex;
  flex-direction: column;

  padding: 20px 0;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.services-and-technologies__card {
  position: relative;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &::after {
    position: absolute;
    top: 0;
    right: -12px;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border);
  }

  .services-and-technologies__item:nth-child(3n + 1) &::after,
  .services-and-technologies__item:nth-child(3n + 2) &::after {
    content: "";
  }

  @media screen and (max-width: 1023px) {
    .services-and-technologies__item:nth-child(3n + 1) &::after,
    .services-and-technologies__item:nth-child(3n + 2) &::after {
      content: unset;
    }
  }
}

.services-and-technologies__card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 10px 20px;

  @media screen and (max-width: 767px) {
    padding: 22px 0;
  }
}

.services-and-technologies__card-paragraph {
  font-size: 18px;
  font-family: var(--font-family-primary);
  line-height: 1.78;
}

.services-and-technologies__card-title {
  @include adaptiveDesktopToMobile("margin-bottom", 15, 24);
}

.services-and-technologies__card-text-content {
  margin-bottom: 55px;
}

.services-and-technologies__card-paragraph {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.services-and-technologies__card-footer {
  margin-top: auto;
}

.services-and-technologies__card-btn {
  width: 210px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
