.services {
  @include adaptiveDesktopToMobile("margin-bottom", 120, 40);
}
.services__cards {
}
.services-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-white);
    z-index: 1;
  }
}
.services-card {
  @include adaptiveDesktopToMobile("padding", 30, 20);
  @include adaptiveDesktopToMobile("min-height", 350, 250);
  &_big {
    grid-row: span 2;
  }
  position: relative;
  &:nth-child(-n + 4) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      height: 1px;
      background-color: var(--color-border);
    }
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 95%;
    width: 1px;
    background-color: var(--color-border);
  }
  .services-card_more-borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      height: 1px;
      background-color: var(--color-border);
    }
  }
}
.services-card__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptiveDesktopToMobile("margin-bottom", 45, 25);
}
.services-card__name {
}
.services-card__logo {
}
.services-card__logo-img {
}
.services-card__number {
}
.services-card__number-unit {

}
.services-card__description {
  font-family: var(--font-family-primary);
  @include adaptiveDesktopToMobile("margin-bottom", 40, 25);
}
.mzzzz {
}
.services__show-more-cards {
  margin: 0 auto;
  @include adaptiveDesktopToMobile("margin-top", 80, 40);
}
.btn {
}
.btn_primary {
}

@media screen and (max-width: 1279px) {
  .services-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .services-card {
    &:nth-child(4) {
      &::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-card {
    &:nth-child(3) {
      &::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
    &::before {
      display: none;
    }
  }
  .services-card {
    padding: 20px 0;
    &::before {
      width: 100%!important;
    }
    &::after {
      display: none;
    }
    &:nth-child(2) {
      &::before {
        display: none;
      }
    }
    .services-card_more-borders {
      &::before {
        width: 100%;
      }
    }
  }
}