.shareholders {
  @include adaptiveDesktopToMobile("margin-bottom", 170, 40);
}
.container {
}
.shareholders__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.shareholders__text {
}
.shareholders__title {
  @include adaptiveDesktopToMobile("margin-bottom", 42, 20);
}
.shareholders__items {
  padding-left: 26px;
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  @include adaptiveDesktopToMobile("margin-bottom", 30, 15);
}
.shareholders__item {
  position: relative;
  max-width: 500px;
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 34, 15);
  }
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -24px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
  }
}
.shareholders__prompt {
}
.shareholders__prompt-title {
  color: var(--color-grey);
  @include adaptiveDesktopToMobile("margin-bottom", 80, 20);
}
.shareholders__prompt-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
  @include adaptiveDesktopToMobile("row-gap", 20, 10);
}
.shareholders__prompt-item {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 1px;
    margin-right: 14px;
  }
  &:nth-child(1) {
    &::before {
      background-color: var(--color-turquoise-dark);
    }
  }
  &:nth-child(2) {
    &::before {
      background-color: var(--color-blue-deep);
    }
  }
  &:nth-child(3) {
    &::before {
      background-color: var(--color-blue-ligth);
    }
  }
  &:nth-child(4) {
    &::before {
      background-color: var(--color-blue-dark-type-1);
    }
  }
  &:nth-child(5) {
    &::before {
      background-color: var(--color-blue-dark-type-2);
    }
  }
}
.shareholders__diagram {
}
.shareholders-diagram-pic {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .shareholders__wrapper {
    grid-template-columns: repeat(1, 1fr);
    @include adaptiveDesktopToMobile("gap", 82, 20);
  }
  .shareholders__title {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .shareholders__prompt-items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
