.share-capital {
  margin-bottom: 193px;
}

.share-capital__title {
  margin-bottom: 64px;
}

.share-capital__desc-title {
  margin-bottom: 12px;
}

.share-capital__desc {
  margin-bottom: 145px;
}

.share-capital__img {
  max-width: 921px;
  width: calc(100% - 2 * 65px);
  margin: 0 65px;

  img {
    width: 100%;
    height: auto;
  }
}
