.social-problems {
  @include adaptiveDesktopToMobile('margin-top', 90, 35);
  overflow: hidden;
}
.social-problems__wrapper {
  @include adaptiveDesktopToMobile('padding-left', 110, 0);
  @include adaptiveDesktopToMobile('padding-right', 110, 0);
  max-width: 1085px;
  position: relative;
}
.social-problems__title {
}
.social-problems__description {
  max-width: 800px;
  @include adaptiveDesktopToMobile('margin-top', 45, 20);
  @include adaptiveDesktopToMobile('font-size', 18, 14);
  line-height: 1.78;
}
.social-problems__bg {
  @include adaptiveDesktopToMobile('width', 756, 302);
  @include adaptiveDesktopToMobile('height', 501, 200);
  position: absolute;
  bottom: 0;
  right: 0;
  @include adaptiveDesktopToMobile("right", -46, -20);
  --color-patter: var(--color-white-almost);
  z-index: -1;
  transform: translate(50%, 50%);
}
.social-problems__cards-list-wrapper {
  background-color: var(--color-white);
  position: relative;
}
.social-problems__cards-list {
  padding-top: 0;
  @include adaptiveDesktopToMobile("margin-top", 80, 30);
}
.social-problems__cards-list-item {
}
.social-problems__card {
  
}