.social {
  display: flex;
  margin: 0 -9px;

  @media screen and (max-width: 767px) {
    margin: 0 -6px;
  }
}

.social-item {
  padding: 0 9px;

  @media screen and (max-width: 767px) {
    padding: 0 6px;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  color: var(--color-grey);

  transition: 0.3s all ease-in-out;

  &:hover,
  &:focus {
    // color: var(--color-hover);
    color: var(--color-grey);
  }
}

.social-logo {
  max-width: 50%;
  max-height: 65%;
}
