.statutory-docs {
  position: relative;
  overflow: hidden;

  @include adaptiveDesktopToMobile("padding-top", 54, 24);
  @include adaptiveDesktopToMobile("padding-bottom", 152, 143);

  background-color: var(--color-blue-dark-type-2);

  .container {
    position: relative;
    z-index: 1;
  }
}

.statutory-docs__title {
  max-width: 750px;
  @include adaptiveDesktopToMobile("margin-bottom", 143, 48);

  color: var(--color-white);

  @media screen and (max-width: 767px) {
    @include adaptiveDesktopToMobile("font-size", 96, 36);

    line-height: 46px;
  }
}

.statutory-docs__list {
  columns: 3;
  column-gap: 80px;

  @media screen and (max-width: 1023px) {
    columns: 2;
  }

  @media screen and (max-width: 767px) {
    columns: unset;
  }
}

.statutory-docs__list-item {
  margin-bottom: 55px;
}

.statutory-docs__link {
  color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-white);
    text-decoration: none;

    .statutory-docs__file-name {
      text-decoration: underline;
    }
  }
}

.statutory-docs__file-type {
  @include adaptiveDesktopToMobile("margin-bottom", 18, 15);

  color: var(--color-blue-ligth);
}

.statutory-docs__file-name {
  // font-size: 22px;
}

.statutory-docs__bg-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.statutory-docs__bg {
  width: 953px;
  height: 632px;

  --color-patter: var(--color-blue3);
  opacity: 0.4;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
