.statistics {
  @include adaptiveDesktopToMobile("padding-bottom", 180, 40);
}
.container {
  position: relative;
}
.statistics__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}
.statistics__item {
}
.statistics-item {
  &:nth-child(1) {
    .statistics-item__proceeds-diagram {
      &:nth-child(1) {
        .statistics-item__proceeds-diagram-figure {
          height: 42px;
        }
      }
      &:nth-child(2) {
        .statistics-item__proceeds-diagram-figure {
          height: 78px;
        }
      }
    }
    .statistics-item__ebitda-diagram {
      &:nth-child(1) {
        .statistics-item__ebitda-diagram-figure {
          height: 41px;
        }
      }
      &:nth-child(2) {
        .statistics-item__ebitda-diagram-figure {
          height: 53px;
        }
      }
    }
  }
  &:nth-child(2) {
    .statistics-item__proceeds-diagram {
      &:nth-child(1) {
        .statistics-item__proceeds-diagram-figure {
          height: 22px;
        }
      }
      &:nth-child(2) {
        .statistics-item__proceeds-diagram-figure {
          height: 54px;
        }
      }
    }
    .statistics-item__ebitda-diagram {
      &:nth-child(1) {
        .statistics-item__ebitda-diagram-figure {
          height: 23px;
        }
      }
      &:nth-child(2) {
        .statistics-item__ebitda-diagram-figure {
          height: 42px;
        }
      }
    }
  }
  &:nth-child(3) {
    .statistics-item__proceeds-diagram {
      &:nth-child(1) {
        .statistics-item__proceeds-diagram-figure {
          height: 6px;
        }
      }
      &:nth-child(2) {
        .statistics-item__proceeds-diagram-figure {
          height: 50px;
        }
      }
    }
    .statistics-item__ebitda-diagram {
      &:nth-child(1) {
        .statistics-item__ebitda-diagram-figure {
          height: 5px;
        }
      }
      &:nth-child(2) {
        .statistics-item__ebitda-diagram-figure {
          height: 1px;
        }
        .statistics-item__ebitda-diagram-number {
          margin: 0;
        }
      }
    }
  }
  &:nth-child(4) {
    .statistics-item__proceeds-diagram {
      &:nth-child(1) {
        .statistics-item__proceeds-diagram-figure {
          height: 16px;
        }
      }
      &:nth-child(2) {
        .statistics-item__proceeds-diagram-figure {
          height: 50px;
        }
      }
    }
    .statistics-item__ebitda-diagram {
      &:nth-child(1) {
        .statistics-item__ebitda-diagram-figure {
          height: 10px;
        }
      }
      &:nth-child(2) {
        .statistics-item__ebitda-diagram-figure {
          height: 4px;
        }
        .statistics-item__ebitda-diagram-number {
          margin: 0;
        }
      }
    }
  }
}
.statistics-item__title {
  text-align: center;
  @include adaptiveDesktopToMobile("margin-bottom", 40, 20);
  // min-height: 66px;
  color: var(--color-blue-dark-type-2);
}
.statistics-item__proceeds {
  background: var(--color-blue-dark-type-2);
  @include adaptiveDesktopToMobile("height", 322, 280);
  padding-top: 60px;
  padding-bottom: 28px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistics-item__proceeds-prompt {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: rotate(-90deg);
  color: var(--color-blue-ligth);
}
.statistics-item__proceeds-percent {
  color: var(--color-white);
  text-align: center;
  span {
    display: inline-block;
  }
}
.statistics-item__proceeds-diagrams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 148px;
}
.statistics-item__proceeds-diagram {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &:nth-child(1) {
    font-size: 20px;
    text-align: center;
    color: var(--color-turquoise-dark);
    .statistics-item__proceeds-diagram-figure {
      background-color: var(--color-turquoise-dark);
    }
  }
  &:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    .statistics-item__proceeds-diagram-figure {
      border: 1px solid #ffffff;
    }
    .statistics-item__proceeds-diagram-number {
      margin-bottom: -30px;
    }
  }
}
.statistics-item__proceeds-diagram-number {
}
.statistics-item__proceeds-diagram-figure {
}
.statistics-item__proceeds-diagram-date {
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
}
.statistics-item__ebitda {
  padding-top: 50px;
  position: relative;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistics-item__ebitda-percent {
  color: var(--color-blue-dark-type-2);
  text-align: center;
}
.statistics-item__ebitda-diagrams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 148px;
}
.statistics-item__ebitda-diagram {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &:nth-child(1) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color-blue-dark-type-2);
    .statistics-item__ebitda-diagram-figure {
      background-color: var(--color-blue-dark-type-2);
    }
  }
  &:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    .statistics-item__ebitda-diagram-figure {
      border: 1px solid var(--color-black);
    }
    .statistics-item__ebitda-diagram-number {
      margin-bottom: -30px;
    }
  }
}
.statistics-item__ebitda-diagram-number {
}
.statistics-item__ebitda-diagram-figure {
}
.statistics-item__ebitda-diagram-date {
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
}
.statistics-item__description {
  margin: 0 auto;
  margin-top: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  max-width: 260px;
}
.statistics-item__ebitda-prompt {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: rotate(-90deg);
  font-size: 15px;
  line-height: 19px;
  color: var(--color-grey);
}

@media screen and (max-width: 1401px) {
  .statistics-item__title {
    min-height: 75px;
  }
}
@media screen and (max-width: 1080px) {
  .statistics-item__title {
    min-height: auto;
  }
}
@media screen and (max-width: 924px) {
  .statistics-item {
    &:nth-child(2) {
      .statistics-item__title {
        min-height: 50px;
      }
    }
  }
}
@media screen and (max-width: 676px) {
  .statistics-item {
    &:nth-child(2) {
      .statistics-item__title {
        min-height: 75px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .statistics-item__title {
    min-height: auto !important;
  }
}

@media screen and (max-width: 1080px) {
  .statistics {
    margin-top: 40px;
    &::before {
      height: 53%;
    }
  }
  .statistics__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .statistics {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .statistics {
    &::before {
      height: 51.1%;
    }
  }
  .statistics__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
