.summary-card {
  width: 100%;

  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.summary-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 476px;
  @include adaptiveLargeDesktopToMobile("min-height", 476, 200);
  @include adaptiveLargeDesktopToMobile("margin-bottom", 30, 16);

  background-color: var(--color-light-grey4);
  @include adaptiveLargeDesktopToMobile("border-radius", 32, 24);

  .summary-card_pink & {
    background-color: var(--color-pink-bright2);
  }

  .summary-card_purple & {
    background-color: var(--color-purple6);
  }

  .summary-card_blue & {
    background-color: var(--color-blue-dark-type-2);
  }

  .summary-card_light-green & {
    background-color: var(--color-green-3);
  }
}

.summary-card__img-pic {
  max-width: 65%;
}

.summary-card__title {
  @include adaptiveLargeDesktopToMobile("font-size", 38, 18);
  @include adaptiveLargeDesktopToMobile("line-height", 47, 22);
}
