.system {
  overflow: hidden;
  @include adaptiveDesktopToMobile("padding-top", 142, 34);
  @include adaptiveDesktopToMobile("padding-bottom", 142, 160);
  background-color: var(--color-blue-dark-type-2);
  position: relative;
  &__container {
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 24px;
      @include adaptiveDesktopToMobile("width", 1000, 600);
      @include adaptiveDesktopToMobile("height", 536, 135);
      // background-image: url("../../img/patter-type-2.svg");
      background-position: bottom;
      background-size: 100%;
    }
  }
  &__text {
    font-family: var(--font-family-primary);
    @include adaptiveDesktopToMobile("font-size", 64, 26);
    @include adaptiveDesktopToMobile("line-height", 72, 34);
    color: var(--color-white);
    font-weight: 500;
    max-width: 1340px;
    z-index: 1;
    position: relative;
    &-strong {
      position: relative;
      display: inline-block;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: var(--color-white);
        transform-origin: 0 50%;
      }
      // color: var(--color-hover);
      // text-decoration: underline;
      // font-weight: 700;
    }
    // &-word {
    //   position: relative;
    //   display: inline-block;
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     height: 4px;
    //     width: 100%;
    //     background-color: var(--color-white);
    //     transform-origin: 0 50%;
    //   }
    // }
  }
  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    &-wrapper {
      height: 100%;
      width: 53vw;
      display: flex;
      // @include adaptiveDesktopToMobile("height", 536, 135);
      // @include adaptiveDesktopToMobile("width", 1000, 200);
      .patter {
        --color-patter: var(--color-blue6);
      }
    }
  }
}

@media screen and (max-width: 851px) {
  .system {
    &__text {
      &-strong {
        display: inline;
        text-decoration: underline;
        &::before {
          display: none;
        }
      }
      // &-word {
      //   position: relative;
      //   display: inline-block;
      //   &::before {
      //     content: "";
      //     position: absolute;
      //     bottom: 0;
      //     left: 0;
      //     @include adaptiveDesktopToMobile("height", 4, 2);
      //     width: 100%;
      //     background-color: var(--color-hover);
      //     transform-origin: 0 50%;
      //   }
      // }
    }
    &__bg-wrapper {
      width: 100vw;
    }
  }
}
