.tabs {
  @include adaptiveDesktopToMobile("margin-bottom", 120, 40);

  &:last-child {
    @include adaptiveDesktopToMobile("margin-bottom", 240, 80);
  }
}

.tabs__title {
  @include adaptiveFull("margin-bottom", 90, 90, 45);
}

.tabs__wrapper {
  @include adaptiveFull("padding-bottom", 40, 40, 20);

  border-bottom: 1px solid var(--color-border);
}

.tabs__btns-wrapper {
  overflow-x: auto;
  margin-left: -1px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include adaptiveFull("margin-bottom", 40, 40, 20);

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.tabs__btns {
  display: flex;

  min-width: 100%;
  margin-left: -1px;
  padding: 10px 0;
}

.tabs__btn-item {
  flex-grow: 1;
  border-left: 1px solid var(--color-border);
}

.tabs__btn {
  display: block;

  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;

  transition: color var(--trans--300);

  &.is-active {
    cursor: auto;
    color: var(--color-blue);
  }
}
