.team {
  position: relative;
  z-index: 8;

  &_for-investors {
    margin-bottom: 205px;
  }
  &_for-team {
    margin-bottom: 120px;
  }
}

.team__title {
  max-width: 1020px;
  @include adaptiveDesktopToMobile("font-size", 96, 36);
  @include adaptiveDesktopToMobile("margin-bottom", 134, 40);
}

.team__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 322px);
  justify-content: space-between;
  gap: 80px 20px;

  margin-top: -50px;

  @media screen and (max-width: 1279px) {
    gap: 80px 20px;
  }

  @media screen and (max-width: 599px) {
    grid-template-columns: auto;
    justify-content: center;
  }
}

.team-item {
  width: 322px;
  max-width: 100%;
  border-bottom: 1px solid var(--color-border);

  @media screen and (max-width: 599px) {
    width: 100%;
    max-width: 322px;
  }
}

.team__bg {
  position: absolute;
  bottom: -90px;
  right: 0;
  @include adaptiveDesktopToMobile("width", 950, 238);
  @include adaptiveDesktopToMobile("height", 630, 158);
  z-index: -1;
  --color-patter: var(--color-white-almost);
}
