.timeline {
  &__loading {
    height: 300px;
    @include adaptiveDesktopToMobile("height", 300, 158);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-image: url("../../img/loading.svg");
      background-size: 100% 100%;
      animation: loadingAnimation 2s infinite;
    }
  }
}
