.upcoming-events {
  @include adaptiveDesktopToMobile("padding-top", 100, 72);
  @include adaptiveDesktopToMobile("padding-bottom", 240, 54);
}

.upcoming-events__title {
  @include adaptiveDesktopToMobile("padding-bottom", 80, 54);
}

.upcoming-events_btn {
  margin: 70px auto 0;

  @media screen and (max-width: 599px) {
    width: 100%;
  }
}
