.vacancies {
  @include adaptiveDesktopToMobile("padding-top", 120, 142);
  @include adaptiveDesktopToMobile("padding-bottom", 150, 142);
  &__title {
    @include adaptiveDesktopToMobile("margin-bottom", 65, 35);
  }
  &__cards {
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveDesktopToMobile("padding-top", 33, 20);
    @include adaptiveDesktopToMobile("padding-bottom", 33, 20);
    border-bottom: 1px solid var(--color-light-grey2);
    &:first-of-type {
      border-top: 1px solid var(--color-light-grey2);
    }
    &:hover {
      text-decoration: none;
      color: inherit;
      .vacancies {
        &__card {
          &-title {
            text-decoration: underline;
          }
          &-city {
          }
        }
      }
    }
    &-title {
      @include adaptiveDesktopToMobile("font-size", 36, 28);
    }
    &-city {
      @include adaptiveDesktopToMobile("font-size", 16, 14);
      opacity: 0.6;
    }
  }
  &__show-all {
    margin: 0 auto;
    @include adaptiveDesktopToMobile("margin-top", 100, 68);
  }
}

@media screen and (max-width: 768px) {
  .vacancies {
    &__card {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-end;
      height: 180px;
      &-title {
        max-width: 81%;
      }
      &-city {
        margin-bottom: 9px;
      }
    }
  }
}
