.preloader {
  --color-patter: #f5f5f5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  z-index: 999999999999999;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  pointer-events: none;
}

.preloader_active {
  opacity: 1;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.preloader .patter {
  width: 240px;
}

.preloader_start-animation .patter .patter__group:nth-child(1) {
  --initDelay: 0s;
  --delay: 0.1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(2) {
  --initDelay: 0s;
  --delay: 0.2s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(3) {
  --initDelay: 0s;
  --delay: 0.3s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(4) {
  --initDelay: 0s;
  --delay: 0.4s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(5) {
  --initDelay: 0s;
  --delay: 0.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(6) {
  --initDelay: 0s;
  --delay: 0.6s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(7) {
  --initDelay: 0s;
  --delay: 0.7s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(8) {
  --initDelay: 0s;
  --delay: 0.8s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(9) {
  --initDelay: 0s;
  --delay: 0.9s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(10) {
  --initDelay: 0s;
  --delay: 1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(11) {
  --initDelay: 0s;
  --delay: 1.1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(12) {
  --initDelay: 0s;
  --delay: 1.2s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(13) {
  --initDelay: 0s;
  --delay: 1.3s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(14) {
  --initDelay: 0s;
  --delay: 1.4s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_start-animation .patter .patter__group:nth-child(15) {
  --initDelay: 0s;
  --delay: 1.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternStart;
          animation: cardPatternStart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(1) {
  --initDelay: 0s;
  --delay: 0.1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(2) {
  --initDelay: 0s;
  --delay: 0.2s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(3) {
  --initDelay: 0s;
  --delay: 0.3s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(4) {
  --initDelay: 0s;
  --delay: 0.4s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(5) {
  --initDelay: 0s;
  --delay: 0.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(6) {
  --initDelay: 0s;
  --delay: 0.6s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(7) {
  --initDelay: 0s;
  --delay: 0.7s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(8) {
  --initDelay: 0s;
  --delay: 0.8s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(9) {
  --initDelay: 0s;
  --delay: 0.9s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(10) {
  --initDelay: 0s;
  --delay: 1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(11) {
  --initDelay: 0s;
  --delay: 1.1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(12) {
  --initDelay: 0s;
  --delay: 1.2s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(13) {
  --initDelay: 0s;
  --delay: 1.3s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(14) {
  --initDelay: 0s;
  --delay: 1.4s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_end-animation .patter .patter__group:nth-child(15) {
  --initDelay: 0s;
  --delay: 1.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: cardPatternEnd;
          animation: cardPatternEnd;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
          animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
  -webkit-animation-delay: calc(var(--initDelay) + var(--delay));
          animation-delay: calc(var(--initDelay) + var(--delay));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes cardPatternStart {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cardPatternStart {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes cardPatternEnd {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  50.000001% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cardPatternEnd {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  50.000001% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}