:root {
  --default-duration: 0.6s;
}

// Общие анимации

@keyframes arrowAnimationType-1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 18px -18px;
  }
  51% {
    background-position: -18px 18px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes arrowAnimationType-2 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 32px -32px;
  }
  51% {
    background-position: -32px 32px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes subscribeAnimation {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: -30px;
  }
  51% {
    background-position-y: 30px;
  }
  100% {
    background-position-y: 0;
  }
}

@keyframes loadingAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// Анимации заголовков и дефолтного текста

h2,
h3,
h4 {
  overflow: hidden;
  // line-height: 1.15;
}

.animate-row {
  overflow: hidden;
}

span.animate-row,
span.animate-item {
  display: inline-block;
}

@for $i from 1 through 15 {
  .animate-row:nth-child(#{$i}) {
    --initDelay: 0s;
    --delay: #{($i - 1) * 0.15}s;
  }
}

.animate-row {
  &:not(:first-child) {
    margin-top: -0.15em;
  }
}

.animate-item {
  --initDelay: inherit;
  --delay: inherit;
  opacity: 0;
  padding-bottom: 0.15em;
  transform: translateY(100%);
  transition: transform var(--default-duration) cubic-bezier(0.37, 0.31, 0, 1) calc(var(--initDelay) + var(--delay)),
    opacity var(--default-duration) cubic-bezier(0.37, 0.31, 0, 1) calc(var(--initDelay) + var(--delay));
}

.big-banner .animate-item {
  --initDelay: 0.6s;
}

.is-dom-ready {
  .is-active {
    .animate-item {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// .title__row,
// .text-animate {
//   @for $i from 1 through 15 {
//     --delay: #{($i - 1) * 0.15}s;
//     display: inline-block;
//     transform: translateY(100%) translateZ(0);
//     transition: transform var(--default-duration) cubic-bezier(0.4, 0, 0, 1) var(--delay);
// }

// .is-active {
//   .title__row,
//   .text-animate {
//     transform: translateY(0) translateZ(0);
//   }
// }

// Анимации header, page header и первой секции после page header

.header {
  .anim {
    opacity: 0;
    // transform: translateY(-20px) translateZ(0);
    transform: translateY(-20px);
  }
}

.page-header {
  .patter {
    .patter__group {
      opacity: 0;
      transform: translateX(70vw);
    }
  }
}

// .page-header__title-word-wrapper {
//   transform: translate3d(0, 100%, 0);
// }

main {
  section:nth-child(2) {
    opacity: 0;
    transform: translateY(20px) translateZ(0);
  }
}

.is-dom-ready {
  .header {
    .anim {
      opacity: 1;
      transform: translateY(0) translateZ(0);
      transition: opacity 1s cubic-bezier(0.4, 0, 0, 1) 0.6s, transform 1s cubic-bezier(0.4, 0, 0, 1) 0.6s;
    }
  }
  main {
    section:nth-child(2) {
      opacity: 1;
      transform: translateY(0) translateZ(0);
      transition: opacity 1s cubic-bezier(0.4, 0, 0, 1) 0.6s, transform 1s cubic-bezier(0.4, 0, 0, 1) 0.6s;
    }
  }
  .page-header {
    .patter {
      @for $i from 1 through 15 {
        .patter__group:nth-child(#{$i}) {
          --initDelay: 0s;
          --delay: #{$i / 10}s;
          opacity: 1;
          transform: translateX(0);
          transition: transform 1.5s cubic-bezier(0.37, 0.31, 0, 1) calc(var(--initDelay) + var(--delay));
        }
      }
    }
  }
}

// Компонент _system
.system__text-strong,
.system__text-word {
  &::before {
    transform: scale(0);
    transition: transform 1s linear;
    transition-delay: 0.4s;
  }
}

.system__bg-wrapper {
  .patter {
    .patter__group {
      opacity: 0;
      transform: translateX(70vw);
    }
  }
}

.is-active {
  // @for $i from 1 through 15 {
  //   .system__text-strong:nth-child(#{$i}) {
  //     &::before {
  //       transform: scale(1);
  //       transition-duration: #{$i}s;
  //     }
  //   }
  // }

  .system__text-strong,
  .system__text-word {
    &::before {
      transform: scale(1);
    }
  }
  .system__bg-wrapper {
    .patter {
      @for $i from 1 through 15 {
        .patter__group:nth-child(#{$i}) {
          --initDelay: 0s;
          --delay: #{$i / 5}s;
          opacity: 1;
          transform: translateX(0);
          transition: transform 1.5s cubic-bezier(0.37, 0.31, 0, 1) calc(var(--initDelay) + var(--delay));
        }
      }
    }
  }
}

// Линия при ховере ссылок
.anim-link {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 50%;
    transition: transform 0.6s cubic-bezier(0.37, 0.31, 0, 1);
  }
}

.anim-link {
  text-decoration: none;
  &:hover {
    &::before {
      transform: scaleX(1) translateZ(0);
      transform-origin: 0 50%;
    }
  }
}

// Анимация появления контента секции
.anim-content {
  opacity: 0;
  transform: translateY(20%) translateZ(0);
  transition: opacity 1.2s cubic-bezier(0.4, 0, 0, 1) 0.3s, transform 1.2s cubic-bezier(0.4, 0, 0, 1) 0.3s;
}

.is-active {
  .anim-content {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

// Анимация появления карточек новостных
@for $i from 1 through 15 {
  .card:nth-child(#{$i}) {
    --initDelay: 0.2s;
    @media screen and (min-width: 768px) {
      --delay: #{$i / 10}s;
    }
    opacity: 0;
    transform: translateY(30%) translateZ(0);
    transition: opacity 1.2s cubic-bezier(0.4, 0, 0, 1) calc(var(--initDelay) + var(--delay)), transform 1.2s cubic-bezier(0.4, 0, 0, 1) calc(var(--initDelay) + var(--delay));
    &.is-active {
      opacity: 1;
      transform: translateY(0) translateZ(0);
    }
  }
}

// Анимация появления карточек продуктов
@for $i from 1 through 15 {
  .products-row__item:nth-child(#{$i}) {
    --initDelay: 0.2s;
    @media screen and (min-width: 768px) {
      --delay: #{$i / 10}s;
    }
    opacity: 0;
    transform: translateY(30%) translateZ(0);
    transition: opacity 1.2s cubic-bezier(0.4, 0, 0, 1) calc(var(--initDelay) + var(--delay)), transform 1.2s cubic-bezier(0.4, 0, 0, 1) calc(var(--initDelay) + var(--delay));
  }
}

.is-active {
  .products-row__item {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

// Анимация паттернов в карточках при ховере
.card_patter-start-animation {
  .patter {
    @for $i from 1 through 15 {
      .patter__group:nth-child(#{$i}) {
        --initDelay: 0s;
        --delay: #{$i / 10}s;
        transform: translateX(0);
        animation: cardPatternStart;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
        animation-delay: calc(var(--initDelay) + var(--delay));
        animation-fill-mode: forwards;
      }
    }
  }
}

.card_patter-end-animation {
  .patter {
    @for $i from 1 through 15 {
      .patter__group:nth-child(#{$i}) {
        --initDelay: 0s;
        --delay: #{$i / 10}s;
        transform: translateX(0);
        animation: cardPatternEnd;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
        animation-delay: calc(var(--initDelay) + var(--delay));
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes cardPatternStart {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cardPatternEnd {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.000001% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

// Анимации на первом слайдере на главной

button.big-banner__next {
  opacity: 0;
  transform: translateY(-100%) rotate(90deg);
  transition: opacity 1.2s cubic-bezier(0.4, 0, 0, 1), transform 1.2s cubic-bezier(0.4, 0, 0, 1);
  transition-delay: 0.6s, 0.6s;
}

.is-dom-ready {
  .is-active {
    .big-banner__next {
      transform: translateY(0) rotate(90deg);
      opacity: 1;
    }
  }
}

// Подчеркивание в блоке "Горящие вакансии"

a.vacancies__card {
  &::before {
    display: none;
  }
  .vacancies__card-title {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-black);
      transform: scaleX(0) translateZ(0);
      transform-origin: 100% 50%;
      transition: transform 0.6s cubic-bezier(0.37, 0.31, 0, 1);
    }
  }
}

a.vacancies__card {
  &:hover {
    .vacancies__card-title {
      text-decoration: none;
      &::before {
        transform: scaleX(1) translateZ(0);
        transform-origin: 0 50%;
      }
    }
  }
}

// Анимация карточек в направлениях при ховере
.products__card-title {
  // transition: 0.5s transform cubic-bezier(0.37, 0.31, 0, 1);
}

.products__card_start-animation {
  animation: productsCardBackgroundStart 1s cubic-bezier(0.37, 0.31, 0, 1) forwards;
  .products__card-title {
    color: #fff;
    animation: productsCardTitleStart 0.5s cubic-bezier(0.37, 0.31, 0, 1) forwards;
  }
  &.products__card_patter {
    @media screen and (min-width: 768px) {
      align-items: flex-start;
      padding-top: 62px;
    }
  }
  .products__card-bg {
    opacity: 1;
  }
  .patter {
    @for $i from 1 through 15 {
      .patter__group:nth-child(#{$i}) {
        --initDelay: 0s;
        --delay: #{$i / 10}s;
        transform: translateX(100%);
        animation: cardPatternStart;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
        animation-delay: calc(var(--initDelay) + var(--delay));
        animation-fill-mode: forwards;
      }
    }
  }
}

.products__card_end-animation {
  animation: productsCardBackgroundEnd 1s cubic-bezier(0.37, 0.31, 0, 1) forwards;
  .products__card-title {
    animation: productsCardTitleEnd 0.5s cubic-bezier(0.37, 0.31, 0, 1) forwards;
  }
  .patter {
    @for $i from 1 through 15 {
      .patter__group:nth-child(#{$i}) {
        --initDelay: 0s;
        --delay: #{$i / 10}s;
        transform: translateX(0);
        animation: productsCardPatternEnd;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
        animation-delay: calc(var(--initDelay) + var(--delay));
        animation-fill-mode: forwards;
      }
    }
  }
}

:root {
  @include adaptiveLargeDesktopToMobile("--products-card-background-position", 350, 110);
  @media screen and (max-width: 768px) {
    @include adaptiveFull("--products-card-background-position", 322, 708, 280);
  }
}

@keyframes productsCardBackgroundStart {
  0% {
    background-position: var(--products-card-background-position);
  }
  100% {
    background-position: 0px;
  }
}

@keyframes productsCardBackgroundEnd {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: calc(var(--products-card-background-position) - 2 * var(--products-card-background-position));
  }
}

@keyframes productsCardPatternEnd {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes productsCardTitleStart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes productsCardTitleEnd {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Анимация паттерна на втором б2с
.landing-page-together__item {
  .patter {
    .patter__group {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.is-active {
  .landing-page-together__item {
    .patter {
      @for $i from 1 through 15 {
        .patter__group:nth-child(#{$i}) {
          --initDelay: 0s;
          --delay: #{$i / 10}s;
          opacity: 1;
          transform: translateX(0);
          transition: transform 1.5s cubic-bezier(0.37, 0.31, 0, 1) calc(var(--initDelay) + var(--delay));
        }
      }
    }
  }
}
