.preloader {
  --color-patter: #f5f5f5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999999999999999;
  opacity: 0;
  transition: opacity 0.15s linear;
  pointer-events: none;
  &_active {
    opacity: 1;
    transition: opacity 0.15s linear;
  }
  .patter {
    width: 240px;
  }
}

// Анимация прелоадера
.preloader_start-animation {
  .patter {
    @for $i from 1 through 15 {
      .patter__group:nth-child(#{$i}) {
        --initDelay: 0s;
        --delay: #{$i / 10}s;
        transform: translateX(0);
        animation: cardPatternStart;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
        animation-delay: calc(var(--initDelay) + var(--delay));
        animation-fill-mode: forwards;
      }
    }
  }
}

.preloader_end-animation {
  .patter {
    @for $i from 1 through 15 {
      .patter__group:nth-child(#{$i}) {
        --initDelay: 0s;
        --delay: #{$i / 10}s;
        transform: translateX(0);
        animation: cardPatternEnd;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.37, 0.31, 0, 1);
        animation-delay: calc(var(--initDelay) + var(--delay));
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes cardPatternStart {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cardPatternEnd {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.000001% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
