:root {
  // Colors
  --color-white: #ffffff;
  --color-white-060: rgba(255, 255, 255, 0.6);
  --color-white-almost: #f7f7f7;
  --color-white-dirty: #f2f3f5;
  --color-white-040: rgba(255, 255, 255, 0.4);
  --color-black: #040b15;
  --color-black-060: rgba(5, 11, 21, 0.6);
  --color-black-040: rgba(5, 11, 21, 0.4);
  --color-black-030: rgba(5, 11, 21, 0.3);
  --color-black-020: rgba(5, 11, 21, 0.2);
  --color-light-grey: #c4c4c4;
  --color-light-grey2: #e3e3e3;
  --color-light-grey3: #d4d8e3;
  --color-light-grey4: #eff1f5;
  --color-grey: #696d73;
  --color-grey-2: #99a0b4;
  --color-grey-3: #778097;
  --color-dark-grey: #b9b9b9;
  --color-dark-grey2: #b4b6b9;
  --color-dark-grey3: #333333;
  --color-beige: #f5f5f5;
  --color-green-ligth: #45c66e;
  --color-green-ligth-2: #44c06c;
  --color-green-ligth-3: #03bf70;
  --color-green-ligth-4: #1be893;
  --color-green: #11ab6b;
  --color-green-2: #14cb7e;
  --color-green-3: #17d685;
  --color-green-4: #14c37a;
  --color-green-5: #17d685;
  --color-green-deep: #31b95c;
  --color-green-dark: #036622;
  --color-green-dark-2: #0c7d4e;
  --color-purple-dim: #762dc0;
  --color-purple: #8b04c9;
  --color-purple2: #8024c0;
  --color-purple3: #5c128e;
  --color-purple4: #a031d3;
  --color-purple5: #c489ff;
  --color-purple6: #a038e5;
  --color-purple7: #8616d2;
  --color-purple8: #7a25b5;
  --color-pink-bright: #ff3583;
  --color-pink-bright2: #ff3985;
  --color-pink: #ff0084;
  --color-pink2: #ff34f8;
  --color-pink3: #f679ff;
  --color-pink4: #db00d3;
  --color-pink5: #ff52b9;
  --color-pink6: #de0055;
  --color-pink-light: #ea3583;
  --color-pink-light-2: #e22f7c;
  --color-pink-extra-light: #ff99c5;
  --color-turquoise-dim: #00edc5;
  --color-turquoise-3: #00eaff;
  --color-turquoise: #00edff;
  --color-turquoise-2: #6dffe7;
  --color-turquoise-dark: #6aeafc;
  --color-turquoise-dark-2: #00c3a3;
  --color-turquoise-extra-dark: #008f78;
  --color-blue-light: #54b2ff;
  --color-blue-light2: #3f9ce8;
  --color-blue: #2667f6;
  --color-blue2: #207fcd;
  --color-blue3: #005eff;
  --color-blue4: #1d86ff;
  --color-blue5: #2189ff;
  --color-blue6: #0069e0;
  --color-blue7: #0064da;
  --color-blue8: #0095ff;
  --color-blue9: #004dff;
  --color-blue10: #45a7f8;
  --color-blue11: #008cff;
  --color-blue12: #0c6eff;
  --color-blue-dark-type-1: #0c69f2;
  --color-blue-dark-type-2: #0077ff;
  --color-blue-dark-type-3: #0071f1;
  --color-blue-deep: #4b84ff;
  --color-blue-ligth: #a8c2fb;
  --color-orange: #ff582a;
  --color-orange-light: #ff7e5b;
  --color-orange-extra-light: #ff9b7f;
  --color-orange-dark: #c84521;
  --color-orange-special-1: #f56c47;
  --color-yellow: #dcfc00;
  --color-red: #f50029;
  --color-hover: #2667f6;
  --color-patter: #ffffff;
  --color-border: #e3e3e3;
  // Typography
  --font-family-main: "VK Sans Text", sans-serif, Arial;
  --font-family-primary: "VK Sans Display", sans-serif, Arial;
  // Patters
  --patter-type-1: url("../../img/patter-type-1.svg");
  --patter-type-2: url("../../img/patter-type-2.svg");
  --patter-type-3: url("../../img/patter-type-3.svg");
  --patter-type-4: url("../../img/patter-type-4.svg");
  // Transitions
  --trans--300: 0.3s ease;
  --trans--500: 0.5s ease;
  --trans--600: 0.6s ease;
}
