.projects {
  padding-top: 140px;
  overflow: hidden;
}

.projects_landing-page {
  padding: 100px 0;
}

.projects__title {
  margin-bottom: 90px;
}

.projects_landing-page .projects__title {
  max-width: 1100px;
  margin-bottom: 55px;
}

.projects__desc {
  max-width: 860px;
  margin-bottom: 130px;
}

.projects-swiper {
  width: 100vw;
  pointer-events: none;
}

.projects__cards {
  display: grid;
  row-gap: 44px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 44px;
  max-width: 2364px;
  width: 2364px;
}

.projects__cards-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.projects__cards-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.projects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  overflow: hidden;
}

.projects__card-logo {
  width: 110px;
  height: 110px;
}

.projects__card-logo img {
  width: 100%;
}

.projects__card-pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.projects__card-pic-img {
  width: auto;
  height: 100%;
  max-width: unset;
}

.projects__card_large {
  grid-column: span 2;
  grid-row: span 2;
  width: 330px;
  height: 330px;
  border-radius: 22px;
  padding: 0 !important;
}

.projects__card_large .projects__card-pic-img {
  max-height: 330px;
}

.projects__card_medium {
  grid-column: span 2;
  width: 330px;
  height: 142px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 22px;
  padding: 0 !important;
}

.projects__card_medium .projects__card-pic-img {
  max-height: 142px;
}

.projects__show-all {
  margin: 0 auto;
  margin-top: 100px;
}

.projects_landing-page .projects__show-all {
  margin-top: 75px;
}

.swiper-container-free-mode > .projects__cards-wrapper.swiper-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.blog {
  margin-top: 100px;
  overflow: hidden;
}

.blog__title {
  margin-bottom: 65px;
}

.blog__cards {
  background: var(--color-purple);
  color: var(--color-white);
  padding: 20px 0;
}

.blog__cards .card {
  border-color: #a031d3;
}

.blog__cards .card::after {
  background-color: #a031d3;
}

.blog__cards .card__more-borders::before {
  background-color: #a031d3;
}

.blog__cards .card__subtitle {
  color: #c489ff;
}

.blog__cards .card__button {
  border-color: var(--color-white);
}

.blog__cards .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.blog__cards-row {
  border-color: #9646e8;
}

.vacancies {
  padding-top: 120px;
  padding-bottom: 150px;
}

.vacancies__title {
  margin-bottom: 65px;
}

.vacancies__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 33px;
  border-bottom: 1px solid var(--color-light-grey2);
}

.vacancies__card:first-of-type {
  border-top: 1px solid var(--color-light-grey2);
}

.vacancies__card:hover {
  text-decoration: none;
  color: inherit;
}

.vacancies__card:hover .vacancies__card-title {
  text-decoration: underline;
}

.vacancies__card-title {
  font-size: 36px;
}

.vacancies__card-city {
  font-size: 16px;
  opacity: 0.6;
}

.vacancies__show-all {
  margin: 0 auto;
  margin-top: 100px;
}

.events {
  margin-top: 100px;
  margin-bottom: 100px;
}

.events__title {
  margin-bottom: 66px;
}

.events__show-all {
  margin: 0 auto;
  margin-top: 75px;
}

.colored-block {
  overflow: hidden;
  padding-top: 20px;
}

.colored-block:not(:first-child) {
  margin-top: 40px;
}

.colored-block:not(:last-child) {
  margin-bottom: 40px;
}

.colored-block .card__button {
  border-color: var(--color-white);
}

.colored-block .card__button:hover,
.colored-block .card__button:focus {
  color: var(--color-white);
  opacity: 0.8;
}

.colored-block_blue {
  background-color: var(--color-hover);
  color: var(--color-white);
}

.colored-block_blue .card {
  border-color: var(--color-blue-deep);
}

.colored-block_blue .card__subtitle {
  color: var(--color-blue-ligth);
}

.colored-block_blue .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_blue .card::after {
  background-color: var(--color-blue-deep);
}

.colored-block_blue-2 {
  background-color: var(--color-blue-dark-type-2);
  color: var(--color-white);
}

.colored-block_blue-2 .card {
  border-color: var(--color-blue4);
}

.colored-block_blue-2 .card__subtitle {
  color: var(--color-blue-ligth);
}

.colored-block_blue-2 .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_blue-2 .card::after,
.colored-block_blue-2 .card::before {
  background-color: var(--color-blue4);
}

.colored-block_blue-2 .card .card__more-borders::after,
.colored-block_blue-2 .card .card__more-borders::before {
  background-color: var(--color-blue4);
}

.colored-block_light-blue {
  background-color: var(--color-blue-light);
  color: var(--color-white);
}

.colored-block_light-blue .card {
  border-color: var(--color-blue-light2);
}

.colored-block_light-blue .card__subtitle {
  color: var(--color-blue2);
}

.colored-block_light-blue .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_light-blue .card::after {
  background-color: var(--color-blue-light2);
}

.colored-block_light-orange {
  background-color: var(--color-orange-light);
  color: var(--color-white);
}

.colored-block_light-orange .card {
  border-color: var(--color-orange-special-1);
}

.colored-block_light-orange .card__subtitle {
  color: var(--color-orange-dark);
}

.colored-block_light-orange .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_light-orange .card::after {
  background-color: var(--color-orange-special-1);
}

.colored-block_green {
  background-color: var(--color-green-3);
  color: var(--color-white);
}

.colored-block_green .card {
  border-color: var(--color-green-2);
}

.colored-block_green .card__subtitle {
  color: var(--color-green-dark-2);
}

.colored-block_green .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_green .card::after {
  background-color: var(--color-green-2);
}

.colored-block_turquoise {
  background-color: var(--color-turquoise-dim);
  color: var(--color-white);
}

.colored-block_turquoise .card {
  border-color: var(--color-turquoise-dark-2);
}

.colored-block_turquoise .card__subtitle {
  color: var(--color-turquoise-extra-dark);
}

.colored-block_turquoise .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_turquoise .card::after {
  background-color: var(--color-turquoise-dark-2);
}

.colored-block_purple {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.colored-block_purple .card {
  border-color: var(--color-purple4);
}

.colored-block_purple .card__subtitle {
  color: var(--color-purple5);
}

.colored-block_purple .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_purple .card::after {
  background-color: var(--color-purple4);
}

@media (max-width: 1440px) {
  .projects {
    padding-top: calc(70px + 70 * ((100vw - 320px) / 1120));
  }

  .projects__title {
    margin-bottom: calc(30px + 60 * ((100vw - 320px) / 1120));
  }

  .projects_landing-page .projects__title {
    margin-bottom: calc(55px + 0 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    row-gap: calc(26px + 18 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    -webkit-column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
       -moz-column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
            column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    margin-right: calc(26px + 18 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    max-width: calc(1418px + 946 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    width: calc(1418px + 946 * ((100vw - 320px) / 1120));
  }

  .projects__card {
    padding: calc(0px + 16 * ((100vw - 320px) / 1120));
  }

  .projects__card-logo {
    width: calc(66px + 44 * ((100vw - 320px) / 1120));
  }

  .projects__card-logo {
    height: calc(66px + 44 * ((100vw - 320px) / 1120));
  }

  .projects__card_large {
    width: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_large {
    height: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_large .projects__card-pic-img {
    max-height: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium {
    width: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium {
    height: calc(85px + 57 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium .projects__card-pic-img {
    max-height: calc(85px + 57 * ((100vw - 320px) / 1120));
  }

  .projects__show-all {
    margin-top: calc(70px + 30 * ((100vw - 320px) / 1120));
  }

  .vacancies {
    padding-top: calc(142px + -22 * ((100vw - 320px) / 1120));
  }

  .vacancies {
    padding-bottom: calc(142px + 8 * ((100vw - 320px) / 1120));
  }

  .vacancies__title {
    margin-bottom: calc(35px + 30 * ((100vw - 320px) / 1120));
  }

  .vacancies__card {
    padding-top: calc(20px + 13 * ((100vw - 320px) / 1120));
  }

  .vacancies__card {
    padding-bottom: calc(20px + 13 * ((100vw - 320px) / 1120));
  }

  .vacancies__card-title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 1120));
  }

  .vacancies__card-city {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  }

  .vacancies__show-all {
    margin-top: calc(68px + 32 * ((100vw - 320px) / 1120));
  }

  .events {
    margin-top: calc(70px + 30 * ((100vw - 320px) / 1120));
  }

  .events {
    margin-bottom: calc(80px + 20 * ((100vw - 320px) / 1120));
  }

  .events__title {
    margin-bottom: calc(38px + 28 * ((100vw - 320px) / 1120));
  }

  .events__show-all {
    margin-top: calc(68px + 7 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 768px) {
  .blog__cards-row {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .blog__cards {
    padding-bottom: 60px;
  }

  .vacancies__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 180px;
  }

  .vacancies__card-title {
    max-width: 81%;
  }

  .vacancies__card-city {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 600px) {
  .events__cards-row {
    border-bottom: 1px solid var(--color-border);
  }
}