.intro-slider {
  margin-top: 50px;
  margin-bottom: 130px;
  position: relative;
  z-index: 5;
}

.intro-slider_color_green {
  --main-color: var(--color-green-ligth);
}

.intro-slider_color_green {
  --main-color: var(--color-green-3);
}

.intro-slider_color_blue {
  --main-color: var(--color-blue-dark-type-2);
}

.intro-slider_color_turquoise {
  --main-color: var(--color-turquoise-3);
}

.intro-slider_color_pink {
  --main-color: var(--color-pink-bright);
}

.intro-slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 100px;
  margin-bottom: 95px;
  padding-left: 134px;
  font-weight: 400;
}

.intro-slider__header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
  background-image: url("../../img/icon-pin.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.intro-slider__wrapper {
  margin-bottom: 120px;
}

.intro-slider__thumbs-wrapper {
  max-width: 1348px;
  margin-bottom: 46px;
}

.intro-slider__thumbs-slides {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-slider__slide img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 794px;
}

.intro-slider__thumbs-slide {
  height: 100%;
}

.intro-slider__thumbs-slide img {
  height: 100%;
}

.intro-slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1348px;
  margin: 0 auto;
  padding: 0 60px;
}

.intro-slider__scrollbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 2px;
  background-color: rgba(185, 185, 185, 0.2);
}

.intro-slider__scrollbar-drag {
  position: relative;
  height: 2px;
  background-color: var(--color-dark-grey);
}

.intro-slider__scrollbar-drag::before {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
}

.intro-slider__scrollbar-drag:hover {
  background-color: var(--main-color);
}

.intro-slider__btns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 95px;
}

.intro-slider__btn {
  position: relative;
  width: 40px;
  height: 40px;
}

.intro-slider__btn_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.intro-slider__btn::before,
.intro-slider__btn::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: var(--color-black);
  border-radius: 1px;
}

.intro-slider__btn::before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.intro-slider__btn::after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.intro-slider__btn:disabled {
  opacity: 0.4;
}

.intro-slider__btn:not(:disabled):hover::before,
.intro-slider__btn:not(:disabled):hover::after,
.intro-slider__btn:focus::before,
.intro-slider__btn:focus::after {
  background-color: var(--main-color);
}

.divisions {
  position: relative;
  overflow: hidden;
  padding: 54px 0 163px;
  font-family: var(--font-family-primary);
}

.divisions .container {
  position: relative;
  z-index: 1;
}

.divisions_color_green {
  --main-color: var(--color-green-ligth);
  background-color: var(--color-green-3);
}

.divisions_color_green .divisions__bg {
  --color-patter: var(--color-green-4);
  opacity: 0.4;
}

.divisions_color_blue {
  --main-color: var(--color-blue-dark-type-2);
  background-color: var(--main-color);
}

.divisions_color_blue .divisions__bg {
  --color-patter: var(--color-blue-dark-type-1);
}

.divisions_color_turquoise {
  --main-color: var(--color-turquoise);
  background-color: var(--main-color);
}

.divisions_color_pink {
  --main-color: var(--color-pink-light);
  background-color: var(--color-pink-bright);
}

.divisions_color_pink .divisions__bg {
  --color-patter: var(--color-pink-light-2);
}

.divisions_patter-type_1 .divisions__bg {
  display: none;
}

.divisions_patter-type_1 .divisions__bg_patter-type_1 {
  display: block;
}

.divisions_patter-type_2 .divisions__bg {
  display: none;
}

.divisions_patter-type_2 .divisions__bg_patter-type_2 {
  display: block;
}

.divisions_patter-type_3 .divisions__bg {
  display: none;
}

.divisions_patter-type_3 .divisions__bg_patter-type_3 {
  display: block;
}

.divisions_patter-type_4 .divisions__bg {
  display: none;
}

.divisions_patter-type_4 .divisions__bg_patter-type_4 {
  display: block;
}

.divisions__title {
  max-width: 750px;
  margin-bottom: 115px;
  color: var(--color-white);
}

.divisions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-top: 65px;
}

.divisions__list-item {
  max-width: 300px;
}

.divisions__list-item dt {
  margin-bottom: 20px;
  color: var(--color-green-dark);
}

.divisions_color_pink .divisions__list-item dt {
  color: var(--color-pink-extra-light);
}

.divisions_color_blue .divisions__list-item dt {
  color: var(--color-blue-ligth);
}

.divisions__link {
  font-family: var(--font-family-primary);
  color: var(--color-white);
}

.divisions__link:hover {
  color: var(--color-white);
}

.divisions__bg-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.divisions__bg {
  width: 953px;
  height: 632px;
}

.partners {
  padding-top: 62px;
  padding-bottom: 227px;
}

.partners__title {
  margin-bottom: 138px;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.partners__list-item {
  max-width: 300px;
}

.partners__list-item:nth-child(2n + 1) {
  grid-column: 1 / 1;
}

.partners__list-item dt {
  margin-bottom: 20px;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.partners__link:hover {
  color: var(--color-black);
}

.partners__partner {
  color: var(--color-hover);
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .intro-slider {
    margin-top: calc(60px + -10 * ((100vw - 320px) / 1120));
  }

  .intro-slider {
    margin-bottom: calc(100px + 30 * ((100vw - 320px) / 1120));
  }

  .intro-slider__wrapper {
    margin-bottom: calc(100px + 20 * ((100vw - 320px) / 1120));
  }

  .divisions__title {
    margin-bottom: calc(52px + 63 * ((100vw - 320px) / 1120));
  }

  .divisions__list {
    gap: calc(66px + -6 * ((100vw - 320px) / 1120));
  }

  .divisions__list-item dt {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1120));
  }

  .partners {
    padding-top: calc(73px + -11 * ((100vw - 320px) / 1120));
  }

  .partners {
    padding-bottom: calc(71px + 156 * ((100vw - 320px) / 1120));
  }

  .partners__title {
    margin-bottom: calc(60px + 78 * ((100vw - 320px) / 1120));
  }

  .partners__list {
    gap: calc(66px + -6 * ((100vw - 320px) / 1120));
  }

  .partners__list-item dt {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1023px) {
  .divisions__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .divisions__list-item dd {
    font-size: 22px;
  }

  .partners__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .partners__list-item dd {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .intro-slider__header {
    min-height: unset;
    padding-top: 73px;
    padding-left: 0;
    font-size: 17px;
  }

  .intro-slider__header::before {
    width: 60px;
    height: 60px;
    background-size: 22px 31px;
  }

  .intro-slider__wrapper {
    margin-left: -46px;
    margin-right: -46px;
  }

  .intro-slider__thumbs-wrapper {
    margin-left: -20px;
    margin-right: -20px;
  }

  .intro-slider__thumbs-slide {
    width: 250px;
  }

  .intro-slider__controls {
    padding: 0;
  }

  .intro-slider__btns {
    display: none;
  }

  .divisions__title {
    font-size: 96px;
  }

  .divisions__list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    border-top: none;
  }

  .divisions__bg {
    width: 711px;
    height: 472px;
    -webkit-transform: translateX(58%);
        -ms-transform: translateX(58%);
            transform: translateX(58%);
  }
}

@media screen and (max-width: 767px) and (max-width: 1440px) {
  .intro-slider__wrapper {
    margin-left: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .intro-slider__wrapper {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .divisions__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }
}