.contacts {
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: -157px;
  padding-bottom: 223px;
}

.contacts__list {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 20px;
}

.contacts-item {
  width: 382px;
}

.contacts-item_shift {
  grid-column: 2 span;
}

.contacts-item_shift-right {
  margin-left: auto;
}

.contacts-item_shift-left {
  margin-right: auto;
}

.contacts-item_shift-almost-right {
  margin-left: auto;
  margin-right: 114px;
}

.contacts-item_shift-almost-left {
  margin-right: auto;
  margin-left: 114px;
}

.contacts__bg-wrapper {
  position: absolute;
  left: -250px;
  top: 860px;
}

.contacts__bg {
  width: 698px;
  height: 500px;
  --color-patter: var(--color-beige);
}

.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  border-bottom: 1px solid var(--color-border);
}

.contact-card:hover {
  text-decoration: unset;
  color: unset;
}

.contact-card_size_small {
  min-height: 522px;
}

.contact-card__img {
  overflow: hidden;
  width: 100%;
  height: 522px;
  background-color: var(--color-blue-deep);
}

.contact-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform var(--trans--500);
  transition: -webkit-transform var(--trans--500);
  -o-transition: transform var(--trans--500);
  transition: transform var(--trans--500);
  transition: transform var(--trans--500), -webkit-transform var(--trans--500);
}

.contact-card:hover .contact-card__img img,
.contact-card:focus .contact-card__img img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.contact-card_size_small .contact-card__img {
  height: 270px;
}

.contact-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  padding-top: 24px;
}

.contact-card__title {
  margin-bottom: 18px;
}

.contact-card:hover .contact-card__title {
  text-decoration: underline;
}

.contact-card__address {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
}

.contact-card__card-show {
  margin-left: auto;
  margin-top: auto;
}

.contact-card:hover .contact-card__card-show {
  -webkit-animation: 0.5s arrowAnimationType-1;
          animation: 0.5s arrowAnimationType-1;
}

.divisions {
  position: relative;
  overflow: hidden;
  padding: 54px 0 163px;
  font-family: var(--font-family-primary);
}

.divisions .container {
  position: relative;
  z-index: 1;
}

.divisions_color_green {
  --main-color: var(--color-green-ligth);
  background-color: var(--color-green-3);
}

.divisions_color_green .divisions__bg {
  --color-patter: var(--color-green-4);
  opacity: 0.4;
}

.divisions_color_blue {
  --main-color: var(--color-blue-dark-type-2);
  background-color: var(--main-color);
}

.divisions_color_blue .divisions__bg {
  --color-patter: var(--color-blue-dark-type-1);
}

.divisions_color_turquoise {
  --main-color: var(--color-turquoise);
  background-color: var(--main-color);
}

.divisions_color_pink {
  --main-color: var(--color-pink-light);
  background-color: var(--color-pink-bright);
}

.divisions_color_pink .divisions__bg {
  --color-patter: var(--color-pink-light-2);
}

.divisions_patter-type_1 .divisions__bg {
  display: none;
}

.divisions_patter-type_1 .divisions__bg_patter-type_1 {
  display: block;
}

.divisions_patter-type_2 .divisions__bg {
  display: none;
}

.divisions_patter-type_2 .divisions__bg_patter-type_2 {
  display: block;
}

.divisions_patter-type_3 .divisions__bg {
  display: none;
}

.divisions_patter-type_3 .divisions__bg_patter-type_3 {
  display: block;
}

.divisions_patter-type_4 .divisions__bg {
  display: none;
}

.divisions_patter-type_4 .divisions__bg_patter-type_4 {
  display: block;
}

.divisions__title {
  max-width: 750px;
  margin-bottom: 115px;
  color: var(--color-white);
}

.divisions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-top: 65px;
}

.divisions__list-item {
  max-width: 300px;
}

.divisions__list-item dt {
  margin-bottom: 20px;
  color: var(--color-green-dark);
}

.divisions_color_pink .divisions__list-item dt {
  color: var(--color-pink-extra-light);
}

.divisions_color_blue .divisions__list-item dt {
  color: var(--color-blue-ligth);
}

.divisions__link {
  font-family: var(--font-family-primary);
  color: var(--color-white);
}

.divisions__link:hover {
  color: var(--color-white);
}

.divisions__bg-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.divisions__bg {
  width: 953px;
  height: 632px;
}

.partners {
  padding-top: 62px;
  padding-bottom: 227px;
}

.partners__title {
  margin-bottom: 138px;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.partners__list-item {
  max-width: 300px;
}

.partners__list-item:nth-child(2n + 1) {
  grid-column: 1 / 1;
}

.partners__list-item dt {
  margin-bottom: 20px;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.partners__link:hover {
  color: var(--color-black);
}

.partners__partner {
  color: var(--color-hover);
  text-transform: uppercase;
}

@media screen and (max-width: 1679px) {
  .contacts-item {
    width: 322px;
  }

  .contact-card {
    min-height: 440px;
  }

  .contact-card__img {
    height: 440px;
  }

  .contact-card_size_small .contact-card__img {
    height: 228px;
  }
}

@media (max-width: 1440px) {
  .contacts {
    padding-bottom: calc(40px + 183 * ((100vw - 320px) / 1120));
  }

  .divisions__title {
    margin-bottom: calc(52px + 63 * ((100vw - 320px) / 1120));
  }

  .divisions__list {
    gap: calc(66px + -6 * ((100vw - 320px) / 1120));
  }

  .divisions__list-item dt {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1120));
  }

  .partners {
    padding-top: calc(73px + -11 * ((100vw - 320px) / 1120));
  }

  .partners {
    padding-bottom: calc(71px + 156 * ((100vw - 320px) / 1120));
  }

  .partners__title {
    margin-bottom: calc(60px + 78 * ((100vw - 320px) / 1120));
  }

  .partners__list {
    gap: calc(66px + -6 * ((100vw - 320px) / 1120));
  }

  .partners__list-item dt {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .contacts__list {
    grid-template-columns: repeat(auto-fill, 295px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts-item {
    width: 295px;
  }

  .contacts-item_shift {
    grid-column: 1 span;
  }

  .contacts-item_shift-right {
    margin-left: 0;
    margin-right: 0;
  }

  .contacts-item_shift-left {
    margin-left: 0;
    margin-right: 0;
  }

  .contacts-item_shift-almost-right {
    margin-left: 0;
    margin-right: 0;
  }

  .contacts-item_shift-almost-left {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .contacts {
    margin-top: 20px;
  }

  .contacts__list {
    display: block;
    border-top: 1px solid var(--color-border);
  }

  .contacts-item {
    width: 100%;
    margin: 24px 0;
  }

  .contacts__bg-wrapper {
    display: none;
  }

  .contact-card {
    min-height: 602px;
  }

  .contact-card__card-show {
    display: none;
  }

  .divisions__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .divisions__list-item dd {
    font-size: 22px;
  }

  .partners__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .partners__list-item dd {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .contact-card {
    min-height: 402px;
  }

  .contact-card_size_small {
    min-height: 402px;
  }

  .contact-card__img {
    height: 200px;
  }

  .contact-card_size_small .contact-card__img {
    height: 200px;
  }

  .divisions__title {
    font-size: 96px;
  }

  .divisions__list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    border-top: none;
  }

  .divisions__bg {
    width: 711px;
    height: 472px;
    -webkit-transform: translateX(58%);
        -ms-transform: translateX(58%);
            transform: translateX(58%);
  }
}

@media screen and (max-width: 767px) and (max-width: 1440px) {
  .divisions__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }
}