.managers {
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: -50px;
  padding-bottom: 216px;
  background-image: -o-linear-gradient(top, transparent 870px, var(--color-blue-dark-type-2) 870px, var(--color-blue-dark-type-2) 2200px, transparent 2200px);
  background-image: linear-gradient(to bottom, transparent 870px, var(--color-blue-dark-type-2) 870px, var(--color-blue-dark-type-2) 2200px, transparent 2200px);
}

.managers__list {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px 20px;
}

.managers-item {
  width: 382px;
}

.managers-item_shift {
  grid-column: 2 span;
}

.managers-item_shift-right {
  margin-left: auto;
}

.managers-item_shift-left {
  margin-right: auto;
}

.managers-item_shift-almost-right {
  margin-left: auto;
  margin-right: 112px;
}

.managers-item_shift-almost-left {
  margin-right: auto;
  margin-left: 112px;
}

.managers__sliders {
  display: none;
}

.manager__slider {
  overflow-x: auto;
  margin-left: -46px;
  margin-right: -46px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.manager__slider::-webkit-scrollbar {
  display: none;
}

.managers__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.manager__slide {
  width: 273px;
  min-height: 545px;
  padding: 0 20px;
}

.managers__bg-wrapper {
  position: absolute;
  left: -90px;
  top: 870px;
}

.managers__bg {
  width: 892px;
  height: 500px;
  --color-patter: var(--color-blue-dark-type-3);
}

.manager-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.manager-card:hover {
  text-decoration: unset;
  color: unset;
}

.manager-card__photo {
  overflow: hidden;
  width: 100%;
  height: 522px;
  background-color: var(--color-blue-deep);
}

.manager-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-transform var(--trans--500);
  transition: -webkit-transform var(--trans--500);
  -o-transition: transform var(--trans--500);
  transition: transform var(--trans--500);
  transition: transform var(--trans--500), -webkit-transform var(--trans--500);
}

.manager-card:hover .manager-card__photo img,
.manager-card:focus .manager-card__photo img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.manager-card__medium .manager-card__photo {
  height: 440px;
}

.manager-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  padding-top: 24px;
}

.manager-card__name {
  margin-bottom: 18px;
}

.manager-card:hover .manager-card__name {
  text-decoration: underline;
}

.manager-card_inverted-colors .manager-card__name {
  color: var(--color-white);
}

.manager-card__position {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  font-size: 18px;
}

.manager-card_inverted-colors .manager-card__position {
  color: var(--color-blue-ligth);
}

.statutory-docs {
  position: relative;
  overflow: hidden;
  padding-top: 54px;
  padding-bottom: 152px;
  background-color: var(--color-blue-dark-type-2);
}

.statutory-docs .container {
  position: relative;
  z-index: 1;
}

.statutory-docs__title {
  max-width: 750px;
  margin-bottom: 143px;
  color: var(--color-white);
}

.statutory-docs__list {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.statutory-docs__list-item {
  margin-bottom: 55px;
}

.statutory-docs__link {
  color: var(--color-white);
}

.statutory-docs__link:hover,
.statutory-docs__link:focus {
  color: var(--color-white);
  text-decoration: none;
}

.statutory-docs__link:hover .statutory-docs__file-name,
.statutory-docs__link:focus .statutory-docs__file-name {
  text-decoration: underline;
}

.statutory-docs__file-type {
  margin-bottom: 18px;
  color: var(--color-blue-ligth);
}

.statutory-docs__bg-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.statutory-docs__bg {
  width: 953px;
  height: 632px;
  --color-patter: var(--color-blue3);
  opacity: 0.4;
}

.annual-meetings {
  padding-top: 54px;
  padding-bottom: 235px;
}

.annual-meetings__title {
  margin-bottom: 139px;
  max-width: 910px;
}

.annual-meetings__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 80px;
}

.annual-meetings__link {
  color: var(--color-black);
}

.annual-meetings__link:hover,
.annual-meetings__link:focus {
  color: var(--color-black);
  text-decoration: none;
}

.annual-meetings__link:hover .annual-meetings__file-name,
.annual-meetings__link:focus .annual-meetings__file-name {
  text-decoration: underline;
}

.annual-meetings__file-data {
  margin-bottom: 18px;
  color: var(--color-black-060);
}

.annual-meetings__file-data span:not(:last-child) {
  position: relative;
  margin-right: 46px;
}

.annual-meetings__file-data span:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -23px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 6px;
  height: 6px;
  background-color: var(--color-black-060);
  border-radius: 50%;
}

@media screen and (max-width: 1679px) {
  .managers-item {
    width: 322px;
  }

  .managers-item_shift-almost-right {
    margin-right: 0;
  }

  .managers-item_shift-almost-left {
    margin-left: 0;
  }

  .manager-card__photo {
    height: 440px;
  }
}

@media (max-width: 1440px) {
  .managers {
    padding-bottom: calc(40px + 176 * ((100vw - 320px) / 1120));
  }

  .manager__slider {
    margin-left: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .manager__slider {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .manager-card__position {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .statutory-docs {
    padding-top: calc(24px + 30 * ((100vw - 320px) / 1120));
  }

  .statutory-docs {
    padding-bottom: calc(143px + 9 * ((100vw - 320px) / 1120));
  }

  .statutory-docs__title {
    margin-bottom: calc(48px + 95 * ((100vw - 320px) / 1120));
  }

  .statutory-docs__file-type {
    margin-bottom: calc(15px + 3 * ((100vw - 320px) / 1120));
  }

  .annual-meetings {
    padding-top: calc(72px + -18 * ((100vw - 320px) / 1120));
  }

  .annual-meetings {
    padding-bottom: calc(114px + 121 * ((100vw - 320px) / 1120));
  }

  .annual-meetings__title {
    margin-bottom: calc(60px + 79 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .managers-item {
    width: 295px;
  }

  .managers-item_shift-almost-right {
    margin-right: 0;
  }

  .managers-item_shift-almost-left {
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .managers {
    margin-top: 20px;
    background-image: -o-linear-gradient(top, transparent 703px, var(--color-blue-dark-type-2) 703px);
    background-image: linear-gradient(to bottom, transparent 703px, var(--color-blue-dark-type-2) 703px);
  }

  .managers__list {
    display: none;
  }

  .managers__sliders {
    display: block;
  }

  .managers__bg-wrapper {
    display: none;
  }

  .manager-card {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
  }

  .manager__slider:first-child .manager-card {
    border-top: 1px solid var(--color-border);
  }

  .manager-card__photo {
    height: 320px;
  }

  .manager-card__desc {
    padding: 0;
    padding-top: 20px;
  }

  .statutory-docs {
    background-color: var(--color-green-ligth);
  }

  .statutory-docs__list {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }

  .annual-meetings__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .statutory-docs__title {
    font-size: 96px;
    line-height: 46px;
  }

  .statutory-docs__list {
    -webkit-columns: unset;
       -moz-columns: unset;
            columns: unset;
  }

  .statutory-docs__bg {
    display: none;
  }

  .annual-meetings__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 72px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1440px) {
  .statutory-docs__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }
}