.financial-reports {
  padding-top: 70px;
  padding-bottom: 120px;
}

.documents-archive {
  position: relative;
}

.documents-archive__subscribtion {
  position: absolute;
  top: 0;
  right: 0;
}

.documents-archive__subscribtion-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 22px;
  font-family: var(--font-family-primary);
  font-size: inherit;
  line-height: inherit;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 1px;
  -webkit-transition: color var(--trans--300), border-color var(--trans--300);
  -o-transition: color var(--trans--300), border-color var(--trans--300);
  transition: color var(--trans--300), border-color var(--trans--300);
}

.documents-archive__subscribtion-btn span {
  margin-left: 15px;
}

.documents-archive__subscribtion-btn:hover,
.documents-archive__subscribtion-btn:focus {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

.documents-archive__summary .documents-archive__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 21px;
}

.documents-archive__year {
  margin-bottom: 45px;
  margin-bottom: 42px;
}

.documents-archive__summary .documents-archive__year {
  margin-left: 20px;
}

.documents-archive__item:not(:last-child) {
  margin-bottom: 80px;
}

.documents-archive__year-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;
}

.documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__year-list {
  grid-template-columns: 1fr;
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-list {
  grid-template-columns: repeat(2, 1fr);
}

.documents-archive__year-item {
  position: relative;
  margin-bottom: -1px;
  padding: 20px 0;
}

.documents-archive__year-item:before {
  position: absolute;
  width: 100%;
  top: 0;
  height: 1px;
  left: 0;
  background-color: var(--color-border);
}

.documents-archive__year-item:nth-child(1):before,
.documents-archive__year-item:nth-child(2):before,
.documents-archive__year-item:nth-child(3):before {
  content: "";
}

.documents-archive__year-item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-border);
}

.documents-archive__link {
  position: relative;
  font-family: var(--font-family-primary);
  width: 100%;
  min-height: 160px;
  height: 100%;
  padding: 12px 20px;
  color: var(--color-black);
}

.documents-archive__link:hover,
.documents-archive__link:focus {
  color: var(--color-black);
  text-decoration: none;
}

.documents-archive__link:hover .documents-archive__file-name,
.documents-archive__link:focus .documents-archive__file-name {
  text-decoration: underline;
}

.documents-archive__link::before {
  position: absolute;
  top: 0;
  right: -11px;
  bottom: 0;
  width: 1px;
  background-color: var(--color-border);
}

.documents-archive__year-item:not(:nth-child(3n)) .documents-archive__link::before {
  content: "";
}

.documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__link::before {
  content: unset;
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__link::before {
  content: "";
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n) .documents-archive__link::before {
  content: unset;
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n + 1) .documents-archive__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: -11px;
  bottom: 0;
  width: 1px;
  background-color: var(--color-border);
}

.documents-archive__file-data {
  margin-bottom: 18px;
  color: var(--color-black-060);
}

.documents-archive__file-data span:not(:last-child) {
  position: relative;
  margin-right: 46px;
}

.documents-archive__file-data span:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -23px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 6px;
  height: 6px;
  background-color: var(--color-black-060);
  border-radius: 50%;
}

.documents-archive__load-more-btn {
  display: block;
  margin: 125px auto 0;
}

@media (max-width: 1440px) {
  .financial-reports {
    padding-top: calc(44px + 26 * ((100vw - 320px) / 1120));
  }

  .financial-reports {
    padding-bottom: calc(65px + 55 * ((100vw - 320px) / 1120));
  }

  .documents-archive__year {
    margin-bottom: calc(20px + 22 * ((100vw - 320px) / 1120));
  }

  .documents-archive__item:not(:last-child) {
    margin-bottom: calc(52px + 28 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1023px) {
  .documents-archive__summary .documents-archive__list {
    display: block;
  }

  .documents-archive__summary .documents-archive__year {
    margin-left: unset;
  }

  .documents-archive__year-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__year-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .documents-archive__year-item:nth-child(3):before {
    content: unset;
  }

  .documents-archive__year-item:not(:nth-child(3n)) .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__year-item:not(:nth-child(2n)) .documents-archive__link::before {
    content: "";
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n + 1) .documents-archive__link::after {
    content: unset;
  }
}

@media screen and (max-width: 767px) {
  .documents-archive__year-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__year-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .documents-archive__year-item {
    margin-bottom: 0;
    padding: 0;
  }

  .documents-archive__year-item:nth-child(2):before {
    content: unset;
  }

  .documents-archive__link {
    padding-left: 0;
    padding-right: 0;
  }

  .documents-archive__year-item:not(:nth-child(2n)) .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__file-name {
    font-size: 22px;
    line-height: 32px;
  }

  .documents-archive__load-more-btn {
    margin: 55px auto 0;
  }
}