.focus {
  margin-top: 40px;
}

.timeline__loading {
  height: 300px;
  height: 300px;
  position: relative;
}

.timeline__loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url("../../img/loading.svg");
  background-size: 100% 100%;
  -webkit-animation: loadingAnimation 2s infinite;
          animation: loadingAnimation 2s infinite;
}

.colored-block {
  overflow: hidden;
  padding-top: 20px;
}

.colored-block:not(:first-child) {
  margin-top: 40px;
}

.colored-block:not(:last-child) {
  margin-bottom: 40px;
}

.colored-block .card__button {
  border-color: var(--color-white);
}

.colored-block .card__button:hover,
.colored-block .card__button:focus {
  color: var(--color-white);
  opacity: 0.8;
}

.colored-block_blue {
  background-color: var(--color-hover);
  color: var(--color-white);
}

.colored-block_blue .card {
  border-color: var(--color-blue-deep);
}

.colored-block_blue .card__subtitle {
  color: var(--color-blue-ligth);
}

.colored-block_blue .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_blue .card::after {
  background-color: var(--color-blue-deep);
}

.colored-block_blue-2 {
  background-color: var(--color-blue-dark-type-2);
  color: var(--color-white);
}

.colored-block_blue-2 .card {
  border-color: var(--color-blue4);
}

.colored-block_blue-2 .card__subtitle {
  color: var(--color-blue-ligth);
}

.colored-block_blue-2 .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_blue-2 .card::after,
.colored-block_blue-2 .card::before {
  background-color: var(--color-blue4);
}

.colored-block_blue-2 .card .card__more-borders::after,
.colored-block_blue-2 .card .card__more-borders::before {
  background-color: var(--color-blue4);
}

.colored-block_light-blue {
  background-color: var(--color-blue-light);
  color: var(--color-white);
}

.colored-block_light-blue .card {
  border-color: var(--color-blue-light2);
}

.colored-block_light-blue .card__subtitle {
  color: var(--color-blue2);
}

.colored-block_light-blue .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_light-blue .card::after {
  background-color: var(--color-blue-light2);
}

.colored-block_light-orange {
  background-color: var(--color-orange-light);
  color: var(--color-white);
}

.colored-block_light-orange .card {
  border-color: var(--color-orange-special-1);
}

.colored-block_light-orange .card__subtitle {
  color: var(--color-orange-dark);
}

.colored-block_light-orange .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_light-orange .card::after {
  background-color: var(--color-orange-special-1);
}

.colored-block_green {
  background-color: var(--color-green-3);
  color: var(--color-white);
}

.colored-block_green .card {
  border-color: var(--color-green-2);
}

.colored-block_green .card__subtitle {
  color: var(--color-green-dark-2);
}

.colored-block_green .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_green .card::after {
  background-color: var(--color-green-2);
}

.colored-block_turquoise {
  background-color: var(--color-turquoise-dim);
  color: var(--color-white);
}

.colored-block_turquoise .card {
  border-color: var(--color-turquoise-dark-2);
}

.colored-block_turquoise .card__subtitle {
  color: var(--color-turquoise-extra-dark);
}

.colored-block_turquoise .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_turquoise .card::after {
  background-color: var(--color-turquoise-dark-2);
}

.colored-block_purple {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.colored-block_purple .card {
  border-color: var(--color-purple4);
}

.colored-block_purple .card__subtitle {
  color: var(--color-purple5);
}

.colored-block_purple .card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.colored-block_purple .card::after {
  background-color: var(--color-purple4);
}

@media (max-width: 1440px) {
  .timeline__loading {
    height: calc(158px + 142 * ((100vw - 320px) / 1120));
  }
}