.for-investors-news {
  margin-top: 60px;
  margin-bottom: 120px;
}

.for-investors-news__title {
  margin-bottom: 75px;
}

.for-investors-news__btn {
  margin: 75px auto 0;
}

.banner {
  margin-bottom: 116px;
}

.banner__wrapper {
  overflow: hidden;
  position: relative;
  min-height: 674px;
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-blue6);
}

.banner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__decor {
  position: absolute;
  right: 20px;
  bottom: -136px;
  z-index: 2;
  --color-patter: var(--color-white-almost);
}

.banner__content {
  position: relative;
  z-index: 3;
  padding-top: 46px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 46px;
  color: var(--color-white);
}

.banner__title {
  max-width: 650px;
  margin-bottom: 48px;
}

.banner__paragraph {
  max-width: 480px;
}

.banner__paragraph:not(:last-child) {
  margin-bottom: 32px;
}

.financial-reports-block {
  margin-bottom: 195px;
}

.financial-reports-block__banner {
  margin-bottom: 85px;
}

.financial-reports-block__years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;
  margin-bottom: 46px;
}

.financial-reports-block__year:not(first-child) {
  margin-left: 20px;
}

.financial-reports-block__btn {
  margin: 80px auto 0;
}

.documents-archive {
  position: relative;
}

.documents-archive__subscribtion {
  position: absolute;
  top: 0;
  right: 0;
}

.documents-archive__subscribtion-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 22px;
  font-family: var(--font-family-primary);
  font-size: inherit;
  line-height: inherit;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 1px;
  -webkit-transition: color var(--trans--300), border-color var(--trans--300);
  -o-transition: color var(--trans--300), border-color var(--trans--300);
  transition: color var(--trans--300), border-color var(--trans--300);
}

.documents-archive__subscribtion-btn span {
  margin-left: 15px;
}

.documents-archive__subscribtion-btn:hover,
.documents-archive__subscribtion-btn:focus {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

.documents-archive__summary .documents-archive__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 21px;
}

.documents-archive__year {
  margin-bottom: 45px;
  margin-bottom: 42px;
}

.documents-archive__summary .documents-archive__year {
  margin-left: 20px;
}

.documents-archive__item:not(:last-child) {
  margin-bottom: 80px;
}

.documents-archive__year-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;
}

.documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__year-list {
  grid-template-columns: 1fr;
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-list {
  grid-template-columns: repeat(2, 1fr);
}

.documents-archive__year-item {
  position: relative;
  margin-bottom: -1px;
  padding: 20px 0;
}

.documents-archive__year-item:before {
  position: absolute;
  width: 100%;
  top: 0;
  height: 1px;
  left: 0;
  background-color: var(--color-border);
}

.documents-archive__year-item:nth-child(1):before,
.documents-archive__year-item:nth-child(2):before,
.documents-archive__year-item:nth-child(3):before {
  content: "";
}

.documents-archive__year-item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-border);
}

.documents-archive__link {
  position: relative;
  font-family: var(--font-family-primary);
  width: 100%;
  min-height: 160px;
  height: 100%;
  padding: 12px 20px;
  color: var(--color-black);
}

.documents-archive__link:hover,
.documents-archive__link:focus {
  color: var(--color-black);
  text-decoration: none;
}

.documents-archive__link:hover .documents-archive__file-name,
.documents-archive__link:focus .documents-archive__file-name {
  text-decoration: underline;
}

.documents-archive__link::before {
  position: absolute;
  top: 0;
  right: -11px;
  bottom: 0;
  width: 1px;
  background-color: var(--color-border);
}

.documents-archive__year-item:not(:nth-child(3n)) .documents-archive__link::before {
  content: "";
}

.documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__link::before {
  content: unset;
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__link::before {
  content: "";
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n) .documents-archive__link::before {
  content: unset;
}

.documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n + 1) .documents-archive__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: -11px;
  bottom: 0;
  width: 1px;
  background-color: var(--color-border);
}

.documents-archive__file-data {
  margin-bottom: 18px;
  color: var(--color-black-060);
}

.documents-archive__file-data span:not(:last-child) {
  position: relative;
  margin-right: 46px;
}

.documents-archive__file-data span:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -23px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 6px;
  height: 6px;
  background-color: var(--color-black-060);
  border-radius: 50%;
}

.documents-archive__load-more-btn {
  display: block;
  margin: 125px auto 0;
}

.team {
  position: relative;
  z-index: 8;
}

.team_for-investors {
  margin-bottom: 205px;
}

.team_for-team {
  margin-bottom: 120px;
}

.team__title {
  max-width: 1020px;
  font-size: 96px;
  margin-bottom: 134px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 322px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px 20px;
  margin-top: -50px;
}

.team-item {
  width: 322px;
  max-width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.team__bg {
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 950px;
  height: 630px;
  z-index: -1;
  --color-patter: var(--color-white-almost);
}

.manager-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.manager-card:hover {
  text-decoration: unset;
  color: unset;
}

.manager-card__photo {
  overflow: hidden;
  width: 100%;
  height: 522px;
  background-color: var(--color-blue-deep);
}

.manager-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-transform var(--trans--500);
  transition: -webkit-transform var(--trans--500);
  -o-transition: transform var(--trans--500);
  transition: transform var(--trans--500);
  transition: transform var(--trans--500), -webkit-transform var(--trans--500);
}

.manager-card:hover .manager-card__photo img,
.manager-card:focus .manager-card__photo img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.manager-card__medium .manager-card__photo {
  height: 440px;
}

.manager-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  padding-top: 24px;
}

.manager-card__name {
  margin-bottom: 18px;
}

.manager-card:hover .manager-card__name {
  text-decoration: underline;
}

.manager-card_inverted-colors .manager-card__name {
  color: var(--color-white);
}

.manager-card__position {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  font-size: 18px;
}

.manager-card_inverted-colors .manager-card__position {
  color: var(--color-blue-ligth);
}

.share-capital {
  margin-bottom: 193px;
}

.share-capital__title {
  margin-bottom: 64px;
}

.share-capital__desc-title {
  margin-bottom: 12px;
}

.share-capital__desc {
  margin-bottom: 145px;
}

.share-capital__img {
  max-width: 921px;
  width: calc(100% - 2 * 65px);
  margin: 0 65px;
}

.share-capital__img img {
  width: 100%;
  height: auto;
}

.statutory-documents {
  margin-bottom: 235px;
}

.statutory-documents__title {
  margin-bottom: 70px;
}

@media (min-width: 768px) {
  .banner {
    margin-bottom: calc(116px + 0 * ((100vw - 768px) / 672));
  }

  .financial-reports-block__banner {
    margin-bottom: calc(85px + 0 * ((100vw - 768px) / 672));
  }
}

@media screen and (max-width: 1679px) {
  .manager-card__photo {
    height: 440px;
  }
}

@media (max-width: 1440px) {
  .banner__content {
    padding-top: calc(11px + 35 * ((100vw - 320px) / 1120));
  }

  .banner__content {
    padding-left: calc(13px + 41 * ((100vw - 320px) / 1120));
  }

  .banner__content {
    padding-right: calc(13px + 41 * ((100vw - 320px) / 1120));
  }

  .banner__content {
    padding-bottom: calc(11px + 35 * ((100vw - 320px) / 1120));
  }

  .banner__title {
    margin-bottom: calc(24px + 24 * ((100vw - 320px) / 1120));
  }

  .documents-archive__year {
    margin-bottom: calc(20px + 22 * ((100vw - 320px) / 1120));
  }

  .documents-archive__item:not(:last-child) {
    margin-bottom: calc(52px + 28 * ((100vw - 320px) / 1120));
  }

  .team__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }

  .team__title {
    margin-bottom: calc(40px + 94 * ((100vw - 320px) / 1120));
  }

  .team__bg {
    width: calc(238px + 712 * ((100vw - 320px) / 1120));
  }

  .team__bg {
    height: calc(158px + 472 * ((100vw - 320px) / 1120));
  }

  .manager-card__position {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .team__list {
    gap: 80px 20px;
  }
}

@media screen and (max-width: 1023px) {
  .banner__wrapper {
    min-height: 337px;
  }

  .banner__decor {
    display: none;
  }

  .documents-archive__summary .documents-archive__list {
    display: block;
  }

  .documents-archive__summary .documents-archive__year {
    margin-left: unset;
  }

  .documents-archive__year-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__year-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .documents-archive__year-item:nth-child(3):before {
    content: unset;
  }

  .documents-archive__year-item:not(:nth-child(3n)) .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__year-item:not(:nth-child(2n)) .documents-archive__link::before {
    content: "";
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-item:nth-child(2n + 1) .documents-archive__link::after {
    content: unset;
  }

  .manager-card {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
  }

  .manager__slider:first-child .manager-card {
    border-top: 1px solid var(--color-border);
  }

  .manager-card__photo {
    height: 320px;
  }

  .manager-card__desc {
    padding: 0;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .banner {
    margin-bottom: calc(58px + 58 * ((100vw - 320px) / 448));
  }

  .financial-reports-block__banner {
    margin-bottom: calc(40px + 45 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 767px) {
  .documents-archive__year-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(1) .documents-archive__year-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__year-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .documents-archive__year-item {
    margin-bottom: 0;
    padding: 0;
  }

  .documents-archive__year-item:nth-child(2):before {
    content: unset;
  }

  .documents-archive__link {
    padding-left: 0;
    padding-right: 0;
  }

  .documents-archive__year-item:not(:nth-child(2n)) .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__summary .documents-archive__item:nth-child(2) .documents-archive__link::before {
    content: unset;
  }

  .documents-archive__file-name {
    font-size: 22px;
    line-height: 32px;
  }

  .documents-archive__load-more-btn {
    margin: 55px auto 0;
  }
}

@media screen and (max-width: 599px) {
  .team__list {
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team-item {
    width: 100%;
    max-width: 322px;
  }
}

@media screen and (max-width: 374px) {
  .banner__title {
    font-size: 40px;
  }

  .banner__paragraph {
    font-size: 16px;
  }

  .banner__paragraph:not(:last-child) {
    margin-bottom: 28px;
  }
}