.big-banner {
  color: var(--color-white);
}

.big-banner__wrapper {
  position: relative;
  height: calc(100vh - 80px);
  background-color: var(--color-purple2);
}

.big-banner__wrapper .container {
  height: 100%;
}

.big-banner__text {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-bottom: 50px;
}

.big-banner__title {
  font-size: 96px;
}

.big-banner__description {
  margin-top: 35px;
  max-width: 435px;
  font-size: 18px;
}

.big-banner__video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.big-banner__video-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00122d;
  opacity: 0.35;
}

.big-banner__video {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-banner__next {
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: auto;
  position: absolute;
  bottom: 50px;
}

.system {
  overflow: hidden;
  padding-top: 142px;
  padding-bottom: 142px;
  background-color: var(--color-blue-dark-type-2);
  position: relative;
}

.system__container {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.system__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 24px;
  width: 1000px;
  height: 536px;
  background-position: bottom;
  background-size: 100%;
}

.system__text {
  font-family: var(--font-family-primary);
  font-size: 64px;
  line-height: 72px;
  color: var(--color-white);
  font-weight: 500;
  max-width: 1340px;
  z-index: 1;
  position: relative;
}

.system__text-strong {
  position: relative;
  display: inline-block;
}

.system__text-strong:hover {
  color: inherit;
  text-decoration: none;
}

.system__text-strong::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-white);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.system__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.system__bg-wrapper {
  height: 100%;
  width: 53vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.system__bg-wrapper .patter {
  --color-patter: var(--color-blue6);
}

.projects {
  padding-top: 140px;
  overflow: hidden;
}

.projects_landing-page {
  padding: 100px 0;
}

.projects__title {
  margin-bottom: 90px;
}

.projects_landing-page .projects__title {
  max-width: 1100px;
  margin-bottom: 55px;
}

.projects__desc {
  max-width: 860px;
  margin-bottom: 130px;
}

.projects-swiper {
  width: 100vw;
  pointer-events: none;
}

.projects__cards {
  display: grid;
  row-gap: 44px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 44px;
  max-width: 2364px;
  width: 2364px;
}

.projects__cards-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.projects__cards-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.projects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  overflow: hidden;
}

.projects__card-logo {
  width: 110px;
  height: 110px;
}

.projects__card-logo img {
  width: 100%;
}

.projects__card-pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.projects__card-pic-img {
  width: auto;
  height: 100%;
  max-width: unset;
}

.projects__card_large {
  grid-column: span 2;
  grid-row: span 2;
  width: 330px;
  height: 330px;
  border-radius: 22px;
  padding: 0 !important;
}

.projects__card_large .projects__card-pic-img {
  max-height: 330px;
}

.projects__card_medium {
  grid-column: span 2;
  width: 330px;
  height: 142px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 22px;
  padding: 0 !important;
}

.projects__card_medium .projects__card-pic-img {
  max-height: 142px;
}

.projects__show-all {
  margin: 0 auto;
  margin-top: 100px;
}

.projects_landing-page .projects__show-all {
  margin-top: 75px;
}

.swiper-container-free-mode > .projects__cards-wrapper.swiper-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.products {
  overflow: hidden;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  height: 874px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(185, 185, 185, 0.4);
  border-bottom: 1px solid rgba(185, 185, 185, 0.4);
}

.products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-position: calc(110px + 240 * ((1680px - 320px) / 1120));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.products__card::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -10px;
  height: 100%;
  width: 1px;
  background-color: rgba(185, 185, 185, 0.4);
}

.products__card::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.4);
}

.products__card:nth-of-type(4)::before,
.products__card:nth-of-type(7)::before,
.products__card:nth-of-type(12)::before {
  display: none;
}

.products__card:nth-of-type(10)::after,
.products__card:nth-of-type(12)::after,
.products__card:nth-of-type(13)::after,
.products__card:nth-of-type(14)::after {
  display: none;
}

.products__card-bg {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.products__card-bg-wrapper {
  position: absolute;
  bottom: 0;
  height: 53%;
  max-width: 100%;
  width: 100%;
  right: 0;
  overflow: hidden;
}

.products__card:hover {
  color: var(--color-white);
  text-decoration: none;
}

.products__card:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.products__card:nth-child(5) {
  grid-area: 2 / 2 / 4 / 3;
}

.products__card:nth-child(7) {
  grid-area: 2 / 4 / 4 / 5;
}

.products__card:nth-child(9) {
  grid-area: 3 / 3 / 5 / 4;
}

.products__card:nth-child(10) {
  grid-area: 4 / 1 / 6 / 2;
}

.products__card:nth-child(12) {
  grid-area: 4 / 4 / 6 / 5;
}

.products__card_blue {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-blue-dark-type-2)), to(var(--color-blue-dark-type-2)));
  background-image: -o-linear-gradient(bottom, var(--color-blue-dark-type-2), var(--color-blue-dark-type-2));
  background-image: linear-gradient(0deg, var(--color-blue-dark-type-2), var(--color-blue-dark-type-2));
  --color-patter: var(--color-blue3);
}

.products__card_violet {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-purple2)), to(var(--color-purple2)));
  background-image: -o-linear-gradient(bottom, var(--color-purple2), var(--color-purple2));
  background-image: linear-gradient(0deg, var(--color-purple2), var(--color-purple2));
  --color-patter: var(--color-purple6);
}

.products__card_violet-light {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-purple-dim)), to(var(--color-purple-dim)));
  background-image: -o-linear-gradient(bottom, var(--color-purple-dim), var(--color-purple-dim));
  background-image: linear-gradient(0deg, var(--color-purple-dim), var(--color-purple-dim));
  --color-patter: var(--color-purple3);
}

.products__card_pink {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-pink2)), to(var(--color-pink2)));
  background-image: -o-linear-gradient(bottom, var(--color-pink2), var(--color-pink2));
  background-image: linear-gradient(0deg, var(--color-pink2), var(--color-pink2));
  --color-patter: var(--color-pink3);
}

.products__card_pink-another-patter {
  --color-patter: var(--color-pink4);
}

.products__card_pink-light {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-pink-bright2)), to(var(--color-pink-bright2)));
  background-image: -o-linear-gradient(bottom, var(--color-pink-bright2), var(--color-pink-bright2));
  background-image: linear-gradient(0deg, var(--color-pink-bright2), var(--color-pink-bright2));
  --color-patter: var(--color-blue-dark-type-1);
}

.products__card_pink-dark {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-pink5)), to(var(--color-pink5)));
  background-image: -o-linear-gradient(bottom, var(--color-pink5), var(--color-pink5));
  background-image: linear-gradient(0deg, var(--color-pink5), var(--color-pink5));
  --color-patter: var(--color-blue-dark-type-1);
}

.products__card_green1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-green-3)), to(var(--color-green-3)));
  background-image: -o-linear-gradient(bottom, var(--color-green-3), var(--color-green-3));
  background-image: linear-gradient(0deg, var(--color-green-3), var(--color-green-3));
  --color-patter: var(--color-green-2);
}

.products__card_green2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-green-3)), to(var(--color-green-3)));
  background-image: -o-linear-gradient(bottom, var(--color-green-3), var(--color-green-3));
  background-image: linear-gradient(0deg, var(--color-green-3), var(--color-green-3));
  --color-patter: var(--color-green-ligth-4);
}

.products__card_orange {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-orange-light)), to(var(--color-orange-light)));
  background-image: -o-linear-gradient(bottom, var(--color-orange-light), var(--color-orange-light));
  background-image: linear-gradient(0deg, var(--color-orange-light), var(--color-orange-light));
  background-color: var();
  --color-patter: var(--color-orange);
}

.products__card_turquoise {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-turquoise-3)), to(var(--color-turquoise-3)));
  background-image: -o-linear-gradient(bottom, var(--color-turquoise-3), var(--color-turquoise-3));
  background-image: linear-gradient(0deg, var(--color-turquoise-3), var(--color-turquoise-3));
}

.products__card_patter-3 .products__card {
  overflow: hidden;
}

.products__card_patter-3 .products__card-bg {
  width: 126%;
  height: 145%;
}

.products__card-title {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  max-width: 195px;
  text-align: center;
}

.products__show-more {
  display: none;
}

.press {
  padding-top: 186px;
  overflow: hidden;
  margin-bottom: 200px;
}

.press__cards {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.press__cards-row {
  margin-top: 40px;
}

.press .card_large {
  border-bottom: 1px solid var(--color-border);
  border-top: none;
}

.press__show-all {
  margin: 0 auto;
  margin-top: 77px;
  width: 300px;
}

.promo {
  margin: 0 auto;
  margin-top: 200px;
  padding-bottom: 130px;
  position: relative;
  max-width: 1440px;
}

.promo__title {
  max-width: 1000px;
  font-size: 64px;
  margin-bottom: 88px;
}

.promo__cards {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  -webkit-column-gap: 134px;
     -moz-column-gap: 134px;
          column-gap: 134px;
}

.promo__card:not(:last-child) {
  margin-bottom: 145px;
}

.promo__card-photo {
  margin-bottom: 22px;
}

.promo__card-text {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 550px;
}

.promo__card-title {
  font-size: 36px;
  margin-bottom: 13px;
}

.promo__card-description {
  font-size: 18px;
  line-height: 1.78;
}

.promo__bg {
  position: absolute;
  --color-patter: var(--color-white-almost);
  z-index: -1;
  width: 750px;
  height: 500px;
}

.promo__bg_middle {
  top: 60%;
  left: -15%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.promo__bg_bottom {
  bottom: 0;
  right: -15%;
}

@media screen and (max-width: 1680px) {
  .products__card {
    background-position: calc(110px + 240 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 1440px) {
  .big-banner__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }

  .big-banner__description {
    margin-top: calc(9px + 26 * ((100vw - 320px) / 1120));
  }

  .system {
    padding-top: calc(34px + 108 * ((100vw - 320px) / 1120));
  }

  .system {
    padding-bottom: calc(160px + -18 * ((100vw - 320px) / 1120));
  }

  .system__container::before {
    width: calc(600px + 400 * ((100vw - 320px) / 1120));
  }

  .system__container::before {
    height: calc(135px + 401 * ((100vw - 320px) / 1120));
  }

  .system__text {
    font-size: calc(26px + 38 * ((100vw - 320px) / 1120));
  }

  .system__text {
    line-height: calc(34px + 38 * ((100vw - 320px) / 1120));
  }

  .projects {
    padding-top: calc(70px + 70 * ((100vw - 320px) / 1120));
  }

  .projects__title {
    margin-bottom: calc(30px + 60 * ((100vw - 320px) / 1120));
  }

  .projects_landing-page .projects__title {
    margin-bottom: calc(55px + 0 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    row-gap: calc(26px + 18 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    -webkit-column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
       -moz-column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
            column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    margin-right: calc(26px + 18 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    max-width: calc(1418px + 946 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    width: calc(1418px + 946 * ((100vw - 320px) / 1120));
  }

  .projects__card {
    padding: calc(0px + 16 * ((100vw - 320px) / 1120));
  }

  .projects__card-logo {
    width: calc(66px + 44 * ((100vw - 320px) / 1120));
  }

  .projects__card-logo {
    height: calc(66px + 44 * ((100vw - 320px) / 1120));
  }

  .projects__card_large {
    width: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_large {
    height: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_large .projects__card-pic-img {
    max-height: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium {
    width: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium {
    height: calc(85px + 57 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium .projects__card-pic-img {
    max-height: calc(85px + 57 * ((100vw - 320px) / 1120));
  }

  .projects__show-all {
    margin-top: calc(70px + 30 * ((100vw - 320px) / 1120));
  }

  .press {
    padding-top: calc(72px + 114 * ((100vw - 320px) / 1120));
  }

  .press {
    margin-bottom: calc(120px + 80 * ((100vw - 320px) / 1120));
  }

  .press__cards {
    margin-top: calc(35px + 5 * ((100vw - 320px) / 1120));
  }

  .press__cards {
    padding-top: calc(24px + 16 * ((100vw - 320px) / 1120));
  }

  .press__cards {
    padding-bottom: calc(24px + 16 * ((100vw - 320px) / 1120));
  }

  .press__show-all {
    margin-top: calc(70px + 7 * ((100vw - 320px) / 1120));
  }

  .promo {
    margin-top: calc(72px + 128 * ((100vw - 320px) / 1120));
  }

  .promo__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 1120));
  }

  .promo__title {
    margin-bottom: calc(30px + 58 * ((100vw - 320px) / 1120));
  }

  .promo__cards {
    -webkit-column-gap: calc(0px + 134 * ((100vw - 320px) / 1120));
       -moz-column-gap: calc(0px + 134 * ((100vw - 320px) / 1120));
            column-gap: calc(0px + 134 * ((100vw - 320px) / 1120));
  }

  .promo__card:not(:last-child) {
    margin-bottom: calc(60px + 85 * ((100vw - 320px) / 1120));
  }

  .promo__card-photo {
    margin-bottom: calc(18px + 4 * ((100vw - 320px) / 1120));
  }

  .promo__card-text {
    padding-left: calc(0px + 15 * ((100vw - 320px) / 1120));
  }

  .promo__card-text {
    padding-right: calc(0px + 15 * ((100vw - 320px) / 1120));
  }

  .promo__card-title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 1120));
  }

  .promo__card-description {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .promo__bg {
    width: calc(375px + 375 * ((100vw - 320px) / 1120));
  }

  .promo__bg {
    height: calc(250px + 250 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1024px) {
  .promo {
    overflow: hidden;
  }
}

@media screen and (max-width: 851px) {
  .system__text-strong {
    display: inline;
    text-decoration: underline;
  }

  .system__text-strong::before {
    display: none;
  }

  .system__bg-wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .big-banner__wrapper {
    height: 500px;
    background-image: url("../../img/big-banner-bg.png");
    background-size: cover;
  }

  .big-banner__text {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .big-banner__next {
    display: none;
  }

  .big-banner__video {
    display: none;
  }

  .products__card {
    background-position: 322px;
  }

  .products {
    padding-bottom: 61px;
  }

  .products__cards {
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: auto;
    border: none;
  }

  .products__card {
    grid-area: auto !important;
    height: 180px;
    border-bottom: 1px solid rgba(185, 185, 185, 0.4);
  }

  .products__card::before,
  .products__card::after {
    display: none;
  }

  .products__card:first-of-type {
    border-top: 1px solid rgba(185, 185, 185, 0.4);
  }

  .products__card_patter:hover {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .products__card-bg {
    display: none;
  }

  .products__show-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 68px;
    width: 100%;
    padding-left: 18px;
  }

  .press__cards-row {
    border: none;
  }

  .press__show-all {
    width: 100%;
  }

  .promo {
    margin-bottom: -10px;
  }

  .promo__cards {
    grid-template-columns: auto;
  }

  .promo__cards-list:not(:last-child) {
    margin-bottom: 145px;
  }

  .promo__card {
    padding-top: 20px;
    border-top: 1px solid var(--color-border);
  }

  .promo__card-photo {
    height: 400px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__card-photo-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .promo__card-text {
    padding: 0;
  }

  .promo__bg_bottom {
    right: -50%;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .products__card {
    background-position: calc(280px + 428 * ((100vw - 320px) / 448));
  }

  .promo__card-photo {
    height: calc(200px + 200 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 768px) and (max-width: 1440px) {
  .promo__cards-list:not(:last-child) {
    margin-bottom: calc(60px + 85 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .products__card {
    background-position: calc(708px + -386 * ((100vw - 768px) / 672));
  }

  .promo__card-photo {
    height: calc(400px + 0 * ((100vw - 768px) / 672));
  }
}