[data-animate].fib-40,
[data-animate] .fib-40 {
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

[data-animate].fib-60,
[data-animate] .fib-60 {
  -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
}

[data-animate].d-200,
[data-animate] .d-200 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

[data-animate].d-400,
[data-animate] .d-400 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

[data-animate].d-600,
[data-animate] .d-600 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

[data-animate].show.fib-40,
[data-animate].show .fib-40 {
  -webkit-animation-name: fade-in-bottom-40px;
          animation-name: fade-in-bottom-40px;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

[data-animate].show.fib-60,
[data-animate].show .fib-60 {
  -webkit-animation-name: fade-in-bottom-60px;
          animation-name: fade-in-bottom-60px;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fade-in-bottom-40px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom-40px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-bottom-60px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom-60px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.body_landing h2 span {
  -webkit-transition: color 0.5s ease-in-out 0.5s;
  -o-transition: color 0.5s ease-in-out 0.5s;
  transition: color 0.5s ease-in-out 0.5s;
}

.body_landing h2 span:nth-child(1) {
  color: var(--color-black) !important;
}

.body_landing h2 span:nth-child(2) {
  color: var(--color-black-020) !important;
}

.body_landing h2.show-more span:nth-child(1) {
  color: var(--color-black-020) !important;
}

.body_landing h2.show-more span:nth-child(2) {
  color: var(--color-black) !important;
}

.page-header {
  overflow: hidden;
  position: relative;
  margin-bottom: calc(60px + 14 * ((1680px - 320px) / 1120));
}

.page-header__top-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding-top: 54px;
  padding-bottom: 54px;
  padding-bottom: calc(34px + 20 * ((1680px - 320px) / 1120));
}

.page-header__title {
  max-width: unset;
  padding-left: 75px;
  padding-right: 75px;
  font-size: calc(36px + 60 * ((1680px - 320px) / 1120));
  line-height: calc(47px + 49 * ((1680px - 320px) / 1120));
}

.page-header__bg-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 805px;
}

.page-header__img {
  position: absolute;
  top: -38px;
  right: 0;
  bottom: -77px;
  width: 65%;
  max-height: 620px;
}

.page-header__img img,
.page-header__img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body_b2c-type-2 .page-header__top-wrapper {
  min-height: 576px;
}

.body_b2c-type-2 .page-header__bg-wrapper {
  left: 75px;
  top: 85%;
  max-height: 460px;
  max-width: 642px;
}

.landing-page-changes {
  margin-bottom: calc(60px + 22 * ((1680px - 320px) / 1120));
}

.landing-page-changes__title {
  margin-bottom: calc(30px + 18 * ((1680px - 320px) / 1120));
  font-size: calc(28px + 36 * ((1680px - 320px) / 1120));
  line-height: calc(36px + 38 * ((1680px - 320px) / 1120));
  color: var(--color-blue-dark-type-2);
}

.landing-page-changes__title span {
  display: block;
}

.landing-page-changes__title span:first-child {
  color: var(--color-black);
}

.body_b2c-type-2 .landing-page-changes__title {
  font-weight: normal;
}

.body_b2c-type-2 .landing-page-products__product-list {
  margin-bottom: calc(15px + 15 * ((1680px - 320px) / 1120));
}

.body_b2c-type-2 .landing-page-products__product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-size: calc(14px + 4 * ((1680px - 320px) / 1120));
}

.body_b2c-type-2 .landing-page-products__product-item::before {
  content: "";
  min-width: 4px;
  min-height: 4px;
  max-width: 4px;
  max-height: 4px;
  border-radius: 50%;
  background-color: #000000;
  display: block;
  margin-right: 10px;
  margin-top: calc(10px + 3 * ((1680px - 320px) / 1120));
}

.landing-page-changes__container {
  position: relative;
  pointer-events: none;
}

.landing-page-changes__container::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 146px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(var(--color-white-dirty)));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, var(--color-white-dirty) 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-white-dirty) 100%);
}

.landing-page-changes__wrapper {
  overflow-y: scroll;
  position: relative;
  max-height: 653px;
  padding: 45px;
  scrollbar-width: none;
  background-color: var(--color-white-dirty);
  border-radius: 40px;
}

.landing-page-changes__wrapper::-webkit-scrollbar {
  display: none;
}

.landing-page-changes__services {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  margin: 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.landing-page-changes__services:not(:last-child) {
  margin-bottom: 30px;
}

.landing-page-changes__service-link {
  min-width: 100%;
}

.landing-page-changes__service-icon {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.modal--landing2-actions .modal__close-btn {
  top: calc(15px + 18 * ((1680px - 320px) / 1120));
  right: calc(10px + 30 * ((1680px - 320px) / 1120));
}

.landing-page-products {
  margin-bottom: calc(60px + 22 * ((1680px - 320px) / 1120));
}

.landing-page-products__title {
  margin-bottom: calc(30px + 18 * ((1680px - 320px) / 1120));
  font-size: calc(28px + 36 * ((1680px - 320px) / 1120));
  line-height: calc(36px + 38 * ((1680px - 320px) / 1120));
  color: var(--color-blue-dark-type-2);
}

.landing-page-products__title span {
  display: block;
}

.landing-page-products__title span:first-child {
  color: var(--color-black);
}

.body_b2c-type-2 .landing-page-products__title {
  font-weight: normal;
}

.landing-page-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
}

.landing-page-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding: 40px;
  padding-bottom: 0px;
  background-color: var(--color-white-dirty);
  border-radius: 40px;
  border-radius: 40px;
}

.landing-page-products__product-img {
  height: 50px;
  width: auto;
  margin-bottom: 35px;
}

.landing-page-products__product-desc {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
}

.body_b2c-type-2 .landing-page-products__product-desc {
  font-weight: normal;
}

.landing-page-products__decor {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-top: auto;
  margin-left: -40px;
  margin-right: -40px;
}

.landing-page-products__decor img {
  display: block;
  margin: 0 auto;
}

.landing-page-promo {
  margin-bottom: calc(60px + 66 * ((1680px - 320px) / 1120));
}

.landing-page-promo__title {
  margin-bottom: calc(30px + 18 * ((1680px - 320px) / 1120));
  font-weight: normal;
  font-size: calc(28px + 36 * ((1680px - 320px) / 1120));
  line-height: calc(36px + 38 * ((1680px - 320px) / 1120));
  color: var(--color-blue-dark-type-2);
}

.landing-page-promo__title span {
  display: block;
}

.landing-page-promo__title span:first-child {
  color: var(--color-black);
}

.landing-page-promo__wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(10px + 38 * ((1680px - 320px) / 1120));
  background-color: var(--color-blue-dark-type-2);
  border-radius: calc(28px + 12 * ((1680px - 320px) / 1120));
}

.landing-page-promo__img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 53%;
  overflow: hidden;
  position: relative;
}

.landing-page-promo__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100%;
  height: auto;
}

.landing-page-promo__img-bg {
  position: absolute;
  z-index: 1;
  bottom: calc(80px + 80 * ((1680px - 320px) / 1120));
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  right: calc(40px + 40 * ((1680px - 320px) / 1120));
  width: calc(465px + 465 * ((1680px - 320px) / 1120));
  height: calc(200px + 203 * ((1680px - 320px) / 1120));
}

.landing-page-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 607px;
  padding-top: calc(25px + 11 * ((1680px - 320px) / 1120));
  padding-left: calc(23px + 19 * ((1680px - 320px) / 1120));
  padding-right: calc(23px + 19 * ((1680px - 320px) / 1120));
  padding-bottom: 39px;
  color: var(--color-white);
}

.landing-page-promo__desc {
  margin-bottom: calc(30px + 27 * ((1680px - 320px) / 1120));
  font-size: calc(22px + 10 * ((1680px - 320px) / 1120));
  line-height: calc(29px + 13 * ((1680px - 320px) / 1120));
}

.body_b2c-type-2 .landing-page-promo__desc {
  font-weight: normal;
}

.landing-page-promo__content-btn {
  padding-top: calc(14px + 22 * ((1680px - 320px) / 1120));
  padding-left: calc(20px + 12 * ((1680px - 320px) / 1120));
  padding-right: calc(20px + 12 * ((1680px - 320px) / 1120));
  padding-bottom: calc(16px + 20 * ((1680px - 320px) / 1120));
  margin-top: auto;
  font-size: calc(18px + 14 * ((1680px - 320px) / 1120));
  line-height: calc(23px + 19 * ((1680px - 320px) / 1120));
  color: var(--color-blue-dark-type-2);
  background-color: var(--color-white);
  border-color: var(--color-white);
  border-radius: calc(12px + 4 * ((1680px - 320px) / 1120));
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.landing-page-promo__content-btn:hover {
  opacity: 0.8;
}

.landing-page-promo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 846px;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(30px + 17 * ((1680px - 320px) / 1120));
  padding-left: calc(23px + 72 * ((1680px - 320px) / 1120));
  padding-right: calc(23px + 72 * ((1680px - 320px) / 1120));
  padding-bottom: calc(30px + 17 * ((1680px - 320px) / 1120));
  color: var(--color-blue-dark-type-2);
  font-size: calc(18px + 14 * ((1680px - 320px) / 1120));
  line-height: calc(23px + 14 * ((1680px - 320px) / 1120));
  border-width: 4px;
  border-color: var(--color-blue-dark-type-2);
  border-radius: calc(75px + 75 * ((1680px - 320px) / 1120));
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.landing-page-promo__btn:hover {
  background-color: var(--color-blue-dark-type-2);
  border-color: var(--color-blue-dark-type-2);
  color: var(--color-white);
}

.landing-page-together {
  margin-bottom: calc(60px + 32 * ((1680px - 320px) / 1120));
}

.landing-page-together__title {
  margin-bottom: calc(30px + 18 * ((1680px - 320px) / 1120));
  font-weight: normal;
  font-size: calc(28px + 36 * ((1680px - 320px) / 1120));
  line-height: calc(36px + 38 * ((1680px - 320px) / 1120));
  color: var(--color-blue-dark-type-2);
}

.landing-page-together__title span {
  display: block;
}

.landing-page-together__title span:first-child {
  color: var(--color-black);
}

.landing-page-together__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -24px;
  margin-bottom: -24px;
}

.landing-page-together__item {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 394px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 48px;
  color: var(--color-white);
  border-radius: 40px;
  outline-offset: -2px;
}

.landing-page-together__item_blue {
  width: 51.37195%;
  background-color: var(--color-blue-dark-type-2);
}

.landing-page-together__item_purple {
  width: 45.12195%;
  background-color: var(--color-purple6);
}

.landing-page-together__item_pink {
  width: 30.94512%;
  background-color: var(--color-pink-bright2);
}

.landing-page-together__item_light-green {
  width: 65.39634%;
  background-color: var(--color-green-3);
}

.landing-page-together__item:nth-child(1) .landing-page-together__decor {
  width: 800px;
  height: 573px;
}

.landing-page-together__item:nth-child(2) .landing-page-together__decor {
  width: 720px;
  height: 400px;
}

.landing-page-together__item:nth-child(3) .landing-page-together__decor {
  width: 620px;
  height: 400px;
}

.landing-page-together__item:nth-child(4) .landing-page-together__decor {
  width: 1324px;
  height: 573px;
}

.landing-page-together__about {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  font-size: 38px;
  line-height: 47px;
}

.body_b2c-type-2 .landing-page-together__about {
  font-weight: normal;
}

.landing-page-together__socials {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto -8px 0;
}

.landing-page-together__social {
  margin: 0 8px;
}

.landing-page-together__social-link {
  width: 42px;
  height: 42px;
  background-color: var(--color-white);
  border-radius: 10px;
  -webkit-transition: color var(--trans--300), background-color var(--trans--300);
  -o-transition: color var(--trans--300), background-color var(--trans--300);
  transition: color var(--trans--300), background-color var(--trans--300);
}

.landing-page-together__item_blue .landing-page-together__social-link {
  color: var(--color-blue-dark-type-2);
}

.landing-page-together__item_purple .landing-page-together__social-link {
  color: var(--color-purple6);
}

.landing-page-together__item_pink .landing-page-together__social-link {
  color: var(--color-pink-bright2);
}

.landing-page-together__item_light-green .landing-page-together__social-link {
  color: var(--color-green-3);
}

.landing-page-together__social-link:hover,
.landing-page-together__social-link:focus {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.landing-page-together__social-link_inverted {
  background: none;
}

.landing-page-together__item_blue .landing-page-together__social-link_inverted,
.landing-page-together__item_purple .landing-page-together__social-link_inverted,
.landing-page-together__item_pink .landing-page-together__social-link_inverted,
.landing-page-together__item_light-green .landing-page-together__social-link_inverted {
  color: var(--color-white);
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.landing-page-together__social-link_inverted:hover,
.landing-page-together__social-link_inverted:focus {
  background: none;
}

.landing-page-together__item_blue .landing-page-together__social-link_inverted:hover,
.landing-page-together__item_purple .landing-page-together__social-link_inverted:hover,
.landing-page-together__item_pink .landing-page-together__social-link_inverted:hover,
.landing-page-together__item_light-green .landing-page-together__social-link_inverted:hover,
.landing-page-together__item_blue .landing-page-together__social-link_inverted:focus,
.landing-page-together__item_purple .landing-page-together__social-link_inverted:focus,
.landing-page-together__item_pink .landing-page-together__social-link_inverted:focus,
.landing-page-together__item_light-green .landing-page-together__social-link_inverted:focus {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.landing-page-together__social-link_thin {
  width: 32px;
}

.landing-page-together__decor {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.landing-page-together__item_blue .landing-page-together__decor {
  --color-patter: var(--color-blue3);
}

.landing-page-together__item_purple .landing-page-together__decor {
  --color-patter: var(--color-purple2);
}

.landing-page-together__item_pink .landing-page-together__decor {
  left: 20px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  --color-patter: var(--color-pink6);
}

.landing-page-together__item_light-green .landing-page-together__decor {
  --color-patter: var(--color-green);
}

.modal-landing-actions {
  padding-left: calc(0px + 34 * ((1680px - 320px) / 1120));
  padding-right: calc(0px + 34 * ((1680px - 320px) / 1120));
}

.modal-landing-actions__title {
  margin-bottom: calc(30px + 15 * ((1680px - 320px) / 1120));
  font-weight: normal;
}

.modal-landing-actions__item:not(:last-child) {
  margin-bottom: calc(17px + 17 * ((1680px - 320px) / 1120));
}

.modal-landing-actions__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-black);
}

.modal-landing-actions__link:hover,
.modal-landing-actions__link:focus {
  color: var(--color-blue-dark-type-2);
  text-decoration: none;
}

.modal-landing-actions__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(64px + 40 * ((1680px - 320px) / 1120));
  height: calc(64px + 40 * ((1680px - 320px) / 1120));
  margin-right: calc(16px + 14 * ((1680px - 320px) / 1120));
  background-color: var(--color-white-dirty);
  border-radius: calc(12px + 12 * ((1680px - 320px) / 1120));
}

.modal-landing-actions__icon img {
  width: calc(32px + 20 * ((1680px - 320px) / 1120));
  height: calc(32px + 20 * ((1680px - 320px) / 1120));
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-landing-actions__desc {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .page-header__title {
    padding-left: calc(0px + 75 * ((100vw - 768px) / 672));
  }

  .page-header__title {
    padding-right: calc(0px + 75 * ((100vw - 768px) / 672));
  }

  .body_b2c-type-2 .page-header__bg-wrapper {
    left: calc(0px + 75 * ((100vw - 768px) / 672));
  }

  .landing-page-products__list {
    gap: calc(28px + 28 * ((100vw - 768px) / 672));
  }
}

@media screen and (max-width: 1680px) {
  .page-header {
    margin-bottom: calc(60px + 14 * ((100vw - 320px) / 1120));
  }

  .page-header__top-wrapper {
    padding-bottom: calc(34px + 20 * ((100vw - 320px) / 1120));
  }

  .page-header__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }

  .page-header__title {
    line-height: calc(47px + 49 * ((100vw - 320px) / 1120));
  }

  .landing-page-changes {
    margin-bottom: calc(60px + 22 * ((100vw - 320px) / 1120));
  }

  .landing-page-changes__title {
    margin-bottom: calc(30px + 18 * ((100vw - 320px) / 1120));
  }

  .landing-page-changes__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 1120));
  }

  .landing-page-changes__title {
    line-height: calc(36px + 38 * ((100vw - 320px) / 1120));
  }

  .body_b2c-type-2 .landing-page-products__product-list {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .body_b2c-type-2 .landing-page-products__product-item {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  }

  .body_b2c-type-2 .landing-page-products__product-item::before {
    margin-top: calc(10px + 3 * ((100vw - 320px) / 1120));
  }

  .modal--landing2-actions .modal__close-btn {
    top: calc(15px + 18 * ((100vw - 320px) / 1120));
  }

  .modal--landing2-actions .modal__close-btn {
    right: calc(10px + 30 * ((100vw - 320px) / 1120));
  }

  .landing-page-products {
    margin-bottom: calc(60px + 22 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__title {
    margin-bottom: calc(30px + 18 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__title {
    line-height: calc(36px + 38 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo {
    margin-bottom: calc(60px + 66 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__title {
    margin-bottom: calc(30px + 18 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__title {
    line-height: calc(36px + 38 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__wrapper {
    margin-bottom: calc(10px + 38 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__wrapper {
    border-radius: calc(28px + 12 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__img-bg {
    bottom: calc(80px + 80 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__img-bg {
    right: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__img-bg {
    width: calc(465px + 465 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__img-bg {
    height: calc(200px + 203 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content {
    padding-top: calc(25px + 11 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content {
    padding-left: calc(23px + 19 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content {
    padding-right: calc(23px + 19 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__desc {
    margin-bottom: calc(30px + 27 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__desc {
    font-size: calc(22px + 10 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__desc {
    line-height: calc(29px + 13 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    padding-top: calc(14px + 22 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    padding-left: calc(20px + 12 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    padding-right: calc(20px + 12 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    padding-bottom: calc(16px + 20 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    line-height: calc(23px + 19 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__content-btn {
    border-radius: calc(12px + 4 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    padding-top: calc(30px + 17 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    padding-left: calc(23px + 72 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    padding-right: calc(23px + 72 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    padding-bottom: calc(30px + 17 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    line-height: calc(23px + 14 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__btn {
    border-radius: calc(75px + 75 * ((100vw - 320px) / 1120));
  }

  .landing-page-together {
    margin-bottom: calc(60px + 32 * ((100vw - 320px) / 1120));
  }

  .landing-page-together__title {
    margin-bottom: calc(30px + 18 * ((100vw - 320px) / 1120));
  }

  .landing-page-together__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 1120));
  }

  .landing-page-together__title {
    line-height: calc(36px + 38 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions {
    padding-left: calc(0px + 34 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions {
    padding-right: calc(0px + 34 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__title {
    margin-bottom: calc(30px + 15 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__item:not(:last-child) {
    margin-bottom: calc(17px + 17 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__icon {
    width: calc(64px + 40 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__icon {
    height: calc(64px + 40 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__icon {
    margin-right: calc(16px + 14 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__icon {
    border-radius: calc(12px + 12 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__icon img {
    width: calc(32px + 20 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__icon img {
    height: calc(32px + 20 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 1440px) {
  .body_b2c-type-2 .page-header__top-wrapper {
    min-height: calc(440px + 136 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__item {
    padding: calc(23px + 17 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__item {
    padding-bottom: calc(0px + 0 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__item {
    border-radius: calc(28px + 12 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__product-img {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__product-desc {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__product-desc {
    font-size: calc(22px + 2 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__product-desc {
    line-height: calc(29px + -1 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__decor {
    margin-left: calc(-23px + -17 * ((100vw - 320px) / 1120));
  }

  .landing-page-products__decor {
    margin-right: calc(-23px + -17 * ((100vw - 320px) / 1120));
  }

  .landing-page-together__about {
    font-size: calc(22px + 16 * ((100vw - 320px) / 1120));
  }

  .landing-page-together__about {
    line-height: calc(29px + 18 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__desc {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }

  .modal-landing-actions__desc {
    line-height: calc(20px + 12 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .landing-page-together__item_blue {
    width: 100%;
  }

  .landing-page-together__item_purple {
    width: calc(50% - 24px);
  }

  .landing-page-together__item_pink {
    width: calc(50% - 24px);
  }

  .landing-page-together__item_light-green {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  [data-animate].fib-40,
  [data-animate] .fib-40 {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  [data-animate].fib-60,
  [data-animate] .fib-60 {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  [data-animate].show.fib-40,
  [data-animate].show .fib-40 {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  [data-animate].show.fib-60,
  [data-animate].show .fib-60 {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  .page-header__top-wrapper {
    padding-top: calc(80% + 20px);
  }

  .page-header__title {
    z-index: 6;
  }

  .page-header__title br {
    display: none;
  }

  .page-header__bg-wrapper {
    top: 65%;
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    left: auto;
    top: 500px;
    right: -50px;
    width: 500px;
    height: 400px;
  }

  .page-header__img {
    top: 0;
    bottom: unset;
    max-width: unset;
    width: 100%;
    height: unset;
  }

  .landing-page-products__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .landing-page-promo__content {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 450px;
  }

  .landing-page-together__list {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .landing-page-together__item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .landing-page-together__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .landing-page-together__item_purple {
    width: 100%;
  }

  .landing-page-together__item_pink {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) and (max-width: 768px) {
  .body_b2c-type-2 div.page-header__bg-wrapper {
    top: calc(200px + 300 * ((100vw - 320px) / 448));
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    right: calc(-40px + -10 * ((100vw - 320px) / 448));
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    width: calc(400px + 100 * ((100vw - 320px) / 448));
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    height: calc(200px + 200 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 768px) {
  .page-header__top-wrapper {
    overflow: visible;
  }

  .body_b2c-type-2 .page-header__top-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100vw;
    height: 293px;
    background-color: var(--color-blue-dark-type-2);
    z-index: 3;
  }
}

@media (max-width: 768px) {
  .page-header__title {
    padding-left: calc(0px + 0 * ((100vw - 320px) / 448));
  }

  .page-header__title {
    padding-right: calc(0px + 0 * ((100vw - 320px) / 448));
  }

  .body_b2c-type-2 .page-header__bg-wrapper {
    left: calc(0px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-products__list {
    gap: calc(28px + 0 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .body_b2c-type-2 .page-header__top-wrapper::before {
    height: calc(240px + 53 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 767px) {
  .landing-page-changes__wrapper {
    padding: 16px;
    max-height: 236px;
  }

  .landing-page-changes__services {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    gap: 10px;
  }

  .landing-page-changes__services:not(:last-child) {
    margin-bottom: 10px;
  }

  .landing-page-products__list {
    display: block;
  }

  .landing-page-products__item {
    max-width: 400px;
    margin: 0 auto;
  }

  .landing-page-products__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .landing-page-promo__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .landing-page-promo__img {
    max-width: 100%;
  }

  .landing-page-promo__content {
    width: unset;
    max-width: 500px;
  }

  .landing-page-promo__btn {
    padding: 9px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .body_b2c-type-2 div.page-header__bg-wrapper {
    top: calc(500px + 0 * ((100vw - 768px) / 672));
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    right: calc(-50px + 0 * ((100vw - 768px) / 672));
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    width: calc(500px + 0 * ((100vw - 768px) / 672));
  }

  .body_b2c-type-2 div.page-header__bg-wrapper {
    height: calc(400px + 0 * ((100vw - 768px) / 672));
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .body_b2c-type-2 .page-header__top-wrapper::before {
    height: calc(293px + 0 * ((100vw - 768px) / 672));
  }
}