[data-animate].fib-40,
[data-animate] .fib-40 {
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

[data-animate].fib-60,
[data-animate] .fib-60 {
  -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
}

[data-animate].d-200,
[data-animate] .d-200 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

[data-animate].d-400,
[data-animate] .d-400 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

[data-animate].d-600,
[data-animate] .d-600 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

[data-animate].show.fib-40,
[data-animate].show .fib-40 {
  -webkit-animation-name: fade-in-bottom-40px;
          animation-name: fade-in-bottom-40px;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

[data-animate].show.fib-60,
[data-animate].show .fib-60 {
  -webkit-animation-name: fade-in-bottom-60px;
          animation-name: fade-in-bottom-60px;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fade-in-bottom-40px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom-40px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-bottom-60px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom-60px {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.body_landing h2 span {
  -webkit-transition: color 0.5s ease-in-out 0.5s;
  -o-transition: color 0.5s ease-in-out 0.5s;
  transition: color 0.5s ease-in-out 0.5s;
}

.body_landing h2 span:nth-child(1) {
  color: var(--color-black) !important;
}

.body_landing h2 span:nth-child(2) {
  color: var(--color-black-020) !important;
}

.body_landing h2.show-more span:nth-child(1) {
  color: var(--color-black-020) !important;
}

.body_landing h2.show-more span:nth-child(2) {
  color: var(--color-black) !important;
}

.landing-page-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: calc(47px + 45 * ((1680px - 320px) / 1120));
  color: var(--color-white);
  background-color: var(--color-blue-dark-type-2);
  background-image: -o-linear-gradient(185.62deg, #2898FF 11.46%, #004EC0 97.72%);
  background-image: linear-gradient(264.38deg, #2898FF 11.46%, #004EC0 97.72%);
}

.landing-page-promo__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(485px + 15 * ((1680px - 320px) / 1120));
  padding-top: calc(30px + 20 * ((1680px - 320px) / 1120));
  padding-bottom: calc(30px + 20 * ((1680px - 320px) / 1120));
  width: 100%;
}

.landing-promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-promo__bg-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1920px;
}

.landing-promo__bg-pic_mobile {
  display: none;
}

.landing-page-promo__title {
  font-size: calc(36px + 28 * ((1680px - 320px) / 1120));
  line-height: calc(42px + 22 * ((1680px - 320px) / 1120));
  max-width: 50%;
}

.landing-page-promo__title span {
  display: block;
}

.landing-promo__next {
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: auto;
  position: absolute;
  bottom: 50px;
  left: 46px;
  z-index: 1;
}

.projects {
  padding-top: 140px;
  overflow: hidden;
}

.projects_landing-page {
  padding: 100px 0;
}

.projects__title {
  margin-bottom: 90px;
}

.projects_landing-page .projects__title {
  max-width: 1100px;
  margin-bottom: 55px;
}

.projects__desc {
  max-width: 860px;
  margin-bottom: 130px;
}

.projects-swiper {
  width: 100vw;
  pointer-events: none;
}

.projects__cards {
  display: grid;
  row-gap: 44px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 44px;
  max-width: 2364px;
  width: 2364px;
}

.projects__cards-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.projects__cards-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.projects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  overflow: hidden;
}

.projects__card-logo {
  width: 110px;
  height: 110px;
}

.projects__card-logo img {
  width: 100%;
}

.projects__card-pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.projects__card-pic-img {
  width: auto;
  height: 100%;
  max-width: unset;
}

.projects__card_large {
  grid-column: span 2;
  grid-row: span 2;
  width: 330px;
  height: 330px;
  border-radius: 22px;
  padding: 0 !important;
}

.projects__card_large .projects__card-pic-img {
  max-height: 330px;
}

.projects__card_medium {
  grid-column: span 2;
  width: 330px;
  height: 142px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 22px;
  padding: 0 !important;
}

.projects__card_medium .projects__card-pic-img {
  max-height: 142px;
}

.projects__show-all {
  margin: 0 auto;
  margin-top: 100px;
}

.projects_landing-page .projects__show-all {
  margin-top: 75px;
}

.swiper-container-free-mode > .projects__cards-wrapper.swiper-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.landing-page-projects {
  margin-bottom: calc(80px + 80 * ((1680px - 320px) / 1120));
}

main .landing-page-projects {
  padding-top: 0;
}

.landing-page-projects__title {
  font-size: calc(27px + 37 * ((1680px - 320px) / 1120));
  line-height: calc(34px + 46 * ((1680px - 320px) / 1120));
}

.landing-page-projects__title span {
  display: block;
}

.landing-page-projects__title span:first-child {
  color: var(--color-black-020);
}

.landing-page-offer {
  margin-bottom: calc(35px + 65 * ((1680px - 320px) / 1120));
}

.landing-page-offer__title {
  margin-bottom: calc(45px + 25 * ((1680px - 320px) / 1120));
}

.landing-page-offer__title span {
  display: block;
}

.landing-page-offer__wrapper {
  overflow: hidden;
  position: relative;
  padding-top: calc(20px + 25 * ((1680px - 320px) / 1120));
  padding-right: calc(20px + 25 * ((1680px - 320px) / 1120));
  padding-left: calc(200px + 370 * ((1680px - 320px) / 1120));
  padding-bottom: calc(20px + 35 * ((1680px - 320px) / 1120));
  background-color: var(--color-blue-dark-type-2);
}

.landing-page-offer__content {
  position: relative;
  z-index: 2;
  max-width: calc(400px + 150 * ((1680px - 320px) / 1120));
  color: var(--color-white);
}

.landing-page-offer__desc {
  margin-bottom: 38px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
}

.landing-page-offer__content___inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page-offer__btn {
  margin-top: 10px;
  margin-right: 40px;
  border-color: var(--color-white);
}

.landing-page-offer__btn:after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.landing-page-offer__btn:hover,
.landing-page-offer__btn:focus {
  color: var(--color-white);
  border-color: var(--color-white);
}

.landing-page-offer__btn:hover:after,
.landing-page-offer__btn:focus:after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.landing-page-offer__rules {
  margin-top: 10px;
  font-size: 16px;
  line-height: 42px;
  color: var(--color-white-060);
}

.landing-page-offer__rules:hover,
.landing-page-offer__rules:focus {
  color: var(--color-white-060);
}

.landing-page-offer__img {
  position: absolute;
  top: -120px;
  left: -120px;
  bottom: -120px;
  z-index: 1;
}

.landing-page-offer__img img {
  height: 100%;
  width: auto;
}

.landing-page-offer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 65px;
  padding-left: 40px;
  padding-left: 40px;
  color: var(--color-black);
  border-bottom: 1px solid var(--color-border);
}

.landing-page-offer__actions-about {
  max-width: 360px;
  margin-top: 65px;
  font-size: 27px;
  line-height: 31px;
}

.landing-page-offer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  margin-left: 50px;
  margin-right: 50px;
}

.landing-page-offer__social {
  margin: 5px;
}

.landing-page-offer__social-link {
  color: var(--color-black);
  opacity: 0.3;
  -webkit-transition: opacity var(--trans--300);
  -o-transition: opacity var(--trans--300);
  transition: opacity var(--trans--300);
}

.landing-page-offer__social-link:hover {
  color: var(--color-black);
  opacity: 1;
}

.landing-page-offer__social-link svg {
  width: 32px;
  height: 32px;
}

.landing-page-offer__actions_btn {
  margin-top: 65px;
}

.landing-page-features {
  margin-bottom: calc(50px + 30 * ((1680px - 320px) / 1120));
}

.landing-page-features__title {
  margin-bottom: calc(47px + 20 * ((1680px - 320px) / 1120));
  font-size: calc(27px + 37 * ((1680px - 320px) / 1120));
  line-height: calc(34px + 46 * ((1680px - 320px) / 1120));
}

.landing-page-features__title span {
  display: block;
}

.landing-page-features__title span:first-child {
  color: var(--color-black-020);
}

.landing-page-features__item:not(:last-child) {
  margin-bottom: 40px;
}

.landing-page-features__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: relative;
  min-height: 320px;
}

.landing-page-features__link:hover,
.landing-page-features__link:focus {
  text-decoration: none;
}

.landing-page-features__feature-wrapper {
  position: relative;
  z-index: 3;
  margin-top: 88px;
  margin-left: 114px;
  margin-bottom: 60px;
}

.landing-page-features__feature-img {
  position: relative;
  z-index: 2;
  height: calc(40px + 40 * ((1680px - 320px) / 1120));
  width: auto;
}

.landing-page-features__feature-desc {
  max-width: 300px;
  margin-top: calc(18px + 12 * ((1680px - 320px) / 1120));
  font-family: var(--font-family-primary);
  line-height: 1.15;
  color: var(--color-black-030);
}

.landing-page-features__decor-wrapper {
  overflow: hidden;
  position: absolute;
  right: 331px;
  bottom: 0;
  z-index: 1;
  width: 446px;
  height: 193px;
  --color-patter: var(--color-white-dirty);
}

.landing-page-features__decor-wrapper svg {
  position: absolute;
}

.landing-page-features__decor-wrapper_centered-y svg {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.landing-page-features__decor-wrapper_alt-pos svg {
  left: 30px;
  bottom: -5px;
}

.landing-page-features__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.landing-page-features__action {
  width: 33.33333%;
  padding-top: calc(20px + 10 * ((1680px - 320px) / 1120));
  padding-bottom: calc(23px + 7 * ((1680px - 320px) / 1120));
  padding-left: 50px;
  padding-right: 50px;
}

.landing-page-features__action:not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.landing-page-features__action-inner {
  font-size: calc(21px + 6 * ((1680px - 320px) / 1120));
  line-height: 1.15;
  font-weight: normal;
}

.landing-page-summary {
  margin-bottom: calc(70px + 120 * ((1680px - 320px) / 1120));
  position: relative;
}

.landing-page-summary__title {
  margin-bottom: calc(35px + 21 * ((1680px - 320px) / 1120));
  font-size: calc(27px + 37 * ((1680px - 320px) / 1120));
  line-height: calc(34px + 46 * ((1680px - 320px) / 1120));
}

.landing-page-summary__title span {
  display: block;
}

.landing-page-summary__title span:first-child {
  color: var(--color-black-020);
}

.landing-page-summary__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: calc(50px + 10 * ((1680px - 320px) / 1120));
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: calc(65px + 31 * ((1680px - 320px) / 1120));
}

.landing-page-summary__offer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: calc(27px + 37 * ((1680px - 320px) / 1120));
  line-height: calc(31px + 43 * ((1680px - 320px) / 1120));
}

.landing-page-summary__offer-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: calc(8px + 8 * ((1680px - 320px) / 1120));
  padding-right: calc(8px + 8 * ((1680px - 320px) / 1120));
  padding-bottom: calc(5px + 5 * ((1680px - 320px) / 1120));
  font-size: calc(27px + 37 * ((1680px - 320px) / 1120));
  line-height: calc(31px + 43 * ((1680px - 320px) / 1120));
  color: var(--color-white);
  background-color: var(--color-blue-dark-type-2);
  border-radius: calc(12px + 8 * ((1680px - 320px) / 1120));
}

.landing-page-summary__offer-type svg {
  width: calc(27px + 23 * ((1680px - 320px) / 1120));
  height: calc(31px + 1 * ((1680px - 320px) / 1120));
  margin-top: calc(5px + 5 * ((1680px - 320px) / 1120));
  margin-right: calc(9px + 7 * ((1680px - 320px) / 1120));
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.landing-page-summary__offer-type svg.active {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.landing-page-summary__offer-type span {
  width: 0;
  opacity: 0;
}

.landing-page-summary__offer-type span.active {
  width: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.landing-page-summary__card .summary-card__img-pic {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.landing-page-summary__card:hover {
  text-decoration: none;
}

.landing-page-summary__card:hover .summary-card__img-pic {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.landing-page-summary__bg {
  position: absolute;
  top: 80%;
  left: -10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  opacity: 0.5;
  --color-patter: var(--color-light-grey4);
}

.summary-card {
  width: 100%;
  color: var(--color-black);
}

.summary-card:hover,
.summary-card:focus {
  color: var(--color-black);
}

.summary-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 476px;
  min-height: calc(200px + 276 * ((1680px - 320px) / 1120));
  margin-bottom: calc(16px + 14 * ((1680px - 320px) / 1120));
  background-color: var(--color-light-grey4);
  border-radius: calc(24px + 8 * ((1680px - 320px) / 1120));
}

.summary-card_pink .summary-card__img {
  background-color: var(--color-pink-bright2);
}

.summary-card_purple .summary-card__img {
  background-color: var(--color-purple6);
}

.summary-card_blue .summary-card__img {
  background-color: var(--color-blue-dark-type-2);
}

.summary-card_light-green .summary-card__img {
  background-color: var(--color-green-3);
}

.summary-card__img-pic {
  max-width: 65%;
}

.summary-card__title {
  font-size: calc(18px + 20 * ((1680px - 320px) / 1120));
  line-height: calc(22px + 25 * ((1680px - 320px) / 1120));
}

.modal-landing-actions__title {
  margin-bottom: 24px;
}

.modal-landing-actions__list {
  border-top: 1px solid var(--color-border);
}

.modal-landing-actions__item {
  min-height: 98px;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-border);
}

.modal-landing-actions__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-black);
}

.modal-landing-actions__link:hover,
.modal-landing-actions__link:focus {
  color: var(--color-black);
}

.modal-landing-actions__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.modal-landing-actions__icon img {
  width: 52px;
  height: 52px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-landing-actions__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 6px;
  padding: 0 32px;
  font-size: 18px;
  line-height: 24px;
}

.modal-landing-actions__desc {
  margin-bottom: 6px;
}

.modal-landing-actions__date {
  color: var(--color-black-030);
}

.modal-landing-actions__btn-pseudo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.modal-landing-actions__btn-pseudo {
  width: 52px;
  border: none;
}

.modal-landing-actions__btn-pseudo:hover::after {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.modal-landing-actions__link:hover .modal-landing-actions__btn-pseudo::after,
.modal-landing-actions__link:focus .modal-landing-actions__btn-pseudo::after {
  -webkit-animation: btnArrowAnimation;
          animation: btnArrowAnimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.body_landing {
  padding-top: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .landing-page-offer__img {
    top: calc(-250px + 130 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__img {
    left: calc(-45px + -75 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__img {
    bottom: calc(0px + -120 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__actions {
    padding-left: calc(0px + 40 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__actions {
    padding-left: calc(0px + 40 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__actions-about {
    margin-top: calc(35px + 30 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__socials {
    margin-top: calc(35px + 30 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__actions_btn {
    margin-top: calc(35px + 30 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1024px) {
  .landing-page-features__actions {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1681px) {
  .landing-page-offer__img {
    top: -120px;
    left: -120px;
    bottom: -120px;
  }
}

@media screen and (min-width: 1921px) {
  .landing-promo__bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: -250px;
    background: -webkit-gradient(linear, left top, right top, color-stop(77.71%, #0047d8), to(rgba(4, 84, 198, 0)));
    background: -o-linear-gradient(left, #0047d8 77.71%, rgba(4, 84, 198, 0) 100%);
    background: linear-gradient(90deg, #0047d8 77.71%, rgba(4, 84, 198, 0) 100%);
  }

  .landing-promo__bg::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: -250px;
    background: -webkit-gradient(linear, right top, left top, color-stop(91.24%, #0099FF), to(rgba(41, 153, 255, 0)));
    background: -o-linear-gradient(right, #0099FF 91.24%, rgba(41, 153, 255, 0) 100%);
    background: linear-gradient(270deg, #0099FF 91.24%, rgba(41, 153, 255, 0) 100%);
  }
}

@media screen and (min-width: 1921px) and (min-width: 768px) {
  .landing-promo__bg::before {
    width: calc(-700px + 450 * ((100vw - 768px) / 672));
  }

  .landing-promo__bg::after {
    width: calc(-650px + 400 * ((100vw - 768px) / 672));
  }
}

@media screen and (max-width: 1680px) {
  .landing-page-promo {
    margin-bottom: calc(47px + 45 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__container {
    min-height: calc(485px + 15 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__container {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__container {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__title {
    font-size: calc(36px + 28 * ((100vw - 320px) / 1120));
  }

  .landing-page-promo__title {
    line-height: calc(42px + 22 * ((100vw - 320px) / 1120));
  }

  .landing-page-projects {
    margin-bottom: calc(80px + 80 * ((100vw - 320px) / 1120));
  }

  .landing-page-projects__title {
    font-size: calc(27px + 37 * ((100vw - 320px) / 1120));
  }

  .landing-page-projects__title {
    line-height: calc(34px + 46 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer {
    margin-bottom: calc(35px + 65 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__title {
    margin-bottom: calc(45px + 25 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__wrapper {
    padding-top: calc(20px + 25 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__wrapper {
    padding-right: calc(20px + 25 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__wrapper {
    padding-left: calc(200px + 370 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__wrapper {
    padding-bottom: calc(20px + 35 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__content {
    max-width: calc(400px + 150 * ((100vw - 320px) / 1120));
  }

  .landing-page-features {
    margin-bottom: calc(50px + 30 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__title {
    margin-bottom: calc(47px + 20 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__title {
    font-size: calc(27px + 37 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__title {
    line-height: calc(34px + 46 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__feature-img {
    height: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__feature-desc {
    margin-top: calc(18px + 12 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__action {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__action {
    padding-bottom: calc(23px + 7 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__action-inner {
    font-size: calc(21px + 6 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary {
    margin-bottom: calc(70px + 120 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__title {
    margin-bottom: calc(35px + 21 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__title {
    font-size: calc(27px + 37 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__title {
    line-height: calc(34px + 46 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__list {
    row-gap: calc(50px + 10 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__list {
    margin-bottom: calc(65px + 31 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer {
    font-size: calc(27px + 37 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer {
    line-height: calc(31px + 43 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type {
    padding-left: calc(8px + 8 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type {
    padding-right: calc(8px + 8 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type {
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type {
    font-size: calc(27px + 37 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type {
    line-height: calc(31px + 43 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type {
    border-radius: calc(12px + 8 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type svg {
    width: calc(27px + 23 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type svg {
    height: calc(31px + 1 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type svg {
    margin-top: calc(5px + 5 * ((100vw - 320px) / 1120));
  }

  .landing-page-summary__offer-type svg {
    margin-right: calc(9px + 7 * ((100vw - 320px) / 1120));
  }

  .summary-card__img {
    min-height: calc(200px + 276 * ((100vw - 320px) / 1120));
  }

  .summary-card__img {
    margin-bottom: calc(16px + 14 * ((100vw - 320px) / 1120));
  }

  .summary-card__img {
    border-radius: calc(24px + 8 * ((100vw - 320px) / 1120));
  }

  .summary-card__title {
    font-size: calc(18px + 20 * ((100vw - 320px) / 1120));
  }

  .summary-card__title {
    line-height: calc(22px + 25 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 1440px) {
  .landing-promo__next {
    left: calc(20px + 26 * ((100vw - 320px) / 1120));
  }

  .projects {
    padding-top: calc(70px + 70 * ((100vw - 320px) / 1120));
  }

  .projects__title {
    margin-bottom: calc(30px + 60 * ((100vw - 320px) / 1120));
  }

  .projects_landing-page .projects__title {
    margin-bottom: calc(55px + 0 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    row-gap: calc(26px + 18 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    -webkit-column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
       -moz-column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
            column-gap: calc(36px + 24 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    margin-right: calc(26px + 18 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    max-width: calc(1418px + 946 * ((100vw - 320px) / 1120));
  }

  .projects__cards {
    width: calc(1418px + 946 * ((100vw - 320px) / 1120));
  }

  .projects__card {
    padding: calc(0px + 16 * ((100vw - 320px) / 1120));
  }

  .projects__card-logo {
    width: calc(66px + 44 * ((100vw - 320px) / 1120));
  }

  .projects__card-logo {
    height: calc(66px + 44 * ((100vw - 320px) / 1120));
  }

  .projects__card_large {
    width: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_large {
    height: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_large .projects__card-pic-img {
    max-height: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium {
    width: calc(198px + 132 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium {
    height: calc(85px + 57 * ((100vw - 320px) / 1120));
  }

  .projects__card_medium .projects__card-pic-img {
    max-height: calc(85px + 57 * ((100vw - 320px) / 1120));
  }

  .projects__show-all {
    margin-top: calc(70px + 30 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__desc {
    font-size: calc(24px + 9 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__desc {
    line-height: calc(29px + 14 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__actions {
    padding-bottom: calc(35px + 30 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__actions-about {
    font-size: calc(21px + 6 * ((100vw - 320px) / 1120));
  }

  .landing-page-offer__actions-about {
    line-height: calc(24px + 7 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .landing-page-offer__socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 178px;
  }
}

@media screen and (max-width: 1120px) {
  .landing-page-offer__wrapper {
    padding-top: 650px;
    padding-left: calc(20px + 25 * ((1680px - 320px) / 1120));
  }

  .landing-page-offer__content___inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .landing-page-offer__btn {
    width: 100%;
    margin-right: 0;
  }

  .landing-page-offer__img {
    bottom: unset;
    right: -120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .landing-page-offer__img img {
    width: 125%;
    height: auto;
    max-width: none;
  }
}

@media screen and (max-width: 1120px) and (max-width: 768px) {
  .landing-page-offer__wrapper {
    padding-top: calc(280px + 420 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__img {
    right: calc(-45px + 0 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 1120px) and (max-width: 1680px) {
  .landing-page-offer__wrapper {
    padding-left: calc(20px + 25 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1023px) {
  [data-animate].fib-40,
  [data-animate] .fib-40 {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  [data-animate].fib-60,
  [data-animate] .fib-60 {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  [data-animate].show.fib-40,
  [data-animate].show .fib-40 {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  [data-animate].show.fib-60,
  [data-animate].show .fib-60 {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
  }

  .landing-page-offer__socials {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
  }

  .landing-page-offer__actions_btn {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-page-features__link {
    overflow: visible;
    display: block;
    min-height: unset;
  }

  .landing-page-features__feature-wrapper {
    margin: 0;
  }

  .landing-page-features__feature-desc {
    margin-bottom: 22px;
  }

  .landing-page-features__decor-wrapper {
    position: relative;
    right: unset;
    bottom: unset;
    width: unset;
    height: 315px;
    margin-left: calc(-20px + -26 * ((1680px - 320px) / 1120));
    margin-right: calc(-20px + -26 * ((1680px - 320px) / 1120));
  }

  .landing-page-features__decor-wrapper svg {
    left: 95px;
    width: 100%;
    height: 360px;
  }

  .landing-page-features__decor-wrapper_alt-pos svg {
    width: 140%;
    min-width: 750px;
    left: 95px;
    bottom: unset;
  }

  .landing-page-features__actions {
    display: block;
    border-top: none;
    border-bottom: none;
  }

  .landing-page-features__action {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid var(--color-border);
  }

  .landing-page-features__action:not(:last-child) {
    border-right: none;
  }
}

@media screen and (max-width: 1023px) and (max-width: 1680px) {
  .landing-page-features__decor-wrapper {
    margin-left: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .landing-page-features__decor-wrapper {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 768px) {
  .landing-page-offer__img {
    top: calc(-450px + 200 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__img {
    left: calc(-45px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__img {
    bottom: calc(0px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__actions {
    padding-left: calc(0px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__actions {
    padding-left: calc(0px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__actions-about {
    margin-top: calc(35px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__socials {
    margin-top: calc(35px + 0 * ((100vw - 320px) / 448));
  }

  .landing-page-offer__actions_btn {
    margin-top: calc(35px + 0 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 767px) {
  .landing-page-offer__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .landing-page-offer__actions-about {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .landing-page-offer__socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 256px;
  }

  .landing-page-offer__social {
    margin: 11px;
  }

  .landing-page-offer__social-link svg {
    width: 42px;
    height: 42px;
  }

  .landing-page-summary__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .landing-page-summary__offer {
    max-width: 320px;
    text-align: center;
  }

  .landing-page-summary__offer-type {
    width: 100%;
  }

  .landing-page-summary__bg {
    display: none;
  }

  .modal-landing-actions__icon {
    padding: 0 20px;
  }

  .modal-landing-actions__content {
    padding: 0 20px;
  }

  .modal-landing-actions__btn-pseudo-wrapper {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .landing-page-promo__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .landing-promo__bg-pic_desktop {
    display: none;
  }

  .landing-promo__bg-pic_mobile {
    display: block;
  }

  .landing-page-promo__title {
    max-width: 100%;
  }

  .landing-promo__next {
    display: none;
  }

  .landing-page-features__list {
    overflow: hidden;
  }

  .landing-page-features__feature-img:not(:first-child) {
    position: absolute;
    top: 62%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    width: 141%;
    height: auto;
    z-index: 2;
  }
}

@media screen and (min-width: 1921px) and (max-width: 768px) {
  .landing-promo__bg::before {
    width: calc(450px + -1150 * ((100vw - 320px) / 448));
  }

  .landing-promo__bg::after {
    width: calc(450px + -1100 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 1120px) and (min-width: 768px) {
  .landing-page-offer__wrapper {
    padding-top: calc(700px + -50 * ((100vw - 768px) / 672));
  }

  .landing-page-offer__img {
    right: calc(-45px + -75 * ((100vw - 768px) / 672));
  }
}

@media screen and (max-width: 1120px) and (min-width: 960px) {
  .landing-page-offer__img img {
    width: 86%;
  }
}