.manager-summary {
  position: relative;
  z-index: 1;
  margin-top: 60px;
  margin-bottom: -60px;
}

.manager-summary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manager-summary__data {
  padding-top: 155px;
  padding-right: 60px;
  padding-bottom: 55px;
}

.manager-summary__name {
  max-width: 570px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
}

.manager-summary__name:not(:last-child) {
  margin-bottom: 28px;
}

.manager-summary__thesis {
  max-width: 570px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-size: 24px;
  line-height: 32px;
}

.manager-summary__thesis:not(:last-child) {
  margin-bottom: 32px;
}

.manager-summary__photo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(50% - 60px);
  max-width: 660px;
}

.manager-summary__photo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.manager-bio {
  overflow: hidden;
  position: relative;
  padding-top: 105px;
  padding-bottom: 160px;
  padding-top: 105px;
  padding-bottom: 160px;
  color: var(--color-white);
  background-color: var(--color-purple2);
}

.manager-bio__title {
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: 38px;
  line-height: 40px;
}

.manager-bio__title:not(:last-child) {
  margin-bottom: 60px;
}

.manager-bio__paragraph:not(:last-child) {
  margin-bottom: 32px;
}

.manager-bio__decor {
  position: absolute;
  top: 111px;
  right: -41px;
  z-index: -1;
  --color-patter: var(--color-purple8);
}

@media (min-width: 768px) {
  .manager-summary__data {
    padding-top: calc(55px + 100 * ((100vw - 768px) / 672));
  }

  .manager-summary__data {
    padding-right: calc(45px + 15 * ((100vw - 768px) / 672));
  }

  .manager-summary__name {
    font-size: calc(36px + 28 * ((100vw - 768px) / 672));
  }

  .manager-summary__name {
    line-height: calc(36px + 28 * ((100vw - 768px) / 672));
  }

  .manager-summary__name:not(:last-child) {
    margin-bottom: calc(24px + 4 * ((100vw - 768px) / 672));
  }

  .manager-summary__thesis {
    max-width: calc(400px + 170 * ((100vw - 768px) / 672));
  }

  .manager-summary__thesis {
    font-size: calc(16px + 8 * ((100vw - 768px) / 672));
  }

  .manager-summary__thesis {
    line-height: calc(24px + 8 * ((100vw - 768px) / 672));
  }

  .manager-summary__thesis:not(:last-child) {
    margin-bottom: calc(24px + 8 * ((100vw - 768px) / 672));
  }
}

@media (max-width: 1440px) {
  .manager-summary__name {
    max-width: calc(400px + 170 * ((100vw - 320px) / 1120));
  }

  .manager-bio {
    padding-top: calc(55px + 50 * ((100vw - 320px) / 1120));
  }

  .manager-bio {
    padding-bottom: calc(85px + 75 * ((100vw - 320px) / 1120));
  }

  .manager-bio__title:not(:last-child) {
    margin-bottom: calc(24px + 36 * ((100vw - 320px) / 1120));
  }

  .manager-bio__paragraph:not(:last-child) {
    margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 768px) {
  .manager-summary__data {
    padding-top: calc(45px + 10 * ((100vw - 320px) / 448));
  }

  .manager-summary__data {
    padding-right: calc(25px + 20 * ((100vw - 320px) / 448));
  }

  .manager-summary__name {
    font-size: calc(36px + 0 * ((100vw - 320px) / 448));
  }

  .manager-summary__name {
    line-height: calc(36px + 0 * ((100vw - 320px) / 448));
  }

  .manager-summary__name:not(:last-child) {
    margin-bottom: calc(24px + 0 * ((100vw - 320px) / 448));
  }

  .manager-summary__thesis {
    max-width: calc(400px + 0 * ((100vw - 320px) / 448));
  }

  .manager-summary__thesis {
    font-size: calc(16px + 0 * ((100vw - 320px) / 448));
  }

  .manager-summary__thesis {
    line-height: calc(24px + 0 * ((100vw - 320px) / 448));
  }

  .manager-summary__thesis:not(:last-child) {
    margin-bottom: calc(24px + 0 * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 767px) {
  .manager-summary {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .manager-summary__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .manager-summary__name {
    max-width: unset;
  }

  .manager-summary__thesis {
    max-width: unset;
  }

  .manager-summary__photo {
    width: unset;
    max-width: unset;
  }
}