.materials {
  margin-bottom: 135px;
}

.materials__annual-item:not(:last-child) {
  margin-bottom: 40px;
}

.materials__year {
  margin-top: 68px;
  margin-bottom: 46px;
}

.materials__month-list {
  border-top: 1px solid var(--color-border);
}

.materials__month-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--color-border);
}

.materials__date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 225px;
  padding: 32px 20px;
  color: var(--color-black-060);
}

.materials__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.materials__item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.materials__date-mobile {
  display: none;
  color: var(--color-black-060);
}

.materials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.materials__link:hover,
.materials__link:focus {
  color: var(--color-black);
  text-decoration: none;
}

.materials__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 25px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.materials__link:hover .materials__name,
.materials__link:focus .materials__name {
  text-decoration: underline;
}

.materials__file-type {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
}

.materials__file-type span {
  width: 65px;
}

.materials__load-more-btn {
  display: block;
  margin: 125px auto 0;
}

.load-more-btn {
  display: block;
  color: var(--color-grey);
  -webkit-transition: color var(--trans--300);
  -o-transition: color var(--trans--300);
  transition: color var(--trans--300);
}

.load-more-btn svg {
  display: block;
}

.load-more-btn:focus,
.load-more-btn:hover {
  color: var(--color-hover);
}

.load-more-btn:hover svg {
  -webkit-animation: load-more-btn 1.2s infinite linear;
          animation: load-more-btn 1.2s infinite linear;
}

@-webkit-keyframes load-more-btn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load-more-btn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 1440px) {
  .materials__annual-item:not(:last-child) {
    margin-bottom: calc(0px + 40 * ((100vw - 320px) / 1120));
  }

  .materials__year {
    margin-top: calc(52px + 16 * ((100vw - 320px) / 1120));
  }

  .materials__year {
    margin-bottom: calc(20px + 26 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1023px) {
  .materials__month-item {
    display: block;
  }

  .materials__date {
    display: none;
  }

  .materials__item {
    padding: 12px 0;
  }

  .materials__date-mobile {
    display: block;
    margin-bottom: 12px;
  }

  .materials__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 10px 0;
  }

  .materials__name {
    padding: 12px 0;
  }
}

@media screen and (max-width: 767px) {
  .materials__load-more-btn {
    margin: 55px auto 0;
  }
}