.news-content {
  padding-top: 70px;
  padding-bottom: 110px;
}

.news-content__tex {
  max-width: 900px;
  margin: 0 110px;
}

.news-content__tex:not(:last-child) {
  margin-bottom: 32px;
}

.news-content__tex_accent {
  padding-right: 40px;
}

.news-content__tex_accent:not(:first-child) {
  margin-top: 85px;
}

.news-content__tex_accent:not(:last-child) {
  margin-bottom: 85px;
}

.news-content__tex br {
  display: none;
}

.news-content__managers-slider {
  margin-bottom: 130px;
}

.news-content__managers:not(:first-child) {
  margin-top: 130px;
}

.news-content__managers:not(:last-child) {
  margin-bottom: 130px;
}

.news-content__managers_shift {
  margin-left: 110px;
}

.news-content__managers_shift:not(:first-child) {
  margin-top: 110px;
}

.news-content__managers_shift:not(:last-child) {
  margin-bottom: 110px;
}

.managers-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 322px);
  gap: 80px 20px;
}

.managers-list__manager {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-border);
}

.managers-list__manager .manager-card {
  border-bottom: none;
}

.managers-list__manager_no-border-bottom-mobile {
  border-bottom: none;
}

.manager-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.manager-card:hover {
  text-decoration: unset;
  color: unset;
}

.manager-card__photo {
  overflow: hidden;
  width: 100%;
  height: 522px;
  background-color: var(--color-blue-deep);
}

.manager-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-transform var(--trans--500);
  transition: -webkit-transform var(--trans--500);
  -o-transition: transform var(--trans--500);
  transition: transform var(--trans--500);
  transition: transform var(--trans--500), -webkit-transform var(--trans--500);
}

.manager-card:hover .manager-card__photo img,
.manager-card:focus .manager-card__photo img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.manager-card__medium .manager-card__photo {
  height: 440px;
}

.manager-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  padding-top: 24px;
}

.manager-card__name {
  margin-bottom: 18px;
}

.manager-card:hover .manager-card__name {
  text-decoration: underline;
}

.manager-card_inverted-colors .manager-card__name {
  color: var(--color-white);
}

.manager-card__position {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  font-size: 18px;
}

.manager-card_inverted-colors .manager-card__position {
  color: var(--color-blue-ligth);
}

.manager-feedback {
  position: relative;
  overflow: hidden;
  padding-top: 110px;
  padding-bottom: 110px;
  color: var(--color-white);
  background-color: var(--color-green-ligth);
}

.manager-feedback__container {
  position: relative;
  z-index: 1;
}

.manager-feedback__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 60px;
  padding-right: 115px;
}

.manager-feedback__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 135px;
}

.manager-feedback__content {
  margin-bottom: 90px;
}

.manager-feedback__photo-mobile {
  display: none;
  width: 143px;
  margin-bottom: 32px;
}

.manager-feedback__author {
  max-width: 270px;
  margin-bottom: 14px;
}

.manager-feedback__author-position {
  max-width: 270px;
}

.manager-feedback__photo-desctop {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 322px;
          flex: 0 0 322px;
}

.manager-feedback__decor {
  position: absolute;
  right: 47px;
  bottom: 0;
}

.manager-feedback__decor svg {
  display: block;
  width: 753px;
  heigth: 500px;
  --color-patter: var(--color-green-2);
}

.news-contacts {
  margin-top: 75px;
  margin-bottom: 175px;
}

.news-contacts__title {
  max-width: 550px;
  margin-bottom: 85px;
  padding-left: 115px;
}

.news-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 115px;
}

.news-contacts__item {
  width: 305px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.news-contacts__position {
  margin-bottom: 5px;
  color: var(--color-black-060);
}

.news-contacts__name {
  margin-bottom: 32px;
}

.news-contacts__link {
  display: block;
}

.news-press-releases {
  margin-bottom: 200px;
}

.news-press-releases__cards {
  margin-top: 85px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news-press-releases__show-all {
  margin: 0 auto;
  margin-top: 77px;
  width: 300px;
}

@media screen and (max-width: 1679px) {
  .manager-card__photo {
    height: 440px;
  }
}

@media (max-width: 1440px) {
  .news-content {
    padding-top: calc(40px + 30 * ((100vw - 320px) / 1120));
  }

  .news-content {
    padding-bottom: calc(100px + 10 * ((100vw - 320px) / 1120));
  }

  .news-content__managers-slider {
    margin-bottom: calc(0px + 130 * ((100vw - 320px) / 1120));
  }

  .manager-card__position {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .manager-feedback {
    padding-top: calc(46px + 64 * ((100vw - 320px) / 1120));
  }

  .manager-feedback {
    padding-bottom: calc(46px + 64 * ((100vw - 320px) / 1120));
  }

  .manager-feedback__decor {
    right: calc(-145px + 192 * ((100vw - 320px) / 1120));
  }

  .manager-feedback__decor svg {
    width: calc(414px + 339 * ((100vw - 320px) / 1120));
  }

  .manager-feedback__decor svg {
    heigth: calc(275px + 225 * ((100vw - 320px) / 1120));
  }

  .news-contacts {
    margin-top: calc(32px + 43 * ((100vw - 320px) / 1120));
  }

  .news-contacts {
    margin-bottom: calc(68px + 107 * ((100vw - 320px) / 1120));
  }

  .news-contacts__title {
    margin-bottom: calc(27px + 58 * ((100vw - 320px) / 1120));
  }

  .news-contacts__position {
    margin-bottom: calc(14px + -9 * ((100vw - 320px) / 1120));
  }

  .news-contacts__name {
    margin-bottom: calc(11px + 21 * ((100vw - 320px) / 1120));
  }

  .news-press-releases__cards {
    margin-top: calc(35px + 50 * ((100vw - 320px) / 1120));
  }

  .news-press-releases__cards {
    padding-top: calc(24px + 16 * ((100vw - 320px) / 1120));
  }

  .news-press-releases__cards {
    padding-bottom: calc(24px + 16 * ((100vw - 320px) / 1120));
  }

  .news-press-releases__show-all {
    margin-top: calc(70px + 7 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .manager-feedback__feedback {
    padding: 0;
  }

  .news-contacts__title {
    padding-left: 0;
  }

  .news-contacts__list {
    padding-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .news-content__tex {
    margin: 0;
  }

  .news-content__tex_accent {
    padding-right: 0;
  }

  .news-content__tex_accent:not(:first-child) {
    margin-top: 60px;
  }

  .news-content__tex_accent:not(:last-child) {
    margin-bottom: 72px;
  }

  .news-content__managers-slider {
    overflow-x: auto;
    margin-left: -46px;
    margin-right: -46px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .news-content__managers-slider::-webkit-scrollbar {
    display: none;
  }

  .news-content__managers:not(:first-child) {
    margin-top: 60px;
  }

  .news-content__managers:not(:last-child) {
    margin-bottom: 72px;
  }

  .news-content__managers_shift {
    margin-left: 0;
  }

  .news-content__managers_shift:not(:first-child) {
    margin-top: 60px;
  }

  .news-content__managers_shift:not(:last-child) {
    margin-bottom: 72px;
  }

  .managers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 46px;
    padding-right: 46px;
  }

  .managers-list__manager {
    width: 273px;
  }

  .manager-card {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
  }

  .manager__slider:first-child .manager-card {
    border-top: 1px solid var(--color-border);
  }

  .manager-card__photo {
    height: 320px;
  }

  .manager-card__desc {
    padding: 0;
    padding-top: 20px;
  }

  .manager-feedback__feedback {
    display: block;
  }

  .manager-feedback__wrapper {
    margin-right: 0;
  }

  .manager-feedback__content {
    margin-bottom: 32px;
  }

  .manager-feedback__photo-mobile {
    display: block;
  }

  .manager-feedback__photo-desctop {
    display: none;
  }

  .news-press-releases .card_large {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (max-width: 1440px) {
  .news-content__managers-slider {
    margin-left: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .news-content__managers-slider {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .managers-list {
    padding-left: calc(20px + 26 * ((100vw - 320px) / 1120));
  }

  .managers-list {
    padding-right: calc(20px + 26 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 768px) {
  .news-press-releases__cards-row {
    border: none;
  }

  .news-press-releases__show-all {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .news-contacts__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-border);
  }

  .news-contacts__item:not(:last-child) {
    margin-bottom: 13px;
  }

  .news-contacts__name {
    font-size: 22px;
    line-height: 32px;
  }

  .news-contacts__link {
    font-size: 16px;
    line-height: 32px;
  }
}

@media screen and (max-width: 599px) {
  .news-content__tex br {
    display: block;
  }
}