.product-presentation {
  padding-top: 40px;
}

.product-presentation__description {
  max-width: 1020px;
  font-size: 28px;
}

.product-presentation__slider {
  max-width: 1020px;
  margin: 0;
  margin-top: 80px;
}

.product-presentation__slide {
  background-color: var(--color-dark-grey3);
  color: var(--color-white);
  padding: 60px;
  min-height: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-presentation__slider-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.product-presentation__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-presentation__slider-btn {
  width: 27px;
  height: 27px;
  background-image: url("../../img/arrow-btn.svg");
  background-size: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.product-presentation__slider-btn:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.product-presentation__slider-counter {
  margin-left: 50px;
  margin-right: 50px;
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 18px;
}

.product-presentation__slider-btn_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product-presentation__slider-btn_next:hover {
  -webkit-transform: rotate(180deg) scale(1.15);
      -ms-transform: rotate(180deg) scale(1.15);
          transform: rotate(180deg) scale(1.15);
}

.product-presentation__download {
  width: 22px;
  height: 27px;
  background-image: url("../../img/pdf-icon.svg");
  background-size: 100% 100%;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.product-presentation__download:hover {
  opacity: 0.8;
}

.products-row {
  padding-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.products-row__item {
  width: calc(100% / 4);
  position: relative;
}

.products-row__item:nth-child(1)::before,
.products-row__item:nth-child(2)::before,
.products-row__item:nth-child(3)::before,
.products-row__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 94.5%;
  background-color: var(--color-border);
}

.products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 360px;
  height: 100%;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
}

.products-card:hover {
  text-decoration: none;
  color: inherit;
}

.products-card:hover .products-card__name {
  text-decoration: underline;
}

.products-card:hover .products-card__show {
  -webkit-animation: 0.5s arrowAnimationType-1;
          animation: 0.5s arrowAnimationType-1;
}

.products-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 94.5%;
  background-color: var(--color-border);
}

.products-card::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 90%;
  background-color: var(--color-border);
}

.products-card__logo {
  margin-bottom: 25px;
}

.products-card__logo-img {
  max-width: 68px;
}

.products-card__name {
  margin-bottom: 15px;
}

.products-card__description {
  font-family: var(--font-family-primary);
  max-width: 250px;
  margin-bottom: 25px;
}

.products-card__show {
  background-image: url("../../img/card-arrow.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: auto;
}

.banner-products-card:hover {
  color: inherit;
}

.banner-products-card__logo {
  margin-bottom: 24px;
}

.banner-products-card__name {
  margin-bottom: 12px;
}

.banner-products-card__description {
  max-width: 280px;
  font-family: var(--font-family-primary);
}

.predict-services {
  margin-top: 80px;
}

.predict-services__title {
  margin-bottom: 80px;
}

.predict-services__cards-list {
  position: relative;
}

.predict-services__cards-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  z-index: 1;
  background-color: var(--color-white);
}

.predict-services__cards-list .products-card:hover .products-card__name {
  text-decoration: none;
}

.predict-contacts {
  margin-top: 80px;
  margin-bottom: 140px;
}

.predict-contacts__list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.predict-contacts__list-item:not(:last-child) {
  margin-right: 100px;
}

.predict-contacts__link {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: var(--color-grey);
  padding: 10px 0;
}

@media (max-width: 1440px) {
  .product-presentation__description {
    font-size: calc(16px + 12 * ((100vw - 320px) / 1120));
  }

  .product-presentation__slider {
    margin-top: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .product-presentation__slide {
    padding: calc(20px + 40 * ((100vw - 320px) / 1120));
  }

  .product-presentation__slide {
    min-height: calc(280px + 285 * ((100vw - 320px) / 1120));
  }

  .product-presentation__slider-bottom-wrapper {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 1120));
  }

  .product-presentation__slider-counter {
    margin-left: calc(20px + 30 * ((100vw - 320px) / 1120));
  }

  .product-presentation__slider-counter {
    margin-right: calc(20px + 30 * ((100vw - 320px) / 1120));
  }

  .products-card {
    padding: calc(0px + 30 * ((100vw - 320px) / 1120));
  }

  .products-card {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 1120));
  }

  .products-card {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1120));
  }

  .predict-services {
    margin-top: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .predict-services__title {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .predict-contacts {
    margin-top: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .predict-contacts {
    margin-bottom: calc(70px + 70 * ((100vw - 320px) / 1120));
  }

  .predict-contacts__list {
    margin-top: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .predict-contacts__list-item:not(:last-child) {
    margin-right: calc(20px + 80 * ((100vw - 320px) / 1120));
  }

  .predict-contacts__link {
    font-size: calc(16px + 12 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1439px) {
  .products-row__item {
    width: calc(100% / 3);
  }

  .products-row__item:nth-child(4)::before {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .products-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: visible;
    overflow-x: scroll;
    margin-right: -46px;
  }

  .products-row__item {
    margin-right: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .products-row__item:nth-child(odd)::before,
  .products-row__item:nth-child(even)::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 94.5%;
    background-color: var(--color-border);
  }

  .products-card {
    min-width: 232px;
  }

  .products-card::after {
    display: none;
  }

  .predict-services__cards-list::before {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (max-width: 1440px) {
  .products-row {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }
}