.press-contacts {
  padding-top: 60px;
  font-family: var(--font-family-primary);
}

.press-contacts a:hover {
  color: inherit;
}

.press-contacts__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-bottom: 40px;
}

.press-contacts__cards::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  z-index: 1;
}

.press-contacts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
  position: relative;
}

.press-contacts__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.press-contacts__card:not(:nth-child(3n))::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 95%;
  width: 1px;
  background-color: var(--color-border);
}

.press-contacts__card:nth-child(-n + 3) .press-contacts__card-more-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.press-contacts__card:nth-child(-n + 3) .press-contacts__card-more-borders::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.press-contacts__card-photo {
  margin-bottom: 20px;
}

.press-contacts__card-photo-img {
  margin: 0 auto;
}

.press-contacts__card-where {
  font-size: 14px;
  line-height: 1.71;
  opacity: 0.6;
  margin-bottom: 20px;
}

.press-contacts__card-name {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 20px;
}

.press-contacts__card-description {
  font-size: 18px;
  line-height: 1.33;
  max-width: 370px;
  margin-bottom: 25px;
}

.press-contacts__card-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.press-contacts__card-email {
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-blue-dark-type-2);
}

.press-contacts__card-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -11px;
}

.press-contacts__card-logo-img {
  margin: 0 11px;
}

.press-contacts__footer {
  background-color: var(--color-blue-light);
  color: var(--color-white);
  padding-top: 50px;
  padding-bottom: 30px;
}

.press-contacts__footer-wrapper {
  display: grid;
  grid-template-columns: 5fr 3fr 4fr;
}

.press-contacts__footer-description {
  margin-top: 18px;
}

.press-contacts__footer-block {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-top: 20px;
  position: relative;
}

.press-contacts__footer-block::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-blue-light2);
}

.press-contacts__footer-block:not(:nth-child(3n))::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 95%;
  width: 1px;
  background-color: var(--color-blue-light2);
}

.press-contacts__footer-item:not(:last-child) {
  margin-bottom: 20px;
}

.press-contacts__footer-item-title {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-blue2);
}

.press-contacts__footer-item-description {
  font-size: 18px;
  line-height: 1.78;
  max-width: 490px;
}

.press-contacts__footer-social-links {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.press-contacts__footer-social-link {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.press-contacts__footer-social-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.press-contacts__footer-block_big {
  grid-column: span 3;
  padding-bottom: 30px;
  padding-top: 40px;
}

.press-contacts__footer-block_big::after {
  display: none;
}

.press-contacts__footer-block_big::before {
  display: none;
}

.press-contacts__footer-block_big .press-contacts__footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.press-contacts__footer-question {
  border-color: var(--color-white);
  border-radius: 6px;
  margin-right: 50px;
}

.press-contacts__footer-question:hover {
  color: var(--color-white);
  border-color: var(--color-white);
  opacity: 0.8;
}

@media (max-width: 1440px) {
  .press-contacts {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 1120));
  }

  .press-contacts__cards {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card {
    padding-right: calc(0px + 30 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card {
    padding-left: calc(0px + 30 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-photo {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-where {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-name {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-name {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-description {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-description {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1120));
  }

  .press-contacts__card-email {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer {
    padding-top: calc(25px + 25 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-description {
    margin-top: calc(10px + 8 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-block {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-block {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-block {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-block {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-item:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-item-description {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-links {
    margin-left: calc(-4px + -4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-links {
    margin-right: calc(-4px + -4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-links {
    margin-top: calc(-4px + -4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-links {
    margin-bottom: calc(-4px + -4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-link {
    margin-left: calc(4px + 4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-link {
    margin-right: calc(4px + 4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-link {
    margin-top: calc(4px + 4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-social-link {
    margin-bottom: calc(4px + 4 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-block_big {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-block_big {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1120));
  }

  .press-contacts__footer-question {
    margin-right: calc(25px + 25 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1023px) {
  .press-contacts__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .press-contacts__card::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 95%;
    width: 1px;
    background-color: var(--color-border);
  }

  .press-contacts__card:nth-child(even)::after {
    display: none;
  }

  .press-contacts__card:nth-child(3) .press-contacts__card-more-borders::before {
    display: none;
  }

  .press-contacts__footer-wrapper {
    grid-template-columns: auto;
  }

  .press-contacts__footer-block {
    padding: 15px;
  }

  .press-contacts__footer-block::after {
    display: none;
  }

  .press-contacts__footer-block_big {
    grid-column: auto;
  }
}

@media screen and (max-width: 767px) {
  .press-contacts__cards {
    grid-template-columns: auto;
  }

  .press-contacts__card::after {
    display: none;
  }

  .press-contacts__card::before {
    width: 100%;
  }

  .press-contacts__card:nth-child(2) .press-contacts__card-more-borders::before {
    display: none;
  }

  .press-contacts__card:nth-child(odd) .press-contacts__card-more-borders::before,
  .press-contacts__card:nth-child(even) .press-contacts__card-more-borders::before {
    width: 100%;
  }

  .press-contacts__footer-block_big .press-contacts__footer-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .press-contacts__footer-question {
    margin: 0 0 15px 0;
    width: 100%;
  }
}