.projects-page {
  padding-top: 40px;
  padding-bottom: 240px;
}

.projects-page__list-links-wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.projects-page__list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid var(--color-border);
  margin-right: -2px;
}

.projects-page__list-item-links {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.projects-page__list-item-links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}

.projects-page__list-item-links::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 65%;
  background-color: var(--color-border);
}

.projects-page__link {
  padding-left: 27px;
  padding-right: 27px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.25;
  text-align: center;
}

.projects-page__link:hover {
  text-decoration: none;
}

.projects-page__chapter {
  padding-top: 90px;
}

.projects-page__chapter-title {
  margin-bottom: 57px;
  font-size: 96px;
}

.projects-page__chapter-subtitle {
  margin-top: 93px;
  margin-bottom: 40px;
  font-size: 38px;
}

.projects-page__cards-list-wrapper {
  position: relative;
  color: var(--color-white);
  min-height: 780px;
}

.projects-page__cards-list-wrapper.products-row {
  padding-top: 40px;
}

.projects-page__cards-list-wrapper .products-row__item::before {
  background-color: rgba(227, 227, 227, 0.3);
}

.projects-page__cards-list-wrapper .products-row__item:nth-child(-n + 5)::before {
  display: none;
}

.projects-page__cards-list-wrapper .products-row__item:nth-child(n + 5) .products-card::before {
  display: none;
}

.projects-page__cards-list-wrapper .products-row__item:nth-child(n + 5)::before {
  display: none;
}

.projects-page__cards-list-wrapper .products-card::before {
  background-color: rgba(227, 227, 227, 0.3);
}

.projects-page__cards-list-wrapper .products-card::after {
  background-color: rgba(227, 227, 227, 0.3);
}

.projects-page__cards-list-wrapper .products-card__show {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.projects-page__cards-list-bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100%;
}

.projects-page__cards-list-bg-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-page__cards-combo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects-page__cards-combo .projects-page__cards-list-item {
  width: calc(100% / 2);
}

.projects-page__select {
  display: none;
}

.products-row {
  padding-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.products-row__item {
  width: calc(100% / 4);
  position: relative;
}

.products-row__item:nth-child(1)::before,
.products-row__item:nth-child(2)::before,
.products-row__item:nth-child(3)::before,
.products-row__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 94.5%;
  background-color: var(--color-border);
}

.products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 360px;
  height: 100%;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
}

.products-card:hover {
  text-decoration: none;
  color: inherit;
}

.products-card:hover .products-card__name {
  text-decoration: underline;
}

.products-card:hover .products-card__show {
  -webkit-animation: 0.5s arrowAnimationType-1;
          animation: 0.5s arrowAnimationType-1;
}

.products-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 94.5%;
  background-color: var(--color-border);
}

.products-card::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 90%;
  background-color: var(--color-border);
}

.products-card__logo {
  margin-bottom: 25px;
}

.products-card__logo-img {
  max-width: 68px;
}

.products-card__name {
  margin-bottom: 15px;
}

.products-card__description {
  font-family: var(--font-family-primary);
  max-width: 250px;
  margin-bottom: 25px;
}

.products-card__show {
  background-image: url("../../img/card-arrow.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: auto;
}

.banner-products-card:hover {
  color: inherit;
}

.banner-products-card__logo {
  margin-bottom: 24px;
}

.banner-products-card__name {
  margin-bottom: 12px;
}

.banner-products-card__description {
  max-width: 280px;
  font-family: var(--font-family-primary);
}

@media (max-width: 1440px) {
  .projects-page {
    padding-top: calc(0px + 40 * ((100vw - 320px) / 1120));
  }

  .projects-page {
    padding-bottom: calc(60px + 180 * ((100vw - 320px) / 1120));
  }

  .projects-page__link {
    padding-left: calc(0px + 27 * ((100vw - 320px) / 1120));
  }

  .projects-page__link {
    padding-right: calc(0px + 27 * ((100vw - 320px) / 1120));
  }

  .projects-page__chapter {
    padding-top: calc(55px + 35 * ((100vw - 320px) / 1120));
  }

  .projects-page__chapter-title {
    margin-bottom: calc(2px + 55 * ((100vw - 320px) / 1120));
  }

  .projects-page__chapter-title {
    font-size: calc(35px + 61 * ((100vw - 320px) / 1120));
  }

  .projects-page__chapter-subtitle {
    margin-top: calc(45px + 48 * ((100vw - 320px) / 1120));
  }

  .projects-page__chapter-subtitle {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 1120));
  }

  .projects-page__chapter-subtitle {
    font-size: calc(28px + 10 * ((100vw - 320px) / 1120));
  }

  .projects-page__cards-list-wrapper.products-row {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1120));
  }

  .products-card {
    padding: calc(0px + 30 * ((100vw - 320px) / 1120));
  }

  .products-card {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 1120));
  }

  .products-card {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1439px) {
  .projects-page__cards-list-wrapper .products-row__item:nth-child(n + 4) .products-card::before {
    display: none;
  }

  .projects-page__cards-combo {
    grid-template-columns: 2fr 1fr;
  }

  .projects-page__cards-combo .projects-page__cards-list:last-child .projects-page__cards-list-item {
    width: 100%;
  }

  .products-row__item {
    width: calc(100% / 3);
  }

  .products-row__item:nth-child(4)::before {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .projects-page__cards-list-wrapper {
    min-height: auto;
    color: inherit;
  }

  .projects-page__cards-list-wrapper .products-card::before {
    background-color: var(--color-border);
  }

  .projects-page__cards-list-wrapper .products-row__item:nth-child(even)::before,
  .projects-page__cards-list-wrapper .products-row__item:nth-child(odd)::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 94.5%;
    background-color: var(--color-border);
  }

  .projects-page__cards-list-wrapper .products-row__item:nth-child(even) .products-card::before,
  .projects-page__cards-list-wrapper .products-row__item:nth-child(odd) .products-card::before {
    display: block;
  }

  .projects-page__cards-list-wrapper .products-card__show {
    -webkit-filter: unset;
            filter: unset;
  }

  .projects-page__cards-list-bg {
    display: none;
  }

  .projects-page__cards-combo {
    grid-template-columns: auto;
  }

  .projects-page__cards-combo .projects-page__chapter-subtitle:nth-child(2) {
    grid-row-start: 3;
  }

  .projects-page__cards-combo .projects-page__cards-list .projects-page__cards-list-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .products-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: visible;
    overflow-x: scroll;
    margin-right: -46px;
  }

  .products-row__item {
    margin-right: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .products-row__item:nth-child(odd)::before,
  .products-row__item:nth-child(even)::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 94.5%;
    background-color: var(--color-border);
  }

  .products-card {
    min-width: 232px;
  }

  .products-card::after {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (max-width: 1440px) {
  .products-row {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 768px) {
  .projects-page {
    position: relative;
    padding-top: 0;
  }

  .projects-page__list-links-wrapper {
    display: none;
  }

  .projects-page__chapter {
    padding-top: 170px;
    margin-top: -80px;
  }

  .projects-page__select {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff;
    top: 79px;
    font-size: 16px;
    z-index: 1;
    margin-left: -46px;
    margin-right: -46px;
    padding-left: 46px;
    padding-right: 46px;
    font-family: var(--font-family-main);
  }

  .projects-page__select .custom-select__button {
    border: none;
    border-bottom: 1px solid var(--color-border);
    max-width: none;
    border-radius: unset;
    font-family: var(--font-family-main);
  }

  .projects-page__select .custom-select__list {
    max-width: 100%;
    margin-left: -46px;
    margin-right: -46px;
    padding-left: 46px;
    padding-right: 46px;
    font-family: var(--font-family-main);
  }

  .projects-page__select.custom-select.is-open .custom-select__list {
    border: none;
    border-bottom: 1px solid var(--color-border);
    border-color: var(--color-border);
  }

  .projects-page__select .custom-select__item[aria-selected="true"] {
    color: inherit;
  }
}

@media screen and (max-width: 768px) and (max-width: 1440px) {
  .projects-page__chapter {
    padding-top: calc(135px + 35 * ((100vw - 320px) / 1120));
  }

  .projects-page__select {
    top: calc(59px + 20 * ((100vw - 320px) / 1120));
  }

  .projects-page__select {
    margin-left: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select {
    padding-left: calc(20px + 26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select {
    padding-right: calc(20px + 26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select .custom-select__list {
    margin-left: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select .custom-select__list {
    margin-right: calc(-20px + -26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select .custom-select__list {
    padding-left: calc(20px + 26 * ((100vw - 320px) / 1120));
  }

  .projects-page__select .custom-select__list {
    padding-right: calc(20px + 26 * ((100vw - 320px) / 1120));
  }
}