.manager-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.manager-card:hover {
  text-decoration: unset;
  color: unset;
}

.manager-card__photo {
  overflow: hidden;
  width: 100%;
  height: 522px;
  background-color: var(--color-blue-deep);
}

.manager-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-transform var(--trans--500);
  transition: -webkit-transform var(--trans--500);
  -o-transition: transform var(--trans--500);
  transition: transform var(--trans--500);
  transition: transform var(--trans--500), -webkit-transform var(--trans--500);
}

.manager-card:hover .manager-card__photo img,
.manager-card:focus .manager-card__photo img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.manager-card__medium .manager-card__photo {
  height: 440px;
}

.manager-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  padding-top: 24px;
}

.manager-card__name {
  margin-bottom: 18px;
}

.manager-card:hover .manager-card__name {
  text-decoration: underline;
}

.manager-card_inverted-colors .manager-card__name {
  color: var(--color-white);
}

.manager-card__position {
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  font-size: 18px;
}

.manager-card_inverted-colors .manager-card__position {
  color: var(--color-blue-ligth);
}

.team {
  position: relative;
  z-index: 8;
}

.team_for-investors {
  margin-bottom: 205px;
}

.team_for-team {
  margin-bottom: 120px;
}

.team__title {
  max-width: 1020px;
  font-size: 96px;
  margin-bottom: 134px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 322px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px 20px;
  margin-top: -50px;
}

.team-item {
  width: 322px;
  max-width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.team__bg {
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 950px;
  height: 630px;
  z-index: -1;
  --color-patter: var(--color-white-almost);
}

@media screen and (max-width: 1679px) {
  .manager-card__photo {
    height: 440px;
  }
}

@media (max-width: 1440px) {
  .manager-card__position {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .team__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1120));
  }

  .team__title {
    margin-bottom: calc(40px + 94 * ((100vw - 320px) / 1120));
  }

  .team__bg {
    width: calc(238px + 712 * ((100vw - 320px) / 1120));
  }

  .team__bg {
    height: calc(158px + 472 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1279px) {
  .team__list {
    gap: 80px 20px;
  }
}

@media screen and (max-width: 1023px) {
  .manager-card {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
  }

  .manager__slider:first-child .manager-card {
    border-top: 1px solid var(--color-border);
  }

  .manager-card__photo {
    height: 320px;
  }

  .manager-card__desc {
    padding: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 599px) {
  .team__list {
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team-item {
    width: 100%;
    max-width: 322px;
  }
}