.ecosystem {
  padding-top: 70px;
}

.ecosystem__title {
  margin-bottom: 70px;
}

.ecosystem__numbers {
  background-color: var(--color-white-almost);
  margin-bottom: 78px;
  padding: 15px 0;
}

.ecosystem__numbers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ecosystem__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.ecosystem__number:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 95%;
  background-color: var(--color-border);
}

.ecosystem__number-title {
  margin-bottom: 70px;
  white-space: nowrap;
}

.ecosystem__number-description {
  font-size: 28px;
}

.ecosystem__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 120px;
}

.ecosystem__card {
  padding: 30px;
  position: relative;
}

.ecosystem__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.ecosystem__card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.ecosystem__card:not(:last-child) .ecosystem__card-more-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ecosystem__card:not(:last-child) .ecosystem__card-more-borders::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 95%;
  background-color: var(--color-border);
}

.ecosystem__card-block-title {
  margin-bottom: 10px;
  font-size: 28px;
}

.ecosystem__card-block-description {
  margin-bottom: 40px;
  font-size: 18px;
}

.services {
  margin-bottom: 120px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.services-cards::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-white);
  z-index: 1;
}

.services-card {
  padding: 30px;
  min-height: 350px;
  position: relative;
}

.services-card_big {
  grid-row: span 2;
}

.services-card:nth-child(-n + 4)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.services-card::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 95%;
  width: 1px;
  background-color: var(--color-border);
}

.services-card .services-card_more-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services-card .services-card_more-borders::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.services-card__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.services-card__description {
  font-family: var(--font-family-primary);
  margin-bottom: 40px;
}

.services__show-more-cards {
  margin: 0 auto;
  margin-top: 80px;
}

.history {
  background-color: var(--color-blue6);
  color: var(--color-white);
  padding-top: 65px;
  padding-bottom: 130px;
  font-family: var(--font-family-primary);
}

.history__title {
  text-align: center;
  margin-bottom: 10px;
}

.history__subtitle {
  text-align: center;
  margin-bottom: 70px;
}

.history__dates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.history-date {
  min-height: 270px;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history-date::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-blue4);
}

.history-date::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-blue4);
}

.history-date .history-date__more-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.history-date:not(:last-child) .history-date__more-borders::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 95%;
  background-color: var(--color-blue4);
}

.history-date:nth-child(odd):not(:last-child) .history-date__more-borders::after {
  content: '';
  position: absolute;
  top: 85%;
  right: -10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 138px;
  height: 32px;
  background-image: url("../../img/history-arrow.svg");
  background-size: 100% 100%;
}

.history-date:nth-child(even) .history-date__more-borders::after {
  content: '';
  position: absolute;
  top: 15%;
  right: -10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 138px;
  height: 32px;
  background-image: url("../../img/history-arrow.svg");
  background-size: 100% 100%;
}

.history-date:nth-child(even) p:last-of-type {
  padding-left: 30px;
  color: var(--color-turquoise);
}

.history-date:nth-child(odd):not(:first-child) p:first-of-type {
  padding-left: 30px;
  color: var(--color-turquoise);
}

.history-date p:last-of-type {
  margin-top: auto;
}

.history-date__start {
  font-weight: 500;
  font-size: 38px;
  color: var(--color-turquoise);
}

.history-date__description {
  max-width: 180px;
}

.history-date__end {
  font-weight: 500;
  font-size: 38px;
}

.products {
  padding-top: 70px;
  padding-bottom: 120px;
}

.vk__wrapper {
  margin-bottom: 120px;
}

.vk__title {
  margin-bottom: 24px;
}

.vk__cards {
  margin-top: 70px;
}

.vk-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.vk-card {
  padding: 30px;
  position: relative;
  min-height: 200px;
}

.vk-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.vk-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-border);
}

.vk-card:not(:last-child) .vk-card__more-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vk-card:not(:last-child) .vk-card__more-borders::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 95%;
  background-color: var(--color-border);
}

.vk-card__name {
  color: var(--color-grey);
  max-width: 85%;
  margin-top: 30px;
}

.vk-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.vk-list {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--color-border);
}

.vk-list:first-child {
  border-top: 1px solid var(--color-border);
}

.vk-list.active {
  padding-bottom: 40px;
}

.vk-list.active .vk-list__name::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.vk-list.active .vk-list__items {
  display: block;
}

.vk-list__name {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 110px;
}

.vk-list__name::after {
  content: "";
  min-width: 16px;
  min-height: 9px;
  display: inline-block;
  background-image: url("../../img/vk-lists-dropdown.png");
  background-size: 100% 100%;
  margin-left: 15px;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.vk-list__items {
  display: none;
}

.vk-list__items:not(:last-child) {
  margin-bottom: 20px;
}

.vk-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vk-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.vk-list__item-logo {
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  margin-right: 12px;
}

.vk-list__item-logo img {
  width: 100%;
  height: 100%;
}

.services-card__logo-img {
  width: 100%;
  height: 100%;
}

.vk-list__subname {
  margin-bottom: 23px;
}

.profit {
  background-color: var(--color-white-almost);
}

.profit__prompt {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1085px;
  margin: 0 auto;
}

.profit__prompt-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit__prompt-item:not(:last-child) {
  margin-right: 26px;
}

.profit__prompt-item::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 2px;
  margin-right: 14px;
}

.profit__prompt-item:nth-child(1)::before {
  background-color: var(--color-blue-dark-type-2);
}

.profit__prompt-item:nth-child(2)::before {
  background-color: var(--color-blue8);
}

.profit__prompt-item:nth-child(3)::before {
  background-color: var(--color-blue8);
}

.profit-diagram {
  height: 480px;
  background-color: var(--color-bg--main);
  position: relative;
}

.profit-diagram .container {
  height: 100%;
}

.profit-diagram__background {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profit-diagram__background i {
  display: block;
  height: 40px;
  background-color: #fff;
  margin-bottom: 40px;
}

.profit-diagram-pic {
  min-width: 97%;
  min-height: 98%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.profit__more {
  background-color: var(--color-blue-dark-type-2);
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: var(--font-family-primary);
  margin-top: 100px;
}

.profit__more-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-white);
}

.profit__more-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 27px;
}

.profit__more-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 95%;
  background-color: var(--color-blue4);
}

.profit__more-item .profit__more-item-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.profit__more-item .profit__more-item-borders::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-blue4);
}

.profit__more-item .profit__more-item-borders::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: var(--color-blue4);
}

.profit__more-item-name {
  font-size: 28px;
  margin-bottom: 36px;
}

[data-percent] {
  opacity: 0;
}

.profit__more-item-number {
  font-size: 82px;
  font-size: 96px;
  margin-bottom: 24px;
}

.profit__more-item-number span {
  font-size: 140px;
}

.profit__more-item-description {
  font-size: 28px;
  margin-bottom: 40px;
}

.joint {
  padding-bottom: 188px;
  padding-top: 88px;
}

.joint__title {
  text-align: center;
  margin-bottom: 46px;
}

.joint__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.joint__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 150px;
  padding-left: 150px;
  position: relative;
  background-size: 100% 100%;
}

.joint__item:nth-child(1) .joint-item__diagram {
  background-image: url("../../img/joint-item-diagram-1.svg");
}

.joint__item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  background-color: var(--color-border);
  height: 57%;
}

.joint__item:nth-child(2) .joint-item__diagram {
  background-image: url("../../img/joint-item-diagram-2.svg");
}

.joint__item:nth-child(2) .joint-item__enterprise-logo {
  width: 46px;
  height: 46px;
}

.joint-item__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.joint-item__enterprises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -5px -6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
  height: 84px;
}

.joint-item__enterprise-logo {
  width: 32px;
  height: 32px;
  margin: 5px 6px;
}

.joint-item__diagram {
  width: 210px;
  height: 210px;
  background-image: url("../../img/joint-item-diagram-1.svg");
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
  margin-bottom: 26px;
}

.joint-item__diagram-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 38px;
  color: var(--color-white);
}

.joint-item__diagram-description {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--color-grey);
  text-align: center;
}

.joint-item__description {
  text-align: center;
  color: var(--color-grey);
}

.shareholders {
  margin-bottom: 170px;
}

.shareholders__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.shareholders__title {
  margin-bottom: 42px;
}

.shareholders__items {
  padding-left: 26px;
  font-size: 18px;
  margin-bottom: 30px;
}

.shareholders__item {
  position: relative;
  max-width: 500px;
}

.shareholders__item:not(:last-child) {
  margin-bottom: 34px;
}

.shareholders__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -24px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
}

.shareholders__prompt-title {
  color: var(--color-grey);
  margin-bottom: 80px;
}

.shareholders__prompt-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
  row-gap: 20px;
}

.shareholders__prompt-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shareholders__prompt-item::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 1px;
  margin-right: 14px;
}

.shareholders__prompt-item:nth-child(1)::before {
  background-color: var(--color-turquoise-dark);
}

.shareholders__prompt-item:nth-child(2)::before {
  background-color: var(--color-blue-deep);
}

.shareholders__prompt-item:nth-child(3)::before {
  background-color: var(--color-blue-ligth);
}

.shareholders__prompt-item:nth-child(4)::before {
  background-color: var(--color-blue-dark-type-1);
}

.shareholders__prompt-item:nth-child(5)::before {
  background-color: var(--color-blue-dark-type-2);
}

.shareholders-diagram-pic {
  width: 100%;
  height: 100%;
}

.statistics {
  padding-bottom: 180px;
}

.container {
  position: relative;
}

.statistics__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.statistics-item:nth-child(1) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 42px;
}

.statistics-item:nth-child(1) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 78px;
}

.statistics-item:nth-child(1) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 41px;
}

.statistics-item:nth-child(1) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 53px;
}

.statistics-item:nth-child(2) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 22px;
}

.statistics-item:nth-child(2) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 54px;
}

.statistics-item:nth-child(2) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 23px;
}

.statistics-item:nth-child(2) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 42px;
}

.statistics-item:nth-child(3) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 6px;
}

.statistics-item:nth-child(3) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 50px;
}

.statistics-item:nth-child(3) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 5px;
}

.statistics-item:nth-child(3) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 1px;
}

.statistics-item:nth-child(3) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-number {
  margin: 0;
}

.statistics-item:nth-child(4) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 16px;
}

.statistics-item:nth-child(4) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 50px;
}

.statistics-item:nth-child(4) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 10px;
}

.statistics-item:nth-child(4) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 4px;
}

.statistics-item:nth-child(4) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-number {
  margin: 0;
}

.statistics-item__title {
  text-align: center;
  margin-bottom: 40px;
  color: var(--color-blue-dark-type-2);
}

.statistics-item__proceeds {
  background: var(--color-blue-dark-type-2);
  height: 322px;
  padding-top: 60px;
  padding-bottom: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-item__proceeds-prompt {
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: var(--color-blue-ligth);
}

.statistics-item__proceeds-percent {
  color: var(--color-white);
  text-align: center;
}

.statistics-item__proceeds-percent span {
  display: inline-block;
}

.statistics-item__proceeds-diagrams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 148px;
}

.statistics-item__proceeds-diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.statistics-item__proceeds-diagram:nth-child(1) {
  font-size: 20px;
  text-align: center;
  color: var(--color-turquoise-dark);
}

.statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  background-color: var(--color-turquoise-dark);
}

.statistics-item__proceeds-diagram:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  border: 1px solid #ffffff;
}

.statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-number {
  margin-bottom: -30px;
}

.statistics-item__proceeds-diagram-date {
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
}

.statistics-item__ebitda {
  padding-top: 50px;
  position: relative;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-item__ebitda-percent {
  color: var(--color-blue-dark-type-2);
  text-align: center;
}

.statistics-item__ebitda-diagrams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 148px;
}

.statistics-item__ebitda-diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.statistics-item__ebitda-diagram:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--color-blue-dark-type-2);
}

.statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  background-color: var(--color-blue-dark-type-2);
}

.statistics-item__ebitda-diagram:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  border: 1px solid var(--color-black);
}

.statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-number {
  margin-bottom: -30px;
}

.statistics-item__ebitda-diagram-date {
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
}

.statistics-item__description {
  margin: 0 auto;
  margin-top: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  max-width: 260px;
}

.statistics-item__ebitda-prompt {
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 15px;
  line-height: 19px;
  color: var(--color-grey);
}

.rise {
  padding-bottom: 230px;
  font-family: var(--font-family-primary);
}

.rise__title {
  margin-bottom: 50px;
}

.rise-grid__row {
  display: grid;
  grid-template-columns: 2.66fr 2.68fr 2.54fr 1fr;
  background-color: #fff;
  height: 80px;
  border-radius: 10px;
  position: relative;
}

.rise-grid__row:not(:last-child) {
  margin-bottom: 8px;
}

.rise-grid__row:nth-child(1) {
  background-color: var(--color-blue-dark-type-2);
  height: 48px;
  border-radius: 0;
}

.rise-grid__row:not(:first-child) {
  border-bottom: 1px solid var(--color-border);
}

.rise__grid-th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  padding-left: 32px;
  font-size: 16px;
  border: none;
}

.rise__grid-th:nth-child(4) {
  min-width: 100px;
}

.rise__grid-td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
}

.rise__grid-td:nth-child(1) {
  font-size: 28px;
  font-weight: 500;
}

.rise__grid-td:nth-child(2) {
  font-size: 16px;
}

.rise__grid-td:nth-child(3) {
  font-size: 16px;
}

.rise__grid-td:nth-child(4) {
  font-size: 38px;
  color: var(--color-blue-dark-type-2);
  position: relative;
  min-width: 100px;
}

.rise__grid-td:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  background-image: url("../../img/rise-arrow-up.svg");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

@media (max-width: 1440px) {
  .ecosystem {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .ecosystem__title {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .ecosystem__numbers {
    margin-bottom: calc(30px + 48 * ((100vw - 320px) / 1120));
  }

  .ecosystem__number {
    padding: calc(0px + 50 * ((100vw - 320px) / 1120));
  }

  .ecosystem__number {
    padding-top: calc(0px + 80 * ((100vw - 320px) / 1120));
  }

  .ecosystem__number {
    padding-bottom: calc(0px + 80 * ((100vw - 320px) / 1120));
  }

  .ecosystem__number-title {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .ecosystem__number-description {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  .ecosystem__cards {
    margin-bottom: calc(50px + 70 * ((100vw - 320px) / 1120));
  }

  .ecosystem__card {
    padding: calc(0px + 30 * ((100vw - 320px) / 1120));
  }

  .ecosystem__card-block-title {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  .ecosystem__card-block-description {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1120));
  }

  .ecosystem__card-block-description {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  }

  .services {
    margin-bottom: calc(40px + 80 * ((100vw - 320px) / 1120));
  }

  .services-card {
    padding: calc(20px + 10 * ((100vw - 320px) / 1120));
  }

  .services-card {
    min-height: calc(250px + 100 * ((100vw - 320px) / 1120));
  }

  .services-card__top-wrapper {
    margin-bottom: calc(25px + 20 * ((100vw - 320px) / 1120));
  }

  .services-card__description {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1120));
  }

  .services__show-more-cards {
    margin-top: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .history {
    padding-top: calc(40px + 25 * ((100vw - 320px) / 1120));
  }

  .history {
    padding-bottom: calc(40px + 90 * ((100vw - 320px) / 1120));
  }

  .history__subtitle {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .history-date:nth-child(odd):not(:last-child) .history-date__more-borders::after {
    width: calc(69px + 69 * ((100vw - 320px) / 1120));
  }

  .history-date:nth-child(odd):not(:last-child) .history-date__more-borders::after {
    height: calc(16px + 16 * ((100vw - 320px) / 1120));
  }

  .history-date:nth-child(even) .history-date__more-borders::after {
    width: calc(69px + 69 * ((100vw - 320px) / 1120));
  }

  .history-date:nth-child(even) .history-date__more-borders::after {
    height: calc(16px + 16 * ((100vw - 320px) / 1120));
  }

  .history-date__start {
    font-size: calc(24px + 14 * ((100vw - 320px) / 1120));
  }

  .history-date__end {
    font-size: calc(24px + 14 * ((100vw - 320px) / 1120));
  }

  .products {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .products {
    padding-bottom: calc(30px + 90 * ((100vw - 320px) / 1120));
  }

  .vk__wrapper {
    margin-bottom: calc(30px + 90 * ((100vw - 320px) / 1120));
  }

  .vk__title {
    margin-bottom: calc(12px + 12 * ((100vw - 320px) / 1120));
  }

  .vk__cards {
    margin-top: calc(20px + 50 * ((100vw - 320px) / 1120));
  }

  .vk-card__name {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .profit__prompt {
    height: calc(40px + 130 * ((100vw - 320px) / 1120));
  }

  .profit__prompt-item:not(:last-child) {
    margin-right: calc(10px + 16 * ((100vw - 320px) / 1120));
  }

  .profit__prompt-item::before {
    margin-right: calc(7px + 7 * ((100vw - 320px) / 1120));
  }

  .profit-diagram {
    height: calc(130px + 350 * ((100vw - 320px) / 1120));
  }

  .profit-diagram__background {
    padding-top: calc(11px + 29 * ((100vw - 320px) / 1120));
  }

  .profit-diagram__background i {
    height: calc(11px + 29 * ((100vw - 320px) / 1120));
  }

  .profit-diagram__background i {
    margin-bottom: calc(11px + 29 * ((100vw - 320px) / 1120));
  }

  .profit__more {
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1120));
  }

  .profit__more {
    padding-bottom: calc(15px + 25 * ((100vw - 320px) / 1120));
  }

  .profit__more {
    margin-top: calc(40px + 60 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-name {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-name {
    margin-bottom: calc(18px + 18 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-number {
    font-size: calc(26px + 70 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-number {
    margin-bottom: calc(12px + 12 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-number span {
    font-size: calc(50px + 90 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-description {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  .profit__more-item-description {
    margin-bottom: calc(0px + 40 * ((100vw - 320px) / 1120));
  }

  .joint {
    padding-bottom: calc(40px + 148 * ((100vw - 320px) / 1120));
  }

  .joint {
    padding-top: calc(40px + 48 * ((100vw - 320px) / 1120));
  }

  .joint__item {
    padding-right: calc(40px + 110 * ((100vw - 320px) / 1120));
  }

  .joint__item {
    padding-left: calc(40px + 110 * ((100vw - 320px) / 1120));
  }

  .joint-item__title {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }

  .shareholders {
    margin-bottom: calc(40px + 130 * ((100vw - 320px) / 1120));
  }

  .shareholders__title {
    margin-bottom: calc(20px + 22 * ((100vw - 320px) / 1120));
  }

  .shareholders__items {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }

  .shareholders__items {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .shareholders__item:not(:last-child) {
    margin-bottom: calc(15px + 19 * ((100vw - 320px) / 1120));
  }

  .shareholders__prompt-title {
    margin-bottom: calc(20px + 60 * ((100vw - 320px) / 1120));
  }

  .shareholders__prompt-items {
    row-gap: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .statistics {
    padding-bottom: calc(40px + 140 * ((100vw - 320px) / 1120));
  }

  .statistics-item__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1120));
  }

  .statistics-item__proceeds {
    height: calc(280px + 42 * ((100vw - 320px) / 1120));
  }

  .rise {
    padding-bottom: calc(40px + 190 * ((100vw - 320px) / 1120));
  }

  .rise__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1120));
  }

  .rise-grid__row {
    height: calc(40px + 40 * ((100vw - 320px) / 1120));
  }

  .rise__grid-th {
    padding-left: calc(5px + 27 * ((100vw - 320px) / 1120));
  }

  .rise__grid-th {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  }

  .rise__grid-th:nth-child(4) {
    min-width: calc(55px + 45 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td {
    padding-left: calc(5px + 27 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(1) {
    font-size: calc(12px + 16 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(2) {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(3) {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(4) {
    font-size: calc(12px + 26 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(4) {
    min-width: calc(45px + 55 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(4)::before {
    width: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .rise__grid-td:nth-child(4)::before {
    height: calc(10px + 10 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 1401px) {
  .statistics-item__title {
    min-height: 75px;
  }
}

@media screen and (max-width: 1279px) {
  .services-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .services-card:nth-child(4)::before {
    display: none;
  }

  .vk-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .vk-card:nth-child(n + 4)::before {
    display: none;
  }

  .vk-card:nth-child(3) .vk-card__more-borders::before {
    display: none;
  }

  .vk-card:nth-child(5) .vk-card__more-borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .vk-card:nth-child(5) .vk-card__more-borders::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 95%;
    background-color: var(--color-border);
  }

  .vk-lists {
    grid-template-columns: repeat(2, 1fr);
  }

  .vk-lists__column:nth-child(n + 3) .vk-list:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 1080px) {
  .statistics-item__title {
    min-height: auto;
  }

  .statistics {
    margin-top: 40px;
  }

  .statistics::before {
    height: 53%;
  }

  .statistics__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .profit__more-items {
    grid-template-columns: auto;
  }

  .profit__more-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profit__more-item::after {
    display: none;
  }

  .profit__more-item:not(:first-child) .profit__more-item-borders::before,
  .profit__more-item:not(:first-child) .profit__more-item-borders::after {
    width: 100%;
  }

  .profit__more-item:not(:first-child) .profit__more-item-borders::before {
    display: none;
  }

  .profit__more-item-description {
    text-align: center;
  }
}

@media screen and (max-width: 980px) {
  .shareholders__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 82px;
  }

  .shareholders__title {
    text-align: center;
  }

  .statistics {
    margin-top: 0;
  }
}

@media screen and (max-width: 980px) and (max-width: 1440px) {
  .shareholders__wrapper {
    gap: calc(20px + 62 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 924px) {
  .statistics-item:nth-child(2) .statistics-item__title {
    min-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .ecosystem__numbers-list {
    grid-template-columns: auto;
  }

  .ecosystem__number {
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ecosystem__number:not(:last-child)::before {
    top: auto;
    right: auto;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 1px;
  }

  .ecosystem__cards {
    grid-template-columns: auto;
  }

  .ecosystem__card {
    padding: 20px 0;
  }

  .ecosystem__card:not(:first-child)::before {
    display: none;
  }

  .ecosystem__card::before,
  .ecosystem__card::after {
    width: 100%;
  }

  .ecosystem__card-more-borders {
    display: none;
  }

  .history__dates {
    display: grid;
    grid-template-columns: auto;
  }

  .history-date__more-borders {
    display: none;
  }

  .history__date {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: auto;
    padding: 20px 0;
  }

  .history__date::before,
  .history__date::after {
    width: 100%;
  }

  .history__date p:nth-of-type(3) {
    display: none;
  }

  .history__date p:last-of-type {
    margin: 0;
  }

  .history__date:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .history-date__start {
    padding: 0 !important;
    color: var(--color-turquoise);
    margin-right: 20px;
  }

  .history-date__end {
    padding: 0 !important;
    color: var(--color-turquoise);
    margin-right: 20px;
  }

  .history-date__description {
    max-width: none;
    color: inherit !important;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-card:nth-child(3)::before {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .joint__title {
    margin-bottom: 0;
  }

  .joint__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .joint__item {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  .joint__item:nth-child(1)::after {
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 80%;
  }

  .joint-item__enterprises {
    height: auto;
  }
}

@media screen and (max-width: 680px) and (max-width: 1440px) {
  .joint__item {
    padding-bottom: calc(20px + 130 * ((100vw - 320px) / 1120));
  }

  .joint__item {
    padding-top: calc(20px + 130 * ((100vw - 320px) / 1120));
  }
}

@media screen and (max-width: 676px) {
  .statistics-item:nth-child(2) .statistics-item__title {
    min-height: 75px;
  }
}

@media screen and (max-width: 600px) {
  .statistics-item__title {
    min-height: auto !important;
  }

  .statistics::before {
    height: 51.1%;
  }

  .statistics__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .services-cards::before {
    display: none;
  }

  .services-card {
    padding: 20px 0;
  }

  .services-card::before {
    width: 100% !important;
  }

  .services-card::after {
    display: none;
  }

  .services-card:nth-child(2)::before {
    display: none;
  }

  .services-card .services-card_more-borders::before {
    width: 100%;
  }

  .vk-cards {
    grid-template-columns: auto;
  }

  .vk-card__more-borders {
    display: none;
  }

  .vk-card {
    padding: 20px 0;
    min-height: auto;
  }

  .vk-card::before,
  .vk-card::after {
    width: 100%;
  }

  .vk-card:not(:first-child)::before {
    display: none;
  }

  .vk-lists {
    grid-template-columns: repeat(1, 1fr);
  }

  .vk-lists__column:not(:first-child) .vk-list:first-child {
    border-top: none;
  }

  .vk-list {
    padding: 0;
  }

  .vk-list.active {
    padding-bottom: 20px;
  }

  .vk-list__name {
    min-height: auto;
    padding: 20px 0;
  }
}

@media screen and (max-width: 520px) {
  .shareholders__prompt-items {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}