<div class="article-footer">
  <div class="article-footer__social">
    <ul class="social">
      <li class="social-item">
        <a href="#" class="social-link article-footer__social-link">
          <svg width="14" height="24" class="divisions__bg divisions__bg_patter-type_1">
            <use xlink:href="#icon-social-odnoklasniki" />
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#" class="social-link article-footer__social-link">
          <svg width="24" height="24" class="divisions__bg divisions__bg_patter-type_1">
            <use xlink:href="#icon-social-vkontakte" />
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#" class="social-link article-footer__social-link">
          <svg  width="25" height="24"class="divisions__bg divisions__bg_patter-type_1">
            <use xlink:href="#icon-social-facebook" />
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#" class="social-link article-footer__social-link">
          <svg width="27" height="21" class="divisions__bg divisions__bg_patter-type_1">
            <use xlink:href="#icon-social-twitter" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
