<section class="big-banner">
  <div class="container container_content">
    <div class="big-banner__wrapper">
      <div class="big-banner__swiper">
        <div class="big-banner__swiper-wrapper swiper-wrapper">
          <div class="big-banner__slide swiper-slide">
            <div class="big-banner__slide-left-wrapper">
              <div class="container container_content">
                <span class="animate-row">
                  <div class="animate-item">
                    <div class="big-banner__slide-counter">
                      <p class="big-banner__slide-counter-current">01</p>
                      <p class="big-banner__slide-counter-all">/ 03</p>
                    </div>
                  </div>
                </span>

                <h3 class="big-banner__slide-title title-h3">
                  <span class="animate-row">
                    <span class="animate-item">VK Group –</span>
                  </span>
                  <span class="animate-row">
                    <span class="animate-item">объединяющие</span>
                  </span>
                  <span class="animate-row">
                    <span class="animate-item">технологии</span>
                  </span>
                </h3>
                <p class="big-banner__slide-description">
                  <span class="animate-row">
                    <span class="animate-item">
                      Помогаем разным людям объеденяться вокруг того, что
                      действительно для них важно
                    </span>
                  </span>
                </p>
              </div>
            </div>
            <div class="big-banner__video-wrapper">
              <video
                src="../../files/gliph-short.webm"
                class="big-banner__video"
                autoplay
                muted
              ></video>
            </div>
            <!-- <div class="big-banner__slide-right-wrapper">
              <img
                src="../../img/big-banner-photo-1.jpg"
                alt=""
                class="big-banner__slide-photo"
              />
            </div> -->
          </div>
          <div class="big-banner__slide swiper-slide">
            <div class="big-banner__slide-left-wrapper">
              <div class="container container_content">
                <span class="animate-row">
                  <div class="animate-item">
                    <div class="big-banner__slide-counter">
                      <p class="big-banner__slide-counter-current">02</p>
                      <p class="big-banner__slide-counter-all">/ 03</p>
                    </div>
                  </div>
                </span>

                <h3 class="big-banner__slide-title title-h3">
                  <span class="animate-row">
                    <span class="animate-item">VK Group –</span>
                  </span>
                  <span class="animate-row">
                    <span class="animate-item">объединяющие</span>
                  </span>
                  <span class="animate-row">
                    <span class="animate-item">технологии</span>
                  </span>
                </h3>
                <p class="big-banner__slide-description">
                  <span class="animate-row">
                    <span class="animate-item">
                      Помогаем разным людям объеденяться вокруг того, что
                      действительно для них важно
                    </span>
                  </span>
                </p>
              </div>
            </div>
            <div class="big-banner__video-wrapper">
              <video
                src="../../files/gliph-short.webm"
                class="big-banner__video"
                autoplay
                muted
              ></video>
            </div>
            <!-- <div class="big-banner__slide-right-wrapper">
              <img
                src="../../img/big-banner-photo-1.jpg"
                alt=""
                class="big-banner__slide-photo"
              />
            </div> -->
          </div>
          <div class="big-banner__slide swiper-slide">
            <div class="big-banner__slide-left-wrapper">
              <div class="container container_content">
                <span class="animate-row">
                  <div class="animate-item">
                    <div class="big-banner__slide-counter">
                      <p class="big-banner__slide-counter-current">03</p>
                      <p class="big-banner__slide-counter-all">/ 03</p>
                    </div>
                  </div>
                </span>

                <h3 class="big-banner__slide-title title-h3">
                  <span class="animate-row">
                    <span class="animate-item">VK Group –</span>
                  </span>
                  <span class="animate-row">
                    <span class="animate-item">объединяющие</span>
                  </span>
                  <span class="animate-row">
                    <span class="animate-item">технологии</span>
                  </span>
                </h3>
                <p class="big-banner__slide-description">
                  <span class="animate-row">
                    <span class="animate-item">
                      Помогаем разным людям объеденяться вокруг того, что
                      действительно для них важно
                    </span>
                  </span>
                </p>
              </div>
            </div>
            <div class="big-banner__video-wrapper">
              <video
                src="../../files/gliph-short.webm"
                class="big-banner__video"
                autoplay
                muted
              ></video>
            </div>
            <!-- <div class="big-banner__slide-right-wrapper">
              <img
                src="../../img/big-banner-photo-1.jpg"
                alt=""
                class="big-banner__slide-photo"
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="big-banner__btns">
        <button
          class="big-banner__btn big-banner__btn_down btn btn_control"
        ></button>
        <div class="big-banner__slider-controls">
          <div class="animate-row">
            <div class="animate-item">
              <button
                class="big-banner__btn big-banner__btn_next btn btn_control"
              >
                <svg
                  class="big-banner__progress"
                  viewBox="0 0 220 220"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g transform="translate(110,110)">
                    <circle r="100" class="big-banner__progress-bg" />
                    <g transform="rotate(-90)">
                      <circle r="100" class="big-banner__progress-current" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>
          <div class="animate-row">
            <div class="animate-item">
              <button
                class="big-banner__btn big-banner__btn_prev btn btn btn_control"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
