<section class="calendar">
  <div class="container container_content">
    <div class="section-controls">
      <div class="section-controls__inputs">
        <div class="custom-select section-controls__select section-controls__select--year" data-select="" data-name="some-year" data-id="some-year">
          <span class="custom-select__label section-controls__select-label">год</span>
          <button class="custom-select__button section-controls__select-btn" type="button" aria-label="Выберите год">
            <span class="custom-select__text"></span><span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list section-controls__select-list" role="listbox">
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2021" aria-selected="true" role="option">
              2021
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2020" aria-selected="false" role="option">
              2020
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2019" aria-selected="false" role="option">
              2019
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2018" aria-selected="false" role="option">
              2018
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2017" aria-selected="false" role="option">
              2017
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2016" aria-selected="false" role="option">
              2016
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2015" aria-selected="false" role="option">
              2015
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2014" aria-selected="false" role="option">
              2014
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2013" aria-selected="false" role="option">
              2013
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2012" aria-selected="false" role="option">
              2012
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2011" aria-selected="false" role="option">
              2011
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2010" aria-selected="false" role="option">
              2010
            </li>
          </ul>
        </div>
        <div class="section-controls__search-block search-block">
          <label class="search-block__label" for="search-block__input"></label>
          <input
            id="search-block__input"
            class="search-block__input"
            type="text"
            placeholder="Подписаться"
          />
        </div>
      </div>
      <div class="section-controls__btns">
        <button class="section-controls__btn btn btn_w190">
          Запросить встречу
        </button>
        <button class="section-controls__btn btn btn_subscribe" data-modal="subscribe-form">
          Подписаться
        </button>
      </div>
    </div>

    <ul class="calendar__events-group">
      <li class="calendar__event-group scroll-item">
        <h2 class="title-h3 calendar__event-group-title">
          <span class="animate-row">
            <span class="animate-item">Будущие события</span>
          </span>
        </h2>
        <ul class="calendar__events anim-content">
          <li class="calendar__event">
            <p class="text-s calendar__event-date">28 октября 2021</p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >3Q21 financial results</a
              >
              <p class="text-s calendar__event-type">Tentative</p>
            </div>
          </li>

          <li class="calendar__event">
            <p class="text-s calendar__event-date">29 июля 2021</p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >2Q/1H21 financial results</a
              >
              <p class="text-s calendar__event-type">Tentative</p>
            </div>
          </li>

          <li class="calendar__event">
            <p class="text-s calendar__event-date">24 июня 2021</p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >Virtual ecommerce trip</a
              >
              <p class="text-s calendar__event-type">Trip</p>
              <p class="text-m calendar__event-participants">
                Morgan Stanley, AliExpress Russia
              </p>
            </div>
          </li>

          <li class="calendar__event">
            <p class="text-s calendar__event-date">
              22 июня - <br />24 июня 2021
            </p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >Annual Russia Conference</a
              >
              <p class="text-s calendar__event-type">Конференция</p>
              <p class="text-m calendar__event-participants">
                Renaissance Capital
              </p>
            </div>
          </li>
        </ul>
      </li>

      <li class="calendar__event-group scroll-item">
        <h2 class="title-h3 calendar__event-group-title">
          <span class="animate-row">
            <span class="animate-item">Прошедшие события</span>
          </span>
        </h2>
        <ul class="calendar__events anim-content">
          <li class="calendar__event">
            <p class="text-s calendar__event-date">17 июня 2021</p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >Inaugural Digital Economy Conference</a
              >
              <p class="text-s calendar__event-type">Конференция</p>
              <p class="text-m calendar__event-participants">Goldman Sachs</p>
            </div>
          </li>

          <li class="calendar__event">
            <p class="text-s calendar__event-date">15 июня 2021</p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >Sixth Annual Disruptive Technology Symposium</a
              >
              <p class="text-s calendar__event-type">Симпозиум</p>
              <p class="text-m calendar__event-participants">Goldman Sachs</p>
            </div>
          </li>

          <li class="calendar__event">
            <p class="text-s calendar__event-date">11 июня 2021</p>
            <div class="calendar__event-wrapper">
              <a class="text-xl calendar__event-title"
                >European Internet & Emerging Tech Conference</a
              >
              <p class="text-s calendar__event-type">Конференция</p>
              <p class="text-m calendar__event-participants">Barclays</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <button class="calendar__load-more-btn load-more-btn" type="button">
      <svg width="52" height="52">
        <use xlink:href="#icon-load-more"></use>
      </svg>
    </button>
  </div>
</section>
