<section class="disclosure scroll-item">
  <div class="container container_content">
    <h2 class="disclosure__title title-h3">
      <span class="animate-row">
        <span class="animate-item">Раскрытие информации</span>
      </span>
    </h2>
    <p class="disclosure__text anim-content text-l">
      Mail.ru Group раскрывает информацию на страницах в сети Интернет ООО «Интерфакс-ЦРКИ» – информационного агентства, аккредитованного Банком России на раскрытие информации. Информация доступна по следующим ссылкам (Мэйл.ру Груп Лимитед, ООО "Мэйл.Ру Финанс").<br><br>
      Перечень инсайдерской информации ООО «Мэйл.Ру Финанс»
    </p>
  </div>
</section>