<section class="divisions divisions_color_green divisions_patter-type_4 scroll-item">
  <div class="container container_content">
    <h2 class="divisions__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Контакы</span>
      </span>
    </h2>

    <dl class="divisions__list anim-content">
      <div class="divisions__list-item">
        <dt class="text-m">Отдел продаж</dt>
        <dd class="text-xl">
          <a href="mailto:sales@corp.mail.ru" class="divisions__link">sales@vk.team</a>
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Пресс-служба</dt>
        <dd class="text-xl">
          <a href="mailto:events@corp.mail.ru" class="divisions__link">pr@vk.team</a>
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Отдел по связям с инвесторами</dt>
        <dd class="text-xl">
          <a href="mailto:legal_dep@corp.mail.ru" class="divisions__link">ir@vk.team</a>
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Юридический отдел</dt>
        <dd class="text-xl">
          <a href="mailto:marketing@corp.mail.ru" class="divisions__link">legal_dep@vk.team</a>
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Маркетинг</dt>
        <dd class="text-xl">
          <a href="mailto:ir@corp.mail.ru" class="divisions__link">marketing@vk.team</a>
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Мероприятия</dt>
        <dd class="text-xl">
          <a href="mailto:pr@corp.mail.ru" class="divisions__link">pr@vk.team</a>
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Сотрудничество с MY.GAMES Venture Capital</dt>
        <dd class="text-xl">
          <a href="mailto:apply@mgvc.com" class="divisions__link">apply@mgvc.com</a>
        </dd>
      </div>
    </dl>
  </div>

  <div class="divisions__bg-wrapper">
    <svg class="divisions__bg divisions__bg_patter-type_1">
      <use xlink:href="#patter-1" />
    </svg>
    <svg class="divisions__bg divisions__bg_patter-type_2">
      <use xlink:href="#patter-2" />
    </svg>
    <svg class="divisions__bg divisions__bg_patter-type_3">
      <use xlink:href="#patter-3" />
    </svg>
    <svg class="divisions__bg divisions__bg_patter-type_4">
      <use xlink:href="#patter-4" />
    </svg>
  </div>
</section>
