<section class="intro-slider intro-slider_color_blue">
  <div class="container container_content">
    <div class="intro-slider__header text-xxl">
      <p>394026, г. Воронеж, пр-кт</p>
      <p>Труда, д. 65</p>
    </div>
    <div class="intro-slider__wrapper swiper-container">
      <ul class="intro-slider__slides swiper-wrapper">
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/vrz-slide-1.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-2.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-3.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-4.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-5.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-2.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-3.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-4.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__slide swiper-slide">
          <img src="../../img/nn-slide-5.jpg" width="1588" height="794" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
      </ul>
    </div>
    <div class="intro-slider__thumbs-wrapper swiper-container">
      <ul class="intro-slider__thumbs-slides swiper-wrapper">
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/vrz-slide-1.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-2.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-3.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-4.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-5.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-2.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-3.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-4.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
        <li class="intro-slider__thumbs-slide swiper-slide">
          <img src="../../img/nn-slide-5.jpg" width="322" height="228" alt="ул. Ковалихинская, дом 8, этаж 8">
        </li>
      </ul>
    </div>
    <div class="intro-slider__controls">
      <div class="intro-slider__scrollbar">
        <div class="intro-slider__scrollbar-drag"></div>
      </div>
      <div class="intro-slider__btns">
        <button class="intro-slider__btn intro-slider__btn_prev" type="button" aria-label="Предыдущий слайд"></button>
        <button class="intro-slider__btn intro-slider__btn_next" type="button" aria-label="Следующий слайд"></button>
      </div>
    </div>
  </div>
</section>
