<section class="landing-page-promo">
  <div class="container container_content">
    <ul class="landing-page-promo__links">
      <li class="landing-page-promo__link-item">
        <a href="#" class="landing-page-promo__link">
          <img src="../../img/projects-logo-2.png" width="120" height="120" alt="Delivery Club" class="projects__card-logo-pic" />
        </a>
      </li>
      <li class="landing-page-promo__link-item">
        <a href="#" class="landing-page-promo__link">
          <img src="../../img/projects-logo-99.png" width="120" height="120" alt="ВКонтакте" class="projects__card-logo-pic" />
        </a>
      </li>
    </ul>

    <h1 class="landing-page-promo__title title-h2">VK становится больше</h1>

    <div class="landing-page-promo__img">
      <img src="../../img/landing-promo-photo-1.jpg" w1idth="497" height="588" alt="ВКонтакте" class="projects__card-logo-pic" />
    </div>
    <div class="landing-page-promo__decor"><svg id="patter-4" class="patter patter_4" viewBox="0 0 757 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M460.318 499.959C452.588 487.989 446.486 475.185 441.177 461.993C428.349 430.122 419.705 397.028 412.915 363.424C410.908 353.469 409.208 343.466 407.338 333.357H360.154C369.413 390.683 382.249 446.859 406.853 500L460.318 499.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 499.959L308.729 492.885C295.78 478.965 285.898 462.94 277.424 446.016C262.281 415.772 251.946 383.835 244.241 351C242.865 345.125 241.643 339.216 240.34 333.316H180.255C191.327 392.107 208.525 448.525 240 499.959H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 499.958C179.429 499.861 179.092 499.725 178.774 499.554C172.299 495.839 165.565 492.496 159.487 488.223C143.301 476.827 130.61 462.008 119.611 445.7C99.4508 415.803 86.1778 382.855 76.7814 348.216C75.4379 343.247 74.2322 338.245 72.9777 333.332H0C12.2048 393.708 33.2634 450.119 70.5576 499.974L179.778 499.958Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 499.959C589.342 445.734 581.257 389.646 574.062 333.309H539.633C546.375 389.622 554.776 445.458 571.561 499.959H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 499.959C748.142 444.641 744.111 389.023 740.38 333.309H718.528C722.146 389.064 726.314 444.625 734.715 499.959H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 333.308V333.268C452.588 321.29 446.486 308.486 441.177 295.302C428.349 263.422 419.705 230.337 412.915 196.725C410.908 186.778 409.208 176.767 407.338 166.658H360.154C369.413 223.983 382.249 280.167 406.853 333.308H460.318Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 333.308L308.729 326.235C295.78 312.306 285.898 296.29 277.424 279.366C262.281 249.121 251.946 217.185 244.241 184.342C242.865 178.475 241.643 172.566 240.34 166.658H180.255C191.327 225.456 208.525 281.875 240 333.308H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 333.308C179.429 333.211 179.092 333.075 178.774 332.903C172.299 329.188 165.565 325.837 159.487 321.572C143.301 310.169 130.61 295.358 119.611 279.05C99.4508 249.104 86.1778 216.197 76.7814 181.565C75.4379 176.596 74.2322 171.586 72.9777 166.682H0C12.2048 227.058 33.2634 283.469 70.5576 333.324L179.778 333.308Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 333.309C589.342 279.083 581.257 222.996 574.062 166.65H539.633C546.375 222.972 554.776 278.808 571.561 333.309H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 333.308C748.142 277.99 744.111 222.373 740.38 166.658H718.528C722.146 222.405 726.314 277.974 734.715 333.308H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 166.651C452.588 154.673 446.486 141.869 441.177 128.677C428.349 96.8054 419.705 63.7116 412.915 30.108C410.908 20.1612 409.208 10.1496 407.338 0.0410156H360.154C369.413 57.3663 382.249 113.542 406.853 166.683L460.318 166.651Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 166.65L308.729 159.584C295.78 145.656 285.898 129.639 277.424 112.708C262.281 82.471 251.946 50.5264 244.241 17.6917C242.865 11.8159 241.643 5.90787 240.34 0.0078125H180.255C191.327 58.798 208.525 115.225 240 166.65H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 166.65C179.427 166.56 179.089 166.424 178.774 166.245C172.299 162.53 165.565 159.188 159.487 154.914C143.301 143.511 130.61 128.7 119.611 112.392C99.4508 82.4868 86.1778 49.5388 76.7814 14.8992C75.4379 9.9299 74.2322 4.92829 72.9777 0.015625H0C12.2048 60.3921 33.2634 116.803 70.5576 166.658L179.778 166.65Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 166.65C589.342 112.425 581.257 56.3379 574.062 0H539.633C546.375 56.3136 554.776 112.15 571.561 166.65H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 166.65C748.142 111.34 744.111 55.7147 740.38 0H718.528C722.146 55.7551 726.314 111.316 734.715 166.65H756.826Z" fill="var(--color-patter)" />
  </g>
</svg>
</div>
  </div>
</section>

<section class="landing-page-vk-id">
  <div class="container container_content">
    <h2 class="landing-page-vk-id__title title-h3">С нами в интернете проще и безопаснее благодаря единому VK ID</h2>

    <ul class="landing-page-vk-id__features">
      <li class="landing-page-vk-id__feature landing-page-feature-card landing-page-feature-card_purple">
        <div class="landing-page-feature-card__inner">
          <h3 class="landing-page-feature-card__title">Авторизуйтесь одним нажатием</h3>
          <p class="landing-page-feature-card__message">Переходите из одного сервиса в другой, не тратя время на ввод данных или регистрацию.</p>
          <button type="button" class="landing-page-feature-card__icon"></button>
        </div>
        <div class="landing-page-feature-card__decor"><svg id="patter-2" class="patter patter_2" viewBox="0 0 1025 735" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M990.134 0.0703125C986.915 18.5882 982.234 36.822 976.134 54.6003C963.134 91.7903 943.504 124.76 914.374 151.69C900.702 164.269 885.527 175.108 869.194 183.96C868.469 184.31 867.833 184.819 867.334 185.45H869.404C888.064 185.45 906.714 185.45 925.404 185.39C926.766 185.336 928.073 184.845 929.134 183.99C963.934 154.69 988.294 118.09 1004.6 75.8803C1013.63 52.167 1020.2 27.5875 1024.19 2.53033C1024.32 1.71033 1024.49 0.890312 1024.64 0.0703125H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 0.0703125C755.225 5.80031 754.405 11.5503 753.225 17.2303C748.315 41.2042 740.354 64.4502 729.535 86.4003C709.492 127.171 677.979 161.201 638.865 184.31C638.515 184.52 638.175 184.75 637.455 185.23C638.455 185.33 639.015 185.44 639.595 185.44C655.005 185.44 670.415 185.44 685.825 185.5C687.985 185.5 689.165 184.29 690.525 183.13C724.215 154.41 748.705 119.13 765.205 78.1903C774.979 53.5883 781.871 27.9376 785.745 1.75031C785.858 1.18192 786.005 0.620895 786.185 0.0703125H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.815 0.071228C511.345 74.7012 478.685 137.461 418.705 185.451H421.455C432.115 185.451 442.775 185.451 453.455 185.451C454.228 185.488 455 185.356 455.717 185.065C456.434 184.773 457.078 184.328 457.605 183.761C495.055 147.211 520.535 103.471 535.815 53.6113C540.923 36.7327 544.737 19.4894 547.225 2.03125C547.315 1.38125 547.295 0.71125 547.325 0.03125L522.815 0.071228Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 0.0703125C287.604 8.36031 286.584 16.6903 284.964 24.9103C278.046 59.1584 266.5 92.3058 250.644 123.44C239.934 144.76 227.434 164.95 212.264 183.44C211.844 183.95 211.454 184.44 211.004 185.08C211.244 185.22 211.434 185.43 211.624 185.43C219.114 185.43 226.624 185.52 234.104 185.43C235.187 185.24 236.15 184.629 236.784 183.73C247.825 168.71 257.633 152.821 266.114 136.22C285.459 99.0612 298.999 59.1587 306.264 17.9003C307.264 12.0003 308.024 6.06031 308.904 0.13031L288.904 0.0703125Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 0.0700073C54.1232 8.17001 53.4933 16.3 52.3333 24.36C47.2106 59.1514 39.9737 93.5985 30.6631 127.51C25.5231 146.45 19.7432 165.19 12.7432 183.51L12.0332 185.42C17.1132 185.42 21.9833 185.48 26.8433 185.34C27.4033 185.34 28.2031 184.28 28.4331 183.56C32.6731 170.7 37.1132 157.9 40.9832 144.93C50.6038 112.425 58.2347 79.3636 63.8333 45.9301C66.4133 30.7101 67.9732 15.32 69.9932 0L55.0032 0.0700073Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M970.083 185.422H1013.68C997.364 259.952 960.254 321.152 898.684 367.262C960.204 413.262 997.324 474.472 1013.68 548.982H970.094C948.544 462.452 894.954 403.322 814.354 367.262C852.554 350.202 886.714 327.142 914.454 295.262C942.194 263.382 959.934 226.292 970.083 185.422Z"
      fill="var(--color-patter)"
    />
    <path
      d="M593.254 367.22C629.254 348.44 661.204 324.31 687.254 292.81C713.304 261.31 730.584 225.42 739.944 185.5H777.744C762.114 260.5 723.264 320.73 662.374 367.26C723.214 413.73 762.064 473.91 777.744 548.97H740.044C719.894 465.18 668.204 406.92 593.254 367.22Z"
      fill="var(--color-patter)"
    />
    <path
      d="M435.195 367.26C489.725 416.76 527.455 475.9 541.875 548.94H509.985C492.415 471.85 447.645 413.46 385.115 367.26C447.515 321.26 492.435 262.74 510.025 185.41H541.915C527.515 258.49 489.815 317.66 435.195 367.26Z"
      fill="var(--color-patter)"
    />
    <path
      d="M305.744 548.959H279.884C265.554 480.079 232.084 421.049 188.264 367.279C232.024 313.579 265.564 254.469 279.904 185.469H306.244C303.874 195.679 301.874 205.789 299.164 215.699C289.104 252.539 273.164 286.849 253.654 319.559C244.398 335.156 234.213 350.183 223.154 364.559C221.494 366.709 221.674 367.929 223.224 369.979C250.104 405.449 272.104 443.689 288.154 485.259C296.101 505.47 301.955 526.443 305.624 547.849C305.654 548.189 305.674 548.519 305.744 548.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M49.4048 185.41H69.6548C69.2148 188.77 68.875 192.02 68.365 195.25C62.515 232.38 53.1248 268.69 42.1648 304.59C35.9548 324.91 28.8549 344.96 22.2649 365.17C21.8527 366.625 21.898 368.172 22.3948 369.6C37.8348 412.6 51.0148 456.32 60.9248 500.94C64.2148 515.78 66.5449 530.82 69.2949 545.78C69.4749 546.78 69.495 547.78 69.615 549.08H56.8149C54.9049 549.08 52.985 549.08 51.075 549.08C49.795 549.08 49.1649 548.83 48.9649 547.37C44.2549 513.52 35.705 480.54 26.335 447.75C18.665 420.91 10.0848 394.35 0.144784 368.25C-0.0754181 367.504 -0.0437008 366.706 0.234872 365.98C17.0265 321.308 30.7255 275.533 41.2349 228.98C44.4149 214.88 46.5248 200.55 49.1348 186.32C49.2071 186.012 49.2973 185.708 49.4048 185.41Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M990.134 733.952C986.914 715.438 982.233 697.207 976.134 679.432C963.134 642.242 943.504 609.272 914.374 582.342C900.705 569.76 885.53 558.921 869.194 550.072C868.469 549.723 867.833 549.213 867.334 548.582H869.404C888.064 548.582 906.714 548.582 925.404 548.642C926.766 548.697 928.073 549.187 929.134 550.042C963.934 579.342 988.294 615.942 1004.6 658.142C1013.63 681.859 1020.2 706.442 1024.19 731.502C1024.32 732.322 1024.49 733.142 1024.64 733.952H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 733.951C755.225 728.231 754.405 722.471 753.225 716.791C748.314 692.821 740.352 669.579 729.535 647.631C709.495 606.859 677.981 572.828 638.865 549.721C638.515 549.511 638.175 549.271 637.455 548.801C638.455 548.701 639.015 548.591 639.595 548.591C655.005 548.591 670.415 548.591 685.825 548.531C687.985 548.531 689.165 549.741 690.525 550.901C724.215 579.621 748.705 614.901 765.205 655.841C774.992 680.442 781.898 706.092 785.785 732.281C785.896 732.847 786.043 733.404 786.225 733.951H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.814 733.951C511.344 659.331 478.684 596.591 418.744 548.591H421.494C432.154 548.591 442.814 548.591 453.494 548.591C454.268 548.558 455.039 548.693 455.755 548.987C456.471 549.28 457.116 549.725 457.644 550.291C495.094 586.841 520.574 630.581 535.854 680.441C540.963 697.319 544.777 714.562 547.264 732.021C547.354 732.671 547.334 733.341 547.364 734.021L522.814 733.951Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 733.95C287.604 725.67 286.584 717.34 284.964 709.12C278.044 674.873 266.498 641.726 250.644 610.59C239.934 589.28 227.434 569.09 212.264 550.59C211.844 550.08 211.454 549.59 211.004 548.95C211.244 548.81 211.434 548.6 211.624 548.59C219.114 548.59 226.624 548.51 234.104 548.59C235.187 548.78 236.15 549.392 236.784 550.29C247.825 565.311 257.633 581.199 266.114 597.8C285.459 634.959 298.999 674.862 306.264 716.12C307.264 722.02 308.024 727.96 308.904 733.88L288.904 733.95Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 733.95C54.1232 725.86 53.4933 717.73 52.3333 709.67C47.2106 674.879 39.9737 640.432 30.6631 606.52C25.5231 587.58 19.7432 568.84 12.7432 550.52L12.0332 548.61C17.1132 548.61 21.9833 548.55 26.8433 548.69C27.4033 548.69 28.2031 549.75 28.4331 550.47C32.6731 563.33 37.1132 576.13 40.9832 589.1C50.6038 621.606 58.2347 654.667 63.8333 688.1C66.4133 703.32 67.9732 718.71 69.9932 734.02L55.0032 733.95Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
      </li>

      <li class="landing-page-vk-id__feature landing-page-feature-card landing-page-feature-card_light-green">
        <div class="landing-page-feature-card__inner">
          <h3 class="landing-page-feature-card__title">Авторизуйтесь одним нажатием</h3>
          <p class="landing-page-feature-card__message">С вашего разрешения сервисы будут узнавать вас автоматически.</p>
          <button type="button" class="landing-page-feature-card__icon"></button>
        </div>
        <div class="landing-page-feature-card__decor"><svg id="patter-6" class="patter patter_6" viewBox="0 0 1083 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <path
    d="M686.729 125.92H685.247C662.824 125.92 640.403 125.905 617.985 125.874C617.003 125.842 616.07 125.434 615.379 124.735C588.846 92.3017 569.734 56.0237 559.558 15.246C558.442 10.7854 557.638 6.24666 556.71 1.7392C556.643 1.22194 556.61 0.701026 556.608 0.179527C557.28 0.179527 557.857 0.101562 558.427 0.101562C573.113 0.101562 587.8 0.101562 602.487 0.101562C603.892 0.101562 604.438 0.436938 604.828 1.90303C613.881 39.5691 631.837 72.564 657.442 101.504C665.887 111.102 675.766 119.339 686.729 125.92Z"
    fill="var(--color-patter)"
  />
  <path
    d="M818.949 125.92H816.803C797.887 125.92 778.975 125.92 760.069 125.92C759.497 125.954 758.925 125.85 758.401 125.618C757.878 125.386 757.416 125.033 757.057 124.587C728.019 91.5138 707.596 53.9413 697.686 10.9021C696.905 7.37722 696.265 3.80561 695.516 0.0312044H697.662C709.368 0.0312044 721.074 0.093538 732.779 -0.0234375C734.691 -0.0234375 735.261 0.592633 735.659 2.31607C745.172 43.0235 765.126 77.9603 794.601 107.462C801.472 114.483 809.345 120.449 817.966 125.164C818.114 125.304 818.286 125.46 818.949 125.92Z"
    fill="var(--color-patter)"
  />
  <path
    d="M950.139 125.921H948.493C933.158 125.921 917.824 125.921 902.45 125.866C901.335 125.814 900.275 125.366 899.461 124.603C867.512 91.4596 845.771 52.7797 836.024 7.62718C835.665 5.98173 835.407 4.31288 835.111 2.65182C834.978 1.87199 834.861 1.09214 834.721 0.203125H865.366C867.528 7.86112 869.315 15.5035 871.844 22.8963C882.25 53.6274 899.608 81.5463 922.568 104.483C930.758 112.829 940.031 120.039 950.139 125.921Z"
    fill="var(--color-patter)"
  />
  <path
    d="M973.793 0.164062H996.042C998.172 7.91564 999.943 15.6283 1002.39 23.1147C1011.52 50.7443 1026.25 75.122 1045.87 96.5753C1055.03 106.588 1065.11 115.51 1076.74 122.598C1078.44 123.643 1080.21 124.595 1082.34 125.819C1081.46 125.866 1080.99 125.913 1080.53 125.913C1068.82 125.913 1057.11 125.913 1045.41 125.874C1044.41 125.846 1043.45 125.477 1042.69 124.829C1008.35 92.9257 985.429 54.3939 975.284 8.49276C974.714 5.77893 974.308 3.02606 973.793 0.164062Z"
    fill="var(--color-patter)"
  />
  <path
    d="M473.849 124.696C473.974 124.86 474.121 125.007 474.286 125.133H554.134C546.37 120.89 539.892 115.408 533.844 109.403C522.63 98.2907 513.133 85.8211 504.721 72.4937C490.814 50.4477 480.209 26.9902 474.091 1.59874C473.732 0.0390625 472.975 0.0390625 471.796 0.0390625C454.316 0.0390625 436.833 0.0390625 419.347 0.0390625H417.326C417.778 2.55793 418.106 4.86624 418.621 7.14336C427.978 50.6037 447.004 89.5019 473.849 124.696Z"
    fill="var(--color-patter)"
  />
  <path
    d="M421.883 124.805C421.55 124.674 421.227 124.52 420.915 124.345C412.549 119.666 405.62 113.155 399.259 106.089C374.997 79.1615 357.969 48.085 346.833 13.7098C345.382 9.23355 344.235 4.66371 342.931 0.15625H278.144C286.681 45.8859 305.777 86.8429 332.529 124.805H421.883Z"
    fill="var(--color-patter)"
  />
  <path
    d="M50.795 124.805H158.176C156.531 124.219 154.984 123.388 153.587 122.341C145.479 116.43 138.76 109.138 132.517 101.387C116.324 81.2749 103.822 58.9872 93.7707 35.2801C88.9234 23.8978 84.94 12.1672 81.8543 0.1875H0C4.02678 22.6858 10.8005 44.2249 19.5096 65.1947C28.1519 85.9511 38.6215 105.9 50.795 124.805Z"
    fill="var(--color-patter)"
  />
  <path
    d="M289.78 124.805C289.209 124.573 288.658 124.294 288.133 123.971C279.393 118.574 272.284 111.369 265.713 103.633C245.626 79.9881 230.752 53.2943 219.998 24.2844C217.079 16.4002 214.73 8.31334 212.069 0.15625H139.033C147.563 45.5193 166.034 86.5231 191.537 124.805H289.78Z"
    fill="var(--color-patter)"
  />
  <path
    d="M686.729 250.545H685.247C662.824 250.545 640.403 250.527 617.985 250.491C617.001 250.466 616.066 250.057 615.379 249.352C588.846 216.919 569.734 180.649 559.558 139.871C558.442 135.41 557.638 130.864 556.71 126.356C556.643 125.839 556.609 125.318 556.608 124.797C557.28 124.797 557.857 124.719 558.427 124.719C573.113 124.719 587.8 124.719 602.487 124.719C603.892 124.719 604.438 125.046 604.828 126.52C613.881 164.186 631.837 197.173 657.442 226.121C665.888 235.72 675.767 243.959 686.729 250.545Z"
    fill="var(--color-patter)"
  />
  <path
    d="M818.949 250.545H816.803C797.887 250.545 778.975 250.545 760.069 250.545C759.497 250.579 758.925 250.475 758.401 250.243C757.878 250.011 757.416 249.658 757.057 249.212C728.019 216.139 707.596 178.566 697.686 135.527C696.905 132.002 696.265 128.431 695.516 124.656H697.662C709.368 124.656 721.074 124.719 732.779 124.602C734.691 124.602 735.261 125.218 735.659 126.941C745.172 167.656 765.126 202.585 794.601 232.094C801.472 239.116 809.345 245.082 817.966 249.797C818.307 250.028 818.635 250.278 818.949 250.545Z"
    fill="var(--color-patter)"
  />
  <path
    d="M950.139 250.546H948.493C933.158 250.546 917.824 250.546 902.45 250.491C901.334 250.437 900.274 249.986 899.461 249.22C867.512 216.085 845.771 177.405 836.024 132.244C835.665 130.599 835.407 128.93 835.111 127.269C834.978 126.489 834.861 125.709 834.721 124.82H865.366C867.528 132.478 869.315 140.121 871.844 147.514C882.25 178.245 899.608 206.164 922.568 229.1C930.758 237.449 940.031 244.662 950.139 250.546Z"
    fill="var(--color-patter)"
  />
  <path
    d="M973.793 124.781H996.042C998.172 132.58 999.943 140.253 1002.39 147.732C1011.52 175.369 1026.25 199.747 1045.87 221.2C1055.03 231.213 1065.11 240.135 1076.74 247.223C1078.44 248.268 1080.21 249.22 1082.34 250.444C1081.46 250.491 1080.99 250.538 1080.53 250.538C1068.82 250.538 1057.11 250.538 1045.41 250.538C1044.41 250.51 1043.45 250.141 1042.69 249.493C1008.35 217.59 985.429 179.058 975.284 133.157C974.714 130.404 974.308 127.651 973.793 124.781Z"
    fill="var(--color-patter)"
  />
  <path
    d="M473.849 249.321C473.976 249.484 474.123 249.63 474.286 249.758H554.134C546.37 245.508 539.892 240.025 533.844 234.028C522.63 222.916 513.133 210.446 504.721 197.119C490.814 175.073 480.209 151.615 474.091 126.224C473.732 124.664 472.975 124.664 471.796 124.664C454.316 124.664 436.833 124.664 419.347 124.664H417.326C417.778 127.183 418.106 129.491 418.621 131.768C427.978 175.221 447.004 214.104 473.849 249.321Z"
    fill="var(--color-patter)"
  />
  <path
    d="M421.883 249.43C421.55 249.299 421.227 249.145 420.915 248.97C412.549 244.291 405.62 237.78 399.259 230.714C374.997 203.779 357.969 172.71 346.833 138.335C345.382 133.859 344.235 129.289 342.931 124.773H278.144C286.681 170.511 305.777 211.468 332.529 249.43H421.883Z"
    fill="var(--color-patter)"
  />
  <path
    d="M50.795 249.43H158.176C156.531 248.844 154.984 248.013 153.587 246.966C145.479 241.055 138.76 233.763 132.517 226.012C116.324 205.9 103.822 183.612 93.7707 159.905C88.9245 148.522 84.9411 136.792 81.8543 124.812H0C4.02678 147.303 10.8005 168.85 19.5096 189.82C28.1519 210.576 38.6215 230.525 50.795 249.43Z"
    fill="var(--color-patter)"
  />
  <path
    d="M289.78 249.43C289.209 249.198 288.658 248.919 288.133 248.596C279.393 243.199 272.284 235.994 265.713 228.258C245.626 204.613 230.752 177.919 219.998 148.902C217.079 141.025 214.73 132.931 212.069 124.781H139.033C147.563 170.144 166.034 211.148 191.537 249.43H289.78Z"
    fill="var(--color-patter)"
  />
  <path
    d="M686.729 375.35H685.247C662.824 375.35 640.403 375.334 617.985 375.303C617.002 375.274 616.068 374.866 615.379 374.165C588.846 341.731 569.734 305.453 559.558 264.676C558.442 260.215 557.638 255.676 556.71 251.169C556.643 250.652 556.61 250.131 556.608 249.609C557.28 249.609 557.857 249.531 558.427 249.531C573.113 249.531 587.8 249.531 602.487 249.531C603.892 249.531 604.438 249.867 604.828 251.333C613.881 288.999 631.837 321.994 657.442 350.933C665.887 360.532 675.766 368.768 686.729 375.35Z"
    fill="var(--color-patter)"
  />
  <path
    d="M818.949 375.35H816.803C797.887 375.35 778.975 375.35 760.069 375.35C759.497 375.38 758.925 375.274 758.402 375.041C757.878 374.808 757.417 374.454 757.057 374.009C728.019 340.936 707.596 303.363 697.686 260.324C696.905 256.799 696.265 253.227 695.516 249.461H697.662C709.368 249.461 721.074 249.515 732.779 249.398C734.691 249.398 735.261 250.015 735.659 251.738C745.172 292.445 765.126 327.382 794.601 356.883C801.472 363.905 809.345 369.871 817.966 374.586C818.114 374.734 818.286 374.921 818.949 375.35Z"
    fill="var(--color-patter)"
  />
  <path
    d="M950.139 375.35H948.493C933.158 375.35 917.824 375.35 902.45 375.296C901.335 375.244 900.275 374.796 899.461 374.032C867.512 340.897 845.771 302.209 836.024 257.057C835.665 255.411 835.407 253.743 835.111 252.082C834.978 251.302 834.861 250.522 834.721 249.641H865.366C867.528 257.291 869.315 264.941 871.844 272.334C882.254 303.063 899.611 330.981 922.568 353.92C930.76 362.262 940.033 369.469 950.139 375.35Z"
    fill="var(--color-patter)"
  />
  <path
    d="M973.793 249.594H996.042C998.172 257.345 999.943 265.066 1002.39 272.544C1011.52 300.174 1026.25 324.552 1045.87 346.005C1055.03 356.018 1065.11 364.939 1076.74 372.028C1078.44 373.073 1080.21 374.024 1082.34 375.249C1081.46 375.296 1080.99 375.35 1080.53 375.35C1068.82 375.35 1057.11 375.35 1045.41 375.303C1044.41 375.275 1043.45 374.907 1042.69 374.258C1008.35 342.355 985.429 303.824 975.284 257.922C974.714 255.209 974.308 252.487 973.793 249.594Z"
    fill="var(--color-patter)"
  />
  <path
    d="M473.849 374.143C473.977 374.303 474.123 374.447 474.286 374.572H554.134C546.37 370.33 539.892 364.848 533.844 358.843C522.63 347.738 513.133 335.261 504.721 321.933C490.814 299.887 480.209 276.43 474.091 251.038C473.732 249.479 472.975 249.479 471.796 249.479C454.316 249.479 436.833 249.479 419.347 249.479H417.326C417.778 251.997 418.106 254.298 418.621 256.575C427.978 300.059 447.004 338.91 473.849 374.143Z"
    fill="var(--color-patter)"
  />
  <path
    d="M421.883 374.243C421.551 374.106 421.228 373.95 420.915 373.775C412.549 369.096 405.62 362.584 399.259 355.527C374.997 328.591 357.969 297.515 346.833 263.139C345.382 258.663 344.235 254.093 342.931 249.586H278.144C286.681 295.316 305.777 336.28 332.529 374.243H421.883Z"
    fill="var(--color-patter)"
  />
  <path
    d="M50.795 374.243H158.176C156.532 373.651 154.986 372.817 153.587 371.771C145.479 365.86 138.76 358.568 132.517 350.817C116.324 330.712 103.822 308.417 93.7707 284.71C88.9234 273.328 84.94 261.597 81.8543 249.617H0C4.02678 272.115 10.8005 293.655 19.5096 314.624C28.1535 335.383 38.623 355.334 50.795 374.243Z"
    fill="var(--color-patter)"
  />
  <path
    d="M289.78 374.243C289.21 374.004 288.66 373.723 288.133 373.401C279.393 368.012 272.284 360.798 265.713 353.062C245.626 329.418 230.752 302.724 219.998 273.714C217.079 265.83 214.73 257.743 212.069 249.586H139.033C147.563 294.949 166.034 335.953 191.537 374.243H289.78Z"
    fill="var(--color-patter)"
  />
  <path
    d="M686.729 499.977H685.247C662.824 499.977 640.403 499.959 617.985 499.922C617.001 499.898 616.066 499.489 615.379 498.784C588.846 466.35 569.734 430.08 559.558 389.303C558.442 384.842 557.638 380.295 556.71 375.788C556.643 375.271 556.609 374.75 556.608 374.228C557.28 374.228 557.857 374.15 558.427 374.15C573.113 374.15 587.8 374.15 602.487 374.15C603.892 374.15 604.438 374.478 604.828 375.952C613.881 413.618 631.837 446.605 657.442 475.553C665.888 485.152 675.767 493.391 686.729 499.977Z"
    fill="var(--color-patter)"
  />
  <path
    d="M818.949 499.977H816.803C797.887 499.977 778.975 499.977 760.069 499.977C759.497 500.01 758.925 499.907 758.401 499.675C757.878 499.443 757.416 499.089 757.057 498.643C728.019 465.57 707.596 427.998 697.686 384.959C696.905 381.434 696.265 377.862 695.516 374.088H697.662C709.368 374.088 721.074 374.15 732.779 374.033C734.691 374.033 735.261 374.649 735.659 376.373C745.172 417.088 765.126 452.017 794.601 481.526C801.472 488.548 809.345 494.513 817.966 499.228C818.114 499.361 818.286 499.517 818.949 499.977Z"
    fill="var(--color-patter)"
  />
  <path
    d="M950.139 499.977H948.493C933.158 499.977 917.824 499.977 902.45 499.923C901.333 499.874 900.271 499.423 899.461 498.652C867.512 465.516 845.771 426.836 836.024 381.676C835.665 380.031 835.407 378.362 835.111 376.701C834.978 375.921 834.861 375.141 834.721 374.252H865.366C867.528 381.91 869.315 389.552 871.844 396.945C882.25 427.676 899.608 455.595 922.568 478.532C930.758 486.88 940.031 494.093 950.139 499.977Z"
    fill="var(--color-patter)"
  />
  <path
    d="M973.793 374.213H996.042C998.172 381.972 999.943 389.685 1002.39 397.163C1011.52 424.801 1026.25 449.179 1045.87 470.632C1055.03 480.645 1065.11 489.566 1076.74 496.655C1078.44 497.7 1080.21 498.651 1082.34 499.876C1081.46 499.923 1080.99 499.969 1080.53 499.969C1068.82 499.969 1057.11 499.969 1045.41 499.93C1044.41 499.902 1043.45 499.534 1042.69 498.885C1008.35 466.982 985.429 428.451 975.284 382.549C974.714 379.836 974.308 377.083 973.793 374.213Z"
    fill="var(--color-patter)"
  />
  <path
    d="M473.849 498.753C473.974 498.917 474.121 499.064 474.286 499.189H554.134C546.37 494.939 539.892 489.465 533.844 483.46C522.63 472.347 513.133 459.878 504.721 446.55C490.814 424.504 480.209 401.047 474.091 375.655C473.732 374.096 472.975 374.096 471.796 374.096C454.316 374.096 436.833 374.096 419.347 374.096H417.326C417.778 376.615 418.106 378.923 418.621 381.2C427.978 424.652 447.004 463.535 473.849 498.753Z"
    fill="var(--color-patter)"
  />
  <path
    d="M421.883 498.862C421.55 498.731 421.227 498.577 420.915 498.402C412.549 493.723 405.62 487.211 399.259 480.146C374.997 453.21 357.969 422.142 346.833 387.766C345.382 383.29 344.235 378.72 342.931 374.205H278.144C286.681 419.942 305.777 460.899 332.529 498.862H421.883Z"
    fill="var(--color-patter)"
  />
  <path
    d="M50.795 498.862H158.176C156.531 498.276 154.984 497.445 153.587 496.398C145.479 490.487 138.76 483.195 132.517 475.443C116.324 455.332 103.822 433.044 93.7707 409.337C88.9234 397.954 84.94 386.224 81.8543 374.244H0C4.02678 396.735 10.8005 418.281 19.5096 439.251C28.1519 460.008 38.6215 479.956 50.795 498.862Z"
    fill="var(--color-patter)"
  />
  <path
    d="M289.78 498.862C289.209 498.629 288.658 498.35 288.133 498.028C279.393 492.631 272.284 485.425 265.713 477.689C245.626 454.045 230.752 427.351 219.998 398.341C217.079 390.457 214.73 382.37 212.069 374.213H139.033C147.563 419.576 166.034 460.58 191.537 498.862H289.78Z"
    fill="var(--color-patter)"
  />
</svg>
</div>
      </li>

      <li class="landing-page-vk-id__feature landing-page-feature-card landing-page-feature-card_blue">
        <div class="landing-page-feature-card__inner">
          <h3 class="landing-page-feature-card__title">Авторизуйтесь одним нажатием</h3>
          <p class="landing-page-feature-card__message">Все платежи защищены — наша команда безопасности работает 24/7.</p>
          <button type="button" class="landing-page-feature-card__icon"></button>
        </div>
        <div class="landing-page-feature-card__decor"><svg id="patter-1" class="patter patter_1" viewBox="0 0 872 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M110.013 436.441C97.4063 379.388 81.3255 323.159 61.86 268.068L55.3272 250.139L60.4955 236.191C84.4113 167.75 104.459 98.2497 117.364 26.7913C118.969 18.172 119.964 9.45637 121.28 0.5H68.9544C68.826 1.22229 68.7297 1.84835 68.6174 2.49039C65.5677 19.1512 63.0316 35.9243 59.356 52.4567C45.6294 114.464 27.7458 175.477 5.82646 235.083L0 250.685L5.05606 264.232C15.5694 295.483 26.4037 326.653 36.1787 358.129C47.7816 395.478 57.2033 433.47 64.396 471.913C66.1295 481.191 67.6061 490.5 69.2112 499.826H121.12C121.099 498.495 121.008 497.166 120.847 495.845C117.203 476.038 114.298 456.087 110.013 436.441Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M241.544 0.546875H308.46C292.329 93.6418 250.468 174.682 196.104 250.138C250.468 325.577 292.297 406.746 308.46 499.776H241.191C232.058 452.779 214.402 408.864 191.819 366.843C169.558 324.935 142.356 285.846 110.794 250.41C173.392 177.202 220.566 96.0494 241.544 0.546875Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M415.58 0.53125H497.295C478.981 99.26 430.475 180.798 359.514 250.138C430.619 319.51 479.029 401.16 497.359 499.793H415.692C388.855 390.198 322.084 310.666 230 250.154C321.827 189.739 388.759 110.207 415.58 0.53125Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M538.996 250.137C616.382 316.63 664.904 399.838 684.561 499.76H587.726C586.795 496.277 585.816 492.601 584.789 488.926C564.035 415.092 522.19 355.704 461.406 309.156C429.16 284.502 393.864 265.305 356 250.057C381.771 239.843 406.568 227.326 430.091 212.658C480.249 181.151 521.853 141.168 551.852 89.7088C567.307 62.9898 579.016 34.2738 586.651 4.36651C586.988 3.08244 587.341 1.79834 587.71 0.417969H684.529C664.829 100.554 616.318 183.794 538.996 250.137Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M728.383 250.136C802.217 186.158 847.159 106.112 868.876 12.1344L869.036 11.3801C869.871 7.7205 870.641 4.06091 871.46 0.35317H871.444L871.524 0H759.008L756.408 12.1344C739.41 69.436 710.02 119.194 665.913 159.899C630.328 192.771 589.174 216.654 544.279 234.294C529.272 240.185 513.895 245.161 499 250.457C499.369 250.457 500.156 250.698 500.91 250.923C537.329 261.854 572.304 276.155 605.128 295.496C638.434 315.126 668.08 339.17 693.071 368.768C724.627 406.119 745.734 448.878 758.526 495.891C759.361 498.973 760.436 497.641 763.839 497.624C798.332 497.464 832.858 500 867.271 500H871.444C850.899 400.822 805.154 316.667 728.383 250.136Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
      </li>
    </ul>
  </div>
</section>

<section class="landing-page-benefits">
  <div class="container container_content">
    <h2 class="landing-page-benefits__title title-h3">
      А еще с нами легко экономить и получать выгодные предложения. <br />Оцените подписку
      <a href="#" class="landing-page-benefits__link">
        <svg width="44" height="44">
          <use xlink:href="#icon-social-vkontakte" />
        </svg>
        combo
      </a>
      <br />и повышенный кэшбек с
      <a href="#" class="landing-page-benefits__link">
        <svg width="44" height="44">
          <use xlink:href="#icon-social-vkontakte" />
        </svg>
        pay
      </a>
    </h2>
  </div>
</section>

<section class="landing-page-offer">
  <div class="container container_content">
    <div class="landing-page-offer__wrapper">
      <div class="landing-page-offer__service">
        <svg width="64" height="64">
          <use xlink:href="#icon-social-vkontakte" />
        </svg>
        combo
      </div>
      <p class="landing-page-offer__desc">До 21 октября дарим скидку: 3 месяца подписки <span class="accent">за 75 ₽ в месяц</span></p>
      <a href="https://vkcombo.ru/?utm_source=vkrebranding&utm_medium=landing&utm_campaign=promo3by75&utm_content=2021sep" class="landing-page-offer__btn btn btn_primary">Оформить со скидкой</a>
      <a href="#" class="landing-page-offer__rules">Посмотреть правила акции</a>
      <div class="landing-page-offer__img">
        <img src="../../img/landing-offer-photo-1.png" width="756" height="635" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="landing-page-banner">
  <div class="container container_content">
    <h2 class="landing-page-banner__title title-h3">И вообще, мы очень любим дарить подарки и давать скидки</h2>
    <a href="https://vkcombo.ru/?utm_source=vkrebranding&utm_medium=landing&utm_campaign=promo3by75&utm_content=2021sep" class="landing-page-offer__btn btn">Оформить со скидкой</a>
    <div class="landing-page-banner__img">
      <img src="../../img/landing-banner-photo-1.png" width="1348" height="674" alt="" />
    </div>
  </div>
</section>

<section class="landing-page-feature-cards">
  <ul class="landing-page-feature-cards__list">
    <li class="landing-page-feature-cards__item landing-page-card landing-page-card_pink">
      <div class="landing-page-card__wrapper">
        <div class="landing-page-card__inner">
          <h3 class="landing-page-card__title">Голосовой помощник Маруся в Капсуле и приложении ВКонтакте</h3>
          <p class="landing-page-card__message">Марусю можно попросить позвонить другу, включить музыку, найти подкаст, рассказать сказку и прочитать свежие новости.</p>
          <div class="landing-page-card__icon"></div>
          <div class="landing-page-card__footer">
            <ul class="landing-page-card__links">
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="landing-page-feature-cards__item landing-page-card landing-page-card_purple">
      <div class="landing-page-card__wrapper">
        <div class="landing-page-card__inner">
          <h3 class="landing-page-card__title">Такси и доставка еды в Одноклассниках и ВКонтакте</h3>
          <p class="landing-page-card__message">
            Заказывайте машину или обед прямо в соцсети — скачивать отдельные приложения не понадобится. Здесь же можно узнать погоду, курсы валют и расписание спортивных турниров.
          </p>
          <div class="landing-page-card__icon"></div>
          <div class="landing-page-card__footer">
            <ul class="landing-page-card__links">
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="landing-page-feature-cards__item landing-page-card landing-page-card_blue">
      <div class="landing-page-card__wrapper">
        <div class="landing-page-card__inner">
          <h3 class="landing-page-card__title">Скидки на множество сервисов, включая Delivery Club, Самокат, Ситидрайв, Ситимобил</h3>
          <p class="landing-page-card__message">Скидки на множество сервисов, включая Delivery Club, Самокат, Ситидрайв, Ситимобил</p>
          <div class="landing-page-card__icon"></div>
          <div class="landing-page-card__footer">
            <ul class="landing-page-card__links">
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="landing-page-feature-cards__item landing-page-card landing-page-card_light-green">
      <div class="landing-page-card__wrapper">
        <div class="landing-page-card__inner">
          <h3 class="landing-page-card__title">Единый каталог объявлений на базе ВКонтакте и Юлы</h3>
          <p class="landing-page-card__message">Ваши объявления попадают сразу на две площадки. Продавайте и находите нужное быстрее.</p>
          <div class="landing-page-card__icon"></div>
          <div class="landing-page-card__footer">
            <ul class="landing-page-card__links">
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="landing-page-feature-cards__item landing-page-card landing-page-card_purple">
      <div class="landing-page-card__wrapper">
        <div class="landing-page-card__inner">
          <h3 class="landing-page-card__title">Поиск работы прямо в соцсетях</h3>
          <p class="landing-page-card__message">Искать работу стало еще удобнее — для этого не нужно выходить из соцсети. Вы не пропустите новую вакансию, ведь всё необходимое теперь под рукой.</p>
          <div class="landing-page-card__icon"></div>
          <div class="landing-page-card__footer">
            <ul class="landing-page-card__links">
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="landing-page-feature-cards__item landing-page-card landing-page-card_blue">
      <div class="landing-page-card__wrapper">
        <div class="landing-page-card__inner">
          <h3 class="landing-page-card__title">Повышенный кешбэк с VK Pay</h3>
          <p class="landing-page-card__message">Тратьте, копите, платите умней с платёжным сервисом VK Pay. До конца года получайте повышенный кешбэк 5% при оплате в сервисах экосистемы VK.</p>
          <div class="landing-page-card__icon"></div>
          <div class="landing-page-card__footer">
            <ul class="landing-page-card__links">
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
              <li class="landing-page-card__link-item">
                <a href="#" class="landing-page-card__link"> svg </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
