<section class="managers">
  <div class="container container_content">
    <ul class="managers__list">
      <li class="managers-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-01.jpg" width="322" height="522" alt="Портретное фото Дмитрия Гришина">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Гришин</h3>
            <p class="text-m manager-card__position">Председатель совета директоров и сооснователь VK, неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="managers-item managers-item_shift managers-item_shift-right scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-02.jpg" width="322" height="522" alt="Портретное фото Дмитрия Сергеева">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Сергеев</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="managers-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-03.jpg" width="322" height="522" alt="Портретное фото Владимира Габриеляна">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Владимир Габриелян</h3>
            <p class="text-m manager-card__position">Первый заместитель
              генерального директора </p>
          </div>
        </a>
      </li>

      <li class="managers-item managers-item_shift managers-item_shift-right scroll-item">
        <a href="#" class="manager-card manager-card_inverted-colors anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-04.jpg" width="322" height="522" alt="Портретное фото Жако Ван Дер Мерве">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Жако Ван Дер Мерве</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="managers-item managers-item_shift managers-item_shift-almost-left scroll-item">
        <a href="#" class="manager-card manager-card_inverted-colors anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-05.jpg" width="322" height="522" alt="Портретное фото Александры Бурико">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Александра Бурико</h3>
            <p class="text-m manager-card__position">Неисполнительный директор
            </p>
          </div>
        </a>
      </li>

      <li class="managers-item scroll-item">
        <a href="#" class="manager-card manager-card_inverted-colors anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-06.jpg" width="322" height="522" alt="Портретное фото Яна Буне">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Ян Буне</h3>
            <p class="text-m manager-card__position">Независимый директор</p>
          </div>
        </a>
      </li>

      <li class="managers-item managers-item_shift managers-item_shift-almost-left scroll-item">
        <a href="#" class="manager-card manager-card_inverted-colors anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-07.jpg" width="322" height="522" alt="Портретное фото Сан Хун Ким">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Сан Хун Ким</h3>
            <p class="text-m manager-card__position">Независимый директор</p>
          </div>
        </a>
      </li>

      <li class="managers-item scroll-item">
        <a href="#" class="manager-card manager-card_inverted-colors anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-08.jpg" width="322" height="522" alt="Портретное фото Ульяна Антоновой">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Ульяна Антонова</h3>
            <p class="text-m manager-card__position">Неисполнительный директор
            </p>
          </div>
        </a>
      </li>

      <li class="managers-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-09.jpg" width="322" height="522" alt="Портретное фото Чарльз Сирл">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Чарльз Сирл</h3>
            <p class="text-m manager-card__position">Неисполнительный директор
            </p>
          </div>
        </a>
      </li>

      <li class="managers-item managers-item_shift managers-item_shift-almost-left scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-10.jpg" width="322" height="522" alt="Портретное фото Марк Ремон Сорор">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Марк Ремон Сорор</h3>
            <p class="text-m manager-card__position">Неисполнительный директор
            </p>
          </div>
        </a>
      </li>
    </ul>

    <ul class="managers__sliders">
      <li class="manager__slider">
        <ul class="managers__slides">
          <li class="manager__slide">
            <a href="#" class="manager-card">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-01.jpg" width="322" height="522" alt="Портретное фото Дмитрия Гришина">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Дмитрий Гришин</h3>
                <p class="text-m manager-card__position">Председатель совета директоров и сооснователь Mail.ru Group</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-02.jpg" width="322" height="522" alt="Портретное фото Дмитрия Сергеева">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Дмитрий Сергеев</h3>
                <p class="text-m manager-card__position">Директор</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-03.jpg" width="322" height="522" alt="Портретное фото Владимира Габриеляна">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Владимир Габриелян</h3>
                <p class="text-m manager-card__position">Директор</p>
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="manager__slider">
        <ul class="managers__slides">
          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-04.jpg" width="322" height="522" alt="Портретное фото Жако Ван Дер Мерве">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Жако Ван Дер Мерве</h3>
                <p class="text-m manager-card__position">Директор</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-05.jpg" width="322" height="522" alt="Портретное фото Александры Бурико">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Александра Бурико</h3>
                <p class="text-m manager-card__position">Председатель совета директоров и сооснователь Mail.ru Group</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-06.jpg" width="322" height="522" alt="Портретное фото Яна Буне">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Ян Буне</h3>
                <p class="text-m manager-card__position">Независимый директор</p>
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="manager__slider">
        <ul class="managers__slides">
          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-07.jpg" width="322" height="522" alt="Портретное фото Сан Хун Ким">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Сан Хун Ким</h3>
                <p class="text-m manager-card__position">Независимый директор</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-08.jpg" width="322" height="522" alt="Портретное фото Ульяна Антоновой">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Ульяна Антонова</h3>
                <p class="text-m manager-card__position">Директор</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-09.jpg" width="322" height="522" alt="Портретное фото Чарльз Сирл">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Чарльз Сирл</h3>
                <p class="text-m manager-card__position">Директор</p>
              </div>
            </a>
          </li>

          <li class="manager__slide">
            <a href="#" class="manager-card manager-card_inverted-colors">
              <div class="manager-card__photo">
                <img src="../../img/manager-photo-10.jpg" width="322" height="522" alt="Портретное фото Марк Ремон Сорор">
              </div>
              <div class="manager-card__desc">
                <h3 class="text-xl manager-card__name">Марк Ремон Сорор</h3>
                <p class="text-m manager-card__position">Директор</p>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="managers__bg-wrapper">
    <div class="managers__bg">
      <svg id="patter-corporate" class="patter patter_corporate" viewBox="0 0 806 500" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M349.58 0.530762H431.295C412.981 99.2595 364.475 180.798 293.514 250.137C364.619 319.509 413.029 401.16 431.359 499.792H349.692C322.855 390.197 256.084 310.665 164 250.154C255.827 189.738 322.759 110.206 349.58 0.530762Z"
    fill="#0070F1"
  />
  <path
    d="M44.0126 436.441C31.4063 379.388 15.3255 323.158 -4.13998 268.067L-10.6728 250.138L-5.50446 236.19C18.4113 167.749 38.4589 98.2492 51.3638 26.7908C52.9688 18.1715 53.9639 9.45588 55.2801 0.499512H2.95436C2.82596 1.2218 2.72971 1.84786 2.61736 2.4899C-0.432304 19.1507 -2.96836 35.9238 -6.64401 52.4562C-20.3706 114.463 -38.2542 175.477 -60.1735 235.083L-66 250.684L-60.9439 264.231C-50.4306 295.482 -39.5963 326.653 -29.8213 358.128C-18.2184 395.478 -8.79674 433.47 -1.60402 471.913C0.129471 481.19 1.60615 490.5 3.21124 499.825H55.1196C55.0993 498.495 55.0083 497.166 54.8469 495.845C51.2033 476.038 48.2981 456.087 44.0126 436.441Z"
    fill="#0070F1"
  />
  <path d="M805.476 499.987H693.2L691.226 491.432H803.63L805.476 499.987Z" fill="#0070F1" />
  <path
    d="M662.383 250.136C736.217 186.158 781.159 106.112 802.876 12.1344L803.036 11.3801C803.871 7.7205 804.641 4.06091 805.46 0.35317H805.444L805.524 0H693.008L690.408 12.1344C673.41 69.436 644.02 119.194 599.913 159.899C564.328 192.771 523.174 216.654 478.279 234.294C463.272 240.185 447.895 245.161 433 250.457C433.369 250.457 434.156 250.698 434.91 250.923C471.329 261.854 506.304 276.155 539.128 295.496C572.434 315.126 602.08 339.17 627.071 368.768C658.627 406.119 679.734 448.878 692.526 495.891C693.361 498.973 694.436 497.641 697.839 497.624C732.332 497.464 766.858 500 801.271 500H805.444C784.899 400.822 739.154 316.667 662.383 250.136Z"
    fill="#0070F1"
  />
  <path
    d="M472.996 250.137C550.382 316.63 598.904 399.837 618.561 499.759H521.726C520.795 496.276 519.816 492.601 518.789 488.925C498.035 415.091 456.19 355.703 395.406 309.156C363.16 284.501 327.864 265.305 290 250.056C315.771 239.843 340.568 227.326 364.091 212.658C414.249 181.15 455.853 141.167 485.852 89.7084C501.307 62.9894 513.016 34.2733 520.651 4.36602C520.988 3.08196 521.341 1.79785 521.71 0.41748H618.529C598.829 100.553 550.318 183.793 472.996 250.137Z"
    fill="#0070F1"
  />
  <path
    d="M175.545 0.546387H242.46C226.329 93.6413 184.469 174.682 130.104 250.137C184.469 325.576 226.297 406.745 242.46 499.776H175.191C166.059 452.779 148.403 408.864 125.819 366.843C103.558 324.935 76.3558 285.845 44.7942 250.41C107.392 177.202 154.566 96.0489 175.545 0.546387Z"
    fill="#0070F1"
  />
  <path
    d="M44.0126 436.441C31.4063 379.388 15.3255 323.158 -4.13998 268.067L-10.6728 250.138L-5.50446 236.19C18.4113 167.749 38.4589 98.2492 51.3638 26.7908C52.9688 18.1715 53.9639 9.45588 55.2801 0.499512H2.95436C2.82596 1.2218 2.72971 1.84786 2.61736 2.4899C-0.432304 19.1507 -2.96836 35.9238 -6.64401 52.4562C-20.3706 114.463 -38.2542 175.477 -60.1735 235.083L-66 250.684L-60.9439 264.231C-50.4306 295.482 -39.5963 326.653 -29.8213 358.128C-18.2184 395.478 -8.79674 433.47 -1.60402 471.913C0.129471 481.19 1.60615 490.5 3.21124 499.825H55.1196C55.0993 498.495 55.0083 497.166 54.8469 495.845C51.2033 476.038 48.2981 456.087 44.0126 436.441Z"
    fill="#0070F1"
  />
</svg>

    </div>
  </div>
</div>
</section>
