<section class="page-header page-header_patter_turquoise-3 scroll-item">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <div class="page-header__sub-title anim-content">
        <span>07 июля 2021</span>
        <span>Информационные материалы</span>
      </div>
      <h1 class="page-header__title title-h3">
        <span class="animate-row">
          <span class="animate-item"> Delivery Club и Skillbox запустили образовательные гранты для курьеров </span>
        </span>
      </h1>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1"><svg id="patter-1" class="patter patter_1" viewBox="0 0 872 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M110.013 436.441C97.4063 379.388 81.3255 323.159 61.86 268.068L55.3272 250.139L60.4955 236.191C84.4113 167.75 104.459 98.2497 117.364 26.7913C118.969 18.172 119.964 9.45637 121.28 0.5H68.9544C68.826 1.22229 68.7297 1.84835 68.6174 2.49039C65.5677 19.1512 63.0316 35.9243 59.356 52.4567C45.6294 114.464 27.7458 175.477 5.82646 235.083L0 250.685L5.05606 264.232C15.5694 295.483 26.4037 326.653 36.1787 358.129C47.7816 395.478 57.2033 433.47 64.396 471.913C66.1295 481.191 67.6061 490.5 69.2112 499.826H121.12C121.099 498.495 121.008 497.166 120.847 495.845C117.203 476.038 114.298 456.087 110.013 436.441Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M241.544 0.546875H308.46C292.329 93.6418 250.468 174.682 196.104 250.138C250.468 325.577 292.297 406.746 308.46 499.776H241.191C232.058 452.779 214.402 408.864 191.819 366.843C169.558 324.935 142.356 285.846 110.794 250.41C173.392 177.202 220.566 96.0494 241.544 0.546875Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M415.58 0.53125H497.295C478.981 99.26 430.475 180.798 359.514 250.138C430.619 319.51 479.029 401.16 497.359 499.793H415.692C388.855 390.198 322.084 310.666 230 250.154C321.827 189.739 388.759 110.207 415.58 0.53125Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M538.996 250.137C616.382 316.63 664.904 399.838 684.561 499.76H587.726C586.795 496.277 585.816 492.601 584.789 488.926C564.035 415.092 522.19 355.704 461.406 309.156C429.16 284.502 393.864 265.305 356 250.057C381.771 239.843 406.568 227.326 430.091 212.658C480.249 181.151 521.853 141.168 551.852 89.7088C567.307 62.9898 579.016 34.2738 586.651 4.36651C586.988 3.08244 587.341 1.79834 587.71 0.417969H684.529C664.829 100.554 616.318 183.794 538.996 250.137Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M728.383 250.136C802.217 186.158 847.159 106.112 868.876 12.1344L869.036 11.3801C869.871 7.7205 870.641 4.06091 871.46 0.35317H871.444L871.524 0H759.008L756.408 12.1344C739.41 69.436 710.02 119.194 665.913 159.899C630.328 192.771 589.174 216.654 544.279 234.294C529.272 240.185 513.895 245.161 499 250.457C499.369 250.457 500.156 250.698 500.91 250.923C537.329 261.854 572.304 276.155 605.128 295.496C638.434 315.126 668.08 339.17 693.071 368.768C724.627 406.119 745.734 448.878 758.526 495.891C759.361 498.973 760.436 497.641 763.839 497.624C798.332 497.464 832.858 500 867.271 500H871.444C850.899 400.822 805.154 316.667 728.383 250.136Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_2"><svg id="patter-2" class="patter patter_2" viewBox="0 0 1025 735" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M990.134 0.0703125C986.915 18.5882 982.234 36.822 976.134 54.6003C963.134 91.7903 943.504 124.76 914.374 151.69C900.702 164.269 885.527 175.108 869.194 183.96C868.469 184.31 867.833 184.819 867.334 185.45H869.404C888.064 185.45 906.714 185.45 925.404 185.39C926.766 185.336 928.073 184.845 929.134 183.99C963.934 154.69 988.294 118.09 1004.6 75.8803C1013.63 52.167 1020.2 27.5875 1024.19 2.53033C1024.32 1.71033 1024.49 0.890312 1024.64 0.0703125H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 0.0703125C755.225 5.80031 754.405 11.5503 753.225 17.2303C748.315 41.2042 740.354 64.4502 729.535 86.4003C709.492 127.171 677.979 161.201 638.865 184.31C638.515 184.52 638.175 184.75 637.455 185.23C638.455 185.33 639.015 185.44 639.595 185.44C655.005 185.44 670.415 185.44 685.825 185.5C687.985 185.5 689.165 184.29 690.525 183.13C724.215 154.41 748.705 119.13 765.205 78.1903C774.979 53.5883 781.871 27.9376 785.745 1.75031C785.858 1.18192 786.005 0.620895 786.185 0.0703125H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.815 0.071228C511.345 74.7012 478.685 137.461 418.705 185.451H421.455C432.115 185.451 442.775 185.451 453.455 185.451C454.228 185.488 455 185.356 455.717 185.065C456.434 184.773 457.078 184.328 457.605 183.761C495.055 147.211 520.535 103.471 535.815 53.6113C540.923 36.7327 544.737 19.4894 547.225 2.03125C547.315 1.38125 547.295 0.71125 547.325 0.03125L522.815 0.071228Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 0.0703125C287.604 8.36031 286.584 16.6903 284.964 24.9103C278.046 59.1584 266.5 92.3058 250.644 123.44C239.934 144.76 227.434 164.95 212.264 183.44C211.844 183.95 211.454 184.44 211.004 185.08C211.244 185.22 211.434 185.43 211.624 185.43C219.114 185.43 226.624 185.52 234.104 185.43C235.187 185.24 236.15 184.629 236.784 183.73C247.825 168.71 257.633 152.821 266.114 136.22C285.459 99.0612 298.999 59.1587 306.264 17.9003C307.264 12.0003 308.024 6.06031 308.904 0.13031L288.904 0.0703125Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 0.0700073C54.1232 8.17001 53.4933 16.3 52.3333 24.36C47.2106 59.1514 39.9737 93.5985 30.6631 127.51C25.5231 146.45 19.7432 165.19 12.7432 183.51L12.0332 185.42C17.1132 185.42 21.9833 185.48 26.8433 185.34C27.4033 185.34 28.2031 184.28 28.4331 183.56C32.6731 170.7 37.1132 157.9 40.9832 144.93C50.6038 112.425 58.2347 79.3636 63.8333 45.9301C66.4133 30.7101 67.9732 15.32 69.9932 0L55.0032 0.0700073Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M970.083 185.422H1013.68C997.364 259.952 960.254 321.152 898.684 367.262C960.204 413.262 997.324 474.472 1013.68 548.982H970.094C948.544 462.452 894.954 403.322 814.354 367.262C852.554 350.202 886.714 327.142 914.454 295.262C942.194 263.382 959.934 226.292 970.083 185.422Z"
      fill="var(--color-patter)"
    />
    <path
      d="M593.254 367.22C629.254 348.44 661.204 324.31 687.254 292.81C713.304 261.31 730.584 225.42 739.944 185.5H777.744C762.114 260.5 723.264 320.73 662.374 367.26C723.214 413.73 762.064 473.91 777.744 548.97H740.044C719.894 465.18 668.204 406.92 593.254 367.22Z"
      fill="var(--color-patter)"
    />
    <path
      d="M435.195 367.26C489.725 416.76 527.455 475.9 541.875 548.94H509.985C492.415 471.85 447.645 413.46 385.115 367.26C447.515 321.26 492.435 262.74 510.025 185.41H541.915C527.515 258.49 489.815 317.66 435.195 367.26Z"
      fill="var(--color-patter)"
    />
    <path
      d="M305.744 548.959H279.884C265.554 480.079 232.084 421.049 188.264 367.279C232.024 313.579 265.564 254.469 279.904 185.469H306.244C303.874 195.679 301.874 205.789 299.164 215.699C289.104 252.539 273.164 286.849 253.654 319.559C244.398 335.156 234.213 350.183 223.154 364.559C221.494 366.709 221.674 367.929 223.224 369.979C250.104 405.449 272.104 443.689 288.154 485.259C296.101 505.47 301.955 526.443 305.624 547.849C305.654 548.189 305.674 548.519 305.744 548.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M49.4048 185.41H69.6548C69.2148 188.77 68.875 192.02 68.365 195.25C62.515 232.38 53.1248 268.69 42.1648 304.59C35.9548 324.91 28.8549 344.96 22.2649 365.17C21.8527 366.625 21.898 368.172 22.3948 369.6C37.8348 412.6 51.0148 456.32 60.9248 500.94C64.2148 515.78 66.5449 530.82 69.2949 545.78C69.4749 546.78 69.495 547.78 69.615 549.08H56.8149C54.9049 549.08 52.985 549.08 51.075 549.08C49.795 549.08 49.1649 548.83 48.9649 547.37C44.2549 513.52 35.705 480.54 26.335 447.75C18.665 420.91 10.0848 394.35 0.144784 368.25C-0.0754181 367.504 -0.0437008 366.706 0.234872 365.98C17.0265 321.308 30.7255 275.533 41.2349 228.98C44.4149 214.88 46.5248 200.55 49.1348 186.32C49.2071 186.012 49.2973 185.708 49.4048 185.41Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M990.134 733.952C986.914 715.438 982.233 697.207 976.134 679.432C963.134 642.242 943.504 609.272 914.374 582.342C900.705 569.76 885.53 558.921 869.194 550.072C868.469 549.723 867.833 549.213 867.334 548.582H869.404C888.064 548.582 906.714 548.582 925.404 548.642C926.766 548.697 928.073 549.187 929.134 550.042C963.934 579.342 988.294 615.942 1004.6 658.142C1013.63 681.859 1020.2 706.442 1024.19 731.502C1024.32 732.322 1024.49 733.142 1024.64 733.952H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 733.951C755.225 728.231 754.405 722.471 753.225 716.791C748.314 692.821 740.352 669.579 729.535 647.631C709.495 606.859 677.981 572.828 638.865 549.721C638.515 549.511 638.175 549.271 637.455 548.801C638.455 548.701 639.015 548.591 639.595 548.591C655.005 548.591 670.415 548.591 685.825 548.531C687.985 548.531 689.165 549.741 690.525 550.901C724.215 579.621 748.705 614.901 765.205 655.841C774.992 680.442 781.898 706.092 785.785 732.281C785.896 732.847 786.043 733.404 786.225 733.951H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.814 733.951C511.344 659.331 478.684 596.591 418.744 548.591H421.494C432.154 548.591 442.814 548.591 453.494 548.591C454.268 548.558 455.039 548.693 455.755 548.987C456.471 549.28 457.116 549.725 457.644 550.291C495.094 586.841 520.574 630.581 535.854 680.441C540.963 697.319 544.777 714.562 547.264 732.021C547.354 732.671 547.334 733.341 547.364 734.021L522.814 733.951Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 733.95C287.604 725.67 286.584 717.34 284.964 709.12C278.044 674.873 266.498 641.726 250.644 610.59C239.934 589.28 227.434 569.09 212.264 550.59C211.844 550.08 211.454 549.59 211.004 548.95C211.244 548.81 211.434 548.6 211.624 548.59C219.114 548.59 226.624 548.51 234.104 548.59C235.187 548.78 236.15 549.392 236.784 550.29C247.825 565.311 257.633 581.199 266.114 597.8C285.459 634.959 298.999 674.862 306.264 716.12C307.264 722.02 308.024 727.96 308.904 733.88L288.904 733.95Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 733.95C54.1232 725.86 53.4933 717.73 52.3333 709.67C47.2106 674.879 39.9737 640.432 30.6631 606.52C25.5231 587.58 19.7432 568.84 12.7432 550.52L12.0332 548.61C17.1132 548.61 21.9833 548.55 26.8433 548.69C27.4033 548.69 28.2031 549.75 28.4331 550.47C32.6731 563.33 37.1132 576.13 40.9832 589.1C50.6038 621.606 58.2347 654.667 63.8333 688.1C66.4133 703.32 67.9732 718.71 69.9932 734.02L55.0032 733.95Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_3"><svg id="patter-3" class="patter patter_3" viewBox="0 0 1025 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M586.828 0.117188H549.251C549.698 4.51724 549.985 8.71197 550.571 12.87C552.207 24.9188 553.769 36.9823 555.705 48.9944C558.283 65.5065 561.98 81.8244 566.771 97.835L567.504 100.262H607.435L606.752 98.4657C594.946 66.646 590.839 33.3743 586.828 0.117188Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 0.0957031H658.827L659.003 1.70172C659.737 10.0692 660.353 18.4513 661.291 26.7967C662.589 38.3395 663.858 49.897 665.691 61.3664C667.628 73.7159 670.172 85.9701 672.394 98.2756L672.709 100.256H711.613L711.217 98.7889C702.703 66.3898 699.506 33.3014 696.47 0.0957031Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 0.125C770.427 33.6681 772.759 67.0425 777.834 100.153H815.872C810.27 66.8958 808.128 33.5214 806.016 0.125H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 0.154297C878.962 33.558 880.15 66.8224 882.68 100.116H919.838C918.274 66.7442 916.717 33.4236 915.167 0.154297H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 0.154297V100.16H1024.7V0.154297H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 77.5498C486.228 55.8062 481.975 33.3513 478.667 10.691C478.154 7.16365 477.699 3.62894 477.2 0.101562H439.47C441.245 15.8464 443.65 31.2906 446.76 46.6175C450.228 63.7337 454.54 80.6079 460.767 96.9467L461.126 97.8707L461.17 97.9881L461.39 98.5601C461.39 98.6334 461.456 98.6994 461.485 98.7654L462.079 100.232H503.792L503.139 99.1394C499.271 92.2748 496.094 85.0427 493.657 77.5498Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 69.9684C53.1817 54.6782 47.0071 38.068 42.5043 20.8345C40.7223 14.0291 39.3216 7.12831 37.7376 0.212891H0.0292261C0.0208569 0.376563 0.0208569 0.540545 0.0292261 0.704217C3.30727 21.3258 8.43306 41.4487 16.2505 60.8383C21.1479 73.2216 27.3712 85.0385 34.8114 96.0827L37.6202 100.277H92.4375C90.0688 98.7667 88.0375 97.5714 86.1088 96.2147C76.2381 89.2186 68.8312 80.1032 62.5685 69.9684Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 93.8091C178.818 85.7424 172.842 76.1723 167.833 65.9421C157.933 45.7312 152.132 24.2443 148.238 2.20003L147.967 0H146.5C146.324 0 146.148 0 145.95 0H135.903H109.862L110.038 1.10735C112.287 16.074 115.57 30.8667 119.865 45.3792C125.358 63.6394 132.435 81.2103 142.511 97.4465L144.117 100.182H194.636L191.168 97.4685C189.708 96.2878 188.323 95.0925 187.017 93.8091Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 72.3436C269.254 53.2767 263.827 33.0878 259.874 12.4809C259.082 8.37414 258.408 4.24542 257.674 0.109375H219.79L220.039 1.57606C222.036 15.5559 224.812 29.4133 228.355 43.0832C233.151 61.3288 239.267 79.061 248.06 95.8032L248.948 97.4605L249.27 98.0619L249.307 98.1206L250.414 100.196H291.437C292.574 100.196 293.718 100.196 294.855 100.196H297.26C288.636 92.0485 282.967 82.4857 278.208 72.3436Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 81.3642C380.377 62.5979 375.229 42.783 371.291 22.6308C369.824 15.18 368.658 7.68528 367.331 0.117188H329.674L329.857 1.66453C329.857 1.7672 329.857 1.88453 329.857 1.9872C332.104 19.0628 335.346 35.9927 339.567 52.6905C343.578 68.252 348.521 83.4909 355.304 98.0917L356.199 100.292H400.339L398.967 98.5757C394.985 93.2378 391.624 87.4633 388.95 81.3642Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 100.035H549.251C549.698 104.435 549.985 108.63 550.571 112.788C552.207 124.837 553.769 136.9 555.705 148.905C558.283 165.417 561.98 181.735 566.771 197.746L567.504 200.173H607.435L606.752 198.376C594.946 166.549 590.839 133.278 586.828 100.035Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 100.035H658.827L659.003 101.641C659.737 110.009 660.353 118.391 661.291 126.736C662.589 138.279 663.858 149.829 665.691 161.299C667.628 173.648 670.172 185.902 672.394 198.215L672.709 200.188H711.613L711.217 198.721C702.703 166.285 699.506 133.182 696.47 100.035Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 100.035C770.427 133.571 772.759 166.953 777.834 200.063H815.872C810.24 166.769 808.128 133.417 806.016 100.035H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 100.035C878.962 133.439 880.15 166.703 882.68 199.997H919.838C918.274 166.625 916.717 133.304 915.167 100.035H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 100.035V200.063H1024.7V100.035H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 177.447C486.228 155.711 481.975 133.256 478.667 110.588C478.154 107.061 477.699 103.526 477.2 100.006H439.47C441.245 115.751 443.65 131.195 446.76 146.522C450.228 163.631 454.54 180.505 460.767 196.851C460.884 197.159 461.008 197.467 461.126 197.768L461.17 197.885L461.39 198.464C461.39 198.538 461.456 198.596 461.485 198.67L462.079 200.136H503.792L503.139 199.051C499.27 192.182 496.094 184.945 493.657 177.447Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 169.834C53.1817 154.551 47.0071 137.941 42.5043 120.7C40.7223 113.894 39.3216 106.986 37.7376 100.078H0.0292261C0.0208569 100.242 0.0208569 100.406 0.0292261 100.569C3.30727 121.191 8.43306 141.314 16.2505 160.704C21.1479 173.087 27.3712 184.904 34.8114 195.948L37.6202 200.143H92.4375C90.0688 198.625 88.0375 197.437 86.1088 196.08C76.2381 189.121 68.8312 180.005 62.5685 169.834Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 193.711C178.818 185.645 172.842 176.067 167.833 165.844C157.933 145.626 152.132 124.147 148.238 102.102L147.967 99.9023H146.5H145.95C142.601 99.9023 139.252 99.9023 135.903 99.9023H109.862L110.038 101.017C112.287 115.981 115.57 130.772 119.865 145.282C125.358 163.542 132.435 181.113 142.511 197.349L144.117 200.084H194.636L191.168 197.363C189.708 196.19 188.323 194.987 187.017 193.711Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 172.248C269.254 153.181 263.827 132.992 259.874 112.385C259.082 108.278 258.408 104.15 257.674 100.014H219.79L220.039 101.48C222.036 115.46 224.813 129.317 228.355 142.988C233.151 161.226 239.267 178.965 248.06 195.7L248.948 197.365L249.27 197.966L249.307 198.025L250.414 200.1H291.437C292.574 200.1 293.718 200.1 294.855 200.1H297.26C288.636 191.953 282.967 182.39 278.208 172.248Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 181.267C380.377 162.493 375.229 142.685 371.291 122.526C369.824 115.082 368.658 107.588 367.331 100.02H329.674L329.857 101.56C329.857 101.67 329.857 101.787 329.857 101.89C332.104 118.963 335.346 135.89 339.567 152.585C343.578 168.147 348.521 183.386 355.304 197.987L356.199 200.187H400.339L398.967 198.478C394.985 193.14 391.624 187.366 388.95 181.267Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 199.961H549.251C549.698 204.361 549.985 208.556 550.571 212.714C552.207 224.763 553.769 236.826 555.705 248.838C558.284 265.348 561.981 281.663 566.771 297.671L567.504 300.099H607.435L606.752 298.302C594.946 266.504 590.839 233.218 586.828 199.961Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 199.938H658.827L659.003 201.544C659.737 209.911 660.353 218.293 661.291 226.639C662.589 238.181 663.858 249.739 665.691 261.208C667.628 273.558 670.172 285.812 672.394 298.117L672.709 300.09H711.613L711.217 298.623C702.703 266.224 699.506 233.121 696.47 199.938Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 199.969C770.427 233.504 772.759 266.886 777.834 299.997H815.872C810.27 266.74 808.128 233.358 806.016 199.969H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 199.996C878.962 233.4 880.15 266.664 882.68 299.958H919.838C918.274 266.586 916.717 233.265 915.167 199.996H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 199.996V300.002H1024.7V199.996H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 277.394C486.228 255.65 481.975 233.195 478.667 210.535C478.154 207.007 477.699 203.465 477.2 199.945H439.47C441.245 215.69 443.65 231.134 446.76 246.461C450.243 263.57 454.57 280.437 460.781 296.79L461.14 297.714L461.184 297.832L461.404 298.404C461.404 298.477 461.471 298.536 461.5 298.609L462.094 300.076H503.806L503.154 298.983C499.28 292.119 496.099 284.887 493.657 277.394Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 269.783C53.1817 254.493 47.0071 237.882 42.5043 220.649C40.7223 213.844 39.3216 206.943 37.7376 200.027H0.0292261C0.0208569 200.191 0.0208569 200.355 0.0292261 200.519C3.30727 221.14 8.43306 241.263 16.2505 260.653C21.1479 273.036 27.3712 284.853 34.8114 295.897L37.6202 300.092H92.4375C90.0688 298.581 88.0375 297.386 86.1088 296.029C76.2381 289.062 68.8312 279.947 62.5685 269.783Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 293.637C178.818 285.57 172.842 275.993 167.833 265.77C157.933 245.559 152.132 224.072 148.238 202.028L147.967 199.828H146.5C146.324 199.828 146.148 199.828 145.95 199.828H135.903H109.862L110.038 200.935C112.287 215.902 115.57 230.695 119.865 245.207C125.358 263.468 132.435 281.031 142.511 297.275L144.117 300.01H194.636L191.168 297.297C189.708 296.131 188.323 294.928 187.017 293.637Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 272.187C269.254 253.12 263.827 232.932 259.874 212.325C259.082 208.218 258.408 204.089 257.674 199.953H219.79L220.039 201.42C222.036 215.4 224.813 229.257 228.355 242.927C233.151 261.165 239.267 278.905 248.06 295.647L248.948 297.304L249.27 297.906L249.307 297.964L250.414 300.04H291.437C292.574 300.04 293.718 300.04 294.855 300.04H297.26C288.636 291.892 282.967 282.329 278.208 272.187Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 281.208C380.377 262.442 375.229 242.627 371.291 222.475C369.824 215.024 368.658 207.529 367.331 199.961H329.674L329.857 201.501C329.857 201.611 329.857 201.728 329.857 201.831C332.112 218.919 335.364 235.862 339.596 252.571C343.608 268.132 348.55 283.371 355.334 297.965L356.228 300.165H400.368L398.997 298.449C395.002 293.103 391.631 287.319 388.95 281.208Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 299.908H549.251C549.698 304.308 549.985 308.51 550.571 312.668C552.207 324.717 553.769 336.781 555.705 348.785C558.283 365.295 561.98 381.61 566.771 397.619L567.504 400.053H607.435L606.752 398.257C594.946 366.444 590.839 333.165 586.828 299.908Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 299.893H658.827L659.003 301.499C659.737 309.866 660.353 318.248 661.291 326.594C662.589 338.129 663.858 349.687 665.691 361.156C667.628 373.505 670.172 385.76 672.394 398.065L672.709 400.045H711.613L711.217 398.578C702.703 366.179 699.506 333.069 696.47 299.893Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 299.922C770.427 333.458 772.759 366.839 777.834 399.95H815.872C810.27 366.693 808.128 333.311 806.016 299.922H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 299.951C878.962 333.355 880.15 366.612 882.68 399.913H919.838C918.274 366.541 916.717 333.22 915.167 299.951H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 299.943V399.971H1024.7V299.943H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 377.341C486.228 355.597 481.975 333.15 478.667 310.482C478.154 306.955 477.699 303.42 477.2 299.893H439.47C441.245 315.645 443.65 331.082 446.76 346.416C450.228 363.525 454.54 380.399 460.767 396.738L461.126 397.662L461.17 397.779L461.39 398.358C461.39 398.432 461.456 398.49 461.485 398.556L462.079 400.023H503.792L503.139 398.938C499.271 392.071 496.094 384.836 493.657 377.341Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 369.728C53.1817 354.445 47.0071 337.835 42.5043 320.594C40.7223 313.789 39.3216 306.881 37.7376 299.973H0.0292261C0.0208569 300.136 0.0208569 300.3 0.0292261 300.464C3.30727 321.078 8.43306 341.208 16.2505 360.598C21.1464 372.98 27.3698 384.794 34.8114 395.835L37.6202 400.03H92.4375C90.0688 398.519 88.0375 397.331 86.1088 395.974C76.2381 389.015 68.8312 379.9 62.5685 369.728Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 393.606C178.818 385.54 172.842 375.962 167.833 365.739C157.933 345.529 152.132 324.049 148.238 302.005L147.967 299.805H146.5H145.95C142.601 299.805 139.252 299.805 135.903 299.805H109.862L110.038 300.919C112.287 315.884 115.57 330.674 119.865 345.184C125.358 363.444 132.435 381.015 142.511 397.251L144.117 399.987H194.636L191.168 397.273C189.708 396.085 188.323 394.882 187.017 393.606Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 372.105C269.254 353.038 263.827 332.849 259.874 312.25C259.082 308.136 258.408 304.007 257.674 299.871H219.79L220.039 301.338C222.035 315.318 224.811 329.175 228.355 342.845C233.151 361.09 239.267 378.83 248.06 395.565L248.948 397.222C249.058 397.428 249.16 397.633 249.27 397.831L249.307 397.89L250.414 399.958H291.437H294.855H297.26C288.636 391.847 282.967 382.284 278.208 372.105Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 381.161C380.377 362.387 375.229 342.58 371.291 322.42C369.824 314.977 368.658 307.475 367.331 299.914H329.674L329.857 301.454C329.857 301.564 329.857 301.674 329.857 301.784C332.105 318.857 335.347 335.785 339.567 352.48C343.578 368.042 348.521 383.28 355.304 397.881L356.199 400.081H400.339L398.967 398.373C394.985 393.035 391.624 387.26 388.95 381.161Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 399.855H549.251C549.698 404.256 549.985 408.45 550.571 412.608C552.207 424.657 553.769 436.721 555.705 448.733C558.283 465.242 561.98 481.558 566.771 497.566L567.504 499.993H607.435L606.752 498.197C594.946 466.384 590.839 433.113 586.828 399.855Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 399.832H658.827L659.003 401.438C659.737 409.805 660.353 418.188 661.291 426.533C662.589 438.076 663.858 449.633 665.691 461.103C667.628 473.452 670.172 485.706 672.394 498.012L672.709 499.992H711.613L711.217 498.525C702.703 466.126 699.506 433.016 696.47 399.832Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 399.861C770.427 433.404 772.759 466.779 777.834 499.889H815.872C810.27 466.632 808.128 433.258 806.016 399.861H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 399.891C878.962 433.294 880.15 466.559 882.68 499.852H919.838C918.274 466.48 916.717 433.16 915.167 399.891H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 399.891V499.896H1024.7V399.891H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 477.288C486.228 455.545 481.975 433.09 478.667 410.429C478.154 406.902 477.699 403.367 477.2 399.84H439.47C441.245 415.585 443.65 431.029 446.76 446.356C450.228 463.472 454.54 480.346 460.767 496.685L461.126 497.609L461.17 497.726L461.39 498.298C461.39 498.372 461.456 498.438 461.485 498.504L462.079 499.97H503.792L503.139 498.878C499.271 492.013 496.094 484.781 493.657 477.288Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 469.675C53.1817 454.385 47.0071 437.775 42.5043 420.542C40.7223 413.736 39.3216 406.835 37.7376 399.92H0.0292261C0.0208569 400.084 0.0208569 400.248 0.0292261 400.411C3.30727 421.033 8.43306 441.156 16.2505 460.545C21.1479 472.929 27.3712 484.746 34.8114 495.79L37.6202 499.984H92.4375C90.0688 498.474 88.0375 497.278 86.1088 495.922C76.2381 488.955 68.8312 479.84 62.5685 469.675Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 493.547C178.818 485.481 172.842 475.947 167.833 465.68C157.933 445.469 152.132 423.983 148.238 401.938L147.967 399.738H146.5C146.324 399.738 146.148 399.738 145.95 399.738H135.903H109.862L110.038 400.846C112.287 415.812 115.57 430.605 119.865 445.117C125.358 463.378 132.435 480.949 142.511 497.185L144.117 499.92H194.636L191.168 497.207C189.708 496.041 188.323 494.831 187.017 493.547Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 472.082C269.254 453.015 263.827 432.826 259.874 412.219C259.082 408.112 258.408 403.984 257.674 399.848H219.79L220.039 401.314C222.036 415.294 224.812 429.152 228.355 442.821C233.151 461.067 239.267 478.799 248.06 495.541L248.948 497.199L249.27 497.8L249.307 497.859L250.414 499.934H291.437C292.574 499.934 293.718 499.934 294.855 499.934H297.26C288.636 491.787 282.967 482.224 278.208 472.082Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 481.102C380.377 462.336 375.229 442.521 371.291 422.369C369.824 414.918 368.658 407.424 367.331 399.855H329.674L329.857 401.403C329.857 401.505 329.857 401.623 329.857 401.725C332.104 418.801 335.346 435.731 339.567 452.429C343.578 467.99 348.521 483.229 355.304 497.83L356.199 500.03H400.339L398.967 498.314C394.985 492.976 391.624 487.202 388.95 481.102Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_4"><svg id="patter-4" class="patter patter_4" viewBox="0 0 757 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M460.318 499.959C452.588 487.989 446.486 475.185 441.177 461.993C428.349 430.122 419.705 397.028 412.915 363.424C410.908 353.469 409.208 343.466 407.338 333.357H360.154C369.413 390.683 382.249 446.859 406.853 500L460.318 499.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 499.959L308.729 492.885C295.78 478.965 285.898 462.94 277.424 446.016C262.281 415.772 251.946 383.835 244.241 351C242.865 345.125 241.643 339.216 240.34 333.316H180.255C191.327 392.107 208.525 448.525 240 499.959H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 499.958C179.429 499.861 179.092 499.725 178.774 499.554C172.299 495.839 165.565 492.496 159.487 488.223C143.301 476.827 130.61 462.008 119.611 445.7C99.4508 415.803 86.1778 382.855 76.7814 348.216C75.4379 343.247 74.2322 338.245 72.9777 333.332H0C12.2048 393.708 33.2634 450.119 70.5576 499.974L179.778 499.958Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 499.959C589.342 445.734 581.257 389.646 574.062 333.309H539.633C546.375 389.622 554.776 445.458 571.561 499.959H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 499.959C748.142 444.641 744.111 389.023 740.38 333.309H718.528C722.146 389.064 726.314 444.625 734.715 499.959H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 333.308V333.268C452.588 321.29 446.486 308.486 441.177 295.302C428.349 263.422 419.705 230.337 412.915 196.725C410.908 186.778 409.208 176.767 407.338 166.658H360.154C369.413 223.983 382.249 280.167 406.853 333.308H460.318Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 333.308L308.729 326.235C295.78 312.306 285.898 296.29 277.424 279.366C262.281 249.121 251.946 217.185 244.241 184.342C242.865 178.475 241.643 172.566 240.34 166.658H180.255C191.327 225.456 208.525 281.875 240 333.308H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 333.308C179.429 333.211 179.092 333.075 178.774 332.903C172.299 329.188 165.565 325.837 159.487 321.572C143.301 310.169 130.61 295.358 119.611 279.05C99.4508 249.104 86.1778 216.197 76.7814 181.565C75.4379 176.596 74.2322 171.586 72.9777 166.682H0C12.2048 227.058 33.2634 283.469 70.5576 333.324L179.778 333.308Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 333.309C589.342 279.083 581.257 222.996 574.062 166.65H539.633C546.375 222.972 554.776 278.808 571.561 333.309H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 333.308C748.142 277.99 744.111 222.373 740.38 166.658H718.528C722.146 222.405 726.314 277.974 734.715 333.308H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 166.651C452.588 154.673 446.486 141.869 441.177 128.677C428.349 96.8054 419.705 63.7116 412.915 30.108C410.908 20.1612 409.208 10.1496 407.338 0.0410156H360.154C369.413 57.3663 382.249 113.542 406.853 166.683L460.318 166.651Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 166.65L308.729 159.584C295.78 145.656 285.898 129.639 277.424 112.708C262.281 82.471 251.946 50.5264 244.241 17.6917C242.865 11.8159 241.643 5.90787 240.34 0.0078125H180.255C191.327 58.798 208.525 115.225 240 166.65H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 166.65C179.427 166.56 179.089 166.424 178.774 166.245C172.299 162.53 165.565 159.188 159.487 154.914C143.301 143.511 130.61 128.7 119.611 112.392C99.4508 82.4868 86.1778 49.5388 76.7814 14.8992C75.4379 9.9299 74.2322 4.92829 72.9777 0.015625H0C12.2048 60.3921 33.2634 116.803 70.5576 166.658L179.778 166.65Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 166.65C589.342 112.425 581.257 56.3379 574.062 0H539.633C546.375 56.3136 554.776 112.15 571.561 166.65H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 166.65C748.142 111.34 744.111 55.7147 740.38 0H718.528C722.146 55.7551 726.314 111.316 734.715 166.65H756.826Z" fill="var(--color-patter)" />
  </g>
</svg>
</div>
      </div>
    </div>
  </div>
</section>
