<section class="scroll-item page-header page-header_for-press">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <div class="text-s page-header__date-item">
        <span class="animate-row">
          <span class="animate-item">26 марта 2021</span>
        </span>
      </div>
      <h1 class="page-header__title title-h3">
        <span class="animate-row">
          <span class="animate-item">
            <a href="#" class="page-header__title-link">Mail.ru Group выделит миллиард рублей на поддержку среднего и малого бизнеса. Обращение Бориса Добродеева</a>
          </span>
        </span>
      </h1>
    </div>
  </div>
</section>
