<section class="page-header page-header_blue page-header_patter_turquoise page-header_patter-type_2 scroll-item">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <h1 class="page-header__title title-h1">
        <span class="animate-row">
          <span class="animate-item">Проекты</span>
        </span>
      </h1>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1"><svg id="patter-1" class="patter patter_1" viewBox="0 0 872 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M110.013 436.441C97.4063 379.388 81.3255 323.159 61.86 268.068L55.3272 250.139L60.4955 236.191C84.4113 167.75 104.459 98.2497 117.364 26.7913C118.969 18.172 119.964 9.45637 121.28 0.5H68.9544C68.826 1.22229 68.7297 1.84835 68.6174 2.49039C65.5677 19.1512 63.0316 35.9243 59.356 52.4567C45.6294 114.464 27.7458 175.477 5.82646 235.083L0 250.685L5.05606 264.232C15.5694 295.483 26.4037 326.653 36.1787 358.129C47.7816 395.478 57.2033 433.47 64.396 471.913C66.1295 481.191 67.6061 490.5 69.2112 499.826H121.12C121.099 498.495 121.008 497.166 120.847 495.845C117.203 476.038 114.298 456.087 110.013 436.441Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M241.544 0.546875H308.46C292.329 93.6418 250.468 174.682 196.104 250.138C250.468 325.577 292.297 406.746 308.46 499.776H241.191C232.058 452.779 214.402 408.864 191.819 366.843C169.558 324.935 142.356 285.846 110.794 250.41C173.392 177.202 220.566 96.0494 241.544 0.546875Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M415.58 0.53125H497.295C478.981 99.26 430.475 180.798 359.514 250.138C430.619 319.51 479.029 401.16 497.359 499.793H415.692C388.855 390.198 322.084 310.666 230 250.154C321.827 189.739 388.759 110.207 415.58 0.53125Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M538.996 250.137C616.382 316.63 664.904 399.838 684.561 499.76H587.726C586.795 496.277 585.816 492.601 584.789 488.926C564.035 415.092 522.19 355.704 461.406 309.156C429.16 284.502 393.864 265.305 356 250.057C381.771 239.843 406.568 227.326 430.091 212.658C480.249 181.151 521.853 141.168 551.852 89.7088C567.307 62.9898 579.016 34.2738 586.651 4.36651C586.988 3.08244 587.341 1.79834 587.71 0.417969H684.529C664.829 100.554 616.318 183.794 538.996 250.137Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M728.383 250.136C802.217 186.158 847.159 106.112 868.876 12.1344L869.036 11.3801C869.871 7.7205 870.641 4.06091 871.46 0.35317H871.444L871.524 0H759.008L756.408 12.1344C739.41 69.436 710.02 119.194 665.913 159.899C630.328 192.771 589.174 216.654 544.279 234.294C529.272 240.185 513.895 245.161 499 250.457C499.369 250.457 500.156 250.698 500.91 250.923C537.329 261.854 572.304 276.155 605.128 295.496C638.434 315.126 668.08 339.17 693.071 368.768C724.627 406.119 745.734 448.878 758.526 495.891C759.361 498.973 760.436 497.641 763.839 497.624C798.332 497.464 832.858 500 867.271 500H871.444C850.899 400.822 805.154 316.667 728.383 250.136Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_2"><svg id="patter-2" class="patter patter_2" viewBox="0 0 1025 735" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M990.134 0.0703125C986.915 18.5882 982.234 36.822 976.134 54.6003C963.134 91.7903 943.504 124.76 914.374 151.69C900.702 164.269 885.527 175.108 869.194 183.96C868.469 184.31 867.833 184.819 867.334 185.45H869.404C888.064 185.45 906.714 185.45 925.404 185.39C926.766 185.336 928.073 184.845 929.134 183.99C963.934 154.69 988.294 118.09 1004.6 75.8803C1013.63 52.167 1020.2 27.5875 1024.19 2.53033C1024.32 1.71033 1024.49 0.890312 1024.64 0.0703125H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 0.0703125C755.225 5.80031 754.405 11.5503 753.225 17.2303C748.315 41.2042 740.354 64.4502 729.535 86.4003C709.492 127.171 677.979 161.201 638.865 184.31C638.515 184.52 638.175 184.75 637.455 185.23C638.455 185.33 639.015 185.44 639.595 185.44C655.005 185.44 670.415 185.44 685.825 185.5C687.985 185.5 689.165 184.29 690.525 183.13C724.215 154.41 748.705 119.13 765.205 78.1903C774.979 53.5883 781.871 27.9376 785.745 1.75031C785.858 1.18192 786.005 0.620895 786.185 0.0703125H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.815 0.071228C511.345 74.7012 478.685 137.461 418.705 185.451H421.455C432.115 185.451 442.775 185.451 453.455 185.451C454.228 185.488 455 185.356 455.717 185.065C456.434 184.773 457.078 184.328 457.605 183.761C495.055 147.211 520.535 103.471 535.815 53.6113C540.923 36.7327 544.737 19.4894 547.225 2.03125C547.315 1.38125 547.295 0.71125 547.325 0.03125L522.815 0.071228Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 0.0703125C287.604 8.36031 286.584 16.6903 284.964 24.9103C278.046 59.1584 266.5 92.3058 250.644 123.44C239.934 144.76 227.434 164.95 212.264 183.44C211.844 183.95 211.454 184.44 211.004 185.08C211.244 185.22 211.434 185.43 211.624 185.43C219.114 185.43 226.624 185.52 234.104 185.43C235.187 185.24 236.15 184.629 236.784 183.73C247.825 168.71 257.633 152.821 266.114 136.22C285.459 99.0612 298.999 59.1587 306.264 17.9003C307.264 12.0003 308.024 6.06031 308.904 0.13031L288.904 0.0703125Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 0.0700073C54.1232 8.17001 53.4933 16.3 52.3333 24.36C47.2106 59.1514 39.9737 93.5985 30.6631 127.51C25.5231 146.45 19.7432 165.19 12.7432 183.51L12.0332 185.42C17.1132 185.42 21.9833 185.48 26.8433 185.34C27.4033 185.34 28.2031 184.28 28.4331 183.56C32.6731 170.7 37.1132 157.9 40.9832 144.93C50.6038 112.425 58.2347 79.3636 63.8333 45.9301C66.4133 30.7101 67.9732 15.32 69.9932 0L55.0032 0.0700073Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M970.083 185.422H1013.68C997.364 259.952 960.254 321.152 898.684 367.262C960.204 413.262 997.324 474.472 1013.68 548.982H970.094C948.544 462.452 894.954 403.322 814.354 367.262C852.554 350.202 886.714 327.142 914.454 295.262C942.194 263.382 959.934 226.292 970.083 185.422Z"
      fill="var(--color-patter)"
    />
    <path
      d="M593.254 367.22C629.254 348.44 661.204 324.31 687.254 292.81C713.304 261.31 730.584 225.42 739.944 185.5H777.744C762.114 260.5 723.264 320.73 662.374 367.26C723.214 413.73 762.064 473.91 777.744 548.97H740.044C719.894 465.18 668.204 406.92 593.254 367.22Z"
      fill="var(--color-patter)"
    />
    <path
      d="M435.195 367.26C489.725 416.76 527.455 475.9 541.875 548.94H509.985C492.415 471.85 447.645 413.46 385.115 367.26C447.515 321.26 492.435 262.74 510.025 185.41H541.915C527.515 258.49 489.815 317.66 435.195 367.26Z"
      fill="var(--color-patter)"
    />
    <path
      d="M305.744 548.959H279.884C265.554 480.079 232.084 421.049 188.264 367.279C232.024 313.579 265.564 254.469 279.904 185.469H306.244C303.874 195.679 301.874 205.789 299.164 215.699C289.104 252.539 273.164 286.849 253.654 319.559C244.398 335.156 234.213 350.183 223.154 364.559C221.494 366.709 221.674 367.929 223.224 369.979C250.104 405.449 272.104 443.689 288.154 485.259C296.101 505.47 301.955 526.443 305.624 547.849C305.654 548.189 305.674 548.519 305.744 548.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M49.4048 185.41H69.6548C69.2148 188.77 68.875 192.02 68.365 195.25C62.515 232.38 53.1248 268.69 42.1648 304.59C35.9548 324.91 28.8549 344.96 22.2649 365.17C21.8527 366.625 21.898 368.172 22.3948 369.6C37.8348 412.6 51.0148 456.32 60.9248 500.94C64.2148 515.78 66.5449 530.82 69.2949 545.78C69.4749 546.78 69.495 547.78 69.615 549.08H56.8149C54.9049 549.08 52.985 549.08 51.075 549.08C49.795 549.08 49.1649 548.83 48.9649 547.37C44.2549 513.52 35.705 480.54 26.335 447.75C18.665 420.91 10.0848 394.35 0.144784 368.25C-0.0754181 367.504 -0.0437008 366.706 0.234872 365.98C17.0265 321.308 30.7255 275.533 41.2349 228.98C44.4149 214.88 46.5248 200.55 49.1348 186.32C49.2071 186.012 49.2973 185.708 49.4048 185.41Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M990.134 733.952C986.914 715.438 982.233 697.207 976.134 679.432C963.134 642.242 943.504 609.272 914.374 582.342C900.705 569.76 885.53 558.921 869.194 550.072C868.469 549.723 867.833 549.213 867.334 548.582H869.404C888.064 548.582 906.714 548.582 925.404 548.642C926.766 548.697 928.073 549.187 929.134 550.042C963.934 579.342 988.294 615.942 1004.6 658.142C1013.63 681.859 1020.2 706.442 1024.19 731.502C1024.32 732.322 1024.49 733.142 1024.64 733.952H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 733.951C755.225 728.231 754.405 722.471 753.225 716.791C748.314 692.821 740.352 669.579 729.535 647.631C709.495 606.859 677.981 572.828 638.865 549.721C638.515 549.511 638.175 549.271 637.455 548.801C638.455 548.701 639.015 548.591 639.595 548.591C655.005 548.591 670.415 548.591 685.825 548.531C687.985 548.531 689.165 549.741 690.525 550.901C724.215 579.621 748.705 614.901 765.205 655.841C774.992 680.442 781.898 706.092 785.785 732.281C785.896 732.847 786.043 733.404 786.225 733.951H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.814 733.951C511.344 659.331 478.684 596.591 418.744 548.591H421.494C432.154 548.591 442.814 548.591 453.494 548.591C454.268 548.558 455.039 548.693 455.755 548.987C456.471 549.28 457.116 549.725 457.644 550.291C495.094 586.841 520.574 630.581 535.854 680.441C540.963 697.319 544.777 714.562 547.264 732.021C547.354 732.671 547.334 733.341 547.364 734.021L522.814 733.951Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 733.95C287.604 725.67 286.584 717.34 284.964 709.12C278.044 674.873 266.498 641.726 250.644 610.59C239.934 589.28 227.434 569.09 212.264 550.59C211.844 550.08 211.454 549.59 211.004 548.95C211.244 548.81 211.434 548.6 211.624 548.59C219.114 548.59 226.624 548.51 234.104 548.59C235.187 548.78 236.15 549.392 236.784 550.29C247.825 565.311 257.633 581.199 266.114 597.8C285.459 634.959 298.999 674.862 306.264 716.12C307.264 722.02 308.024 727.96 308.904 733.88L288.904 733.95Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 733.95C54.1232 725.86 53.4933 717.73 52.3333 709.67C47.2106 674.879 39.9737 640.432 30.6631 606.52C25.5231 587.58 19.7432 568.84 12.7432 550.52L12.0332 548.61C17.1132 548.61 21.9833 548.55 26.8433 548.69C27.4033 548.69 28.2031 549.75 28.4331 550.47C32.6731 563.33 37.1132 576.13 40.9832 589.1C50.6038 621.606 58.2347 654.667 63.8333 688.1C66.4133 703.32 67.9732 718.71 69.9932 734.02L55.0032 733.95Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_3"><svg id="patter-3" class="patter patter_3" viewBox="0 0 1025 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M586.828 0.117188H549.251C549.698 4.51724 549.985 8.71197 550.571 12.87C552.207 24.9188 553.769 36.9823 555.705 48.9944C558.283 65.5065 561.98 81.8244 566.771 97.835L567.504 100.262H607.435L606.752 98.4657C594.946 66.646 590.839 33.3743 586.828 0.117188Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 0.0957031H658.827L659.003 1.70172C659.737 10.0692 660.353 18.4513 661.291 26.7967C662.589 38.3395 663.858 49.897 665.691 61.3664C667.628 73.7159 670.172 85.9701 672.394 98.2756L672.709 100.256H711.613L711.217 98.7889C702.703 66.3898 699.506 33.3014 696.47 0.0957031Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 0.125C770.427 33.6681 772.759 67.0425 777.834 100.153H815.872C810.27 66.8958 808.128 33.5214 806.016 0.125H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 0.154297C878.962 33.558 880.15 66.8224 882.68 100.116H919.838C918.274 66.7442 916.717 33.4236 915.167 0.154297H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 0.154297V100.16H1024.7V0.154297H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 77.5498C486.228 55.8062 481.975 33.3513 478.667 10.691C478.154 7.16365 477.699 3.62894 477.2 0.101562H439.47C441.245 15.8464 443.65 31.2906 446.76 46.6175C450.228 63.7337 454.54 80.6079 460.767 96.9467L461.126 97.8707L461.17 97.9881L461.39 98.5601C461.39 98.6334 461.456 98.6994 461.485 98.7654L462.079 100.232H503.792L503.139 99.1394C499.271 92.2748 496.094 85.0427 493.657 77.5498Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 69.9684C53.1817 54.6782 47.0071 38.068 42.5043 20.8345C40.7223 14.0291 39.3216 7.12831 37.7376 0.212891H0.0292261C0.0208569 0.376563 0.0208569 0.540545 0.0292261 0.704217C3.30727 21.3258 8.43306 41.4487 16.2505 60.8383C21.1479 73.2216 27.3712 85.0385 34.8114 96.0827L37.6202 100.277H92.4375C90.0688 98.7667 88.0375 97.5714 86.1088 96.2147C76.2381 89.2186 68.8312 80.1032 62.5685 69.9684Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 93.8091C178.818 85.7424 172.842 76.1723 167.833 65.9421C157.933 45.7312 152.132 24.2443 148.238 2.20003L147.967 0H146.5C146.324 0 146.148 0 145.95 0H135.903H109.862L110.038 1.10735C112.287 16.074 115.57 30.8667 119.865 45.3792C125.358 63.6394 132.435 81.2103 142.511 97.4465L144.117 100.182H194.636L191.168 97.4685C189.708 96.2878 188.323 95.0925 187.017 93.8091Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 72.3436C269.254 53.2767 263.827 33.0878 259.874 12.4809C259.082 8.37414 258.408 4.24542 257.674 0.109375H219.79L220.039 1.57606C222.036 15.5559 224.812 29.4133 228.355 43.0832C233.151 61.3288 239.267 79.061 248.06 95.8032L248.948 97.4605L249.27 98.0619L249.307 98.1206L250.414 100.196H291.437C292.574 100.196 293.718 100.196 294.855 100.196H297.26C288.636 92.0485 282.967 82.4857 278.208 72.3436Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 81.3642C380.377 62.5979 375.229 42.783 371.291 22.6308C369.824 15.18 368.658 7.68528 367.331 0.117188H329.674L329.857 1.66453C329.857 1.7672 329.857 1.88453 329.857 1.9872C332.104 19.0628 335.346 35.9927 339.567 52.6905C343.578 68.252 348.521 83.4909 355.304 98.0917L356.199 100.292H400.339L398.967 98.5757C394.985 93.2378 391.624 87.4633 388.95 81.3642Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 100.035H549.251C549.698 104.435 549.985 108.63 550.571 112.788C552.207 124.837 553.769 136.9 555.705 148.905C558.283 165.417 561.98 181.735 566.771 197.746L567.504 200.173H607.435L606.752 198.376C594.946 166.549 590.839 133.278 586.828 100.035Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 100.035H658.827L659.003 101.641C659.737 110.009 660.353 118.391 661.291 126.736C662.589 138.279 663.858 149.829 665.691 161.299C667.628 173.648 670.172 185.902 672.394 198.215L672.709 200.188H711.613L711.217 198.721C702.703 166.285 699.506 133.182 696.47 100.035Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 100.035C770.427 133.571 772.759 166.953 777.834 200.063H815.872C810.24 166.769 808.128 133.417 806.016 100.035H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 100.035C878.962 133.439 880.15 166.703 882.68 199.997H919.838C918.274 166.625 916.717 133.304 915.167 100.035H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 100.035V200.063H1024.7V100.035H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 177.447C486.228 155.711 481.975 133.256 478.667 110.588C478.154 107.061 477.699 103.526 477.2 100.006H439.47C441.245 115.751 443.65 131.195 446.76 146.522C450.228 163.631 454.54 180.505 460.767 196.851C460.884 197.159 461.008 197.467 461.126 197.768L461.17 197.885L461.39 198.464C461.39 198.538 461.456 198.596 461.485 198.67L462.079 200.136H503.792L503.139 199.051C499.27 192.182 496.094 184.945 493.657 177.447Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 169.834C53.1817 154.551 47.0071 137.941 42.5043 120.7C40.7223 113.894 39.3216 106.986 37.7376 100.078H0.0292261C0.0208569 100.242 0.0208569 100.406 0.0292261 100.569C3.30727 121.191 8.43306 141.314 16.2505 160.704C21.1479 173.087 27.3712 184.904 34.8114 195.948L37.6202 200.143H92.4375C90.0688 198.625 88.0375 197.437 86.1088 196.08C76.2381 189.121 68.8312 180.005 62.5685 169.834Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 193.711C178.818 185.645 172.842 176.067 167.833 165.844C157.933 145.626 152.132 124.147 148.238 102.102L147.967 99.9023H146.5H145.95C142.601 99.9023 139.252 99.9023 135.903 99.9023H109.862L110.038 101.017C112.287 115.981 115.57 130.772 119.865 145.282C125.358 163.542 132.435 181.113 142.511 197.349L144.117 200.084H194.636L191.168 197.363C189.708 196.19 188.323 194.987 187.017 193.711Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 172.248C269.254 153.181 263.827 132.992 259.874 112.385C259.082 108.278 258.408 104.15 257.674 100.014H219.79L220.039 101.48C222.036 115.46 224.813 129.317 228.355 142.988C233.151 161.226 239.267 178.965 248.06 195.7L248.948 197.365L249.27 197.966L249.307 198.025L250.414 200.1H291.437C292.574 200.1 293.718 200.1 294.855 200.1H297.26C288.636 191.953 282.967 182.39 278.208 172.248Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 181.267C380.377 162.493 375.229 142.685 371.291 122.526C369.824 115.082 368.658 107.588 367.331 100.02H329.674L329.857 101.56C329.857 101.67 329.857 101.787 329.857 101.89C332.104 118.963 335.346 135.89 339.567 152.585C343.578 168.147 348.521 183.386 355.304 197.987L356.199 200.187H400.339L398.967 198.478C394.985 193.14 391.624 187.366 388.95 181.267Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 199.961H549.251C549.698 204.361 549.985 208.556 550.571 212.714C552.207 224.763 553.769 236.826 555.705 248.838C558.284 265.348 561.981 281.663 566.771 297.671L567.504 300.099H607.435L606.752 298.302C594.946 266.504 590.839 233.218 586.828 199.961Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 199.938H658.827L659.003 201.544C659.737 209.911 660.353 218.293 661.291 226.639C662.589 238.181 663.858 249.739 665.691 261.208C667.628 273.558 670.172 285.812 672.394 298.117L672.709 300.09H711.613L711.217 298.623C702.703 266.224 699.506 233.121 696.47 199.938Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 199.969C770.427 233.504 772.759 266.886 777.834 299.997H815.872C810.27 266.74 808.128 233.358 806.016 199.969H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 199.996C878.962 233.4 880.15 266.664 882.68 299.958H919.838C918.274 266.586 916.717 233.265 915.167 199.996H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 199.996V300.002H1024.7V199.996H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 277.394C486.228 255.65 481.975 233.195 478.667 210.535C478.154 207.007 477.699 203.465 477.2 199.945H439.47C441.245 215.69 443.65 231.134 446.76 246.461C450.243 263.57 454.57 280.437 460.781 296.79L461.14 297.714L461.184 297.832L461.404 298.404C461.404 298.477 461.471 298.536 461.5 298.609L462.094 300.076H503.806L503.154 298.983C499.28 292.119 496.099 284.887 493.657 277.394Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 269.783C53.1817 254.493 47.0071 237.882 42.5043 220.649C40.7223 213.844 39.3216 206.943 37.7376 200.027H0.0292261C0.0208569 200.191 0.0208569 200.355 0.0292261 200.519C3.30727 221.14 8.43306 241.263 16.2505 260.653C21.1479 273.036 27.3712 284.853 34.8114 295.897L37.6202 300.092H92.4375C90.0688 298.581 88.0375 297.386 86.1088 296.029C76.2381 289.062 68.8312 279.947 62.5685 269.783Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 293.637C178.818 285.57 172.842 275.993 167.833 265.77C157.933 245.559 152.132 224.072 148.238 202.028L147.967 199.828H146.5C146.324 199.828 146.148 199.828 145.95 199.828H135.903H109.862L110.038 200.935C112.287 215.902 115.57 230.695 119.865 245.207C125.358 263.468 132.435 281.031 142.511 297.275L144.117 300.01H194.636L191.168 297.297C189.708 296.131 188.323 294.928 187.017 293.637Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 272.187C269.254 253.12 263.827 232.932 259.874 212.325C259.082 208.218 258.408 204.089 257.674 199.953H219.79L220.039 201.42C222.036 215.4 224.813 229.257 228.355 242.927C233.151 261.165 239.267 278.905 248.06 295.647L248.948 297.304L249.27 297.906L249.307 297.964L250.414 300.04H291.437C292.574 300.04 293.718 300.04 294.855 300.04H297.26C288.636 291.892 282.967 282.329 278.208 272.187Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 281.208C380.377 262.442 375.229 242.627 371.291 222.475C369.824 215.024 368.658 207.529 367.331 199.961H329.674L329.857 201.501C329.857 201.611 329.857 201.728 329.857 201.831C332.112 218.919 335.364 235.862 339.596 252.571C343.608 268.132 348.55 283.371 355.334 297.965L356.228 300.165H400.368L398.997 298.449C395.002 293.103 391.631 287.319 388.95 281.208Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 299.908H549.251C549.698 304.308 549.985 308.51 550.571 312.668C552.207 324.717 553.769 336.781 555.705 348.785C558.283 365.295 561.98 381.61 566.771 397.619L567.504 400.053H607.435L606.752 398.257C594.946 366.444 590.839 333.165 586.828 299.908Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 299.893H658.827L659.003 301.499C659.737 309.866 660.353 318.248 661.291 326.594C662.589 338.129 663.858 349.687 665.691 361.156C667.628 373.505 670.172 385.76 672.394 398.065L672.709 400.045H711.613L711.217 398.578C702.703 366.179 699.506 333.069 696.47 299.893Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 299.922C770.427 333.458 772.759 366.839 777.834 399.95H815.872C810.27 366.693 808.128 333.311 806.016 299.922H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 299.951C878.962 333.355 880.15 366.612 882.68 399.913H919.838C918.274 366.541 916.717 333.22 915.167 299.951H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 299.943V399.971H1024.7V299.943H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 377.341C486.228 355.597 481.975 333.15 478.667 310.482C478.154 306.955 477.699 303.42 477.2 299.893H439.47C441.245 315.645 443.65 331.082 446.76 346.416C450.228 363.525 454.54 380.399 460.767 396.738L461.126 397.662L461.17 397.779L461.39 398.358C461.39 398.432 461.456 398.49 461.485 398.556L462.079 400.023H503.792L503.139 398.938C499.271 392.071 496.094 384.836 493.657 377.341Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 369.728C53.1817 354.445 47.0071 337.835 42.5043 320.594C40.7223 313.789 39.3216 306.881 37.7376 299.973H0.0292261C0.0208569 300.136 0.0208569 300.3 0.0292261 300.464C3.30727 321.078 8.43306 341.208 16.2505 360.598C21.1464 372.98 27.3698 384.794 34.8114 395.835L37.6202 400.03H92.4375C90.0688 398.519 88.0375 397.331 86.1088 395.974C76.2381 389.015 68.8312 379.9 62.5685 369.728Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 393.606C178.818 385.54 172.842 375.962 167.833 365.739C157.933 345.529 152.132 324.049 148.238 302.005L147.967 299.805H146.5H145.95C142.601 299.805 139.252 299.805 135.903 299.805H109.862L110.038 300.919C112.287 315.884 115.57 330.674 119.865 345.184C125.358 363.444 132.435 381.015 142.511 397.251L144.117 399.987H194.636L191.168 397.273C189.708 396.085 188.323 394.882 187.017 393.606Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 372.105C269.254 353.038 263.827 332.849 259.874 312.25C259.082 308.136 258.408 304.007 257.674 299.871H219.79L220.039 301.338C222.035 315.318 224.811 329.175 228.355 342.845C233.151 361.09 239.267 378.83 248.06 395.565L248.948 397.222C249.058 397.428 249.16 397.633 249.27 397.831L249.307 397.89L250.414 399.958H291.437H294.855H297.26C288.636 391.847 282.967 382.284 278.208 372.105Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 381.161C380.377 362.387 375.229 342.58 371.291 322.42C369.824 314.977 368.658 307.475 367.331 299.914H329.674L329.857 301.454C329.857 301.564 329.857 301.674 329.857 301.784C332.105 318.857 335.347 335.785 339.567 352.48C343.578 368.042 348.521 383.28 355.304 397.881L356.199 400.081H400.339L398.967 398.373C394.985 393.035 391.624 387.26 388.95 381.161Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 399.855H549.251C549.698 404.256 549.985 408.45 550.571 412.608C552.207 424.657 553.769 436.721 555.705 448.733C558.283 465.242 561.98 481.558 566.771 497.566L567.504 499.993H607.435L606.752 498.197C594.946 466.384 590.839 433.113 586.828 399.855Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 399.832H658.827L659.003 401.438C659.737 409.805 660.353 418.188 661.291 426.533C662.589 438.076 663.858 449.633 665.691 461.103C667.628 473.452 670.172 485.706 672.394 498.012L672.709 499.992H711.613L711.217 498.525C702.703 466.126 699.506 433.016 696.47 399.832Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 399.861C770.427 433.404 772.759 466.779 777.834 499.889H815.872C810.27 466.632 808.128 433.258 806.016 399.861H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 399.891C878.962 433.294 880.15 466.559 882.68 499.852H919.838C918.274 466.48 916.717 433.16 915.167 399.891H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 399.891V499.896H1024.7V399.891H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 477.288C486.228 455.545 481.975 433.09 478.667 410.429C478.154 406.902 477.699 403.367 477.2 399.84H439.47C441.245 415.585 443.65 431.029 446.76 446.356C450.228 463.472 454.54 480.346 460.767 496.685L461.126 497.609L461.17 497.726L461.39 498.298C461.39 498.372 461.456 498.438 461.485 498.504L462.079 499.97H503.792L503.139 498.878C499.271 492.013 496.094 484.781 493.657 477.288Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 469.675C53.1817 454.385 47.0071 437.775 42.5043 420.542C40.7223 413.736 39.3216 406.835 37.7376 399.92H0.0292261C0.0208569 400.084 0.0208569 400.248 0.0292261 400.411C3.30727 421.033 8.43306 441.156 16.2505 460.545C21.1479 472.929 27.3712 484.746 34.8114 495.79L37.6202 499.984H92.4375C90.0688 498.474 88.0375 497.278 86.1088 495.922C76.2381 488.955 68.8312 479.84 62.5685 469.675Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 493.547C178.818 485.481 172.842 475.947 167.833 465.68C157.933 445.469 152.132 423.983 148.238 401.938L147.967 399.738H146.5C146.324 399.738 146.148 399.738 145.95 399.738H135.903H109.862L110.038 400.846C112.287 415.812 115.57 430.605 119.865 445.117C125.358 463.378 132.435 480.949 142.511 497.185L144.117 499.92H194.636L191.168 497.207C189.708 496.041 188.323 494.831 187.017 493.547Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 472.082C269.254 453.015 263.827 432.826 259.874 412.219C259.082 408.112 258.408 403.984 257.674 399.848H219.79L220.039 401.314C222.036 415.294 224.812 429.152 228.355 442.821C233.151 461.067 239.267 478.799 248.06 495.541L248.948 497.199L249.27 497.8L249.307 497.859L250.414 499.934H291.437C292.574 499.934 293.718 499.934 294.855 499.934H297.26C288.636 491.787 282.967 482.224 278.208 472.082Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 481.102C380.377 462.336 375.229 442.521 371.291 422.369C369.824 414.918 368.658 407.424 367.331 399.855H329.674L329.857 401.403C329.857 401.505 329.857 401.623 329.857 401.725C332.104 418.801 335.346 435.731 339.567 452.429C343.578 467.99 348.521 483.229 355.304 497.83L356.199 500.03H400.339L398.967 498.314C394.985 492.976 391.624 487.202 388.95 481.102Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_4"><svg id="patter-4" class="patter patter_4" viewBox="0 0 757 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M460.318 499.959C452.588 487.989 446.486 475.185 441.177 461.993C428.349 430.122 419.705 397.028 412.915 363.424C410.908 353.469 409.208 343.466 407.338 333.357H360.154C369.413 390.683 382.249 446.859 406.853 500L460.318 499.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 499.959L308.729 492.885C295.78 478.965 285.898 462.94 277.424 446.016C262.281 415.772 251.946 383.835 244.241 351C242.865 345.125 241.643 339.216 240.34 333.316H180.255C191.327 392.107 208.525 448.525 240 499.959H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 499.958C179.429 499.861 179.092 499.725 178.774 499.554C172.299 495.839 165.565 492.496 159.487 488.223C143.301 476.827 130.61 462.008 119.611 445.7C99.4508 415.803 86.1778 382.855 76.7814 348.216C75.4379 343.247 74.2322 338.245 72.9777 333.332H0C12.2048 393.708 33.2634 450.119 70.5576 499.974L179.778 499.958Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 499.959C589.342 445.734 581.257 389.646 574.062 333.309H539.633C546.375 389.622 554.776 445.458 571.561 499.959H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 499.959C748.142 444.641 744.111 389.023 740.38 333.309H718.528C722.146 389.064 726.314 444.625 734.715 499.959H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 333.308V333.268C452.588 321.29 446.486 308.486 441.177 295.302C428.349 263.422 419.705 230.337 412.915 196.725C410.908 186.778 409.208 176.767 407.338 166.658H360.154C369.413 223.983 382.249 280.167 406.853 333.308H460.318Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 333.308L308.729 326.235C295.78 312.306 285.898 296.29 277.424 279.366C262.281 249.121 251.946 217.185 244.241 184.342C242.865 178.475 241.643 172.566 240.34 166.658H180.255C191.327 225.456 208.525 281.875 240 333.308H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 333.308C179.429 333.211 179.092 333.075 178.774 332.903C172.299 329.188 165.565 325.837 159.487 321.572C143.301 310.169 130.61 295.358 119.611 279.05C99.4508 249.104 86.1778 216.197 76.7814 181.565C75.4379 176.596 74.2322 171.586 72.9777 166.682H0C12.2048 227.058 33.2634 283.469 70.5576 333.324L179.778 333.308Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 333.309C589.342 279.083 581.257 222.996 574.062 166.65H539.633C546.375 222.972 554.776 278.808 571.561 333.309H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 333.308C748.142 277.99 744.111 222.373 740.38 166.658H718.528C722.146 222.405 726.314 277.974 734.715 333.308H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 166.651C452.588 154.673 446.486 141.869 441.177 128.677C428.349 96.8054 419.705 63.7116 412.915 30.108C410.908 20.1612 409.208 10.1496 407.338 0.0410156H360.154C369.413 57.3663 382.249 113.542 406.853 166.683L460.318 166.651Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 166.65L308.729 159.584C295.78 145.656 285.898 129.639 277.424 112.708C262.281 82.471 251.946 50.5264 244.241 17.6917C242.865 11.8159 241.643 5.90787 240.34 0.0078125H180.255C191.327 58.798 208.525 115.225 240 166.65H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 166.65C179.427 166.56 179.089 166.424 178.774 166.245C172.299 162.53 165.565 159.188 159.487 154.914C143.301 143.511 130.61 128.7 119.611 112.392C99.4508 82.4868 86.1778 49.5388 76.7814 14.8992C75.4379 9.9299 74.2322 4.92829 72.9777 0.015625H0C12.2048 60.3921 33.2634 116.803 70.5576 166.658L179.778 166.65Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 166.65C589.342 112.425 581.257 56.3379 574.062 0H539.633C546.375 56.3136 554.776 112.15 571.561 166.65H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 166.65C748.142 111.34 744.111 55.7147 740.38 0H718.528C722.146 55.7551 726.314 111.316 734.715 166.65H756.826Z" fill="var(--color-patter)" />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_5"><svg id="patter-5" class="patter patter_5" viewBox="0 0 1156 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M56.4968 94.2546C33 66.3587 19.4828 32.0468 19.4828 0.117188H0C0 19.5347 4.06626 39.2002 12.0878 58.559C18.3096 73.3877 26.427 87.3476 36.2373 100.09H61.6922C59.9169 98.2034 58.1873 96.2845 56.4968 94.2546Z"
      fill="var(--color-patter)"
    />
    <path
      d="M162.785 77.7158C143.257 54.5519 130.653 26.9691 126.933 0H107.261C109 14.45 112.734 28.5892 118.356 42.0136C125.691 59.5035 135.643 75.7763 147.871 90.2736C150.769 93.7067 153.737 96.9702 156.774 100.064H185.949C177.465 93.4476 169.701 85.957 162.785 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M235.81 42.014C243.142 59.5053 253.095 75.7784 265.325 90.274C268.223 93.7071 271.19 96.9706 274.228 100.064H303.403C294.911 93.4408 287.14 85.9414 280.219 77.6901C260.717 54.5588 248.12 27.0218 244.38 0.0917969H224.708C226.456 14.5113 230.193 28.6193 235.81 42.014Z"
      fill="var(--color-patter)"
    />
    <path
      d="M397.652 77.7158C378.124 54.5519 365.514 26.9691 361.793 0H342.128C343.864 14.4506 347.598 28.5902 353.224 42.0136C360.556 59.5048 370.508 75.7779 382.738 90.2736C385.636 93.7067 388.602 96.9702 391.634 100.064H420.816C412.333 93.4476 404.568 85.957 397.652 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M532.559 77.7158C513.031 54.5519 500.427 26.9691 496.707 0H477.042C478.78 14.4501 482.515 28.5892 488.137 42.0136C495.472 59.5035 505.424 75.7763 517.652 90.2736C520.55 93.7067 523.517 96.9702 526.555 100.064H555.73C547.245 93.4461 539.479 85.9556 532.559 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M649.995 77.7158C630.466 54.5519 617.863 26.9691 614.143 0H594.477C596.216 14.4501 599.95 28.5892 605.573 42.0136C612.907 59.5035 622.859 75.7763 635.087 90.2736C637.985 93.7067 640.953 96.9702 643.99 100.064H673.165C664.681 93.4461 656.915 85.9556 649.995 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M767.428 77.7158C747.899 54.5519 735.296 26.9691 731.576 0H711.897C713.633 14.4507 717.367 28.5902 722.993 42.0136C730.327 59.5035 740.279 75.7763 752.507 90.2736C755.405 93.7067 758.373 96.9702 761.41 100.064H790.585C782.104 93.4472 774.342 85.9566 767.428 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M884.857 77.7158C865.328 54.5519 852.725 26.9691 849.005 0H829.333C831.072 14.45 834.806 28.5892 840.428 42.0136C847.76 59.5048 857.713 75.7779 869.943 90.2736C872.841 93.7067 875.808 96.9702 878.846 100.064H908.021C899.537 93.4476 891.773 85.957 884.857 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1002.29 77.7158C982.764 54.5519 970.154 26.9691 966.434 0H946.768C948.504 14.4506 952.238 28.5902 957.864 42.0136C965.196 59.5048 975.148 75.7779 987.378 90.2736C990.276 93.7067 993.242 96.9702 996.275 100.064H1025.46C1016.97 93.4476 1009.21 85.957 1002.29 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1119.72 77.7158C1100.19 54.5519 1087.59 26.9691 1083.87 0H1064.2C1065.94 14.4501 1069.67 28.5892 1075.3 42.0136C1082.63 59.5051 1092.58 75.7781 1104.82 90.2736C1107.71 93.7067 1110.69 96.9832 1113.71 100.064H1142.89C1134.41 93.4462 1126.64 85.9558 1119.72 77.7158Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M56.4968 194.116C33 166.22 19.4828 131.908 19.4828 99.9785H0C0 119.396 4.06626 139.062 12.0878 158.42C18.3096 173.249 26.427 187.209 36.2373 199.951H61.6922C59.9169 198.065 58.1873 196.146 56.4968 194.116Z"
      fill="var(--color-patter)"
    />
    <path
      d="M162.785 177.577C143.257 154.413 130.653 126.83 126.933 99.8613H107.261C109 114.311 112.734 128.45 118.356 141.875C125.691 159.365 135.643 175.638 147.871 190.135C150.769 193.568 153.737 196.831 156.774 199.925H185.949C177.465 193.309 169.701 185.818 162.785 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M235.81 141.875C243.142 159.367 253.095 175.64 265.325 190.135C268.223 193.568 271.19 196.832 274.228 199.926H303.403C294.911 193.302 287.14 185.803 280.219 177.551C260.717 154.42 248.12 126.883 244.38 99.9531H224.708C226.456 114.373 230.193 128.481 235.81 141.875Z"
      fill="var(--color-patter)"
    />
    <path
      d="M397.652 177.577C378.124 154.413 365.514 126.83 361.793 99.8613H342.128C343.864 114.312 347.598 128.451 353.224 141.875C360.556 159.366 370.508 175.639 382.738 190.135C385.636 193.568 388.602 196.831 391.634 199.925H420.816C412.333 193.309 404.568 185.818 397.652 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M532.559 177.577C513.031 154.413 500.427 126.83 496.707 99.8613H477.042C478.78 114.311 482.515 128.451 488.137 141.875C495.472 159.365 505.424 175.638 517.652 190.135C520.55 193.568 523.517 196.831 526.555 199.925H555.73C547.245 193.307 539.479 185.817 532.559 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M649.995 177.577C630.466 154.413 617.863 126.83 614.143 99.8613H594.477C596.216 114.311 599.95 128.451 605.573 141.875C612.907 159.365 622.859 175.638 635.087 190.135C637.985 193.568 640.953 196.831 643.99 199.925H673.165C664.681 193.307 656.915 185.817 649.995 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M767.428 177.577C747.899 154.413 735.296 126.83 731.576 99.8613H711.897C713.633 114.312 717.367 128.452 722.993 141.875C730.327 159.365 740.279 175.638 752.507 190.135C755.405 193.568 758.373 196.831 761.41 199.925H790.585C782.104 193.309 774.342 185.818 767.428 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M884.857 177.577C865.328 154.413 852.725 126.83 849.005 99.8613H829.333C831.072 114.311 834.806 128.45 840.428 141.875C847.76 159.366 857.713 175.639 869.943 190.135C872.841 193.568 875.808 196.831 878.846 199.925H908.021C899.537 193.309 891.773 185.818 884.857 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1002.29 177.577C982.764 154.413 970.154 126.83 966.434 99.8613H946.768C948.504 114.312 952.238 128.451 957.864 141.875C965.196 159.366 975.148 175.639 987.378 190.135C990.276 193.568 993.242 196.831 996.275 199.925H1025.46C1016.97 193.309 1009.21 185.818 1002.29 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1119.72 177.577C1100.19 154.413 1087.59 126.83 1083.87 99.8613H1064.2C1065.94 114.311 1069.67 128.451 1075.3 141.875C1082.63 159.366 1092.58 175.639 1104.82 190.135C1107.71 193.568 1110.69 196.845 1113.71 199.925H1142.89C1134.41 193.308 1126.64 185.817 1119.72 177.577Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M69.1861 294.212C45.6893 266.316 32.1721 232.004 32.1721 200.068H12.6958C12.6958 219.492 16.7621 239.151 24.7771 258.51C30.9974 273.342 39.115 287.304 48.9266 300.047H74.3815C72.6149 298.163 70.8831 296.218 69.1861 294.212Z"
      fill="var(--color-patter)"
    />
    <path
      d="M175.474 277.667C155.946 254.51 143.342 226.927 139.622 199.951H119.957C121.695 214.404 125.429 228.545 131.052 241.971C138.387 259.459 148.339 275.73 160.567 290.225C163.465 293.662 166.432 296.926 169.47 300.015H198.645C190.162 293.395 182.396 285.905 175.474 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M248.484 241.972C255.819 259.46 265.771 275.731 277.999 290.226C280.896 293.663 283.864 296.927 286.901 300.016H316.076C307.586 293.388 299.816 285.887 292.893 277.635C273.391 254.511 260.794 226.974 257.054 200.037H237.388C239.134 214.461 242.868 228.573 248.484 241.972Z"
      fill="var(--color-patter)"
    />
    <path
      d="M410.355 277.667C390.826 254.51 378.223 226.927 374.502 199.951H354.824C356.559 214.404 360.293 228.546 365.919 241.971C373.254 259.459 383.206 275.73 395.434 290.225C398.332 293.662 401.3 296.926 404.337 300.015H433.512C425.032 293.396 417.271 285.906 410.355 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M545.258 277.667C525.729 254.51 513.119 226.927 509.399 199.951H489.733C491.472 214.403 495.206 228.545 500.829 241.971C508.161 259.46 518.114 275.731 530.344 290.225C533.242 293.662 536.209 296.926 539.246 300.015H568.422C559.938 293.398 552.174 285.908 545.258 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M662.689 277.667C643.154 254.51 630.551 226.927 626.831 199.951H607.165C608.9 214.404 612.635 228.546 618.261 241.971C625.591 259.462 635.543 275.733 647.775 290.225C650.673 293.662 653.639 296.926 656.672 300.015H685.853C677.37 293.398 669.606 285.908 662.689 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M780.115 277.667C760.586 254.51 747.983 226.927 744.262 199.951H724.597C726.335 214.404 730.069 228.545 735.692 241.971C743.027 259.461 752.981 275.732 765.214 290.225C768.105 293.664 771.088 296.934 774.11 300.015H803.292C794.805 293.397 787.037 285.907 780.115 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M897.546 277.667C878.018 254.51 865.414 226.927 861.694 199.951H842.028C843.766 214.404 847.501 228.545 853.124 241.971C860.459 259.459 870.411 275.73 882.639 290.225C885.537 293.662 888.504 296.926 891.541 300.015H920.756C912.258 293.399 904.479 285.909 897.546 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1014.98 277.667C995.449 254.51 982.846 226.927 979.126 199.951H959.46C961.195 214.404 964.929 228.546 970.556 241.971C977.89 259.459 987.842 275.73 1000.07 290.225C1002.97 293.662 1005.94 296.926 1008.97 300.015H1038.15C1029.66 293.397 1021.9 285.907 1014.98 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1132.41 277.667C1112.88 254.51 1100.28 226.927 1096.56 199.951H1076.88C1078.62 214.403 1082.36 228.545 1087.98 241.971C1095.31 259.459 1105.27 275.73 1117.49 290.225C1120.39 293.662 1123.36 296.926 1126.4 300.015H1155.57C1147.09 293.398 1139.32 285.908 1132.41 277.667Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M69.1861 394.074C45.6893 366.178 32.1721 331.866 32.1721 299.93H12.6958C12.6958 319.354 16.7621 339.013 24.7771 358.372C30.9974 373.203 39.115 387.165 48.9266 399.909H74.3815C72.6149 398.025 70.8831 396.08 69.1861 394.074Z"
      fill="var(--color-patter)"
    />
    <path
      d="M175.474 377.528C155.946 354.371 143.342 326.788 139.622 299.812H119.957C121.695 314.265 125.429 328.406 131.052 341.833C138.387 359.321 148.339 375.591 160.567 390.086C163.465 393.524 166.432 396.787 169.47 399.876H198.645C190.162 393.257 182.396 385.766 175.474 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M248.484 341.834C255.819 359.322 265.771 375.592 277.999 390.087C280.896 393.525 283.864 396.788 286.901 399.877H316.076C307.586 393.25 299.816 385.748 292.893 377.497C273.391 354.372 260.794 326.835 257.054 299.898H237.388C239.134 314.322 242.868 328.434 248.484 341.834Z"
      fill="var(--color-patter)"
    />
    <path
      d="M410.355 377.528C390.826 354.371 378.223 326.788 374.502 299.812H354.824C356.559 314.265 360.293 328.407 365.919 341.833C373.254 359.321 383.206 375.591 395.434 390.086C398.332 393.524 401.3 396.787 404.337 399.876H433.512C425.032 393.258 417.271 385.767 410.355 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M545.258 377.528C525.729 354.371 513.119 326.788 509.399 299.812H489.733C491.472 314.265 495.206 328.406 500.829 341.833C508.161 359.322 518.114 375.593 530.344 390.086C533.242 393.524 536.209 396.787 539.246 399.876H568.422C559.938 393.26 552.174 385.769 545.258 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M662.689 377.528C643.154 354.371 630.551 326.788 626.831 299.812H607.165C608.9 314.265 612.635 328.407 618.261 341.833C625.591 359.323 635.543 375.594 647.775 390.086C650.673 393.524 653.639 396.787 656.672 399.876H685.853C677.37 393.26 669.606 385.769 662.689 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M780.115 377.528C760.586 354.371 747.983 326.788 744.262 299.812H724.597C726.335 314.265 730.069 328.406 735.692 341.833C743.027 359.322 752.981 375.593 765.214 390.086C768.105 393.526 771.088 396.796 774.11 399.876H803.292C794.805 393.258 787.037 385.768 780.115 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M897.546 377.528C878.018 354.371 865.414 326.788 861.694 299.812H842.028C843.766 314.265 847.501 328.406 853.124 341.833C860.459 359.321 870.411 375.591 882.639 390.086C885.537 393.524 888.504 396.787 891.541 399.876H920.756C912.258 393.26 904.479 385.77 897.546 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1014.98 377.528C995.449 354.371 982.846 326.788 979.126 299.812H959.46C961.195 314.265 964.929 328.407 970.556 341.833C977.89 359.321 987.842 375.591 1000.07 390.086C1002.97 393.524 1005.94 396.787 1008.97 399.876H1038.15C1029.66 393.258 1021.9 385.768 1014.98 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1132.41 377.528C1112.88 354.371 1100.28 326.788 1096.56 299.812H1076.88C1078.62 314.265 1082.36 328.406 1087.98 341.833C1095.31 359.321 1105.27 375.591 1117.49 390.086C1120.39 393.524 1123.36 396.787 1126.4 399.876H1155.57C1147.09 393.26 1139.32 385.769 1132.41 377.528Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M69.1861 494.165C45.6893 466.269 32.1721 431.957 32.1721 400.027H12.6958C12.6958 419.445 16.7621 439.11 24.7771 458.469C30.9988 473.298 39.1163 487.258 48.9266 500H74.3815C72.6149 498.116 70.8831 496.171 69.1861 494.165Z"
      fill="var(--color-patter)"
    />
    <path
      d="M175.474 477.619C155.946 454.462 143.342 426.879 139.622 399.91H119.957C121.695 414.36 125.43 428.499 131.052 441.924C138.387 459.414 148.339 475.686 160.567 490.184C163.465 493.617 166.432 496.88 169.47 499.974H198.645C190.16 493.354 182.394 485.861 175.474 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M248.484 441.922C255.819 459.412 265.771 475.685 277.999 490.182C280.896 493.615 283.864 496.879 286.901 499.973H316.076C307.585 493.347 299.814 485.845 292.893 477.592C273.391 454.467 260.794 426.93 257.054 400H237.388C239.134 414.419 242.868 428.527 248.484 441.922Z"
      fill="var(--color-patter)"
    />
    <path
      d="M410.355 477.619C390.826 454.462 378.223 426.879 374.502 399.91H354.824C356.56 414.361 360.294 428.5 365.919 441.924C373.254 459.414 383.206 475.686 395.434 490.184C398.332 493.617 401.3 496.88 404.337 499.974H433.512C425.031 493.355 417.269 485.862 410.355 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M545.258 477.619C525.729 454.462 513.119 426.879 509.399 399.91H489.733C491.473 414.36 495.207 428.499 500.829 441.924C508.161 459.415 518.114 475.688 530.344 490.184C533.242 493.617 536.209 496.88 539.246 499.974H568.422C559.936 493.357 552.172 485.864 545.258 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M662.689 477.619C643.154 454.462 630.551 426.879 626.831 399.91H607.165C608.901 414.361 612.635 428.5 618.261 441.924C625.59 459.416 635.543 475.69 647.775 490.184C650.673 493.617 653.639 496.88 656.672 499.974H685.853C677.368 493.357 669.604 485.864 662.689 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M780.115 477.619C760.586 454.462 747.983 426.879 744.262 399.91H724.597C726.336 414.36 730.07 428.499 735.692 441.924C743.027 459.415 752.981 475.688 765.214 490.184C768.105 493.617 771.088 496.893 774.11 499.974H803.292C794.803 493.356 787.035 485.863 780.115 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M897.546 477.619C878.018 454.462 865.414 426.879 861.694 399.91H842.028C843.767 414.36 847.501 428.499 853.124 441.924C860.459 459.414 870.411 475.686 882.639 490.184C885.537 493.617 888.504 496.88 891.541 499.974H920.756C912.256 493.358 904.477 485.865 897.546 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1014.98 477.619C995.449 454.462 982.846 426.879 979.126 399.91H959.46C961.196 414.361 964.93 428.5 970.556 441.924C977.89 459.414 987.842 475.686 1000.07 490.184C1002.97 493.617 1005.94 496.88 1008.97 499.974H1038.15C1029.66 493.356 1021.9 485.863 1014.98 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1132.41 477.619C1112.88 454.462 1100.28 426.879 1096.56 399.91H1076.88C1078.62 414.36 1082.36 428.499 1087.98 441.924C1095.31 459.414 1105.27 475.686 1117.49 490.184C1120.39 493.617 1123.36 496.88 1126.4 499.974H1155.57C1147.09 493.357 1139.32 485.864 1132.41 477.619Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_6"><svg id="patter-6" class="patter patter_6" viewBox="0 0 1083 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M686.729 125.92H685.247C662.824 125.92 640.403 125.905 617.985 125.874C617.003 125.842 616.07 125.434 615.379 124.735C588.846 92.3017 569.734 56.0237 559.558 15.246C558.442 10.7854 557.638 6.24666 556.71 1.7392C556.643 1.22194 556.61 0.701026 556.608 0.179527C557.28 0.179527 557.857 0.101562 558.427 0.101562C573.113 0.101562 587.8 0.101562 602.487 0.101562C603.892 0.101562 604.438 0.436938 604.828 1.90303C613.881 39.5691 631.837 72.564 657.442 101.504C665.887 111.102 675.766 119.339 686.729 125.92Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 125.92H816.803C797.887 125.92 778.975 125.92 760.069 125.92C759.497 125.954 758.925 125.85 758.401 125.618C757.878 125.386 757.416 125.033 757.057 124.587C728.019 91.5138 707.596 53.9413 697.686 10.9021C696.905 7.37722 696.265 3.80561 695.516 0.0312044H697.662C709.368 0.0312044 721.074 0.093538 732.779 -0.0234375C734.691 -0.0234375 735.261 0.592633 735.659 2.31607C745.172 43.0235 765.126 77.9603 794.601 107.462C801.472 114.483 809.345 120.449 817.966 125.164C818.114 125.304 818.286 125.46 818.949 125.92Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 125.921H948.493C933.158 125.921 917.824 125.921 902.45 125.866C901.335 125.814 900.275 125.366 899.461 124.603C867.512 91.4596 845.771 52.7797 836.024 7.62718C835.665 5.98173 835.407 4.31288 835.111 2.65182C834.978 1.87199 834.861 1.09214 834.721 0.203125H865.366C867.528 7.86112 869.315 15.5035 871.844 22.8963C882.25 53.6274 899.608 81.5463 922.568 104.483C930.758 112.829 940.031 120.039 950.139 125.921Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 0.164062H996.042C998.172 7.91564 999.943 15.6283 1002.39 23.1147C1011.52 50.7443 1026.25 75.122 1045.87 96.5753C1055.03 106.588 1065.11 115.51 1076.74 122.598C1078.44 123.643 1080.21 124.595 1082.34 125.819C1081.46 125.866 1080.99 125.913 1080.53 125.913C1068.82 125.913 1057.11 125.913 1045.41 125.874C1044.41 125.846 1043.45 125.477 1042.69 124.829C1008.35 92.9257 985.429 54.3939 975.284 8.49276C974.714 5.77893 974.308 3.02606 973.793 0.164062Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 124.696C473.974 124.86 474.121 125.007 474.286 125.133H554.134C546.37 120.89 539.892 115.408 533.844 109.403C522.63 98.2907 513.133 85.8211 504.721 72.4937C490.814 50.4477 480.209 26.9902 474.091 1.59874C473.732 0.0390625 472.975 0.0390625 471.796 0.0390625C454.316 0.0390625 436.833 0.0390625 419.347 0.0390625H417.326C417.778 2.55793 418.106 4.86624 418.621 7.14336C427.978 50.6037 447.004 89.5019 473.849 124.696Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 124.805C421.55 124.674 421.227 124.52 420.915 124.345C412.549 119.666 405.62 113.155 399.259 106.089C374.997 79.1615 357.969 48.085 346.833 13.7098C345.382 9.23355 344.235 4.66371 342.931 0.15625H278.144C286.681 45.8859 305.777 86.8429 332.529 124.805H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 124.805H158.176C156.531 124.219 154.984 123.388 153.587 122.341C145.479 116.43 138.76 109.138 132.517 101.387C116.324 81.2749 103.822 58.9872 93.7707 35.2801C88.9234 23.8978 84.94 12.1672 81.8543 0.1875H0C4.02678 22.6858 10.8005 44.2249 19.5096 65.1947C28.1519 85.9511 38.6215 105.9 50.795 124.805Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 124.805C289.209 124.573 288.658 124.294 288.133 123.971C279.393 118.574 272.284 111.369 265.713 103.633C245.626 79.9881 230.752 53.2943 219.998 24.2844C217.079 16.4002 214.73 8.31334 212.069 0.15625H139.033C147.563 45.5193 166.034 86.5231 191.537 124.805H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M686.729 250.545H685.247C662.824 250.545 640.403 250.527 617.985 250.491C617.001 250.466 616.066 250.057 615.379 249.352C588.846 216.919 569.734 180.649 559.558 139.871C558.442 135.41 557.638 130.864 556.71 126.356C556.643 125.839 556.609 125.318 556.608 124.797C557.28 124.797 557.857 124.719 558.427 124.719C573.113 124.719 587.8 124.719 602.487 124.719C603.892 124.719 604.438 125.046 604.828 126.52C613.881 164.186 631.837 197.173 657.442 226.121C665.888 235.72 675.767 243.959 686.729 250.545Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 250.545H816.803C797.887 250.545 778.975 250.545 760.069 250.545C759.497 250.579 758.925 250.475 758.401 250.243C757.878 250.011 757.416 249.658 757.057 249.212C728.019 216.139 707.596 178.566 697.686 135.527C696.905 132.002 696.265 128.431 695.516 124.656H697.662C709.368 124.656 721.074 124.719 732.779 124.602C734.691 124.602 735.261 125.218 735.659 126.941C745.172 167.656 765.126 202.585 794.601 232.094C801.472 239.116 809.345 245.082 817.966 249.797C818.307 250.028 818.635 250.278 818.949 250.545Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 250.546H948.493C933.158 250.546 917.824 250.546 902.45 250.491C901.334 250.437 900.274 249.986 899.461 249.22C867.512 216.085 845.771 177.405 836.024 132.244C835.665 130.599 835.407 128.93 835.111 127.269C834.978 126.489 834.861 125.709 834.721 124.82H865.366C867.528 132.478 869.315 140.121 871.844 147.514C882.25 178.245 899.608 206.164 922.568 229.1C930.758 237.449 940.031 244.662 950.139 250.546Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 124.781H996.042C998.172 132.58 999.943 140.253 1002.39 147.732C1011.52 175.369 1026.25 199.747 1045.87 221.2C1055.03 231.213 1065.11 240.135 1076.74 247.223C1078.44 248.268 1080.21 249.22 1082.34 250.444C1081.46 250.491 1080.99 250.538 1080.53 250.538C1068.82 250.538 1057.11 250.538 1045.41 250.538C1044.41 250.51 1043.45 250.141 1042.69 249.493C1008.35 217.59 985.429 179.058 975.284 133.157C974.714 130.404 974.308 127.651 973.793 124.781Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 249.321C473.976 249.484 474.123 249.63 474.286 249.758H554.134C546.37 245.508 539.892 240.025 533.844 234.028C522.63 222.916 513.133 210.446 504.721 197.119C490.814 175.073 480.209 151.615 474.091 126.224C473.732 124.664 472.975 124.664 471.796 124.664C454.316 124.664 436.833 124.664 419.347 124.664H417.326C417.778 127.183 418.106 129.491 418.621 131.768C427.978 175.221 447.004 214.104 473.849 249.321Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 249.43C421.55 249.299 421.227 249.145 420.915 248.97C412.549 244.291 405.62 237.78 399.259 230.714C374.997 203.779 357.969 172.71 346.833 138.335C345.382 133.859 344.235 129.289 342.931 124.773H278.144C286.681 170.511 305.777 211.468 332.529 249.43H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 249.43H158.176C156.531 248.844 154.984 248.013 153.587 246.966C145.479 241.055 138.76 233.763 132.517 226.012C116.324 205.9 103.822 183.612 93.7707 159.905C88.9245 148.522 84.9411 136.792 81.8543 124.812H0C4.02678 147.303 10.8005 168.85 19.5096 189.82C28.1519 210.576 38.6215 230.525 50.795 249.43Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 249.43C289.209 249.198 288.658 248.919 288.133 248.596C279.393 243.199 272.284 235.994 265.713 228.258C245.626 204.613 230.752 177.919 219.998 148.902C217.079 141.025 214.73 132.931 212.069 124.781H139.033C147.563 170.144 166.034 211.148 191.537 249.43H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M686.729 375.35H685.247C662.824 375.35 640.403 375.334 617.985 375.303C617.002 375.274 616.068 374.866 615.379 374.165C588.846 341.731 569.734 305.453 559.558 264.676C558.442 260.215 557.638 255.676 556.71 251.169C556.643 250.652 556.61 250.131 556.608 249.609C557.28 249.609 557.857 249.531 558.427 249.531C573.113 249.531 587.8 249.531 602.487 249.531C603.892 249.531 604.438 249.867 604.828 251.333C613.881 288.999 631.837 321.994 657.442 350.933C665.887 360.532 675.766 368.768 686.729 375.35Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 375.35H816.803C797.887 375.35 778.975 375.35 760.069 375.35C759.497 375.38 758.925 375.274 758.402 375.041C757.878 374.808 757.417 374.454 757.057 374.009C728.019 340.936 707.596 303.363 697.686 260.324C696.905 256.799 696.265 253.227 695.516 249.461H697.662C709.368 249.461 721.074 249.515 732.779 249.398C734.691 249.398 735.261 250.015 735.659 251.738C745.172 292.445 765.126 327.382 794.601 356.883C801.472 363.905 809.345 369.871 817.966 374.586C818.114 374.734 818.286 374.921 818.949 375.35Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 375.35H948.493C933.158 375.35 917.824 375.35 902.45 375.296C901.335 375.244 900.275 374.796 899.461 374.032C867.512 340.897 845.771 302.209 836.024 257.057C835.665 255.411 835.407 253.743 835.111 252.082C834.978 251.302 834.861 250.522 834.721 249.641H865.366C867.528 257.291 869.315 264.941 871.844 272.334C882.254 303.063 899.611 330.981 922.568 353.92C930.76 362.262 940.033 369.469 950.139 375.35Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 249.594H996.042C998.172 257.345 999.943 265.066 1002.39 272.544C1011.52 300.174 1026.25 324.552 1045.87 346.005C1055.03 356.018 1065.11 364.939 1076.74 372.028C1078.44 373.073 1080.21 374.024 1082.34 375.249C1081.46 375.296 1080.99 375.35 1080.53 375.35C1068.82 375.35 1057.11 375.35 1045.41 375.303C1044.41 375.275 1043.45 374.907 1042.69 374.258C1008.35 342.355 985.429 303.824 975.284 257.922C974.714 255.209 974.308 252.487 973.793 249.594Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 374.143C473.977 374.303 474.123 374.447 474.286 374.572H554.134C546.37 370.33 539.892 364.848 533.844 358.843C522.63 347.738 513.133 335.261 504.721 321.933C490.814 299.887 480.209 276.43 474.091 251.038C473.732 249.479 472.975 249.479 471.796 249.479C454.316 249.479 436.833 249.479 419.347 249.479H417.326C417.778 251.997 418.106 254.298 418.621 256.575C427.978 300.059 447.004 338.91 473.849 374.143Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 374.243C421.551 374.106 421.228 373.95 420.915 373.775C412.549 369.096 405.62 362.584 399.259 355.527C374.997 328.591 357.969 297.515 346.833 263.139C345.382 258.663 344.235 254.093 342.931 249.586H278.144C286.681 295.316 305.777 336.28 332.529 374.243H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 374.243H158.176C156.532 373.651 154.986 372.817 153.587 371.771C145.479 365.86 138.76 358.568 132.517 350.817C116.324 330.712 103.822 308.417 93.7707 284.71C88.9234 273.328 84.94 261.597 81.8543 249.617H0C4.02678 272.115 10.8005 293.655 19.5096 314.624C28.1535 335.383 38.623 355.334 50.795 374.243Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 374.243C289.21 374.004 288.66 373.723 288.133 373.401C279.393 368.012 272.284 360.798 265.713 353.062C245.626 329.418 230.752 302.724 219.998 273.714C217.079 265.83 214.73 257.743 212.069 249.586H139.033C147.563 294.949 166.034 335.953 191.537 374.243H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M686.729 499.977H685.247C662.824 499.977 640.403 499.959 617.985 499.922C617.001 499.898 616.066 499.489 615.379 498.784C588.846 466.35 569.734 430.08 559.558 389.303C558.442 384.842 557.638 380.295 556.71 375.788C556.643 375.271 556.609 374.75 556.608 374.228C557.28 374.228 557.857 374.15 558.427 374.15C573.113 374.15 587.8 374.15 602.487 374.15C603.892 374.15 604.438 374.478 604.828 375.952C613.881 413.618 631.837 446.605 657.442 475.553C665.888 485.152 675.767 493.391 686.729 499.977Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 499.977H816.803C797.887 499.977 778.975 499.977 760.069 499.977C759.497 500.01 758.925 499.907 758.401 499.675C757.878 499.443 757.416 499.089 757.057 498.643C728.019 465.57 707.596 427.998 697.686 384.959C696.905 381.434 696.265 377.862 695.516 374.088H697.662C709.368 374.088 721.074 374.15 732.779 374.033C734.691 374.033 735.261 374.649 735.659 376.373C745.172 417.088 765.126 452.017 794.601 481.526C801.472 488.548 809.345 494.513 817.966 499.228C818.114 499.361 818.286 499.517 818.949 499.977Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 499.977H948.493C933.158 499.977 917.824 499.977 902.45 499.923C901.333 499.874 900.271 499.423 899.461 498.652C867.512 465.516 845.771 426.836 836.024 381.676C835.665 380.031 835.407 378.362 835.111 376.701C834.978 375.921 834.861 375.141 834.721 374.252H865.366C867.528 381.91 869.315 389.552 871.844 396.945C882.25 427.676 899.608 455.595 922.568 478.532C930.758 486.88 940.031 494.093 950.139 499.977Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 374.213H996.042C998.172 381.972 999.943 389.685 1002.39 397.163C1011.52 424.801 1026.25 449.179 1045.87 470.632C1055.03 480.645 1065.11 489.566 1076.74 496.655C1078.44 497.7 1080.21 498.651 1082.34 499.876C1081.46 499.923 1080.99 499.969 1080.53 499.969C1068.82 499.969 1057.11 499.969 1045.41 499.93C1044.41 499.902 1043.45 499.534 1042.69 498.885C1008.35 466.982 985.429 428.451 975.284 382.549C974.714 379.836 974.308 377.083 973.793 374.213Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 498.753C473.974 498.917 474.121 499.064 474.286 499.189H554.134C546.37 494.939 539.892 489.465 533.844 483.46C522.63 472.347 513.133 459.878 504.721 446.55C490.814 424.504 480.209 401.047 474.091 375.655C473.732 374.096 472.975 374.096 471.796 374.096C454.316 374.096 436.833 374.096 419.347 374.096H417.326C417.778 376.615 418.106 378.923 418.621 381.2C427.978 424.652 447.004 463.535 473.849 498.753Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 498.862C421.55 498.731 421.227 498.577 420.915 498.402C412.549 493.723 405.62 487.211 399.259 480.146C374.997 453.21 357.969 422.142 346.833 387.766C345.382 383.29 344.235 378.72 342.931 374.205H278.144C286.681 419.942 305.777 460.899 332.529 498.862H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 498.862H158.176C156.531 498.276 154.984 497.445 153.587 496.398C145.479 490.487 138.76 483.195 132.517 475.443C116.324 455.332 103.822 433.044 93.7707 409.337C88.9234 397.954 84.94 386.224 81.8543 374.244H0C4.02678 396.735 10.8005 418.281 19.5096 439.251C28.1519 460.008 38.6215 479.956 50.795 498.862Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 498.862C289.209 498.629 288.658 498.35 288.133 498.028C279.393 492.631 272.284 485.425 265.713 477.689C245.626 454.045 230.752 427.351 219.998 398.341C217.079 390.457 214.73 382.37 212.069 374.213H139.033C147.563 419.576 166.034 460.58 191.537 498.862H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
</div>
        <div class="page-header__bg page-header__bg_patter-type_7"><svg id="patter-7" class="patter patter_7" viewBox="0 0 720 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <path d="M715.156 375.085H658.956L657.968 370.803H714.232L715.156 375.085Z" fill="var(--color-patter)" />
  <path
    d="M357.883 0.0957031C348.885 51.2735 325.69 93.7262 282.771 124.425L281.518 125.228H329.924L330.985 124.031C336.826 117.162 342.972 110.502 348.322 103.263C368.464 76.0349 380.925 45.4166 387.336 12.2916C388.14 8.2745 388.71 4.20118 389.409 0.0957031H357.883Z"
    fill="var(--color-patter)"
  />
  <path
    d="M199.143 0.0566406C191.639 46.1809 174.503 87.9186 144.728 124.249L143.852 125.237H175.659L176.567 123.759C182.505 114.118 188.828 104.606 194.138 94.603C207.678 69.0664 217.164 41.5799 222.258 13.1283C223.061 8.83 223.591 4.48348 224.258 0.0566406H199.143Z"
    fill="var(--color-patter)"
  />
  <path
    d="M40.2111 0.0644531C34.9165 42.3725 25.5968 83.5076 11.0951 123.558L10.4443 125.237H30.5298L31.1404 123.446C31.3172 123.02 31.4939 122.498 31.7189 121.839C44.1693 85.2443 52.9879 47.5132 58.0469 9.19128C58.4486 6.1865 58.6736 3.15762 58.987 0.0644531H40.2111Z"
    fill="var(--color-patter)"
  />
  <path
    d="M554.664 0H516.494L515.996 2.78789C515.65 4.39473 515.385 6.00157 515.048 7.60841C510.5 29.0918 502.997 49.4264 491.186 68.0335C475.463 92.7949 454.044 111.121 427.797 123.976C427.178 124.281 426.583 124.626 425.579 125.165C426.383 125.165 426.72 125.229 427.041 125.229H491.733L492.793 124.305C492.89 124.225 492.978 124.152 493.058 124.072L493.195 123.952L493.251 123.895C503.01 114.753 511.732 104.563 519.258 93.51C535.045 70.4036 545.184 44.9031 551.178 17.6833C552.367 12.3084 553.323 6.88532 554.391 1.47027L554.664 0Z"
    fill="var(--color-patter)"
  />
  <path
    d="M675.346 0.111558C675.178 0.738225 675.041 1.26045 674.904 1.77464C672.205 11.8897 670.084 22.1895 666.718 32.0796C652.585 73.8574 625.599 104.154 584.946 121.902C582.583 122.938 580.189 123.902 577.811 124.899L577.008 125.236H658.547L660.716 122.962C672.365 111.573 682.425 98.6669 690.627 84.5911C703.562 62.5212 711.878 38.7158 717.076 13.7616C718.008 9.2625 718.803 4.73121 719.687 0.103516L675.346 0.111558Z"
    fill="var(--color-patter)"
  />
  <path
    d="M357.883 499.888C348.885 448.703 325.69 406.258 282.771 375.559L281.518 374.756H329.924L330.985 375.953C336.826 382.822 342.972 389.491 348.322 396.729C368.464 423.957 380.925 454.576 387.336 487.701C388.14 491.718 388.71 495.783 389.409 499.896L357.883 499.888Z"
    fill="var(--color-patter)"
  />
  <path
    d="M199.143 499.945C191.639 453.812 174.503 412.075 144.728 375.744L143.852 374.756H175.659L176.567 376.234C182.505 385.875 188.828 395.38 194.138 405.39C207.678 430.927 217.165 458.413 222.258 486.865C223.061 491.163 223.591 495.502 224.258 499.937L199.143 499.945Z"
    fill="var(--color-patter)"
  />
  <path
    d="M40.2111 499.936C34.9165 457.628 25.5968 416.493 11.0951 376.443L10.4443 374.764H30.5298L31.1404 376.555C31.3172 376.981 31.4939 377.503 31.7189 378.162C44.1685 414.757 52.987 452.488 58.0469 490.81C58.4486 493.814 58.6736 496.851 58.987 499.944L40.2111 499.936Z"
    fill="var(--color-patter)"
  />
  <path
    d="M554.664 500.001H516.494L515.996 497.205C515.65 495.598 515.385 493.991 515.048 492.384C510.5 470.893 502.997 450.566 491.186 431.951C475.463 407.198 454.044 388.864 427.797 376.009C427.178 375.712 426.583 375.366 425.579 374.828C426.383 374.828 426.72 374.764 427.041 374.764H491.733L492.793 375.688C492.89 375.76 492.978 375.84 493.058 375.913L493.195 376.041L493.251 376.097C503.01 385.239 511.732 395.429 519.258 406.483C535.045 429.589 545.184 455.089 551.178 482.309C552.367 487.684 553.323 493.107 554.391 498.514L554.664 500.001Z"
    fill="var(--color-patter)"
  />
  <path
    d="M675.346 499.888L674.904 498.225C672.205 488.11 670.084 477.81 666.718 467.92C652.585 426.142 625.599 395.837 584.946 378.09C582.583 377.061 580.189 376.089 577.811 375.093L577.008 374.764H658.547L660.716 377.029C672.363 388.42 682.423 401.326 690.627 415.401C703.562 437.479 711.878 461.276 717.076 486.238C718.008 490.737 718.803 495.261 719.687 499.896L675.346 499.888Z"
    fill="var(--color-patter)"
  />
  <path
    d="M643.531 250.023C680.488 217.999 702.984 177.932 713.854 130.892L713.934 130.515C714.352 128.683 714.738 126.851 715.147 124.995H715.139L715.18 124.818H658.86L657.558 130.892C649.05 159.574 634.339 184.48 612.261 204.855C594.45 221.309 573.85 233.264 551.378 242.094C543.866 245.042 536.17 247.533 528.714 250.184C528.899 250.184 529.292 250.304 529.67 250.417C547.899 255.888 565.406 263.047 581.836 272.728C598.507 282.554 613.346 294.589 625.855 309.404C641.651 328.1 652.215 349.503 658.619 373.035C659.036 374.577 659.575 373.911 661.278 373.903C678.544 373.822 695.825 375.092 713.05 375.092H715.139C704.856 325.448 681.958 283.325 643.531 250.023Z"
    fill="var(--color-patter)"
  />
  <path
    d="M478.725 250.023C517.461 283.306 541.748 324.956 551.587 374.971H503.117C502.651 373.228 502.161 371.388 501.647 369.548C491.259 332.591 470.313 302.864 439.888 279.565C423.747 267.225 406.08 257.616 387.127 249.983C400.027 244.871 412.439 238.606 424.213 231.264C449.32 215.492 470.145 195.479 485.161 169.722C492.896 156.347 498.757 141.974 502.579 127.004C502.747 126.361 502.924 125.718 503.109 125.027H551.571C541.711 175.15 517.429 216.815 478.725 250.023Z"
    fill="var(--color-patter)"
  />
  <path
    d="M347.117 125.084H388.02C378.853 174.502 354.573 215.316 319.054 250.024C354.645 284.748 378.876 325.617 388.051 374.988H347.174C333.74 320.13 300.318 280.321 254.226 250.032C300.19 219.791 333.692 179.982 347.117 125.084Z"
    fill="var(--color-patter)"
  />
  <path
    d="M190.981 125.092H224.475C216.401 171.69 195.448 212.255 168.236 250.024C195.448 287.784 216.385 328.413 224.475 374.979H190.804C186.233 351.455 177.395 329.474 166.091 308.44C154.948 287.463 141.332 267.897 125.534 250.16C156.868 213.516 180.48 172.895 190.981 125.092Z"
    fill="var(--color-patter)"
  />
  <path
    d="M55.0664 343.277C48.7564 314.719 40.7072 286.574 30.9638 258.998L27.6938 250.024L30.2808 243.042C42.2518 208.785 52.2865 173.997 58.746 138.228C59.5494 133.914 60.0475 129.551 60.7063 125.068H34.5149C34.4506 125.43 34.4024 125.743 34.3462 126.065C32.8197 134.404 31.5503 142.8 29.7104 151.075C22.8396 182.113 13.8881 212.653 2.91642 242.488L0 250.297L2.53079 257.078C7.79319 272.721 13.2163 288.323 18.1091 304.078C23.9169 322.773 28.6329 341.79 32.2332 361.033C33.1009 365.676 33.84 370.336 34.6434 375.004H60.626C60.6158 374.338 60.5703 373.673 60.4895 373.012C58.6657 363.097 57.2115 353.111 55.0664 343.277Z"
    fill="var(--color-patter)"
  />
</svg>
</div>
      </div>
    </div>
  </div>
</section>
