<section class="product-presentation">
  <div class="container container_content">
    <p class="product-presentation__description text-xl">
      Сервисы клиентской аналитики и системы поддержки принятия решений на основе анализа большого объема данных, технологий машинного обучения и искусственного интеллекта
    </p>
    <div class="product-presentation__slider swiper-container">
      <div class="product-presentation__slider-wrapper swiper-wrapper">
        <div class="product-presentation__slide swiper-slide">
          <div class="product-presentation__logo">
            <img src="../../img/product-presentation-logo-1.png" alt="Predictive Analytic Solutions" class="product-presentation__logo-img" />
          </div>
          <h3 class="product-presentation__slider-title title-h3">
            Какие задачи<br />
            мы решаем?
          </h3>
        </div>
        <div class="product-presentation__slide swiper-slide">
          <div class="product-presentation__logo">
            <img src="../../img/product-presentation-logo-1.png" alt="Predictive Analytic Solutions" class="product-presentation__logo-img" />
          </div>
          <h3 class="product-presentation__slider-title title-h3">
            Какие задачи<br />
            мы решаем???
          </h3>
        </div>
        <div class="product-presentation__slide swiper-slide">
          <div class="product-presentation__logo">
            <img src="../../img/product-presentation-logo-1.png" alt="Predictive Analytic Solutions" class="product-presentation__logo-img" />
          </div>
          <h3 class="product-presentation__slider-title title-h3">
            Какие задачи<br />
            мы решаем?????
          </h3>
        </div>
      </div>
      <div class="product-presentation__slider-bottom-wrapper">
        <div class="product-presentation__slider-controls">
          <button class="product-presentation__slider-btn product-presentation__slider-btn_prev"></button>
          <div class="product-presentation__slider-counter">
            <span class="product-presentation__slider-counter-active">1</span>
            &nbsp;/&nbsp;
            <span class="product-presentation__slider-counter-all">26</span>
          </div>
          <button class="product-presentation__slider-btn product-presentation__slider-btn_next"></button>
        </div>
        <a href="#" target="_blank" class="product-presentation__download"></a>
      </div>
    </div>
  </div>
</section>

<section class="predict-services scroll-item">
  <div class="container container_content">
    <h2 class="predict-services__title title-h4">
      <span class="animate-row">
        <span class="animate-item"> Сервисы и продукты </span>
      </span>
    </h2>
    <ul class="predict-services__cards-list products-row anim-content">
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-1.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">PREDICT CRM Performance</p>
          <p class="products-card__description">Кампании по перекрестным продажам на основе пользовательского поведения</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-2.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">PREDICT Customer Insights</p>
          <p class="products-card__description">Инсайты, изучение и сегментация целевой аудитории</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-3.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">PREDICT Custom Segments</p>
          <p class="products-card__description">Kастомные сегменты ЦА для рекламных кабинетов myTarget и VK (соцсеть)</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-4.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">PREDICT Geo Cursor</p>
          <p class="products-card__description">Бизнес-анализ различных показателей с учетом их геопозиционирования</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-5.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">PREDICT Market Insights</p>
          <p class="products-card__description">Регулярные аналитические отчеты целевого рынка в разных представлениях</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-6.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">PREDICT UX Radar</p>
          <p class="products-card__description">Оценка качества мобильной связи на базе реального пользовательского опыта</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-7.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">ПК Радар</p>
          <p class="products-card__description">Оценка коммерческих потерь электроэнергии (и других ресурсов)</p>
        </div>
      </li>
      <li class="products-row__item">
        <div class="products-card">
          <div class="products-card__logo">
            <img src="../../img/predict-service-logo-8.svg" alt="" class="products-card__logo-img" />
          </div>
          <p class="products-card__name text-xl">Анализ туристических потоков</p>
          <p class="products-card__description">Комплексный анализ туристических потоков в различных регионах</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="predict-contacts scroll-item">
  <div class="container container_content">
    <h2 class="predict-contacts__title title-h4">
      <span class="animate-row">
        <span class="animate-item">Контакты</span>
      </span>
    </h2>
    <ul class="predict-contacts__list anim-content">
      <li class="predict-contacts__list-item">
        <a href="tel:84957256357" class="predict-contacts__link">8 (495) 725-63-57</a>
      </li>
      <li class="predict-contacts__list-item">
        <a href="mailto:predict@corp.mail.ru" class="predict-contacts__link">predict@corp.mail.ru</a>
      </li>
    </ul>
  </div>
</section>
