<section class="projects scroll-item">
  <div class="container container_content">
    <div class="projects__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Проекты</span>
      </span>
    </div>
    <div class="projects-swiper swiper anim-content">
      <div class="projects__cards-wrapper swiper-wrapper">
        <div class="projects__cards-slide swiper-slide">
          <div class="projects__cards">
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-1.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Delivery Club</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-2.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Мой Мир</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-1.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-1.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-1-1.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-3.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boom</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-2.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-2.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-2-2.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <!-- <video class="projects__card-video" src="../../files/projects-3.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-3.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-3-3.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-4.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Atom</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-5.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Учи.ру</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-6.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">AliExpress Россия</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-7.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boosty.to</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-8.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Ситимобил</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-9.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Юла</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-10.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Skillbox</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-11.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">myTracker</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-4.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-4-4.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-12.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Кухня на районе</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-5.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-5-5.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-13.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Самокат</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-14.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Облако</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-15.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-16.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Такси ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-17.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Одноклассники</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-18.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">GeekBrains</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-19.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Еда ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-20.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ICQ</p> -->
            </div>
          </div>
        </div>
        <div class="projects__cards-slide swiper-slide">
          <div class="projects__cards">
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-1.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Delivery Club</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-2.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Мой Мир</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-1.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-1.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-1-1.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-3.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boom</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-2.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-2.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-2-2.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <!-- <video class="projects__card-video" src="../../files/projects-3.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-3.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-3-3.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-4.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Atom</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-5.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Учи.ру</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-6.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">AliExpress Россия</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-7.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boosty.to</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-8.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Ситимобил</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-9.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Юла</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-10.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Skillbox</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-11.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">myTracker</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-4.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-4-4.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-12.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Кухня на районе</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-5.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-5-5.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-13.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Самокат</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-14.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Облако</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-15.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-16.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Такси ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-17.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Одноклассники</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-18.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">GeekBrains</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-19.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Еда ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-20.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ICQ</p> -->
            </div>
          </div>
        </div>
        <div class="projects__cards-slide swiper-slide">
          <div class="projects__cards">
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-1.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Delivery Club</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-2.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Мой Мир</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-1.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-1.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-1-1.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-3.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boom</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-2.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-2.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-2-2.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <!-- <video class="projects__card-video" src="../../files/projects-3.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-3.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-3-3.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-4.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Atom</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-5.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Учи.ру</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-6.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">AliExpress Россия</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-7.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boosty.to</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-8.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Ситимобил</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-9.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Юла</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-10.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Skillbox</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-11.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">myTracker</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-4.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-4-4.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-12.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Кухня на районе</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-5.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-5-5.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-13.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Самокат</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-14.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Облако</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-15.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-16.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Такси ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-17.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Одноклассники</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-18.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">GeekBrains</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-19.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Еда ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-20.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ICQ</p> -->
            </div>
          </div>
        </div>
        <div class="projects__cards-slide swiper-slide">
          <div class="projects__cards">
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-1.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Delivery Club</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-2.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Мой Мир</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-1.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-1.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-1-1.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-3.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boom</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-2.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-2.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-2-2.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <!-- <video class="projects__card-video" src="../../files/projects-3.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-3.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-3-3.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-4.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Atom</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-5.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Учи.ру</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-6.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">AliExpress Россия</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-7.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boosty.to</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-8.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Ситимобил</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-9.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Юла</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-10.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Skillbox</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-11.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">myTracker</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-4.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-4-4.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-12.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Кухня на районе</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-5.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-5-5.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-13.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Самокат</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-14.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Облако</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-15.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-16.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Такси ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-17.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Одноклассники</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-18.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">GeekBrains</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-19.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Еда ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-20.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ICQ</p> -->
            </div>
          </div>
        </div>
        <div class="projects__cards-slide swiper-slide">
          <div class="projects__cards">
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-1.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Delivery Club</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-2.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Мой Мир</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-1.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-1.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-1-1.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-3.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boom</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <!-- <video class="projects__card-video" src="../../files/projects-2.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-2.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-2-2.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <!-- <video class="projects__card-video" src="../../files/projects-3.mp4" muted autoplay loop></video> -->
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-3.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-3-3.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-4.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Atom</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-5.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Учи.ру</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-6.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">AliExpress Россия</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-7.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Boosty.to</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-8.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Ситимобил</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-9.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Юла</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-10.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Skillbox</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-11.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">myTracker</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_large">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-4.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-4-4.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-12.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Кухня на районе</p> -->
            </div>
            <div class="projects__card projects__card_with-photo projects__card_medium">
              <div class="projects__card-pic">
                <!-- <img src="../../img/projects-card-pic-5.png" class="projects__card-pic-img" /> -->
                <img src="../../img/projects-card-pic-5-5.png" class="projects__card-pic-img" />
              </div>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-13.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Самокат</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-14.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Облако</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-15.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-16.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Такси ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-17.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Одноклассники</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-18.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">GeekBrains</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-19.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">Еда ВКонтакте</p> -->
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-section-logo-20.svg" class="projects__card-logo-pic" />
              </div>
              <!-- <p class="projects__card-name">ICQ</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="projects__show-all btn btn_primary">Смотреть все проекты</a>
  </div>
</section>
