<section class="projects">
  <div class="container container_content">
    <div class="projects__title title-h2">Проекты</div>
    <div class="projects__cards">
      <div class="projects__cards-wrapper swiper-wrapper">
        <div class="projects__cards-slide swiper-slide">
          <img class="projects__cards-slide-img" src="../../img/projects.png" alt="" />
        </div>
        <div class="projects__cards-slide swiper-slide">
          <img class="projects__cards-slide-img" src="../../img/projects.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
