<section class="statutory-docs scroll-item">
  <div class="container container_content">
    <h2 class="statutory-docs__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Уставные</span>
      </span>
      <span class="animate-row">
        <span class="animate-item">документы</span>
      </span>
    </h2>

    <ul class="statutory-docs__list anim-content">
      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Устав Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Кодекс деловой этики Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Правила торговли акциями для директоров, топ-менеджеров, сотрудников и связанных лиц Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о соблюдении Mail.Ru Group Limited законодательных требований</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о праве директоров Mail.Ru Group Limited на доступ к информации и документации</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Комитет по вознаграждениям совета директоров Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение об аудиторском комитете при совете директоров Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Правила обращения с инсайдерской информацией</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Перечень инсайдерской информации</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о совете директоров Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о внутреннем аудите Mail.Ru Group Limited</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="statutory-docs__bg-wrapper">
    <svg class="statutory-docs__bg statutory-docs__bg_patter-type_4"><svg id="patter-4" class="patter patter_4" viewBox="0 0 757 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M460.318 499.959C452.588 487.989 446.486 475.185 441.177 461.993C428.349 430.122 419.705 397.028 412.915 363.424C410.908 353.469 409.208 343.466 407.338 333.357H360.154C369.413 390.683 382.249 446.859 406.853 500L460.318 499.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 499.959L308.729 492.885C295.78 478.965 285.898 462.94 277.424 446.016C262.281 415.772 251.946 383.835 244.241 351C242.865 345.125 241.643 339.216 240.34 333.316H180.255C191.327 392.107 208.525 448.525 240 499.959H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 499.958C179.429 499.861 179.092 499.725 178.774 499.554C172.299 495.839 165.565 492.496 159.487 488.223C143.301 476.827 130.61 462.008 119.611 445.7C99.4508 415.803 86.1778 382.855 76.7814 348.216C75.4379 343.247 74.2322 338.245 72.9777 333.332H0C12.2048 393.708 33.2634 450.119 70.5576 499.974L179.778 499.958Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 499.959C589.342 445.734 581.257 389.646 574.062 333.309H539.633C546.375 389.622 554.776 445.458 571.561 499.959H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 499.959C748.142 444.641 744.111 389.023 740.38 333.309H718.528C722.146 389.064 726.314 444.625 734.715 499.959H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 333.308V333.268C452.588 321.29 446.486 308.486 441.177 295.302C428.349 263.422 419.705 230.337 412.915 196.725C410.908 186.778 409.208 176.767 407.338 166.658H360.154C369.413 223.983 382.249 280.167 406.853 333.308H460.318Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 333.308L308.729 326.235C295.78 312.306 285.898 296.29 277.424 279.366C262.281 249.121 251.946 217.185 244.241 184.342C242.865 178.475 241.643 172.566 240.34 166.658H180.255C191.327 225.456 208.525 281.875 240 333.308H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 333.308C179.429 333.211 179.092 333.075 178.774 332.903C172.299 329.188 165.565 325.837 159.487 321.572C143.301 310.169 130.61 295.358 119.611 279.05C99.4508 249.104 86.1778 216.197 76.7814 181.565C75.4379 176.596 74.2322 171.586 72.9777 166.682H0C12.2048 227.058 33.2634 283.469 70.5576 333.324L179.778 333.308Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 333.309C589.342 279.083 581.257 222.996 574.062 166.65H539.633C546.375 222.972 554.776 278.808 571.561 333.309H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 333.308C748.142 277.99 744.111 222.373 740.38 166.658H718.528C722.146 222.405 726.314 277.974 734.715 333.308H756.826Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M460.318 166.651C452.588 154.673 446.486 141.869 441.177 128.677C428.349 96.8054 419.705 63.7116 412.915 30.108C410.908 20.1612 409.208 10.1496 407.338 0.0410156H360.154C369.413 57.3663 382.249 113.542 406.853 166.683L460.318 166.651Z"
      fill="var(--color-patter)"
    />
    <path
      d="M315.317 166.65L308.729 159.584C295.78 145.656 285.898 129.639 277.424 112.708C262.281 82.471 251.946 50.5264 244.241 17.6917C242.865 11.8159 241.643 5.90787 240.34 0.0078125H180.255C191.327 58.798 208.525 115.225 240 166.65H315.317Z"
      fill="var(--color-patter)"
    />
    <path
      d="M179.778 166.65C179.427 166.56 179.089 166.424 178.774 166.245C172.299 162.53 165.565 159.188 159.487 154.914C143.301 143.511 130.61 128.7 119.611 112.392C99.4508 82.4868 86.1778 49.5388 76.7814 14.8992C75.4379 9.9299 74.2322 4.92829 72.9777 0.015625H0C12.2048 60.3921 33.2634 116.803 70.5576 166.658L179.778 166.65Z"
      fill="var(--color-patter)"
    />
    <path d="M607.771 166.65C589.342 112.425 581.257 56.3379 574.062 0H539.633C546.375 56.3136 554.776 112.15 571.561 166.65H607.771Z" fill="var(--color-patter)" />
    <path d="M756.826 166.65C748.142 111.34 744.111 55.7147 740.38 0H718.528C722.146 55.7551 726.314 111.316 734.715 166.65H756.826Z" fill="var(--color-patter)" />
  </g>
</svg>
</svg>
  </div>
</section>
