<svg id="patter-5" class="patter patter_5" viewBox="0 0 1156 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M56.4968 94.2546C33 66.3587 19.4828 32.0468 19.4828 0.117188H0C0 19.5347 4.06626 39.2002 12.0878 58.559C18.3096 73.3877 26.427 87.3476 36.2373 100.09H61.6922C59.9169 98.2034 58.1873 96.2845 56.4968 94.2546Z"
      fill="var(--color-patter)"
    />
    <path
      d="M162.785 77.7158C143.257 54.5519 130.653 26.9691 126.933 0H107.261C109 14.45 112.734 28.5892 118.356 42.0136C125.691 59.5035 135.643 75.7763 147.871 90.2736C150.769 93.7067 153.737 96.9702 156.774 100.064H185.949C177.465 93.4476 169.701 85.957 162.785 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M235.81 42.014C243.142 59.5053 253.095 75.7784 265.325 90.274C268.223 93.7071 271.19 96.9706 274.228 100.064H303.403C294.911 93.4408 287.14 85.9414 280.219 77.6901C260.717 54.5588 248.12 27.0218 244.38 0.0917969H224.708C226.456 14.5113 230.193 28.6193 235.81 42.014Z"
      fill="var(--color-patter)"
    />
    <path
      d="M397.652 77.7158C378.124 54.5519 365.514 26.9691 361.793 0H342.128C343.864 14.4506 347.598 28.5902 353.224 42.0136C360.556 59.5048 370.508 75.7779 382.738 90.2736C385.636 93.7067 388.602 96.9702 391.634 100.064H420.816C412.333 93.4476 404.568 85.957 397.652 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M532.559 77.7158C513.031 54.5519 500.427 26.9691 496.707 0H477.042C478.78 14.4501 482.515 28.5892 488.137 42.0136C495.472 59.5035 505.424 75.7763 517.652 90.2736C520.55 93.7067 523.517 96.9702 526.555 100.064H555.73C547.245 93.4461 539.479 85.9556 532.559 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M649.995 77.7158C630.466 54.5519 617.863 26.9691 614.143 0H594.477C596.216 14.4501 599.95 28.5892 605.573 42.0136C612.907 59.5035 622.859 75.7763 635.087 90.2736C637.985 93.7067 640.953 96.9702 643.99 100.064H673.165C664.681 93.4461 656.915 85.9556 649.995 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M767.428 77.7158C747.899 54.5519 735.296 26.9691 731.576 0H711.897C713.633 14.4507 717.367 28.5902 722.993 42.0136C730.327 59.5035 740.279 75.7763 752.507 90.2736C755.405 93.7067 758.373 96.9702 761.41 100.064H790.585C782.104 93.4472 774.342 85.9566 767.428 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M884.857 77.7158C865.328 54.5519 852.725 26.9691 849.005 0H829.333C831.072 14.45 834.806 28.5892 840.428 42.0136C847.76 59.5048 857.713 75.7779 869.943 90.2736C872.841 93.7067 875.808 96.9702 878.846 100.064H908.021C899.537 93.4476 891.773 85.957 884.857 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1002.29 77.7158C982.764 54.5519 970.154 26.9691 966.434 0H946.768C948.504 14.4506 952.238 28.5902 957.864 42.0136C965.196 59.5048 975.148 75.7779 987.378 90.2736C990.276 93.7067 993.242 96.9702 996.275 100.064H1025.46C1016.97 93.4476 1009.21 85.957 1002.29 77.7158Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1119.72 77.7158C1100.19 54.5519 1087.59 26.9691 1083.87 0H1064.2C1065.94 14.4501 1069.67 28.5892 1075.3 42.0136C1082.63 59.5051 1092.58 75.7781 1104.82 90.2736C1107.71 93.7067 1110.69 96.9832 1113.71 100.064H1142.89C1134.41 93.4462 1126.64 85.9558 1119.72 77.7158Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M56.4968 194.116C33 166.22 19.4828 131.908 19.4828 99.9785H0C0 119.396 4.06626 139.062 12.0878 158.42C18.3096 173.249 26.427 187.209 36.2373 199.951H61.6922C59.9169 198.065 58.1873 196.146 56.4968 194.116Z"
      fill="var(--color-patter)"
    />
    <path
      d="M162.785 177.577C143.257 154.413 130.653 126.83 126.933 99.8613H107.261C109 114.311 112.734 128.45 118.356 141.875C125.691 159.365 135.643 175.638 147.871 190.135C150.769 193.568 153.737 196.831 156.774 199.925H185.949C177.465 193.309 169.701 185.818 162.785 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M235.81 141.875C243.142 159.367 253.095 175.64 265.325 190.135C268.223 193.568 271.19 196.832 274.228 199.926H303.403C294.911 193.302 287.14 185.803 280.219 177.551C260.717 154.42 248.12 126.883 244.38 99.9531H224.708C226.456 114.373 230.193 128.481 235.81 141.875Z"
      fill="var(--color-patter)"
    />
    <path
      d="M397.652 177.577C378.124 154.413 365.514 126.83 361.793 99.8613H342.128C343.864 114.312 347.598 128.451 353.224 141.875C360.556 159.366 370.508 175.639 382.738 190.135C385.636 193.568 388.602 196.831 391.634 199.925H420.816C412.333 193.309 404.568 185.818 397.652 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M532.559 177.577C513.031 154.413 500.427 126.83 496.707 99.8613H477.042C478.78 114.311 482.515 128.451 488.137 141.875C495.472 159.365 505.424 175.638 517.652 190.135C520.55 193.568 523.517 196.831 526.555 199.925H555.73C547.245 193.307 539.479 185.817 532.559 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M649.995 177.577C630.466 154.413 617.863 126.83 614.143 99.8613H594.477C596.216 114.311 599.95 128.451 605.573 141.875C612.907 159.365 622.859 175.638 635.087 190.135C637.985 193.568 640.953 196.831 643.99 199.925H673.165C664.681 193.307 656.915 185.817 649.995 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M767.428 177.577C747.899 154.413 735.296 126.83 731.576 99.8613H711.897C713.633 114.312 717.367 128.452 722.993 141.875C730.327 159.365 740.279 175.638 752.507 190.135C755.405 193.568 758.373 196.831 761.41 199.925H790.585C782.104 193.309 774.342 185.818 767.428 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M884.857 177.577C865.328 154.413 852.725 126.83 849.005 99.8613H829.333C831.072 114.311 834.806 128.45 840.428 141.875C847.76 159.366 857.713 175.639 869.943 190.135C872.841 193.568 875.808 196.831 878.846 199.925H908.021C899.537 193.309 891.773 185.818 884.857 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1002.29 177.577C982.764 154.413 970.154 126.83 966.434 99.8613H946.768C948.504 114.312 952.238 128.451 957.864 141.875C965.196 159.366 975.148 175.639 987.378 190.135C990.276 193.568 993.242 196.831 996.275 199.925H1025.46C1016.97 193.309 1009.21 185.818 1002.29 177.577Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1119.72 177.577C1100.19 154.413 1087.59 126.83 1083.87 99.8613H1064.2C1065.94 114.311 1069.67 128.451 1075.3 141.875C1082.63 159.366 1092.58 175.639 1104.82 190.135C1107.71 193.568 1110.69 196.845 1113.71 199.925H1142.89C1134.41 193.308 1126.64 185.817 1119.72 177.577Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M69.1861 294.212C45.6893 266.316 32.1721 232.004 32.1721 200.068H12.6958C12.6958 219.492 16.7621 239.151 24.7771 258.51C30.9974 273.342 39.115 287.304 48.9266 300.047H74.3815C72.6149 298.163 70.8831 296.218 69.1861 294.212Z"
      fill="var(--color-patter)"
    />
    <path
      d="M175.474 277.667C155.946 254.51 143.342 226.927 139.622 199.951H119.957C121.695 214.404 125.429 228.545 131.052 241.971C138.387 259.459 148.339 275.73 160.567 290.225C163.465 293.662 166.432 296.926 169.47 300.015H198.645C190.162 293.395 182.396 285.905 175.474 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M248.484 241.972C255.819 259.46 265.771 275.731 277.999 290.226C280.896 293.663 283.864 296.927 286.901 300.016H316.076C307.586 293.388 299.816 285.887 292.893 277.635C273.391 254.511 260.794 226.974 257.054 200.037H237.388C239.134 214.461 242.868 228.573 248.484 241.972Z"
      fill="var(--color-patter)"
    />
    <path
      d="M410.355 277.667C390.826 254.51 378.223 226.927 374.502 199.951H354.824C356.559 214.404 360.293 228.546 365.919 241.971C373.254 259.459 383.206 275.73 395.434 290.225C398.332 293.662 401.3 296.926 404.337 300.015H433.512C425.032 293.396 417.271 285.906 410.355 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M545.258 277.667C525.729 254.51 513.119 226.927 509.399 199.951H489.733C491.472 214.403 495.206 228.545 500.829 241.971C508.161 259.46 518.114 275.731 530.344 290.225C533.242 293.662 536.209 296.926 539.246 300.015H568.422C559.938 293.398 552.174 285.908 545.258 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M662.689 277.667C643.154 254.51 630.551 226.927 626.831 199.951H607.165C608.9 214.404 612.635 228.546 618.261 241.971C625.591 259.462 635.543 275.733 647.775 290.225C650.673 293.662 653.639 296.926 656.672 300.015H685.853C677.37 293.398 669.606 285.908 662.689 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M780.115 277.667C760.586 254.51 747.983 226.927 744.262 199.951H724.597C726.335 214.404 730.069 228.545 735.692 241.971C743.027 259.461 752.981 275.732 765.214 290.225C768.105 293.664 771.088 296.934 774.11 300.015H803.292C794.805 293.397 787.037 285.907 780.115 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M897.546 277.667C878.018 254.51 865.414 226.927 861.694 199.951H842.028C843.766 214.404 847.501 228.545 853.124 241.971C860.459 259.459 870.411 275.73 882.639 290.225C885.537 293.662 888.504 296.926 891.541 300.015H920.756C912.258 293.399 904.479 285.909 897.546 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1014.98 277.667C995.449 254.51 982.846 226.927 979.126 199.951H959.46C961.195 214.404 964.929 228.546 970.556 241.971C977.89 259.459 987.842 275.73 1000.07 290.225C1002.97 293.662 1005.94 296.926 1008.97 300.015H1038.15C1029.66 293.397 1021.9 285.907 1014.98 277.667Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1132.41 277.667C1112.88 254.51 1100.28 226.927 1096.56 199.951H1076.88C1078.62 214.403 1082.36 228.545 1087.98 241.971C1095.31 259.459 1105.27 275.73 1117.49 290.225C1120.39 293.662 1123.36 296.926 1126.4 300.015H1155.57C1147.09 293.398 1139.32 285.908 1132.41 277.667Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M69.1861 394.074C45.6893 366.178 32.1721 331.866 32.1721 299.93H12.6958C12.6958 319.354 16.7621 339.013 24.7771 358.372C30.9974 373.203 39.115 387.165 48.9266 399.909H74.3815C72.6149 398.025 70.8831 396.08 69.1861 394.074Z"
      fill="var(--color-patter)"
    />
    <path
      d="M175.474 377.528C155.946 354.371 143.342 326.788 139.622 299.812H119.957C121.695 314.265 125.429 328.406 131.052 341.833C138.387 359.321 148.339 375.591 160.567 390.086C163.465 393.524 166.432 396.787 169.47 399.876H198.645C190.162 393.257 182.396 385.766 175.474 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M248.484 341.834C255.819 359.322 265.771 375.592 277.999 390.087C280.896 393.525 283.864 396.788 286.901 399.877H316.076C307.586 393.25 299.816 385.748 292.893 377.497C273.391 354.372 260.794 326.835 257.054 299.898H237.388C239.134 314.322 242.868 328.434 248.484 341.834Z"
      fill="var(--color-patter)"
    />
    <path
      d="M410.355 377.528C390.826 354.371 378.223 326.788 374.502 299.812H354.824C356.559 314.265 360.293 328.407 365.919 341.833C373.254 359.321 383.206 375.591 395.434 390.086C398.332 393.524 401.3 396.787 404.337 399.876H433.512C425.032 393.258 417.271 385.767 410.355 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M545.258 377.528C525.729 354.371 513.119 326.788 509.399 299.812H489.733C491.472 314.265 495.206 328.406 500.829 341.833C508.161 359.322 518.114 375.593 530.344 390.086C533.242 393.524 536.209 396.787 539.246 399.876H568.422C559.938 393.26 552.174 385.769 545.258 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M662.689 377.528C643.154 354.371 630.551 326.788 626.831 299.812H607.165C608.9 314.265 612.635 328.407 618.261 341.833C625.591 359.323 635.543 375.594 647.775 390.086C650.673 393.524 653.639 396.787 656.672 399.876H685.853C677.37 393.26 669.606 385.769 662.689 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M780.115 377.528C760.586 354.371 747.983 326.788 744.262 299.812H724.597C726.335 314.265 730.069 328.406 735.692 341.833C743.027 359.322 752.981 375.593 765.214 390.086C768.105 393.526 771.088 396.796 774.11 399.876H803.292C794.805 393.258 787.037 385.768 780.115 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M897.546 377.528C878.018 354.371 865.414 326.788 861.694 299.812H842.028C843.766 314.265 847.501 328.406 853.124 341.833C860.459 359.321 870.411 375.591 882.639 390.086C885.537 393.524 888.504 396.787 891.541 399.876H920.756C912.258 393.26 904.479 385.77 897.546 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1014.98 377.528C995.449 354.371 982.846 326.788 979.126 299.812H959.46C961.195 314.265 964.929 328.407 970.556 341.833C977.89 359.321 987.842 375.591 1000.07 390.086C1002.97 393.524 1005.94 396.787 1008.97 399.876H1038.15C1029.66 393.258 1021.9 385.768 1014.98 377.528Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1132.41 377.528C1112.88 354.371 1100.28 326.788 1096.56 299.812H1076.88C1078.62 314.265 1082.36 328.406 1087.98 341.833C1095.31 359.321 1105.27 375.591 1117.49 390.086C1120.39 393.524 1123.36 396.787 1126.4 399.876H1155.57C1147.09 393.26 1139.32 385.769 1132.41 377.528Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M69.1861 494.165C45.6893 466.269 32.1721 431.957 32.1721 400.027H12.6958C12.6958 419.445 16.7621 439.11 24.7771 458.469C30.9988 473.298 39.1163 487.258 48.9266 500H74.3815C72.6149 498.116 70.8831 496.171 69.1861 494.165Z"
      fill="var(--color-patter)"
    />
    <path
      d="M175.474 477.619C155.946 454.462 143.342 426.879 139.622 399.91H119.957C121.695 414.36 125.43 428.499 131.052 441.924C138.387 459.414 148.339 475.686 160.567 490.184C163.465 493.617 166.432 496.88 169.47 499.974H198.645C190.16 493.354 182.394 485.861 175.474 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M248.484 441.922C255.819 459.412 265.771 475.685 277.999 490.182C280.896 493.615 283.864 496.879 286.901 499.973H316.076C307.585 493.347 299.814 485.845 292.893 477.592C273.391 454.467 260.794 426.93 257.054 400H237.388C239.134 414.419 242.868 428.527 248.484 441.922Z"
      fill="var(--color-patter)"
    />
    <path
      d="M410.355 477.619C390.826 454.462 378.223 426.879 374.502 399.91H354.824C356.56 414.361 360.294 428.5 365.919 441.924C373.254 459.414 383.206 475.686 395.434 490.184C398.332 493.617 401.3 496.88 404.337 499.974H433.512C425.031 493.355 417.269 485.862 410.355 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M545.258 477.619C525.729 454.462 513.119 426.879 509.399 399.91H489.733C491.473 414.36 495.207 428.499 500.829 441.924C508.161 459.415 518.114 475.688 530.344 490.184C533.242 493.617 536.209 496.88 539.246 499.974H568.422C559.936 493.357 552.172 485.864 545.258 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M662.689 477.619C643.154 454.462 630.551 426.879 626.831 399.91H607.165C608.901 414.361 612.635 428.5 618.261 441.924C625.59 459.416 635.543 475.69 647.775 490.184C650.673 493.617 653.639 496.88 656.672 499.974H685.853C677.368 493.357 669.604 485.864 662.689 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M780.115 477.619C760.586 454.462 747.983 426.879 744.262 399.91H724.597C726.336 414.36 730.07 428.499 735.692 441.924C743.027 459.415 752.981 475.688 765.214 490.184C768.105 493.617 771.088 496.893 774.11 499.974H803.292C794.803 493.356 787.035 485.863 780.115 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M897.546 477.619C878.018 454.462 865.414 426.879 861.694 399.91H842.028C843.767 414.36 847.501 428.499 853.124 441.924C860.459 459.414 870.411 475.686 882.639 490.184C885.537 493.617 888.504 496.88 891.541 499.974H920.756C912.256 493.358 904.477 485.865 897.546 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1014.98 477.619C995.449 454.462 982.846 426.879 979.126 399.91H959.46C961.196 414.361 964.93 428.5 970.556 441.924C977.89 459.414 987.842 475.686 1000.07 490.184C1002.97 493.617 1005.94 496.88 1008.97 499.974H1038.15C1029.66 493.356 1021.9 485.863 1014.98 477.619Z"
      fill="var(--color-patter)"
    />
    <path
      d="M1132.41 477.619C1112.88 454.462 1100.28 426.879 1096.56 399.91H1076.88C1078.62 414.36 1082.36 428.499 1087.98 441.924C1095.31 459.414 1105.27 475.686 1117.49 490.184C1120.39 493.617 1123.36 496.88 1126.4 499.974H1155.57C1147.09 493.357 1139.32 485.864 1132.41 477.619Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
