<section class="team team_for-team">
  <div class="container container_content">
    <ul class="team__list">
      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-01.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Гришин</h3>
            <p class="text-m manager-card__position">Председатель совета директоров и сооснователь VK, неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-12.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Борис Добродеев</h3>
            <p class="text-m manager-card__position">Генеральный директор VK (Россия)</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-03.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Владимир Габриелян</h3>
            <p class="text-m manager-card__position">Первый заместитель генерального директора</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-11.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Владимир Никольский</h3>
            <p class="text-m manager-card__position">Операционный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-39.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Мэттью Хаммонд</h3>
            <p class="text-m manager-card__position">Управляющий директор и финансовый директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-40.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Анна Артамонова</h3>
            <p class="text-m manager-card__position">Вице-президент по экосистемным проектам</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-41.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Очир Манджиков</h3>
            <p class="text-m manager-card__position">Вице-президент по коммуникациям</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-42.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Егор Абрамец</h3>
            <p class="text-m manager-card__position">Вице-президент по рекламным технологиям</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-13.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Смыслов</h3>
            <p class="text-m manager-card__position">Вице-президент по персоналу и образовательным проектам</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-14.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Элина Исагулова</h3>
            <p class="text-m manager-card__position">Вице-президент, В2В-коммерция и операционное управление</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-15.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Степан Ковальчук</h3>
            <p class="text-m manager-card__position">Вице-президент по развитию бизнеса</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-16.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Игорь Ермаков</h3>
            <p class="text-m manager-card__position">Вице-президент, технический директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-17.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Андрей Димитров</h3>
            <p class="text-m manager-card__position">Вице-президент по видеоконтенту и музыкальным сервисам</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-18.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Андрей Рогозов</h3>
            <p class="text-m manager-card__position">Вице-президент по социальным платформам</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-21.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Василий Магурян</h3>
            <p class="text-m manager-card__position">Руководитель игрового направления</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-19.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Марина Краснова</h3>
            <p class="text-m manager-card__position">Управляющий директор ВКонтакте</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-20.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Антон Федчин</h3>
            <p class="text-m manager-card__position">Руководитель Одноклассников</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-23.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Гюванч Донмез</h3>
            <p class="text-m manager-card__position">Главный исполнительный директор по фудтеху «О2О»</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-24.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Павел Гонтарев</h3>
            <p class="text-m manager-card__position">Управляющий директор Mail.ru Цифровые технологии</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-25.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Федор Рубцов</h3>
            <p class="text-m manager-card__position">Финансовый директор (Россия)</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-26.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Антон Мальгинов</h3>
            <p class="text-m manager-card__position">Директор по правовым вопросам</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-27.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Алексей Милевский</h3>
            <p class="text-m manager-card__position">Директор департамента слияний и поглощений</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-28.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Татьяна Волочкович</h3>
            <p class="text-m manager-card__position">Директор по связям с инвесторами</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-29.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Осадчук</h3>
            <p class="text-m manager-card__position">​Креативный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-01.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Ирина Алексеева</h3>
            <p class="text-m manager-card__position">Коммерческий директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-38.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">​Александра Бабкина</h3>
            <p class="text-m manager-card__position">Директор социальных проектов</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-22.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Юрий Новиков</h3>
            <p class="text-m manager-card__position">Руководитель бизнес-юнита</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-01.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Елена Григорян</h3>
            <p class="text-m manager-card__position">Заместитель руководителя игрового направления</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card manager-card__medium anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-01.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина" />
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Владимир Суходоев</h3>
            <p class="text-m manager-card__position">Директор проектного офиса</p>
          </div>
        </a>
      </li>
    </ul>
    <svg class="team__bg">
      <use xlink:href="#patter-4"></use>
    </svg>
  </div>
</section>
