<section class="big-banner is-active">
  <div class="big-banner__wrapper">
    <div class="container container_content">
      <div class="big-banner__text">
        <h1 class="big-banner__title title-h2">
          <span class="animate-row">
            <span class="animate-item">VK Group –</span>
          </span>
          <span class="animate-row">
            <span class="animate-item">объединяющие</span>
          </span>
          <span class="animate-row">
            <span class="animate-item">технологии</span>
          </span>
        </h1>
        <p class="big-banner__description">
          <span class="animate-row">
            <span class="animate-item"> Помогаем разным людям объеденяться вокруг того, что действительно для них важно </span>
          </span>
        </p>
        <button class="big-banner__next btn btn_control"></button>
      </div>
    </div>
    <div class="big-banner__video-wrapper">
      <video src="../../files/gliph-short.webm" class="big-banner__video" autoplay muted></video>
    </div>
  </div>
</section>
