<section class="business">
  <div class="container container_content">
    <div class="projects-page__list-links-wrapper">
      <ul class="projects-page__list-links">
        <li class="projects-page__list-item-links">
          <a href="#chapter-1" class="projects-page__link">Маркетинг и реклама</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-2" class="projects-page__link">Цифровые технологии</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-3" class="projects-page__link">Данные и аналитика</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-4" class="projects-page__link">Образование</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-5" class="projects-page__link">Финансы</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-6" class="projects-page__link">Социальные проекты</a>
        </li>
      </ul>
    </div>
    <div class="projects-page__select custom-select" data-select="" data-name="some-chapter" data-id="some-chapter">
      <span class="custom-select__label"></span>
      <button class="custom-select__button" type="button" aria-label="Выберите раздел"><span class="custom-select__text"></span><span class="custom-select__icon"></span></button>
      <ul class="custom-select__list" role="listbox">
        <!-- <li class="custom-select__item" tabindex="0" data-select-value="0" aria-selected="true" role="option">Все</li> -->
        <li class="custom-select__item" tabindex="0" data-select-value="1" aria-selected="true" role="option">Маркетинг и реклама</li>
        <li class="custom-select__item" tabindex="0" data-select-value="2" aria-selected="false" role="option">Цифровые технологии</li>
        <li class="custom-select__item" tabindex="0" data-select-value="3" aria-selected="false" role="option">Данные и аналитика</li>
        <li class="custom-select__item" tabindex="0" data-select-value="4" aria-selected="false" role="option">Образование</li>
        <li class="custom-select__item" tabindex="0" data-select-value="5" aria-selected="false" role="option">Финансы</li>
        <li class="custom-select__item" tabindex="0" data-select-value="6" aria-selected="false" role="option">Социальные проекты</li>
      </ul>
    </div>
    <div class="business__chapters">
      <div class="business__chapter" id="chapter-1">
        <div class="business__banner scroll-item">
          <div class="business__banner-bg">
            <img src="../../img/business-banner-bg-1.png" alt="" class="business__banner-bg-pic" />
          </div>
          <h2 class="business__chapter-title title-h2">
            <span class="animate-row">
              <span class="animate-item">Маркетинг</span>
            </span>
            <span class="animate-row">
              <span class="animate-item">и&nbsp;реклама</span>
            </span>
          </h2>
          <p class="business__chapter-description anim-content">
            Решения позволят любому бизнесу достигать своих уникальных целей: находить новых клиентов и удерживать текущих, увеличивать продажи и повышать имиджевые метрики брендов.
          </p>
        </div>
        <ul class="business__cards-list products-row scroll-item">
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">myTarget</p>
              <p class="products-card__description">Платформа для самостоятельного запуска рекламных кампаний в онлайне и в офлайне</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-2.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Бизнес ВКонтакте</p>
              <p class="products-card__description">Единая платформа для развития малого и среднего бизнеса ВКонтакте</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-3.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">ОК.Бизнес</p>
              <p class="products-card__description">Платформа для продвижения малого и среднего бизнеса в Одноклассниках</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-4.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Relap</p>
              <p class="products-card__description">Платформа нативной рекламы для издателей и рекламодателей</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-23.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Пульс</p>
              <p class="products-card__description">Рекомендательная система для нативного продвижения контента брендов и авторов</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-6.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Native Roll</p>
              <p class="products-card__description">Видеоплатформа для продвижения рекламных роликов в премиальном контенте</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-2.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Инновационные решения</p>
              <p class="products-card__description">Кастомные и инновационные проекты на базе продуктов и решений экосистемы VK</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
        <!-- <h3 class="business__subsection-title title-h4 scroll-item">
          <span class="animate-row">
            <span class="animate-item">Форматы</span>
          </span>
        </h3>
        <ul class="business__cards-list products-row scroll-item">
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Цифровая наружная реклама (DOOH)</p>
              <p class="products-card__description">Цифровая наружная реклама с программатик-закупкой</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Цифровая Indoor реклама</p>
              <p class="products-card__description">Цифровая реклама в торговых точках</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Цифровая аудиореклама</p>
              <p class="products-card__description">Цифровая аудиореклама на ресурсах компании</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Онлайн- видеореклама</p>
              <p class="products-card__description">Рекламные ролики на ресурсах компании и партнеров</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Статичная реклама</p>
              <p class="products-card__description">Статичные рекламные форматы на ресурсах компании и партнеров</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul> -->
      </div>
      <div class="business__chapter" id="chapter-2">
        <div class="business__banner scroll-item">
          <div class="business__banner-bg">
            <img src="../../img/business-banner-bg-2.png" alt="" class="business__banner-bg-pic" />
          </div>
          <h2 class="business__chapter-title title-h2">
            <span class="animate-row">
              <span class="animate-item">Цифровые</span>
            </span>
            <span class="animate-row">
              <span class="animate-item">технологии</span>
            </span>
          </h2>
          <p class="business__chapter-description anim-content">
            Прорывные решения для повышения эффективности бизнеса, в основе которых— многолетний опыт развития интернета и технологии на базе открытого кода
          </p>
        </div>
        <ul class="business__cards-list products-row scroll-item">
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-8.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Cloud Solutions</p>
              <p class="products-card__description">Платформа облачных сервисов для бизнеса и разработчиков</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-2.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Cloud Solutions</p>
              <p class="products-card__description">Построение облака на инфраструктуре клиента</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-9.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Tarantool</p>
              <p class="products-card__description">Платформа in-memory вычислений</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-2.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK HR Solutions</p>
              <p class="products-card__description">Корпоративная социализация и управление опытом сотрудника</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-10.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Assistant</p>
              <p class="products-card__description">Платформа интеллектуальной роботизации бизнес-процессов</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-10.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Teams</p>
              <p class="products-card__description">Коммуникационная платформа для эффективной командной работы</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-10.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Process Mining</p>
              <p class="products-card__description">Процессная и предиктивная аналитика</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-10.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Monitoring</p>
              <p class="products-card__description">Платформа цифрового взаимодействия бизнеса и государства</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-21.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Workspace</p>
              <p class="products-card__description">Облачные сервисы для организации рабочего места</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
      <div class="business__chapter" id="chapter-3">
        <div class="business__banner scroll-item">
          <div class="business__banner-bg">
            <img src="../../img/business-banner-bg-3.png" alt="" class="business__banner-bg-pic" />
          </div>
          <h2 class="business__chapter-title title-h2">
            <span class="animate-row">
              <span class="animate-item">Данные</span>
            </span>
            <span class="animate-row">
              <span class="animate-item">и&nbsp;аналитика</span>
            </span>
          </h2>
          <p class="business__chapter-description anim-content">
            Технологии и сервисы позволяют работать с данными, анализировать метрики проектов в режиме реального времени и прогнозировать важные для бизнеса показатели
          </p>
        </div>
        <ul class="business__cards-list products-row scroll-item">
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-11.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">PREDICT</p>
              <p class="products-card__description">Разработка аналитических сервисов на основе машинного обучения</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">myTracker</p>
              <p class="products-card__description">Мультиплатформенная система аналитики и атрибуции</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">DMP</p>
              <p class="products-card__description">Платформа для объединения, хранения и использования данных для задач бизнеса</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
      <div class="business__chapter" id="chapter-4">
        <div class="business__banner scroll-item">
          <div class="business__banner-bg">
            <img src="../../img/business-banner-bg-4.png" alt="" class="business__banner-bg-pic" />
          </div>
          <h2 class="business__chapter-title title-h2">
            <span class="animate-row">
              <span class="animate-item">Образование</span>
            </span>
          </h2>
          <p class="business__chapter-description anim-content">Образовательные проекты для школьников, студентов и профессионалов ИТ-индустрии</p>
        </div>
        <ul class="business__cards-list products-row scroll-item">
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-2.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">VK Образование</p>
              <p class="products-card__description">Образовательные проекты для школьников, студентов и профессионалов ИТ-индустрии</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-12.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">GeekBrains</p>
              <p class="products-card__description">Ведущая платформа дополнительного профессионального онлайн-образования</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-13.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Skillbox</p>
              <p class="products-card__description">Портал для обучения программированию, маркетингу, дизайну и управлению с нуля</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-14.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">All Cups</p>
              <p class="products-card__description">Площадка для проведения ИТ-чемпионатов</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-15.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">SkillFactory</p>
              <p class="products-card__description">Обучение цифровым профессиям: работа с данными, машинное обучение и другие</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-16.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Учи.ру</p>
              <p class="products-card__description">Платформа для школьного и самостоятельного обучения</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-17.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Тетрика</p>
              <p class="products-card__description">Подготовка по школьным предметам и экзаменам ЕГЭ и ОГЭ</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-18.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Алгоритмика</p>
              <p class="products-card__description">Школа математики и программирования для детей от 6 до 17 лет.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="business__cards-list-item products-row__item">
            <a href="#" class="business__card products-card">
              <div class="products-card__logo">
                <img src="../../img/business-card-logo-22.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Сферум</p>
              <p class="products-card__description">Онлайн-платформа для обучения и образовательных коммуникаций</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
      <div class="business__chapter" id="chapter-5">
        <div class="business__banner scroll-item">
          <div class="business__banner-bg">
            <img src="../../img/business-banner-bg-5.png" alt="" class="business__banner-bg-pic" />
          </div>
          <h2 class="business__chapter-title title-h2">
            <span class="animate-row">
              <span class="animate-item">Финансы</span>
            </span>
          </h2>
          <p class="business__chapter-description anim-content">
            Технологический сервис позволяет сотрудникам партнеров гибко управлять финансами, не дожидаясь официального дня получения аванса или зарплаты
          </p>
          <ul class="business__banner-list banner-products-row anim-content">
            <li class="banner-products-row__item">
              <a href="#" class="banner-products-card">
                <div class="banner-products-card__logo">
                  <img src="../../img/business-card-logo-19.png" alt="" class="products-card__logo-img" />
                </div>
                <p class="banner-products-card__name text-xl">Pay Day</p>
                <p class="banner-products-card__description">Сервис для выплаты части заработанных средств сотрудникам до дня зарплаты</p>
                <button class="products-card__show"></button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="business__chapter" id="chapter-6">
        <div class="business__banner scroll-item">
          <div class="business__banner-bg">
            <img src="../../img/business-banner-bg-6.png" alt="" class="business__banner-bg-pic" />
          </div>
          <h2 class="business__chapter-title title-h2">
            <span class="animate-row">
              <span class="animate-item">Социальные</span>
            </span>
            <span class="animate-row">
              <span class="animate-item">проекты</span>
            </span>
          </h2>
          <p class="business__chapter-description anim-content">
            Направление VK Социальные проекты разрабатывает для компаний инициативы в этой сфере — от проекта до КСО-стратегии,— и помогает честным фондам
          </p>
          <ul class="business__banner-list banner-products-row anim-content">
            <li class="banner-products-row__item">
              <a href="#" class="banner-products-card">
                <div class="banner-products-card__logo">
                  <img src="../../img/business-card-logo-20.svg" alt="" class="products-card__logo-img" />
                </div>
                <p class="banner-products-card__description">Создание эффективных и полезных для общества проектов вместе с партнерами</p>
                <button class="products-card__show"></button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
