<div style="padding-top: 50px" class="container container_content scroll-item">
  <!-- LARGE CARD -->
  <a href="#" class="card card_large">
    <div class="card__pic">
      <img src="../../img/card-large-photo.svg" alt="" class="card__pic-photo" width="624" height="442" />
      <div class="card__pic-bg">
        <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
      </div>
    </div>
    <div class="card__content">
      <p class="card__subtitle">26 августа</p>
      <h5 class="card__title">All Cups и&nbsp;hh.ru узнали, с&nbsp;какими трудностями сталкиваются HR-менеджеры при найме IT-специалистов</h5>
      <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
      <div class="card__bottom-wrapper">
        <button class="card__show"></button>
      </div>
    </div>
  </a>
  <!-- /LARGE CARD -->

  <!-- LARGE CARD WITH ALL -->
  <a href="#" class="card card_large card_invert card_bg-color-2 card_bg-patter-type-3 card_bg-patter-color-1">
    <div class="card__pic">
      <!-- <img width="624" height="442" src="" alt="" class="card__pic-photo" /> -->
      <div class="card__pic-bg">
        <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
      </div>
    </div>
    <div class="card__content">
      <p class="card__subtitle">26 августа</p>
      <h5 class="card__title">Online Demo Day «Цифровой университет» от&nbsp;Mail.ru Group</h5>
      <button class="card__button btn">Регистрация</button>
      <div class="card__bottom-wrapper">
        <p class="card__clarification">Начало события в 17.00</p>
        <button class="card__show"></button>
      </div>
    </div>
  </a>
  <!-- /LARGE CARD WITH ALL -->

  <div style="padding-top: 50px" class="cards__row cards__row_medium">
    <!-- MEDIUM CARD -->
    <a href="#" class="card card_vertical card_medium">
      <div class="card__content">
        <p class="card__subtitle">Панорама</p>
        <h5 class="card__title">Как мировой рынок такси переживает карантин — и&nbsp;чего ждать в&nbsp;России</h5>
        <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /MEDIUM CARD -->

    <!-- MEDIUM CARD WITH PHOTO -->
    <a href="#" class="card card_vertical card_medium card_bg-color-3 card_bg-patter-type-1 card_bg-patter-color-3">
      <div class="card__pic">
        <img width="282" height="200" src="" alt="" class="card__pic-photo" />
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">Х причин почему</p>
        <h5 class="card__title">Зачем делать видеозвонки в почте</h5>
        <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /MEDIUM CARD WITH PHOTO -->

    <!-- MEDIUM CARD WITH PHOTO AND BUTTON -->
    <a href="#" class="card card_vertical card_medium card_with-photo card_with-button">
      <div class="card__pic">
        <img src="../../img/card-medium-photo.svg" alt="" class="card__pic-photo" width="282" height="200" />
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">23 июля</p>
        <h5 class="card__title">TBD PRO: Game Design NG+</h5>
        <button class="card__button btn">Регистрация</button>
        <div class="card__bottom-wrapper">
          <p class="card__clarification">Начало события в 17.00</p>
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /MEDIUM CARD WITH PHOTO AND BUTTON -->

    <!-- MEDIUM CARD WITH PHOTO -->
    <a href="#" class="card card_vertical card_medium card_bg-color-1 card_bg-patter-type-2 card_bg-color-type-2">
      <div class="card__pic">
        <img width="282" height="200" src="" alt="" class="card__pic-photo" />
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">Х причин почему</p>
        <h5 class="card__title">Зачем делать видеозвонки в почте</h5>
        <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /MEDIUM card WITH PHOTO -->
  </div>

  <div style="padding-bottom: 50px" class="cards__row cards__row_small cards__row_without_border_top">
    <!-- SMALL CARD -->
    <a href="#" class="card card_vertical card_small">
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /SMALL CARD -->

    <!-- SMALL card WITH BOTTOM WRAPPER -->
    <a href="#" class="card card_vertical card_small">
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
        <div class="card__bottom-wrapper">
          <p class="card__clarification">Начало события в 17.00</p>
          <button class="card__show"></button>
        </div>
        <div class="card__more-borders"></div>
      </div>
    </a>
    <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

    <!-- SMALL CARD WITH PHOTO -->
    <a href="#" class="card card_vertical card_small card_bg-color-3 card_bg-patter-type-2 card_bg-patter-color-2">
      <div class="card__pic">
        <img width="282" height="200" src="" alt="" class="card__pic-photo" />
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Worki сменил имя на VK Работа</h5>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /SMALL CARD WITH PHOTO -->

    <!-- SMALL CARD WITH BOTTOM WRAPPER -->
    <a href="#" class="card card_vertical card_small">
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
        <div class="card__bottom-wrapper">
          <p class="card__clarification">Начало события в 17.00</p>
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
    </a>
    <!-- /SMALL CARD WITH BOTTOM WRAPPER -->
  </div>

  <!-- MAIN CARD -->
  <a href="#" class="card card_main">
    <div class="card__pic">
      <img width="1348" height="674" src="../../img/card-main-bg.svg" alt="" class="card__pic-photo" />
      <div class="card__pic-bg">
        <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
      </div>
    </div>
    <div class="card__content">
      <p class="card__subtitle">22 августа</p>
      <h5 class="card__title">Приглашение на&nbsp;обзор стратегии MY.GAMES</h5>
      <div class="card__bottom-wrapper">
        <button class="card__show"></button>
      </div>
    </div>
  </a>
  <!-- /MAIN CARD -->

  <!-- MAIN CARD WITH BOTTOM WRAPPER -->
  <a href="#" class="card card_main card_bg-color-1 card_bg-patter-type-2 card_bg-patter-color-1">
    <div class="card__pic">
      <!-- <img src="" width="1348" height="674" alt="" class="card__pic-photo" /> -->
      <div class="card__pic-bg">
        <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
      </div>
    </div>
    <div class="card__content">
      <p class="card__subtitle">22 августа</p>
      <h5 class="card__title">Online Demo Day «Цифровой университет» от Mail.ru Group</h5>
      <button class="card__button btn">Регистрация</button>
      <div class="card__bottom-wrapper">
        <p class="card__clarification">Начало события в 17.00</p>
        <button class="card__show"></button>
      </div>
    </div>
  </a>
  <!-- /MAIN CARD WITH BOTTOM WRAPPER -->

  <!-- MAIN CARD WITH AUTHOR -->
  <a href="#" class="card card_main card_bg-patter-color-2">
    <div class="card__pic">
      <!-- <img src="" alt="" class="card__pic-photo" /> -->
      <div class="card__pic-bg">
        <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
        <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
      </div>
    </div>
    <div class="card__content">
      <p class="card__subtitle">Х причин почему</p>
      <h5 class="card__title">71% пользователей соцсетей покупали товары у друзей</h5>
      <p class="card__author">Одна из крупнейших социальных сетей в России и странах ближнего зарубежья. ОК – платформа для выражения искренних эмоций.</p>
      <div class="card__bottom-wrapper">
        <button class="card__show"></button>
      </div>
    </div>
  </a>
  <!-- /MAIN CARD WITH AUTHOR -->
</div>
