<section class="contacts">
  <div class="container container_content">
    <ul class="contacts__list">
      <li class="contacts-item scroll-item">
        <a href="#" class="contact-card anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-moskow.jpg" width="322" height="440" alt="Вид на Москву">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Москва</h3>
            <p class="text-m contact-card__address">125167, Ленинградский проспект 39, стр. 79</p>
            <div class="card__show contact-card__card-show"></div>
          </div>
        </a>
      </li>

      <li class="contacts-item contacts-item_shift contacts-item_shift-right scroll-item">
        <a href="#" class="contact-card anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-spb-zinger.jpg" width="322" height="440" alt="Вид на Санкт-Петербург">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Санкт-Петербург Зингер</h3>
            <p class="text-m contact-card__address">191186, г. Санкт-Петербург, Невский пр., 28, этаж 5</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item scroll-item">
        <a href="#" class="contact-card contact-card_size_small anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-spb.jpg" width="322" height="440" alt="Вид на Москву">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Санкт-Петербург</h3>
            <p class="text-m contact-card__address">191024, г. Санкт-Петербург, ул. Херсонская д. 12-14, БЦ "Ренессанс Правда"</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item contacts-item_shift contacts-item_shift-almost-right scroll-item">
        <a href="#" class="contact-card contact-card_size_small anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-voronezh.jpg" width="322" height="440" alt="Вид на Воронеж">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Воронеж</h3>
            <p class="text-m contact-card__address">394026, г. Воронеж, пр-кт Труда, д. 65</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item scroll-item">
        <a href="#" class="contact-card anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-limasol.jpg" width="322" height="440" alt="Вид на Лимасол">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Лимасол</h3>
            <p class="text-m contact-card__address">28th Oktovriou, 365, Vashiotis Seafront, Office 402, Neapoli, 3107 Limassol, Cyprus</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item scroll-item ">
        <a href="#" class="contact-card contact-card_size_small anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-nn.jpg" width="322" height="440" alt="Вид на Нижний Новгород">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Нижний Новгород</h3>
            <p class="text-m contact-card__address">603006. Нижний Новгород, ул. Ковалихинская, дом 8, этаж 8</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item scroll-item">
        <a href="#" class="contact-card contact-card_size_small anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-la.jpg" width="322" height="440" alt="Вид на Лос-Анджелес">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Лос-Анджелес</h3>
            <p class="text-m contact-card__address">21700 Oxnard Street, Suite 630 Woodland Hills, California 91367</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item contacts-item_shift contacts-item_shift-almost-left scroll-item">
        <a href="#" class="contact-card anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-amsterdam.jpg" width="322" height="440" alt="Вид на Амстердам">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Амстердам</h3>
            <p class="text-m contact-card__address">Barbara Strozzilaan 201, 1083 HN, Amsterdam, the Netherlands</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>

      <li class="contacts-item scroll-item">
        <a href="#" class="contact-card anim-content">
          <div class="contact-card__img">
            <img src="../../img/contacts-riga.jpg" width="322" height="440" alt="Вид на Ригу">
          </div>
          <div class="contact-card__desc">
            <h3 class="text-xl contact-card__title">Рига</h3>
            <p class="text-m contact-card__address">Ulbrokas iela 23, Rīga, LV-1021, Latvia</p>
            <button class="card__show contact-card__card-show"></button>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="contacts__bg-wrapper">
    <svg class="contacts__bg">
      <use xlink:href="#patter-2" />
    </svg>
  </div>
</div>
</section>
