<section
  class="divisions divisions_color_green divisions_patter-type_4 scroll-item"
>
  <div class="container container_content">
    <h2 class="divisions__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Департаменты</span>
      </span>
      <span class="animate-row">
        <span class="animate-item">и отделы</span>
      </span>
    </h2>

    <dl class="divisions__list anim-content">
      <div class="divisions__list-item">
        <dt class="text-m">Отдел продаж</dt>
        <dd class="text-xl">
          <a href="mailto:sales@corp.mail.ru" class="divisions__link"
            >sales@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Мероприятия</dt>
        <dd class="text-xl">
          <a href="mailto:events@corp.mail.ru" class="divisions__link"
            >events@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Юридический отдел</dt>
        <dd class="text-xl">
          <a href="mailto:legal_dep@corp.mail.ru" class="divisions__link"
            >legal_dep@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Маркетинг</dt>
        <dd class="text-xl">
          <a href="mailto:marketing@corp.mail.ru" class="divisions__link"
            >marketing@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Отдел по связям с инвесторами</dt>
        <dd class="text-xl">
          <a href="mailto:ir@corp.mail.ru" class="divisions__link"
            >ir@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Пресс-служба</dt>
        <dd class="text-xl">
          <a href="mailto:pr@corp.mail.ru" class="divisions__link"
            >pr@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Отдел продаж Tarantool. Цифровизация бизнеса</dt>
        <dd class="text-xl">
          <a href="mailto:sales@tarantool.io" class="divisions__link"
            >sales@tarantool.io</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Образовательные экскурсии</dt>
        <dd class="text-xl">
          <a href="mailto:edutour@corp.mail.ru" class="divisions__link"
            >edutour@corp.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Сервисы «Mail.ru для бизнеса»</dt>
        <dd class="text-xl">
          <a href="mailto:info@biz.mail.ru" class="divisions__link"
            >info@biz.mail.ru</a
          >
        </dd>
      </div>

      <div class="divisions__list-item">
        <dt class="text-m">Техподдержка</dt>
        <dd class="text-xl">
          <a href="mailto:help.mail.ru" class="divisions__link">help.mail.ru</a>
        </dd>
      </div>
    </dl>
  </div>

  <div class="divisions__bg-wrapper">
    <svg class="divisions__bg divisions__bg_patter-type_1">
      @@include('_svg-patter-1.html')
    </svg>
    <svg class="divisions__bg divisions__bg_patter-type_2">
      @@include('_svg-patter-2.html')
    </svg>
    <svg class="divisions__bg divisions__bg_patter-type_3">
      @@include('_svg-patter-3.html')
    </svg>
    <svg class="divisions__bg divisions__bg_patter-type_4">
      @@include('_svg-patter-4.html')
    </svg>
  </div>
</section>
