<section class="events-page">
  <div class="container container_content">
    <div class="section-controls">
      <div class="section-controls__inputs">
        <div class="custom-select section-controls__select section-controls__select--year" data-select="" data-name="some-year" data-id="some-year">
          <span class="custom-select__label section-controls__select-label">год</span>
          <button class="custom-select__button section-controls__select-btn" type="button" aria-label="Выберите год">
            <span class="custom-select__text"></span><span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list section-controls__select-list" role="listbox">
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2021" aria-selected="true" role="option">
              2021
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2020" aria-selected="false" role="option">
              2020
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2019" aria-selected="false" role="option">
              2019
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2018" aria-selected="false" role="option">
              2018
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2017" aria-selected="false" role="option">
              2017
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2016" aria-selected="false" role="option">
              2016
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2015" aria-selected="false" role="option">
              2015
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2014" aria-selected="false" role="option">
              2014
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2013" aria-selected="false" role="option">
              2013
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2012" aria-selected="false" role="option">
              2012
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2011" aria-selected="false" role="option">
              2011
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2010" aria-selected="false" role="option">
              2010
            </li>
          </ul>
        </div>
        <div class="section-controls__search-block search-block">
          <label class="search-block__label" for="search-block__input"></label>
          <input
            id="search-block__input"
            class="search-block__input"
            type="text"
            placeholder="Подписаться"
          />
        </div>
      </div>
      <div class="section-controls__btns">
        <button class="section-controls__btn btn btn_subscribe" data-modal="subscribe-form">
          Подписаться
        </button>
      </div>
    </div>

    <!-- MAIN CARD WITH BOTTOM WRAPPER -->
    <a
      href="#"
      class="
        card
        card_main
        card_bg-color-1
        card_bg-patter-type-2
        card_bg-patter-color-1
      "
    >
      <div class="card__pic">
        <img
          src="../../img/events-photo-1.jpg"
          width="1348"
          height="674"
          alt=""
          class="card__pic-photo"
        />
        <div class="card__pic-bg">
          <svg class="card__pic-bg-img card__pic-bg-img_1">
            @@include('_svg-patter-1.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_2">
            @@include('_svg-patter-2.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_3">
            @@include('_svg-patter-3.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_4">
            @@include('_svg-patter-4.html')
          </svg>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">19 августа</p>
        <h5 class="card__title">MY.GAMES AMA Session withGoogle</h5>
        <button class="card__button btn">Регистрация</button>
        <div class="card__bottom-wrapper">
          <p class="card__clarification">Начало события в 17.00</p>
          <button class="card__show"></button>
        </div>
      </div>
    </a>
    <!-- /MAIN CARD WITH BOTTOM WRAPPER -->

    <div
      class="
        cards__row
        cards__row_medium
        cards__row_without_border_top
        cards__row_without_border_bottom
      "
    >
      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-2
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Golang Online Meetup</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-7
          card_bg-patter-type-4
          card_bg-patter-color-9
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">
            Online Demo Day «Цифровой университет» от Mail.ru Group
          </h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-6.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-7.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">
            Обзор сложившихся практик и подходов к изменению IT-архитектур
          </h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <!-- LARGE CARD -->
    <a href="#" class="card card_large">
      <div class="card__pic">
        <img
          src="../../img/events-photo-8.jpg"
          alt=""
          class="card__pic-photo"
          width="624"
          height="442"
        />
        <div class="card__pic-bg">
          <svg class="card__pic-bg-img card__pic-bg-img_1">
            @@include('_svg-patter-1.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_2">
            @@include('_svg-patter-2.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_3">
            @@include('_svg-patter-3.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_4">
            @@include('_svg-patter-4.html')
          </svg>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">26 августа</p>
        <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
        <button class="card__button btn">Регистрация</button>
        <div class="card__bottom-wrapper">
          <p class="card__clarification">Начало события в 14.00</p>
          <button class="card__show"></button>
        </div>
      </div>
    </a>
    <!-- /LARGE CARD -->

    <div
      class="
        cards__row
        cards__row_medium
        cards__row_without_border_top
        cards__row_without_border_bottom
      "
    >
      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-2
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-3
          card_bg-patter-type-2
          card_bg-patter-color-2
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-2.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">
            Обзор сложившихся практик и подходов к изменению IT-архитектур
          </h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-3.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — Frontend Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <div
      class="
        cards__row
        cards__row_medium
        cards__row_without_border_top
        cards__row_without_border_bottom
      "
    >
      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-2
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-4.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-7
          card_bg-patter-type-4
          card_bg-patter-color-9
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">
            Обзор сложившихся практик и подходов к изменению IT-архитектур
          </h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-7
          card_bg-patter-type-4
          card_bg-patter-color-9
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-5.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>
  </div>

  <div class="colored-block colored-block_green">
    <div class="container container_content">
      <div
        class="
          cards__row
          cards__row_small
          cards__row_without_border_top
          cards__row_without_border_bottom
        "
      >
        <!-- SMALL CARD WITH PHOTO -->
        <a
          href="#"
          class="
            card
            card_vertical
            card_medium
            card_bg-color-8
            card_bg-patter-type-4
            card_bg-patter-color-8
          "
        >
          <div class="card__pic">
            <img
              width="282"
              height="200"
              src=""
              alt=""
              class="card__pic-photo"
            />
            <div class="card__pic-bg">
              <svg class="card__pic-bg-img card__pic-bg-img_1">
                @@include('_svg-patter-1.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
              -->
                @@include('_svg-patter-2.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_3">
                @@include('_svg-patter-3.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_4">
                @@include('_svg-patter-4.html')
              </svg>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">23 июля</p>
            <h5 class="card__title">TBD PRO: Game Design NG+</h5>
            <button class="card__button btn">Регистрация</button>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH PHOTO -->
        <a
          href="#"
          class="
            card
            card_vertical
            card_medium
            card_bg-color-7
            card_bg-patter-type-4
            card_bg-patter-color-9
          "
        >
          <div class="card__pic">
            <img
              width="282"
              height="200"
              src="../../img/events-photo-9.jpg"
              alt=""
              class="card__pic-photo"
            />
            <div class="card__pic-bg">
              <svg class="card__pic-bg-img card__pic-bg-img_1">
                @@include('_svg-patter-1.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
              -->
                @@include('_svg-patter-2.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_3">
                @@include('_svg-patter-3.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_4">
                @@include('_svg-patter-4.html')
              </svg>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">23 июля</p>
            <h5 class="card__title">
              Обзор сложившихся практик и подходов к изменению IT-архитектур
            </h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH PHOTO -->
        <a
          href="#"
          class="
            card
            card_vertical
            card_medium
            card_bg-color-7
            card_bg-patter-type-4
            card_bg-patter-color-9
          "
        >
          <div class="card__pic">
            <img
              width="282"
              height="200"
              src="../../img/events-photo-10.jpg"
              alt=""
              class="card__pic-photo"
            />
            <div class="card__pic-bg">
              <svg class="card__pic-bg-img card__pic-bg-img_1">
                @@include('_svg-patter-1.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
                -->
                @@include('_svg-patter-2.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_3">
                @@include('_svg-patter-3.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_4">
                @@include('_svg-patter-4.html')
              </svg>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">23 июля</p>
            <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH PHOTO -->
        <a
          href="#"
          class="
            card
            card_vertical
            card_medium
            card_bg-patter-type-1
            card_bg-patter-color-8
          "
        >
          <div class="card__pic">
            <img
              width="282"
              height="200"
              src="../../img/events-photo-11.jpg"
              alt=""
              class="card__pic-photo"
            />
            <div class="card__pic-bg">
              <svg class="card__pic-bg-img card__pic-bg-img_1">
                @@include('_svg-patter-1.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
                -->
                @@include('_svg-patter-2.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_3">
                @@include('_svg-patter-3.html')
              </svg>
              <svg class="card__pic-bg-img card__pic-bg-img_4">
                @@include('_svg-patter-4.html')
              </svg>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">23 июля</p>
            <h5 class="card__title">TBD PRO: Game Design NG+</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->
      </div>

      <!-- LARGE CARD WITH ALL -->
      <a
        href="#"
        class="
          card
          card_large
          card_invert
          card_bg-color-4
          card_bg-patter-type-2
          card_bg-patter-color-4
        "
      >
        <div class="card__pic">
          <img
            src="../../img/events-photo-12.jpg"
            alt=""
            class="card__pic-photo"
            width="624"
            height="442"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">26 августа</p>
          <h5 class="card__title">
            Online Demo Day «Цифровой университет» от Mail.ru Group
          </h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 14.00</p>
            <button class="card__show"></button>
          </div>
        </div>
      </a>
      <!-- /LARGE CARD WITH ALL -->
    </div>
  </div>

  <div class="container container_content">
    <div class="cards__row cards__row_medium cards__row_without_border_top">
      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-2
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-3
          card_bg-patter-type-2
          card_bg-patter-color-2
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-2.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">
            Обзор сложившихся практик и подходов к изменению IT-архитектур
          </h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-3.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — Frontend Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <div class="cards__row cards__row_medium cards__row_without_border_top">
      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-2
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-4.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-7
          card_bg-patter-type-4
          card_bg-patter-color-9
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">
            Обзор сложившихся практик и подходов к изменению IT-архитектур
          </h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-color-7
          card_bg-patter-type-4
          card_bg-patter-color-9
        "
      >
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
        href="#"
        class="
          card
          card_vertical
          card_medium
          card_bg-patter-type-1
          card_bg-patter-color-8
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/events-photo-5.jpg"
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <div class="timeline__loading"></div>
  </div>
</section>
