<section class="events scroll-item">
  <div class="container container_content">
    <h2 class="events__title title-h2">
      <span class="animate-row">
        <span class="animate-item">События</span>
      </span>
    </h2>
    <div class="cards__row cards__row_medium">
      <!-- MEDIUM CARD -->
      <a href="#" class="card card_vertical card_medium">
        <div class="card__content">
          <p class="card__subtitle">Панорама</p>
          <h5 class="card__title">Как мировой рынок такси переживает карантин — и&nbsp;чего ждать в&nbsp;России</h5>
          <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /MEDIUM CARD -->

      <!-- MEDIUM CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_medium card_bg-color-3 card_bg-patter-type-1 card_bg-patter-color-3">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">Х причин почему</p>
          <h5 class="card__title">Зачем делать видеозвонки в почте</h5>
          <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /MEDIUM CARD WITH PHOTO -->

      <!-- MEDIUM CARD WITH PHOTO AND BUTTON -->
      <a href="#" class="card card_vertical card_medium card_with-photo card_with-button">
        <div class="card__pic">
          <img src="../../img/card-medium-photo.svg" alt="" class="card__pic-photo" width="282" height="200" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /MEDIUM CARD WITH PHOTO AND BUTTON -->

      <!-- MEDIUM CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_medium card_bg-color-1 card_bg-patter-type-2 card_bg-color-type-2">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">Х причин почему</p>
          <h5 class="card__title">Зачем делать видеозвонки в почте</h5>
          <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /MEDIUM card WITH PHOTO -->
    </div>
    <a href="#" class="events__show-all btn btn_primary">Смотреть все события</a>
  </div>
</section>
