<section class="event">
  <div class="container container_content">
    <h2 class="text-xl event__title">О мероприятии</h2>
    <p class="text-l event__paragraph">Открытый онлайн-саммит про геймдизайн на разных платформах. </p>
    <p class="text-l event__paragraph">Куратором события выступит студия Pixonic, входящая в состав MY.GAMES. Расскажем, как работают игровые механики на разных платформах и как выстраивать взаимодействие с другими направлениями разработки. 2 дня — 2 стрима. В первый день поговорим про консольные и мобильные проекты, во второй день — про ПК-проекты и пайплайн работы.</p>
    <p class="text-l event__paragraph">Актуальная программа доступна на странице мероприятия: <a href="https://tbd.games" target="_blank" rel="noopener noreferrer">https://tbd.games</a></p>

    <h2 class="text-xl event__title">Доклады, кейсы и дискуссии о создании игр на ПК,
      консолях и мобильных платформах</h2>
    <p class="text-l event__paragraph">«Завлабами» на нашей площадке станут кристаллограф, доктор физико-математических наук, PhD, профессор РАН, профессор Сколтех Артём Ромаевич Оганов и научная журналистка, популяризатор науки, автор видеоблога «Всё как у зверей» Евгения Тимонова, которая завершит мероприятие своей лекцией «Великие кризисы: 4 больших неприятности, которые сделали нас людьми».</p>
    <p class="text-l event__paragraph">Принять участие в «Лабораторной» сможет любой желающий старше 12 лет.</p>
    <p class="text-l event__paragraph">Мероприятие состоится 8 февраля в офисе Mail.ru Group (Ленинградский проспект 39 стр. 79, м. Аэропорт) в 15:00 (сбор гостей с 14:30). Регистрация обязательна. Не забудьте взять с собой документ, удостоверяющий личность!</p>

    <h2>Список</h2>
    <p>Параграф с описанием</p>
    <ul>
      <li>Элемент списка</li>
      <li>Элемент списка</li>
      <li>Элемент списка</li>
    </ul>
    
    <div class="event__footer">
      @@include('../components/_article-footer.html')
    </div>
  </div>
  <div class="event__actions">
    <div class="container container_content event__container">
      <div class="event__date">
        <p class="event__date-day">28</p>
        <div class="event__date-wrapper">
          <p class="event__date-month-and-year">июля 2021 года</p>
          <p class="event__date-time">Начало события в 17.00</p>
        </div>
      </div>
      <button class="btn event__btn" data-modal="event-registration">Регистрация</button>
      <div class="event__bg">
        @@include('_svg-patter-3.html')
      </div>
    </div>
  </div>
</section>
