<section class="focus">
  <div class="container container_content">
    <!-- LARGE CARD -->
    <a href="#" class="card card_large card_bg-color-6 card_bg-patter-type-1 card_bg-patter-color-7">
      <div class="card__pic">
        <div class="card__pic-bg">
          <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
          <svg class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</svg>
          <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
          <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">26 августа</p>
        <h5 class="card__title">DonationAlerts объявил сезон Warface: Global Operations</h5>
        <div class="card__bottom-wrapper">
          <p class="card__author">Известия</p>
          <button class="card__show"></button>
        </div>
      </div>
    </a>

    <div class="cards__row cards__row_small cards__row_without_border_top cards__row_without_border_bottom">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Канобу</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">«Сферум» и Белгородская область заключили соглашение о сотрудничестве для развития цифровой образовательной среды</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Комсомольская правда</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group стала цифровым партнером СИБУРа</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Известия</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group и СПбГУТ подписали меморандум об образовательном сотрудничестве в сфере ИИ-технологий на ПМЭФ-2021</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">ТАСС</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->
    </div>
  </div>
  <div class="colored-block colored-block_light-blue">
    <div class="container container_content">
      <div class="cards__row cards__row_small cards__row_without_border_top cards__row_without_border_bottom">
        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Worki сменил имя на VK Работа</h5>
            <div class="card__bottom-wrapper">
              <p class="card__author">Канобу</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->

        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">«Сферум» и Белгородская область заключили соглашение о сотрудничестве для развития цифровой образовательной среды</h5>
            <div class="card__bottom-wrapper">
              <p class="card__author">Комсомольская правда</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->

        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Приглашение на обзор стратегии MY.GAMES</h5>
            <div class="card__bottom-wrapper">
              <p class="card__author">Известия</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->

        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Mail.ru Group и СПбГУТ подписали меморандум об образовательном сотрудничестве в сфере ИИ-технологий на ПМЭФ-2021</h5>
            <div class="card__bottom-wrapper">
              <p class="card__author">ТАСС</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->
      </div>
    </div>
  </div>
  <div class="container container_content">
    <div class="cards__row cards__row_small cards__row_without_border_top">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Канобу</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">«Сферум» и Белгородская область заключили соглашение о сотрудничестве для развития цифровой образовательной среды</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Комсомольская правда</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group стала цифровым партнером СИБУРа</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Известия</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group и СПбГУТ подписали меморандум об образовательном сотрудничестве в сфере ИИ-технологий на ПМЭФ-2021</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">ТАСС</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->
    </div>
    <div class="cards__row cards__row_small cards__row_without_border_top">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Канобу</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">«Сферум» и Белгородская область заключили соглашение о сотрудничестве для развития цифровой образовательной среды</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Комсомольская правда</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group стала цифровым партнером СИБУРа</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">Известия</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group и СПбГУТ подписали меморандум об образовательном сотрудничестве в сфере ИИ-технологий на ПМЭФ-2021</h5>
          <div class="card__bottom-wrapper">
            <p class="card__author">ТАСС</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->
    </div>
  </div>
  <div class="timeline__loading"></div>
</section>
