<footer class="footer">
  <div class="container container_content">
    <nav class="footer__menu">
      <div class="footer__column">
        <div class="footer__links footer__links_favorite">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">О компании</a>
            </li>
          </ul>
        </div>
        <div class="footer__links">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">Что такое VK</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Команда</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Социальная ответственность</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Образование</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__links footer__links_favorite">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">Проекты</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Для бизнеса</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Карьера</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Прессе</a>
            </li>
          </ul>
        </div>
        <div class="footer__links">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">Пресс-релизы</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Контакты пресс-службы</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Визуальный стиль</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__links footer__links_favorite">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">Инвесторам</a>
            </li>
          </ul>
        </div>
        <div class="footer__links">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">Информационные материалы</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Финансовые отчеты</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Презентации</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Корпоративное управление</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Акции и акционерный капитал</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Аналитики</a>
            </li>
          </ul>
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">Календарь</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Вспомогательные материалы</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Контакты для инвесторов</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">В фокусе</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Отчеты об устойчивом развитии (ESG)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__links footer__links_favorite">
          <ul class="footer__links-list">
            <li class="footer__item">
              <a href="#" class="footer__link">События</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="footer__bottom-wrapper">
      <div class="footer__logo-wrapper">
        <a href="#" class="footer__logo">
          <svg width="42" height="42">
            <use xlink:href="#icon-social-vkontakte" />
          </svg>
        </a>
        <p class="footer__copyright footer__copyright_mobile">© 2021 VK</p>
      </div>
      <ul class="footer__social social">
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="24" height="24">
              <use xlink:href="#icon-social-vkontakte" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="14" height="24">
              <use xlink:href="#icon-social-odnoklasniki" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="25" height="24">
              <use xlink:href="#icon-social-facebook" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="25" height="24">
              <use xlink:href="#icon-social-instagram" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="24" height="24">
              <use xlink:href="#icon-social-youtube" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="27" height="21">
              <use xlink:href="#icon-social-twitter" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="#" class="social-link">
            <svg width="24" height="24">
              <use xlink:href="#icon-social-h" />
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__copyright footer__copyright_desktop">© 2021 VK</p>
    </div>
  </div>
</footer>
