<section class="for-investors-news">
  <div class="container container_content">
    <h1 class="for-investors-news__title title-h2">Новости</h1>

    <!-- LARGE CARD -->
    <a href="#" class="
      card
      card_large
      card_bg-color-2
      card_bg-patter-type-4
      card_bg-patter-color-13
    ">
      <div class="card__pic">
        <div class="card__pic-bg">
          <svg class="card__pic-bg-img card__pic-bg-img_1">
            @@include('_svg-patter-1.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_2">
            @@include('_svg-patter-2.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_3">
            @@include('_svg-patter-3.html')
          </svg>
          <svg class="card__pic-bg-img card__pic-bg-img_4">
            @@include('_svg-patter-4.html')
          </svg>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">26 августа</p>
        <h5 class="card__title">
          Mail.ru Group дополнительно инвестирует в СП AliExpress Россия 60,3 млн долларов
        </h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
      </div>
    </a>
    <!-- /LARGE CARD -->

    <div
    class="
      cards__row
      cards__row_medium
      cards__row_without_border_top
    ">
      <!-- SMALL CARD WITH PHOTO -->
      <a
      href="#"
      class="
        card
        card_vertical
        card_small
      "
      >
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Mail.ru Group
          выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
      href="#"
      class="
        card
        card_vertical
        card_small
        card_bg-color-2
        card_bg-patter-type-2
        card_bg-patter-color-13
      "
      >
        <div class="card__pic">
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
      href="#"
      class="
        card
        card_vertical
        card_small
      "
      >
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Приглашение на обзор стратегии MY.GAMES</h5>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a
      href="#"
      class="
        card
        card_vertical
        card_small
        card_bg-color-2
        card_bg-patter-type-1
        card_bg-patter-color-13
      "
      >
        <div class="card__pic">
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
      <div class="card__content">
        <p class="card__subtitle">22 августа</p>
        <h5 class="card__title">Названы лучшие фильмы и сериалы полугодия</h5>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
      <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <button class="for-investors-news__btn btn btn_primary">
      Смотреть все новости
    </button>
  </div>
</section>

<section class="financial-reports-block">
  <div class="container container_content">
    <div class="financial-reports-block__banner banner">
      <div class="banner__wrapper">
        <div class="banner__bg">
          <img src="../../img/financial-reports.jpg" width="1348" height="674" alt="">
        </div>
        <div class="banner__content">
          <h2 class="banner__title title-h2">Финансовые отчеты</h2>
        </div>
      </div>
    </div>

    <div class="documents-archive documents-archive__summary">
      <ul class="documents-archive__list">
        <li class="documents-archive__item scroll-item">
          <h3 class="title-h3 documents-archive__year">
            <span class="animate-row">
              <span class="animate-item">2021</span>
            </span>
          </h3>

          <ul class="documents-archive__year-list anim-content">
            <li class="documents-archive__year-item">
              <a
                href="../../files/example.pdf"
                class="documents-archive__link"
                download
                rel="noopener noreferrer"
              >
                <p class="text-m documents-archive__file-data">
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">
                  МСФО отчетность за 1 квартал 2021
                </p>
              </a>
            </li>
          </ul>
        </li>

        <li class="documents-archive__item scroll-item">
          <h3 class="title-h3 documents-archive__year">
            <span class="animate-row">
              <span class="animate-item">2020</span>
            </span>
          </h3>

          <ul class="documents-archive__year-list anim-content">
            <li class="documents-archive__year-item">
              <a
                href="../../files/example.pdf"
                class="documents-archive__link"
                download
                rel="noopener noreferrer"
              >
                <p class="text-m documents-archive__file-data">
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">
                  Годовой отчет Mail.ru Group 2020
                </p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a
                href="../../files/example.pdf"
                class="documents-archive__link"
                download
                rel="noopener noreferrer"
              >
                <p class="text-m documents-archive__file-data">
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">
                  МСФО отчетность за 2020
                </p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a
                href="../../files/example.pdf"
                class="documents-archive__link"
                download
                rel="noopener noreferrer"
              >
                <p class="text-m documents-archive__file-data">
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">
                  МСФО отчетность за 2 квартал 2020
                </p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a
                href="../../files/example.pdf"
                class="documents-archive__link"
                download
                rel="noopener noreferrer"
              >
                <p class="text-m documents-archive__file-data">
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">
                  МСФО отчетность за 1 квартал 2020
                </p>
              </a>
            </li>
          </ul>
        </li>
      <ul>
    </div>

    <button class="financial-reports-block__btn btn btn_primary">
      Смотреть все отчеты
    </button>
  </div>
</section>

<section class="team team_for-investors scroll-item">
  <div class="container container_content">
    <h2 class="team__title title-h2">
      <span class="animate-row">
        <span class="animate-item">
          Корпоративное 
        </span>
      </span>
      <span class="animate-row">
        <span class="animate-item">
          управление
        </span>
      </span>
    </h2>
    <ul class="team__list">
      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-01.jpg" width="322" height="522" alt="Портретное фото Дмитрия Гришина">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Гришин</h3>
            <p class="text-m manager-card__position">Председатель совета директоров и сооснователь VK, неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-02.jpg" width="322" height="522" alt="Портретное фото Дмитрия Сергеева">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Дмитрий Сергеев</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-03.jpg" width="322" height="522" alt="Портретное фото Владимира Габриеляна">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Владимир Габриелян</h3>
            <p class="text-m manager-card__position">Первый заместитель генерального директора</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-04.jpg" width="322" height="522" alt="Портретное фото Жако Ван Дер Мерве">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Жако Ван Дер Мерве</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-05.jpg" width="322" height="522" alt="Портретное фото Александры Бурико">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Александра Бурико</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-06.jpg" width="322" height="522" alt="Портретное фото Яна Буне">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Ян Буне</h3>
            <p class="text-m manager-card__position">Независимый директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-07.jpg" width="322" height="522" alt="Портретное фото Сан Хун Ким">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Сан Хун Ким</h3>
            <p class="text-m manager-card__position">Независимый директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-08.jpg" width="322" height="522" alt="Портретное фото Ульяна Антоновой">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Ульяна Антонова</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-09.jpg" width="322" height="522" alt="Портретное фото Чарльз Сирл">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Чарльз Сирл</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>

      <li class="team-item scroll-item">
        <a href="#" class="manager-card anim-content">
          <div class="manager-card__photo">
            <img src="../../img/manager-photo-10.jpg" width="322" height="522" alt="Портретное фото Марк Ремон Сорор">
          </div>
          <div class="manager-card__desc">
            <h3 class="text-xl manager-card__name">Марк Ремон Сорор</h3>
            <p class="text-m manager-card__position">Неисполнительный директор</p>
          </div>
        </a>
      </li>
    </ul>
    <svg class="team__bg">
      <use xlink:href="#patter-4" />
    </svg>
  </div>
</section>

<section class="share-capital">
  <div class="container container_content">
    <h2 class="share-capital__title title-h2">Акции и <br>акционерный капитал</h2>

    <p class="share-capital__desc-title title-h4">Shareholders’ economic interest as of 31 March 2021</p>

    <p class="share-capital__desc text-xl">225,571,004 shares issued and outsanding</p>

    <div class="share-capital__img">
      <img src="../../img/share-capital.png" width="921" height="558" alt="Shareholders’ economic interest as of 31 March 2021">
    </div>
  </div>
</section>

<section class="statutory-documents scroll-item">
  <div class="container container_content">
    <h2 class="statutory-documents__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Уставные документы</span>
      </span>
    </h2>
    <div class="documents-archive anim-content">
      <ul class="documents-archive__year-list">
        <li class="documents-archive__year-item">
          <a
            href="../../files/example.pdf"
            class="documents-archive__link"
            download
            rel="noopener noreferrer"
          >
            <p class="text-m documents-archive__file-data">
              <span>2021</span>
              <span>pdf</span>
            </p>
            <p class="text-xl documents-archive__file-name">
              Уведомление о <br>проведении ГОСА 2021
            </p>
          </a>
        </li>

        <li class="documents-archive__year-item">
          <a
            href="../../files/example.pdf"
            class="documents-archive__link"
            download
            rel="noopener noreferrer"
          >
            <p class="text-m documents-archive__file-data">
              <span>2021</span>
              <span>pdf</span>
            </p>
            <p class="text-xl documents-archive__file-name">
              Резолюция акционеров от 11 июня 2021 года
            </p>
          </a>
        </li>

        <li class="documents-archive__year-item">
          <a
            href="../../files/example.pdf"
            class="documents-archive__link"
            download
            rel="noopener noreferrer"
          >
            <p class="text-m documents-archive__file-data">
              <span>2021</span>
              <span>pdf</span>
            </p>
            <p class="text-xl documents-archive__file-name">
              Форма доверенности для голосования 2021
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
