<section class="projects projects_landing-page scroll-item">
  <div class="container container_content">
    <div class="projects__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Больше 200 наших проектов и сервисов для вас</span>
      </span>
    </div>
    <div class="projects__desc text-xl">
      <span class="animate-row">
        <span class="animate-item">Общайтесь, работайте, отдыхайте, учитесь новому и наполняйте дни яркими моментами:</span>
      </span>
    </div>
    <div class="projects-swiper swiper anim-content">
      <div class="projects__cards-wrapper swiper-wrapper">
        <div class="projects__cards-slide swiper-slide">
          <div class="projects__cards">
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-1.png" alt="Delivery Club" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Delivery Club</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-2.png" alt="Delivery Club" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Мой Мир</p>
            </div>
            <div class="projects__card projects__card_large">
              <video class="projects__card-video" src="../../files/projects-1.mp4" muted autoplay loop></video>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-5.png" alt="Boom" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Boom</p>
            </div>
            <div class="projects__card projects__card_large">
              <video class="projects__card-video" src="../../files/projects-2.mp4" muted autoplay loop></video>
            </div>
            <div class="projects__card projects__card_medium">
              <video class="projects__card-video" src="../../files/projects-3.mp4" muted autoplay loop></video>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-9.png" alt="Atom" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Atom</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-10.png" alt="Учи.ру" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Учи.ру</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-11.png" alt="AliExpress Россия" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">AliExpress Россия</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-3.png" alt="Delivery Club" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Boosty.to</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-4.png" alt="Delivery Club" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Ситимобил</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-6.png" alt="Юла" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Юла</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-7.png" alt="Skillbox" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Skillbox</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-8.png" alt="myTracker" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">myTracker</p>
            </div>
            <div class="projects__card projects__card_large">
              <video class="projects__card-video" src="../../files/projects-5.mp4" muted autoplay loop></video>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-12.png" alt="Кухня на районе" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Кухня на районе</p>
            </div>
            <div class="projects__card projects__card_medium">
              <video class="projects__card-video" src="../../files/projects-4.mp4" muted autoplay loop></video>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-13.png" alt="Самокат" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Самокат</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-14.png" alt="Облако" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Облако</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-15.png" alt="ВКонтакте" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">ВКонтакте</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-16.png" alt="Такси ВКонтакте" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Такси ВКонтакте</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-17.png" alt="Одноклассники" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Одноклассники</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-18.png" alt="GeekBrains" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">GeekBrains</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-19.png" alt="Еда ВКонтакте" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">Еда ВКонтакте</p>
            </div>
            <div class="projects__card">
              <div class="projects__card-logo">
                <img src="../../img/projects-logo-20.png" alt="ICQ" class="projects__card-logo-pic" />
              </div>
              <p class="projects__card-name">ICQ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="projects__show-all btn btn_primary">Смотреть все проекты</a>
  </div>
</section>
