<section class="manager-summary">
  <div class="container container_content manager-summary__container">
    <div class="manager-summary__data">
      <h2 class="manager-summary__name">Дмитрий Гришин</h2>
      <p class="manager-summary__thesis">Председатель совета директоров и сооснователь Mail.ru Group</p>
      <p class="manager-summary__thesis">Член совета директоров с марта 2012</p>
    </div>
    <div class="manager-summary__photo">
      <img src="../../img/manager-photo-square-01.jpg" width="660px" height="660" alt="Фотография сотрудника">
    </div>
  </div>
</section>
<section class="manager-bio">
  <div class="container container_content">
    <h2 class="manager-bio__title title-h3 title-h4">Биография</h2>
    <p class="manager-bio__paragraph text-l">Дмитрий Гришин является председателем совета директоров и сооснователем Mail.ru Group. С 1998 по 2001 гг. работал в американской IT-компании, в 2000 году пришел в netBridge Services (впоследствии Mail.ru) руководителем отдела разработки. В апреле 2003 года занял позицию генерального директора Mail.ru. В 2005 году выступил одним из сооснователей Mail.ru Group. Под его руководством в ноябре 2010 года компания провела IPO на Лондонской фондовой бирже. В 2012 году Дмитрий Гришин занял позицию главы совета директоров компании. При непосредственном участии Дмитрия в 2011 году Mail.ru Group открыла технопарк в МГТУ имени Баумана, где ежегодно более 240 студентов завершают основную программу и семестровые курсы. За вклад в создание новых технологических рынков журнал MIT Technology Review включил Гришина в список «Инноваторы до 35» 2013 года в предпринимательской категории. В 2017 году Дмитрий Гришин стал «Бизнесменом года» по версии GQ.</p>
  </div>
  <div class="manager-bio__decor">
    <svg width="941" height="618">
      <use xlink:href="#patter-4" />
    </svg>
  </div>
</section>
