<section class="manager-feedback scroll-item">
  <div class="container container_content anim-content manager-feedback__container">
    <div class="manager-feedback__feedback">
      <div class="manager-feedback__wrapper">
        <p class="text-xl manager-feedback__content">
          «Мы рады огласить итоги голосования по вопросу избрания членов в совет
          директоров и повторное назначение независимых директоров. Мы хотим
          поблагодарить всех наших директоров за их вклад и самоотдачу. Нам
          приятно будет продолжить работу с теми, кто был избран повторно,
          и с новыми директорами».
        </p>
        <img
          class="manager-feedback__photo-mobile"
          src="../../img/manager-photo-01.jpg"
          width="143"
          height="105"
          alt="Портретное фото Дмитрия Гришина"
        />
        <h3 class="text-xl manager-feedback__author">Дмитрий Гришин</h3>
        <p class="text-m manager-feedback__author-position">
          Председатель совета директоров и сооснователь Mail.ru Group
        </p>
      </div>
      <img
        class="manager-feedback__photo-desctop"
        src="../../img/manager-photo-01.jpg"
        width="322"
        height="440"
        alt="Портретное фото Дмитрия Гришина"
      />
    </div>
  </div>
  <div class="manager-feedback__decor">
    @@include('_svg-patter-4.html')
  </div>
</section>
