<section class="materials">
  <div class="container container_content">
    <ul class="materials__annual-list">
      <li class="materials__annual-item scroll-item">
        <h2 class="title-h3 materials__year">
          <span class="animate-row">
            <span class="animate-item">2021</span>
          </span>
        </h2>
        <ul class="materials__month-list anim-content">
          <li class="materials__month-item">
            <p class="text-s materials__date">Июнь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Июнь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Школа инвесторов - Диалог с Mail.ru Group</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Апрель</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Апрель</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Mail.ru Group 1Q21 Earnings Call - Transcript</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Апрель</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q1 results – audio replay</p>
                  <div class="text-s materials__file-type">
                    <svg width="31" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-audio"></use>
                    </svg>
                    <span>audio</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Апрель</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q1 results – webcast</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Апрель</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">AliExpress Russia Business Update - replay</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Апрель</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Транскрипт вебинара «Квартальная трансляция для индивидуальных инвесторов»</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Март</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Презентация "Квартальная трансляция для индивидуальных инвесторов"</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Видео "Квартальная трансляция для индивидуальных инвесторов"</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Аудио "Квартальная трансляция для индивидуальных инвесторов"</p>
                  <div class="text-s materials__file-type">
                    <svg width="31" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-audio"></use>
                    </svg>
                    <span>audio</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Quarterly 2020 financial numbers excluding pro-forma.xlsx</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Mail.ru Group 4Q Earnings Call-Transcript</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q4 results – audio replay</p>
                  <div class="text-s materials__file-type">
                    <svg width="31" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-audio"></use>
                    </svg>
                    <span>audio</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q4 results – webcast</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">4Q20 results highlights</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Март</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">4Q20 results highlights</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="materials__annual-item scroll-item">
        <h2 class="title-h3 materials__year">
          <span class="animate-row">
            <span class="animate-item">2020</span>
          </span>
        </h2>
        <ul class="materials__month-list anim-content">
          <li class="materials__month-item">
            <p class="text-s materials__date">Декабрь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Декабрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">MY.GAMES studios launches</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Декабрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Segments – reference stats (2019)</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Декабрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">MOEX Home Talks</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Ноябрь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Ноябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Инвестиционный вебинар с Mail.ru Group</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Октябрь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Октябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">3Q20 results highlights</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Октябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Финам Premium</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Октябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Финам Premium</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Октябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q3 results – conf call transcript</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Октябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q3 results – audio replay</p>
                  <div class="text-s materials__file-type">
                    <svg width="31" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-audio"></use>
                    </svg>
                    <span>audio</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="materials__annual-item scroll-item">
        <h2 class="title-h3 materials__year">
          <span class="animate-row">
            <span class="animate-item">2019</span>
          </span>
        </h2>
        <ul class="materials__month-list anim-content">
          <li class="materials__month-item">
            <p class="text-s materials__date">Ноябрь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Ноябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">MY.GAMES studios launches</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Октябрь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Октябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Segments – reference stats (2019)</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Сентябрь</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Сентябрь</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">MOEX Home Talks</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-doc"></use>
                    </svg>
                    <span>doc</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Июль</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Июль</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Инвестиционный вебинар с Mail.ru Group</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Май</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Май</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">3Q20 results highlights</p>
                  <div class="text-s materials__file-type">
                    <svg width="22" height="27" class="materials__file-icon">
                      <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span>pdf</span>
                  </div>
                </a>
              </li>

              <li class="materials__item">
                <p class="text-s materials__date-mobile">Май</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Финам Premium</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="materials__month-item">
            <p class="text-s materials__date">Апрель</p>
            <ul class="materials__list">
              <li class="materials__item">
                <p class="text-s materials__date-mobile">Апрель</p>
                <a href="#" class="materials__link download rel="noopener noreferrer">
                  <p class="text-xl materials__name">Q3 results – webcast</p>
                  <div class="text-s materials__file-type">
                    <svg width="30" height="22" class="materials__file-icon">
                      <use xlink:href="#icon-file-video"></use>
                    </svg>
                    <span>video</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <button class="materials__load-more-btn load-more-btn" type="button">
      <svg width="52" height="52">
        <use xlink:href="#icon-load-more"></use>
      </svg>
    </button>
  </div>
</section>
