<div class="modal modal--preload modal--subscribe-form">
  <div class="modal__wrapper">
    <div class="modal__overlay"></div>
    <div class="modal__content">
      <button class="modal__close-btn" type="button" aria-label="Закрыть окно"></button>

      <div class="modal-subscribe-form">
        <div class="text-xl modal-subscribe-form__title">Подписаться на пресс-релизы</div>

        <div data-validate data-callback="subscribeForm">
          <form method="get" action="https://echo.htmlacademy.ru">
            <div class="modal-subscribe-form__inputs">
              <div class="custom-input modal-subscribe-form__input" data-validate-type="email">
                <label
                  ><span class="custom-input__label">Email</span>
                  <input type="text" name="user-name" minlength="2" />
                </label>
                <div class="custom-input__error">Введите правильный адрес электронной почты</div>
              </div>

              <div class="custom-input modal-subscribe-form__input" data-validate-type="text" data-limitations="letters">
                <label
                  ><span class="custom-input__label">ФИО</span>
                  <input type="text" name="user-name" minlength="2" />
                </label>
                <div class="custom-input__error">Введите ФИО</div>
              </div>
            </div>

            <div class="modal-subscribe-form__inputs">
              <div class="custom-input modal-subscribe-form__input" data-validate-type="text" data-limitations="letters">
                <label
                  ><span class="custom-input__label">Компания, где вы работаете</span>
                  <input type="text" name="user-name" minlength="2" />
                </label>
                <div class="custom-input__error">Введите компанию, в которой вы работаете</div>
              </div>

              <div class="custom-select modal-subscribe-form__select" data-select="" data-name="subscribe-language" data-id="subscribe-language">
                <span class="custom-select__label">Предпочтительный язык общения</span>
                <button class="custom-select__button" type="button" aria-label="Выберите язык">
                  <span class="custom-select__text"></span><span class="custom-select__icon"></span>
                </button>
                <ul class="custom-select__list modal-subscribe-form__list" role="listbox">
                  <li class="custom-select__item" tabindex="0" data-select-value="russian" aria-selected="true" role="option">
                    Русский
                  </li>
                  <li class="custom-select__item" tabindex="0" data-select-value="english" aria-selected="false" role="option">
                    Английский
                  </li>
                </ul>
              </div>
            </div>

            <p class="modal-subscribe-form__conditions">На нашем сайте используется reCAPTCHA Google.</p>
            <p class="modal-subscribe-form__conditions"><a href="#">Политика конфиденциальности</a> и <a href="#">Условия использования</a>.</p>

            <button class="btn btn_primary modal-subscribe-form__submit-btn" type="submit">Отправить форму</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
