<section class="news-content">
  <div class="container container_content">
    <p class="text-l news-content__tex scroll-item">
      <span class="anim-content">Годовое общее собрание акционеров Mail.ru Group Limited (LSE: MAIL, далее «Mail.ru Group» или «Компания») состоялось в пятницу 11 июня 2021 года в 11:00 утра в кабинете 402 по адресу 28th October Street 365, Лимассол, Кипр.</span>
      </p>

    <p class="text-l news-content__tex scroll-item">
      <span class="anim-content">Все вопросы, вынесенные на рассмотрение Годового общего собрания акционеров, были утверждены в результате голосования акционерами и держателями глобальных депозитарных расписок.  С полным перечнем вопросов, вынесенных на Годовое общее собрание акционеров,  можно ознакомиться в Уведомлении о проведении Годового общего собрания акционеров по ссылке <br><a href="https://corp.mail.ru/ru/investors/management" target="_blank" rel="noopener noreferrer"><span>https://corp.mail.ru/ru/</span><br><span>investors/management/</span></a> (нумерация вопросов ниже соответствует нумерации, приведенной в Уведомлении о проведении Годового общего собрания акционеров)</span>
      .</p>
    <p class="text-xl news-content__tex scroll-item news-content__tex scroll-item_accent"><span class="anim-content">В результате голосования в Совет директоров Компании в соответствии с пунктом 10.5 устава Mail.ru Group были избраны:</span></p>

    <div class="news-content__managers-slider ">
      <ul class="news-content__managers managers-list">
        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-01.jpg" width="322" height="440" alt="Портретное фото Дмитрия Гришина">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Дмитрий Гришин</h3>
              <p class="text-m manager-card__position">Председатель совета директоров и сооснователь Mail.ru Group</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-02.jpg" width="322" height="440" alt="Портретное фото Дмитрия Сергеева">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Дмитрий Сергеев</h3>
              <p class="text-m manager-card__position">Директор</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-03.jpg" width="322" height="440" alt="Портретное фото Владимира Габриеляна">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Владимир Габриелян</h3>
              <p class="text-m manager-card__position">Директор</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-04.jpg" width="322" height="440" alt="Портретное фото Жако Ван Дер Мерве">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Жако Ван Дер Мерве</h3>
              <p class="text-m manager-card__position">Директор</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-05.jpg" width="322" height="440" alt="Портретное фото Александры Бурико">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Александра Бурико</h3>
              <p class="text-m manager-card__position">Председатель совета директоров и сооснователь Mail.ru Group</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-08.jpg" width="322" height="440" alt="Портретное фото Ульяна Антоновой">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Ульяна Антонова</h3>
              <p class="text-m manager-card__position">Директор</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-09.jpg" width="322" height="440" alt="Портретное фото Чарльз Сирл">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Чарльз Сирл</h3>
              <p class="text-m manager-card__position">Директор</p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <p class="text-l news-content__tex scroll-item"><span class="anim-content">Подробная информация в отношении каждого члена Совета директоров доступна по адресу  <br<a href="https://corp.mail.ru/en/investors/management/" target="_blank" rel="noopener noreferrer"><span></span>https://corp.mail.ru/en/</span><br><span>investors/management/</span></a></span></p>

    <p class="text-l news-content__tex scroll-item"><span class="anim-content">Данное заявление сделано согласно требованиям Правил листинга п. 14.3.6 и п. 14.3.7.</span></p>

    <p class="text-l news-content__tex scroll-item"><span class="anim-content">Поскольку решение по вопросу 2 (как указано в Уведомлении о проведении Годового общего собрания акционеров) не касается обычной хозяйственной деятельности Компании, в соответствии с Правилами листинга п. 14.3.6(2) копия решения была направлена в Национальную систему хранения информации Великобритании (National Storage Mechanism), организованную Управлением по финансовому регулированию и надзору, и будет доступна по адресу: <br><a href="https://data.fca.org.uk/#/nsm/nationalstoragemechanism" target="_blank" rel="noopener noreferrer"><span>https://data.fca.org.uk/#</span><br><span>/nsm/nationalstoragemechanism</span></a></span> </p>

    <p class="text-l news-content__tex scroll-item"><span class="anim-content">Копия решений по результатам проведения Годового общего собрания акционеров будет доступна на сайте Компании: <a href="https://corp.mail.ru/" target="_blank" rel="noopener noreferrer">https://corp.mail.ru</a></span></p>

    <p class="text-l news-content__tex scroll-item"><span class="anim-content">Также по итогам проведения Годового общего собрания акционеров и вышеупомянутых назначений Компания объявляет о переизбрании действующих независимых директоров на последующий двухлетний период, на должности независимых директоров повторно назначены:</span></p>

    <div class="news-content__managers-slider">
      <ul class="news-content__managers news-content__managers_shift managers-list">
        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-06.jpg" width="322" height="440" alt="Портретное фото Яна Буне">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Ян Буне</h3>
              <p class="text-m manager-card__position">Независимый директор</p>
            </div>
          </a>
        </li>

        <li class="managers-list__manager managers-list__manager_no-border-bottom-mobile scroll-item">
          <a href="#" class="manager-card anim-content">
            <div class="manager-card__photo">
              <img src="../../img/manager-photo-07.jpg" width="322" height="440" alt="Портретное фото Сан Хун Ким">
            </div>
            <div class="manager-card__desc">
              <h3 class="text-xl manager-card__name">Сан Хун Ким</h3>
              <p class="text-m manager-card__position">Независимый директор</p>
            </div>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>
