<section class="news-press-releases scroll-item">
  <div class="container container_content">
    <h2 class="title__row results-press-releases__title title-h2">Пресс релизы</h2>
    <div class="results-press-releases__cards">
      <div
        class="
          cards__row
          cards__row_small
          cards__row_without_border_top
          cards__row_without_border_bottom
        "
      >
        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">
              Mail.ru Group выплатила более 2 миллионов долларов исследователям,
              которые проверяли сервисы компании на прочность
            </h5>
            <div class="card__bottom-wrapper">
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->

        <!-- SMALL CARD WITH PHOTO -->
        <a
        href="#"
        class="
          card
          card_vertical
          card_small
          card_bg-color-1
          card_bg-patter-type-4
          card_bg-patter-color-1
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src=""
            alt=""
            class="card__pic-photo"
          />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">
              @@include('_svg-patter-1.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">
              @@include('_svg-patter-3.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">
              @@include('_svg-patter-4.html')
            </svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL card WITH BOTTOM WRAPPER -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">
              Приглашение на обзор стратегии MY.GAMES
            </h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
            <div class="card__more-borders"></div>
          </div>
        </a>
        <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

        <!-- SMALL CARD WITH PHOTO -->
        <a
        href="#"
        class="
          card
          card_vertical
          card_small
        "
      >
        <div class="card__pic">
          <img
            width="282"
            height="200"
            src="../../img/best-moovies-fo-half-year.jpg"
            alt=""
            class="card__pic-photo"
          />
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Названы лучшие фильмы и сериалы полугодия</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
      </div>
      <!-- LARGE CARD -->
      <a href="#" class="card card_large">
        <div class="card__pic">
          <img
            src="../../img/women-in-pink.jpg"
            alt="4 обнимающихся друга"
            class="card__pic-photo"
            width="624"
            height="442"
          />
        </div>
        <div class="card__content">
          <p class="card__subtitle">26 августа</p>
          <h5 class="card__title">
            71% пользователей соцсетей покупали товары у друзей
          </h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
      </a>
      <!-- /LARGE CARD -->
    </div>
    <button class="results-press-releases__show-all btn btn_primary">
      Смотреть все пресс релизы
    </button>
  </div>
</section>
