<section class="page-header page-header_patter_turquoise-3 scroll-item">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <div class="page-header__sub-title anim-content">
        <span>07 июля 2021</span>
        <span>Информационные материалы</span>
      </div>
      <h1 class="page-header__title title-h3">
        <span class="animate-row">
          <span class="animate-item"> Delivery Club и Skillbox запустили образовательные гранты для курьеров </span>
        </span>
      </h1>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1">@@include('_svg-patter-1.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_2">@@include('_svg-patter-2.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_3">@@include('_svg-patter-3.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_4">@@include('_svg-patter-4.html')</div>
      </div>
    </div>
  </div>
</section>
