<section class="page-header page-header_big page-header_blue-light page-header_patter_blue-alt page-header_patter-type_4 scroll-item">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <h1 class="page-header__title title-h1">
        <span class="animate-row">
          <span class="animate-item">Социальная ответственность</span>
        </span>
      </h1>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1">
          @@include('_svg-patter-1.html')
        </div>
        <div class="page-header__bg page-header__bg_patter-type_2">
          @@include('_svg-patter-2.html')
        </div>
        <div class="page-header__bg page-header__bg_patter-type_3">
          @@include('_svg-patter-3.html')
        </div>
        <div class="page-header__bg page-header__bg_patter-type_4">
          @@include('_svg-patter-4.html')
        </div>
      </div>
    </div>
  </div>
</section>
