<section
  class="
    page-header
    page-header_purple2
    page-header_patter_pink-bright
    page-header_patter-type_2
    scroll-item
  "
>
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <h1 class="page-header__title title-h1">
        <span class="animate-row">
          <span class="animate-item">Образование</span>
        </span>
      </h1>
      <p class="text-l page-header__desc anim-content">
        <span>Открываем путь в ИТ, помогаем совершенствоваться</span>
        <span>в профессии и осваивать новые специальности</span>
      </p>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1">
          @@include('_svg-patter-1.html')
        </div>
        <div class="page-header__bg page-header__bg_patter-type_2">
          @@include('_svg-patter-2.html')
        </div>
        <div class="page-header__bg page-header__bg_patter-type_3">
          @@include('_svg-patter-3.html')
        </div>
        <div class="page-header__bg page-header__bg_patter-type_4">
          @@include('_svg-patter-4.html')
        </div>
      </div>
    </div>
  </div>
</section>
