<section class="scroll-item page-header page-header_green-ligth page-header_patter_green-deep page-header_patter-type_1">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <h1 class="page-header__title title-h3">
        <span class="animate-row">
          <span class="animate-item">Online Demo Day <br />«Цифровой университет» <br />от Mail.ru Group</span>
        </span>
      </h1>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1">@@include('_svg-patter-1.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_2">@@include('_svg-patter-2.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_3">@@include('_svg-patter-3.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_4">@@include('_svg-patter-4.html')</div>
      </div>
    </div>
  </div>

  <div class="container container_content page-header__container">
    <div class="page-header__optional-content">
      <div class="page-header__date anim-content">
        <p class="page-header__date-day">28</p>
        <div class="page-header__date-wrapper">
          <p class="page-header__date-month-and-year">июля 2021 года</p>
          <p class="page-header__date-time">Начало события в 17.00</p>
        </div>
      </div>
      <button class="anim-content btn page-header__btn" data-modal="event-registration">Регистрация</button>
    </div>
  </div>
</section>
