<section class="page-header page-header_service page-header_patter_blue page-header_patter-type_2 scroll-item">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <h1 class="page-header__title title-h2">
        <span class="animate-row">
          <span class="animate-item">Сервис</span>
        </span>
        <span class="animate-row">
          <span class="animate-item">недоступен</span>
        </span>
      </h1>
      <p class="text-l page-header__desc page-header__desc_small anim-content">
        На сервере произошла непредвиденная ошибка.<br />
        Попробуйте обновить страницу позже.
      </p>
      <a href="#" class="page-header__go-back btn btn_primary">Вернуться на главную</a>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1">@@include('_svg-patter-1.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_2">@@include('_svg-patter-2.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_3">@@include('_svg-patter-3.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_4">@@include('_svg-patter-4.html')</div>
      </div>
    </div>
  </div>
</section>
