<section class="page-header page-header_blue page-header_patter_turquoise-dark page-header_patter-type_2 scroll-item">
  <div class="container container_content">
    <div class="page-header__top-wrapper">
      <h1 class="page-header__title title-h1">
        <span class="animate-row">
          <span class="animate-item">О компании</span>
        </span>
      </h1>
      <div class="page-header__bg-wrapper">
        <div class="page-header__bg page-header__bg_patter-type_1">@@include('_svg-patter-1.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_2">@@include('_svg-patter-2.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_3">@@include('_svg-patter-3.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_4">@@include('_svg-patter-4.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_5">@@include('_svg-patter-5.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_6">@@include('_svg-patter-6.html')</div>
        <div class="page-header__bg page-header__bg_patter-type_7">@@include('_svg-patter-7.html')</div>
      </div>
    </div>
    <div class="page-header__cards anim-content">
      <div class="page-header__cards-wrapper swiper-wrapper">
        <div class="page-header__card swiper-slide">
          <h5 class="page-header__card-title text-xxl">Мы делаем современные и быстрые интернет-сервисы</h5>
          <p class="page-header__card-text">
            Которые помогают миллионам пользователей. С нами люди работают, решают бытовые задачи, учатся и развлекаются. Мы делаем их жизнь радостней и удобней. Более 90% пользователей Рунета
            ежедневно выбирают продукты Mail.ru Group.
          </p>
        </div>
        <div class="page-header__card swiper-slide">
          <h5 class="page-header__card-title text-xxl">Мы собрали команду профессионалов из самых разных областей.</h5>
          <p class="page-header__card-text">
            Это эксперты, которые умеют реализовывать необычные и сложные идеи и задачи. Вместе мы используем передовые технологии и учим их работать на благо общества. Развиваем интернет и определяем
            его будущее.
          </p>
        </div>
        <div class="page-header__card swiper-slide">
          <h5 class="page-header__card-title text-xxl">Мы всегда рады профи, которые разделяют наши стремления,</h5>
          <p class="page-header__card-text">
            Кому интересны наши задачи, кого не пугают вызовы и заводит наш драйв. Тем, у кого достаточно амбиций, чтобы каждый день вместе с нами формировать будущее интернета.
          </p>
        </div>
      </div>
      <div class="page-header__cards-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
