<section class="presentations">
  <div class="container container_content">
    <div class="documents-archive">
      <ul class="documents-archive-list">
        <li class="documents-archive__item scroll-item">
          <h3 class="title-h3 documents-archive__year">
            <span class="animate-row">
              <span class="animate-item">2021</span>
            </span>
          </h3>

          <ul class="documents-archive__year-list anim-content">
            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Апрель</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">1Q21 marketing pack</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Апрель</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">4Q20 marketing pack</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="documents-archive__item scroll-item">
          <h3 class="title-h3 documents-archive__year">
            <span class="animate-row">
              <span class="animate-item">2020</span>
            </span>
          </h3>

          <ul class="documents-archive__year-list anim-content">
            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Декабрь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Uchi Group</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Ноябрь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">SBER CIB инвестиционный семинар</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Октбярь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">3Q20 marketing pack</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Октбярь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Презентация для премиум-клиентов Тинькофф Инвестиций</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Сентябрь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">MY.GAMES - overview and strategy <br />Июль</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Июль</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">2Q20 marketing pack <br />Апрель</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Апрель</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">1Q20 marketing pack</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Февраль</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Mail.ru Group – 2020-2022 Strategy</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Февраль</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">4Q19 marketing pack</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="documents-archive__item scroll-item">
          <h3 class="title-h3 documents-archive__year">
            <span class="animate-row">
              <span class="animate-item">2019</span>
            </span>
          </h3>

          <ul class="documents-archive__year-list anim-content">
            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Декабрь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Delivery Club presentation (from Sberbank Analyst Day)</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Декарь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Citymobil presentation (from Sberbank Analyst Day)</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Октбярь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">3Q19 marketing pack <br />Сентябрь</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Сентябрь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Youla – overview & strategy</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Июль</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">2Q19 marketing pack <br />Июнь</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Июнь</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">Aliexpress Russia JV signing <br />Апрель</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Апрель</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">1Q20 marketing pack</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Апрель</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">1Q19 marketing pack</p>
              </a>
            </li>

            <li class="documents-archive__year-item">
              <a href="../../files/example.pdf" class="documents-archive__link" download rel="noopener noreferrer">
                <p class="text-m documents-archive__file-data">
                  <span>Февраль</span>
                  <span>pdf</span>
                </p>
                <p class="text-xl documents-archive__file-name">4Q19 marketing pack</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <button class="documents-archive__load-more-btn load-more-btn" type="button">
        <svg width="52" height="52">
          <use xlink:href="#icon-load-more"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
