<section class="press scroll-item">
  <div class="container container_content">
    <h2 class="press__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Пресс релизы</span>
      </span>
    </h2>
    <div class="press__cards">
      <!-- MAIN CARD WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_main card_bg-color-12 card_bg-patter-type-2 card_bg-patter-color-14">
        <div class="card__pic">
          <!-- <img src="../../img/press-card-1.jpg" width="1348" height="674" alt="" class="card__pic-photo" /> -->
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">26 августа</p>
          <h5 class="card__title">Приглашение на обзор стратегии MY.GAMES</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
      </a>
      <!-- /MAIN CARD WITH BOTTOM WRAPPER -->
      <div class="cards__row cards__row_small">
        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
            <div class="card__bottom-wrapper">
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->

        <!-- SMALL card WITH BOTTOM WRAPPER -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
            <div class="card__more-borders"></div>
          </div>
        </a>
        <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

        <!-- SMALL CARD WITH PHOTO -->
        <a href="#" class="card card_vertical card_small card_bg-color-3 card_bg-patter-type-2 card_bg-patter-color-2">
          <div class="card__pic">
            <img width="282" height="200" src="" alt="" class="card__pic-photo" />
            <div class="card__pic-bg">
              <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_5">@@include('_svg-patter-5.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_6">@@include('_svg-patter-6.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_7">@@include('_svg-patter-7.html')</div>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Worki сменил имя на VK Работа</h5>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH BOTTOM WRAPPER -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH BOTTOM WRAPPER -->
      </div>
      <!-- LARGE CARD -->
      <a href="#" class="card card_large">
        <div class="card__pic">
          <img src="../../img/card-large-photo.svg" alt="" class="card__pic-photo" width="624" height="442" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">26 августа</p>
          <h5 class="card__title">All Cups и&nbsp;hh.ru узнали, с&nbsp;какими трудностями сталкиваются HR-менеджеры при найме IT-специалистов</h5>
          <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
      </a>
      <!-- /LARGE CARD -->
    </div>
    <button class="press__show-all btn btn_primary">Смотреть все пресс-релизы</button>
  </div>
</section>
