<section class="projects-page">
  <div class="container container_content">
    <div class="projects-page__list-links-wrapper">
      <ul class="projects-page__list-links">
        <li class="projects-page__list-item-links">
          <a href="#chapter-1" class="projects-page__link">Соцсети</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-2" class="projects-page__link">Игры</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-3" class="projects-page__link">Образование</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-4" class="projects-page__link">Товары и услуги</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-5" class="projects-page__link">Еда и доставка</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-6" class="projects-page__link">Транспорт</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-7" class="projects-page__link">Продуктивность</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-8" class="projects-page__link">Устройства</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-9" class="projects-page__link">Медиапроекты<br />и развлечения</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-10" class="projects-page__link">Для авторов</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-11" class="projects-page__link">Социальные сервисы</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-12" class="projects-page__link">Здоровье</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-13" class="projects-page__link">Мессенджеры</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-14" class="projects-page__link">Информация и поиск</a>
        </li>
        <li class="projects-page__list-item-links">
          <a href="#chapter-15" class="projects-page__link">Экосистемные<br />сервисы</a>
        </li>
      </ul>
    </div>
    <div class="projects-page__select custom-select" data-select="" data-name="some-chapter" data-id="some-chapter">
      <span class="custom-select__label"></span>
      <button class="custom-select__button" type="button" aria-label="Выберите раздел"><span class="custom-select__text"></span><span class="custom-select__icon"></span></button>
      <ul class="custom-select__list" role="listbox">
        <!-- <li class="custom-select__item" tabindex="0" data-select-value="0" aria-selected="true" role="option">Все</li> -->
        <li class="custom-select__item" tabindex="0" data-select-value="1" aria-selected="true" role="option">Соцсети</li>
        <li class="custom-select__item" tabindex="0" data-select-value="2" aria-selected="false" role="option">Игры</li>
        <li class="custom-select__item" tabindex="0" data-select-value="3" aria-selected="false" role="option">Образование</li>
        <li class="custom-select__item" tabindex="0" data-select-value="4" aria-selected="false" role="option">Товары и услуги</li>
        <li class="custom-select__item" tabindex="0" data-select-value="5" aria-selected="false" role="option">Еда и доставка</li>
        <li class="custom-select__item" tabindex="0" data-select-value="6" aria-selected="false" role="option">Транспорт</li>
        <li class="custom-select__item" tabindex="0" data-select-value="7" aria-selected="false" role="option">Продуктивность</li>
        <li class="custom-select__item" tabindex="0" data-select-value="8" aria-selected="false" role="option">Устройства</li>
        <li class="custom-select__item" tabindex="0" data-select-value="9" aria-selected="false" role="option">Медиапроекты и развлечения</li>
        <li class="custom-select__item" tabindex="0" data-select-value="10" aria-selected="false" role="option">Для авторов</li>
        <li class="custom-select__item" tabindex="0" data-select-value="11" aria-selected="false" role="option">Социальные сервисы</li>
        <li class="custom-select__item" tabindex="0" data-select-value="12" aria-selected="false" role="option">Здоровье</li>
        <li class="custom-select__item" tabindex="0" data-select-value="13" aria-selected="false" role="option">Мессенджеры</li>
        <li class="custom-select__item" tabindex="0" data-select-value="14" aria-selected="false" role="option">Информация и поиск</li>
        <li class="custom-select__item" tabindex="0" data-select-value="15" aria-selected="false" role="option">Экосистемные сервисы</li>
      </ul>
    </div>
    <!-- <div class="projects-page__select select" data-custom-select>
      <button type="button" class="select__toggle" name="date" value="" data-select="toggle" data-index="-1">Все</button>

      <div class="select__dropdown">
        <ul class="select__options">
          <li class="select__option" data-select="option" data-value="Соцсети" data-index="1">
            <a href="#chapter-1">Соцсети</a>
          </li>
          <li class="select__option" data-select="option" data-value="Продуктивность" data-index="2">
            <a href="#chapter-2">Продуктивность</a>
          </li>
          <li class="select__option" data-select="option" data-value="Еда и доставка" data-index="3">
            <a href="#chapter-3">Еда и доставка</a>
          </li>
          <li class="select__option" data-select="option" data-value="Товары и услуги" data-index="4">
            <a href="#chapter-4">Товары и услуги</a>
          </li>
          <li class="select__option" data-select="option" data-value="Транспорт" data-index="5">
            <a href="#chapter-5">Транспорт</a>
          </li>
          <li class="select__option" data-select="option" data-value="Для авторов" data-index="6">
            <a href="#chapter-6">Для авторов</a>
          </li>
          <li class="select__option" data-select="option" data-value="Информация и поиск" data-index="7">
            <a href="#chapter-7">Информация и поиск</a>
          </li>
          <li class="select__option" data-select="option" data-value="Образование" data-index="8">
            <a href="#chapter-8">Образование</a>
          </li>
          <li class="select__option" data-select="option" data-value="Медиапроекты и развлечения" data-index="9">
            <a href="#chapter-9">Медиапроекты и развлечения</a>
          </li>
          <li class="select__option" data-select="option" data-value="Социальные сервисы" data-index="10">
            <a href="#chapter-10">Социальные сервисы</a>
          </li>
          <li class="select__option" data-select="option" data-value="Игры" data-index="11">
            <a href="#chapter-11">Игры</a>
          </li>
          <li class="select__option" data-select="option" data-value="Месседжеры" data-index="12">
            <a href="#chapter-12">Месседжеры</a>
          </li>
          <li class="select__option" data-select="option" data-value="Здоровье" data-index="13">
            <a href="#chapter-13">Здоровье</a>
          </li>
          <li class="select__option" data-select="option" data-value="Экосистемные сервисы" data-index="14">
            <a href="#chapter-14">Экосистемные сервисы</a>
          </li>
          <li class="select__option" data-select="option" data-value="Решения для бизнеса" data-index="15">
            <a href="#chapter-15">Решения для бизнеса</a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="projects-page__chapter scroll-item" id="chapter-1">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Соцсети</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-1.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Вконтакте</p>
            <p class="products-card__description">Самая популярная социальная сеть и первое суперприложение в России</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-2.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Одноклассники</p>
            <p class="products-card__description">Первая соцсеть в России, один из лидирующих видеосервисов</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Мой Мир</p>
            <p class="products-card__description">Первая соцсеть в экосистеме VK и платформа для игр</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-2">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Игры</span>
        </span>
      </h2>
      <div class="projects-page__cards-list-wrapper">
        <div class="projects-page__cards-list-bg">
          <img class="projects-page__cards-list-bg-pic" src="../../img/projects-page-chapter-bg-3.png" alt="" />
        </div>
        <ul class="projects-page__cards-list products-row anim-content">
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-37.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">MY.GAMES</p>
              <p class="products-card__description">Игры для ПК, консолей и смартфонов, в которые играют сотни миллионов геймеров.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-38.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Студии</p>
              <p class="products-card__description">Внутренние студии разработки, создающие уникальные игры</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-39.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">MGVC</p>
              <p class="products-card__description">Инвестиционное подразделение для развития игровых команд и проектов по всему миру</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-40.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">PLAYER ONE</p>
              <p class="products-card__description">Популярный ресурс об играх: новости, обзоры, околоигровые материалы.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-41.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">MY.GAMES Cloud</p>
              <p class="products-card__description">Любимые игры в облаке.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-3">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Образование</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-1.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK образование</p>
            <p class="products-card__description">Открываем путь в ИТ и помогаем совершенствоваться в профессии</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-22.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">All Cups</p>
            <p class="products-card__description">Площадка для проведения ИТ-чемпионатов.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-23.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Сферум</p>
            <p class="products-card__description">Онлайн-платформа для обучения и образовательных коммуникаций</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-24.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">GeekBrains</p>
            <p class="products-card__description">Портал для обучения программированию, маркетингу, дизайну и управлению с нуля.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-25.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Skillbox</p>
            <p class="products-card__description">Ведущая платформа дополнительного профессионального онлайн-образования</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-26.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">SkillFactory</p>
            <p class="products-card__description">Обучение цифровым профессиям: работа с данными, машинное обучение и др.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-27.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Алгоритмика</p>
            <p class="products-card__description">Школа математики и программирования для детей от 6 до 17 лет.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-28.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Учи.ру</p>
            <p class="products-card__description">Платформа для школьного и самостоятельного обучения</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-29.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Тетрика</p>
            <p class="products-card__description">Подготовка по школьным предметам и экзаменам ЕГЭ и ОГЭ</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-4">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Товары и услуги</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-13.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">AliExpress Россия</p>
            <p class="products-card__description">Покупки со всего мира</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-59.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK Работа</p>
            <p class="products-card__description">Сервис для быстрого поиска работы и сотрудников</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-14.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Юла</p>
            <p class="products-card__description">Сервис объявлений на основе геолокации и интересов</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-5">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Еда и доставка</span>
        </span>
      </h2>
      <div class="projects-page__cards-list-wrapper">
        <div class="projects-page__cards-list-bg">
          <img class="projects-page__cards-list-bg-pic" src="../../img/projects-page-chapter-bg-1.png" alt="" />
        </div>
        <ul class="projects-page__cards-list products-row anim-content">
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-8.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Delivery Club</p>
              <p class="products-card__description">Крупнейший в России сервис доставки готовой еды и продуктов</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-9.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Еда ВКонтакте</p>
              <p class="products-card__description">Для заказа еды и продуктов, не выходя из ВКонтакте.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-10.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Самокат</p>
              <p class="products-card__description">Онлайн-ритейлер с доставкой товаров за 15 минут</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-11.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Кухня на районе</p>
              <p class="products-card__description">Горячая домашняя еда с доставкой за 30 минут</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-12.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Performance Group</p>
              <p class="products-card__description">Крупнейший в стране производитель готовых рационов</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-6">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Транспорт</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-15.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Такси ВКонтакте</p>
            <p class="products-card__description">Заказ такси и доставки прямо ВКонтакте</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-16.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Ситимобил</p>
            <p class="products-card__description">Сервис городской мобильности: такси, электросамокаты, каршеринг, доставка</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-17.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Ситидрайв</p>
            <p class="products-card__description">Каршеринг-сервис в крупнейших российских городах</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-7">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Продуктивность</span>
        </span>
      </h2>
      <div class="projects-page__cards-list-wrapper">
        <div class="projects-page__cards-list-bg">
          <img class="projects-page__cards-list-bg-pic" src="../../img/projects-page-chapter-bg-2.png" alt="" />
        </div>
        <ul class="projects-page__cards-list products-row anim-content">
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Почта</p>
              <p class="products-card__description">Центр управления делами: Облако, Календарь, Задачи, Звонки и Новости</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-4.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Облако</p>
              <p class="products-card__description">Сервис для хранения файлов и совместной работы с ними.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-5.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Задачи</p>
              <p class="products-card__description">Инструмент для планирования дел.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-6.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Календарь</p>
              <p class="products-card__description">Планирование дня и эффективное управление временем.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-7.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Видеозвонки</p>
              <p class="products-card__description">Сервис видеосвязи с возможностью присоединения участников по ссылке.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-8">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Устройства</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-60.png" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Капсула</p>
            <p class="products-card__description">Умная колонка от VK с голосовым помощником Марусей</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-61.png" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Капсула Мини</p>
            <p class="products-card__description">Компактная умная колонка с Марусей — а еще с часами и глазками ^_^</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-9">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Медиапроекты и развлечения</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-30.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">BOOM</p>
            <p class="products-card__description">Музыкальное приложение: любимая музыка даже в режиме офлайн</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
      <h3 class="projects-page__chapter-subtitle title-h4">
        <span class="animate-row">
          <span class="animate-item">Медиапроекты</span>
        </span>
      </h3>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-31.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Новости</p>
            <p class="products-card__description">Актуальная информация о событиях страны и мира в самых удобных форматах</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-32.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Спорт</p>
            <p class="products-card__description">Все о главных спортивных событиях: новости, прогнозы, фото, видео, трансляции</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Дети</p>
            <p class="products-card__description">Медиа о семье, беременности, родах и воспитании детей</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Леди</p>
            <p class="products-card__description">Самый популярный женский сайт рунета: мода, стиль, красота и многое другое</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Авто</p>
            <p class="products-card__description">Материалы и сервисы для автомобилистов и всех, кто живет в движении</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Hi-Tech</p>
            <p class="products-card__description">Флагман изданий о технологиях: новости, обзоры и видеоматериалы о технике.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Кино</p>
            <p class="products-card__description">Агрегатор онлайн-кинотеатров, где можно смотреть фильмы и узнавать о новинках</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Дом</p>
            <p class="products-card__description">Все о недвижимости: от дизайна интерьера и нюансов строительства до выбора жилья</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Питомцы</p>
            <p class="products-card__description">Проект для хозяев кошек и собак с консультациями ветеринаров и магазином с кормами</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Здоровье</p>
            <p class="products-card__description">Ресурс о медицине и здоровом образе жизни с консультациями врачей и записью в клиники.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Все аптеки</p>
            <p class="products-card__description">Онлайн-сервис поиска и заказа лекарств по лучшей цене.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Hi-chef</p>
            <p class="products-card__description">Кулинарный проект с голосовым навигатором: тысячи рецептов и готовые меню</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-62.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Пульс</p>
            <p class="products-card__description">Лента персональных статей и видео, подобранных на основе интересов пользователя</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-10">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Для авторов</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-18.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Boosty.to</p>
            <p class="products-card__description">Платформа монетизации авторского контента</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-19.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">DonationAlerts</p>
            <p class="products-card__description">Сервис для стримеров: монетизация и повышение интерактивности трансляций</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-1.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK Talents</p>
            <p class="products-card__description">Гранты и программа поддержки талантливых авторов ВКонтакте</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <!-- <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Пульс</p>
            <p class="products-card__description">Рекомендательная система. Пользователям - интересный контент, брендам - продвижение.</p>
            <button class="products-card__show"></button>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-11">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Социальные сервисы</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-1.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Добро</p>
            <p class="products-card__description">Сервис для умной и честной благотворительности.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-33.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Благотворительность ВКонтакте</p>
            <p class="products-card__description">Поддержка благотворительности и совместное решение социальных проблем.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-34.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Добрые километры</p>
            <p class="products-card__description">Проект Ситимобила для помощи подопечным фондов — партнеров Добра Mail.ru</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-2.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Социальные проекты ОК</p>
            <p class="products-card__description">Онлайн-просвещение и помощь благотворительным фондам</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-35.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Облако для фондов</p>
            <p class="products-card__description">Бесплатный доступ к сервисам VK Cloud Platform</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <!-- <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-36.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">LoveAlerts</p>
            <p class="products-card__description">.</p>
            <button class="products-card__show"></button>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-12">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Здоровье</span>
        </span>
      </h2>
      <div class="projects-page__cards-list-wrapper">
        <div class="projects-page__cards-list-bg">
          <img class="projects-page__cards-list-bg-pic" src="../../img/projects-page-chapter-bg-4.png" alt="" />
        </div>
        <ul class="projects-page__cards-list products-row anim-content">
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-44.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Все аптеки</p>
              <p class="products-card__description">Онлайн-сервис поиска и заказа лекарств по лучшей цене.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <!-- <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-45.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Здоровье Mail.ru</p>
              <p class="products-card__description">Ресурс о медицине и здоровом образе жизни с консультациями врачей и записью в клиники.</p>
              <button class="products-card__show"></button>
            </a>
          </li> -->
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-46.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Здоровье ВКонтакте</p>
              <p class="products-card__description">Забота о здоровье, не выходя из ВКонтакте.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-13">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Мессенджеры</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-42.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">ICQ</p>
            <p class="products-card__description">Первый мессенджер на базе искусственного интеллекта.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-43.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">ТамТам</p>
            <p class="products-card__description">Удобный мессенджер с каналами, геосервисами и групповыми видеозвонками</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-14">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Информация и поиск</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Поиск</p>
            <p class="products-card__description">Умный поиск по интернету и соцсетям</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-3.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Ответы</p>
            <p class="products-card__description">Сервис для поиска ответа на любой вопрос и обмена опытом.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-20.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Atom</p>
            <p class="products-card__description">Браузер с акцентом на безопасности и приватности.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects-page__chapter scroll-item" id="chapter-15">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Экосистемные сервисы</span>
        </span>
      </h2>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-47.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Маруся</p>
            <p class="products-card__description">Голосовой помощник: включит музыку, ответит на вопросы, позвонит другу</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-48.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK Pay</p>
            <p class="products-card__description">Платежный сервис для безопасного и выгодного шопинга</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-49.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK ID</p>
            <p class="products-card__description">Единая учетная запись для проектов экосистемы VK</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-50.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK Combo</p>
            <p class="products-card__description">Подписка на скидки в экосистеме VK и предложения от партнеров</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-51.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">VK Mini Apps</p>
            <p class="products-card__description">Открытая платформа сервисов внутри соцсетей для решения повседневных задач</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="projects-page__chapter scroll-item" id="chapter-5677">
      <h2 class="projects-page__chapter-title title-h2">
        <span class="animate-row">
          <span class="animate-item">Решения для бизнеса</span>
        </span>
      </h2>
      <h3 class="projects-page__chapter-subtitle title-h4">
        <span class="animate-row">
          <span class="animate-item">Цифровые технологии</span>
        </span>
      </h3>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-52.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Mail.ru Cluds Solution</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-53.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Tarantool</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-54.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Process Mirror</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-54.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Цифровой ассистент</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-54.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Коммуникационная платформа</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-54.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Digital Insider</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-54.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Налоговый мониторинг</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-54.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Интернет вещей</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
      <h3 class="projects-page__chapter-subtitle title-h4">
        <span class="animate-row">
          <span class="animate-item">Маркетинговые решения</span>
        </span>
      </h3>
      <ul class="projects-page__cards-list products-row anim-content">
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-55.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Relap</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-56.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">myTarget</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-56.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">myTracker</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-21.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">DOOH</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-21.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">Digital Instore</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="projects-page__cards-list-item products-row__item">
          <a href="#" class="projects-page__card products-card">
            <div class="products-card__logo">
              <img src="../../img/projects-logo-57.svg" alt="" class="products-card__logo-img" />
            </div>
            <p class="products-card__name text-xl">PREDICT</p>
            <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
      <div class="projects-page__cards-combo">
        <h3 class="projects-page__chapter-subtitle title-h4">
          <span class="animate-row">
            <span class="animate-item">Для малого и среднего бизнеса</span>
          </span>
        </h3>
        <h3 class="projects-page__chapter-subtitle title-h4">
          <span class="animate-row">
            <span class="animate-item">Социальная ответственность</span>
          </span>
        </h3>
        <ul class="projects-page__cards-list products-row anim-content">
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-1.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">ВКонтакте для бизнеса</p>
              <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-2.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">ОК.Бизнес</p>
              <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
        <ul class="projects-page__cards-list products-row anim-content">
          <li class="projects-page__cards-list-item products-row__item">
            <a href="#" class="projects-page__card products-card">
              <div class="products-card__logo">
                <img src="../../img/projects-logo-58.svg" alt="" class="products-card__logo-img" />
              </div>
              <p class="products-card__name text-xl">Код Добра</p>
              <p class="products-card__description">Самая популярная соцсеть в&nbsp;СНГ и&nbsp;первое супперприложение в&nbsp;Росии.</p>
              <button class="products-card__show"></button>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</section>
