<section class="products scroll-item">
  <div class="container container_content anim-content">
    <div class="products__cards">
      <a href="#" class="products__card products__card_patter products__card_blue">
        <p class="products__card-title">Для бизнеса</p>
        <div class="products__card-bg-wrapper">
          <div class="products__card-bg">@@include('_svg-patter-1.html')</div>
        </div>
      </a>
      <a href="#" class="products__card products__card_blue">
        <p class="products__card-title">Соцсети</p>
      </a>
      <a href="#" class="products__card products__card_violet">
        <p class="products__card-title">Еда и доставка</p>
      </a>
      <a href="#" class="products__card products__card_pink-light">
        <p class="products__card-title">Транспорт</p>
      </a>
      <a href="#" class="products__card products__card_patter products__card_patter-3 products__card_violet">
        <p class="products__card-title">Медиа и развлечения</p>
        <div class="products__card-bg-wrapper">
          <div class="products__card-bg">@@include('_svg-patter-3.html')</div>
        </div>
      </a>
      <a href="#" class="products__card products__card_pink-light">
        <p class="products__card-title">Продуктивность</p>
      </a>
      <a href="#" class="products__card products__card_patter products__card_patter-3 products__card_green1">
        <p class="products__card-title">Социальные сервисы</p>
        <div class="products__card-bg-wrapper">
          <div class="products__card-bg">@@include('_svg-patter-3.html')</div>
        </div>
      </a>

      <a href="#" class="products__card products__card_turquoise">
        <p class="products__card-title">Здоровье</p>
      </a>
      <a href="#" class="products__card products__card_patter products__card_green2">
        <p class="products__card-title">Для авторов</p>
        <div class="products__card-bg-wrapper">
          <div class="products__card-bg">@@include('_svg-patter-2.html')</div>
        </div>
      </a>
      <a href="#" class="products__card products__card_patter products__card_blue">
        <p class="products__card-title">Мессенджеры</p>
        <div class="products__card-bg-wrapper">
          <div class="products__card-bg">@@include('_svg-patter-2.html')</div>
        </div>
      </a>
      <a href="#" class="products__card products__card_green1">
        <p class="products__card-title">Игры</p>
      </a>
      <a href="#" class="products__card products__card_patter products__card_blue">
        <p class="products__card-title">Товары и услуги</p>
        <div class="products__card-bg-wrapper">
          <div class="products__card-bg">@@include('_svg-patter-1.html')</div>
        </div>
      </a>
      <a href="#" class="products__card products__card_pink-light">
        <p class="products__card-title">Образование</p>
      </a>
      <a href="#" class="products__card products__card_blue">
        <p class="products__card-title">Информация и поиск</p>
      </a>
    </div>
    <button class="products__show-more btn btn_primary">Смотреть все</button>
  </div>
</section>
