<section class="promo scroll-item">
  <div class="container container_content">
    <h2 class="promo__title title-h3">
      <span class="animate-row">
        <span class="animate-item">Мы соединили сервисы так, чтобы вам было еще удобнее ими пользоваться</span>
      </span>
    </h2>
    <div class="promo__cards anim-content">
      <ul class="promo__cards-list">
        <li class="promo__card">
          <div class="promo__card-photo">
            <img src="../../img/promo-card-photo-1.jpg" alt="" class="promo__card-photo-img" />
          </div>
          <div class="promo__card-text">
            <h3 class="promo__card-title title-h4">Голосовой помощник Маруся в Капсуле и приложении ВКонтакте.</h3>
            <p class="promo__card-description">Марусю можно попросить позвонить другу, включить музыку, найти подкаст, рассказать сказку и прочитать свежие новости.</p>
          </div>
        </li>
        <li class="promo__card">
          <div class="promo__card-photo">
            <img src="../../img/promo-card-photo-2.jpg" alt="" class="promo__card-photo-img" />
          </div>
          <div class="promo__card-text">
            <h3 class="promo__card-title title-h4">Скидки на множество сервисов, включая Delivery Club, Самокат, Ситидрайв, Ситимобил.</h3>
            <p class="promo__card-description">Развлечения, еда, поездки технологии, образование — пользуйтесь бонусами с подпиской VK Combo.</p>
          </div>
        </li>
        <li class="promo__card">
          <div class="promo__card-photo">
            <img src="../../img/promo-card-photo-3.jpg" alt="" class="promo__card-photo-img" />
          </div>
          <div class="promo__card-text">
            <h3 class="promo__card-title title-h4">Повышенный кешбэк с VK Pay</h3>
            <p class="promo__card-description">Тратьте, копите, платите умней с платёжным сервисом VK Pay. До конца года получайте повышенный кешбэк 5% при оплате в сервисах экосистемы VK</p>
          </div>
        </li>
      </ul>
      <ul class="promo__cards-list">
        <li class="promo__card">
          <div class="promo__card-photo">
            <img src="../../img/promo-card-photo-6.jpg" alt="" class="promo__card-photo-img" />
          </div>
          <div class="promo__card-text">
            <h3 class="promo__card-title title-h4">Такси и доставка еды в Одноклассниках и ВКонтакте</h3>
            <p class="promo__card-description">
              Заказывайте машину или обед прямо в соцсети — скачивать отдельные приложения не понадобится. Здесь же можно узнать погоду, курсы валют и расписание спортивных турниров.
            </p>
          </div>
        </li>
        <li class="promo__card">
          <div class="promo__card-photo">
            <img src="../../img/promo-card-photo-5.jpg" alt="" class="promo__card-photo-img" />
          </div>
          <div class="promo__card-text">
            <h3 class="promo__card-title title-h4">Единый каталог объявлений на базе ВКонтакте и Юлы</h3>
            <p class="promo__card-description">Ваши объявления попадают сразу на две площадки. Продавайте и находите нужное быстрее.</p>
          </div>
        </li>
        <li class="promo__card">
          <div class="promo__card-photo">
            <img src="../../img/promo-card-photo-4.jpg" alt="" class="promo__card-photo-img" />
          </div>
          <div class="promo__card-text">
            <h3 class="promo__card-title title-h4">Поиск работы прямо в соцсетях</h3>
            <p class="promo__card-description">Искать работу стало еще удобнее — для этого не нужно выходить из соцсети. Вы не пропустите новую вакансию, ведь всё необходимое теперь под рукой.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="promo__bgs">
      <svg class="promo__bg promo__bg_middle">
        <use xlink:href="#patter-2"></use>
      </svg>
      <svg class="promo__bg promo__bg_bottom">
        <use xlink:href="#patter-4"></use>
      </svg>
    </div>
  </div>
</section>
