<section class="release-content">
  <div class="container container_content">
    <p class="text-l release-content__paragraph">На реализацию программы сервисы экосистемы VK выделили 20 млн рублей.</p>
    <p class="text-l release-content__paragraph">
      Крупнейший сервис доставки готовой еды Delivery Club и образовательная платформа Skillbox запустили программу образовательных грантов для курьеров. В рамках проекта 150 курьеров, сотрудничающих
      с Delivery Club, смогут бесплатно пройти обучение новым для себя и востребованным на рынке специальностям. Общая стоимость образовательных программ, к которым получат доступ обладатели грантов,
      составит 20 млн рублей.
    </p>
    <p class="text-l release-content__paragraph">
      В рамках проекта у курьеров есть возможность выбрать одну из двенадцати специальностей в таких сферах как программирование, маркетинг, управление и дизайн. Среди них Java и Python-разработчик,
      тестировщик, веб-дизайнеры, менеджер по контекстной рекламе, таргетолог и др. Для обучения каждой специальности курьерам достаточно базового владения компьютером, в остальном профессии можно
      освоить с нуля, никаких специализированных знаний получателям грантов для этого не потребуется. Студенты смогут изучать материалы курса в удобном режиме, совмещать обучение с работой и личной
      жизнью. Учёба займёт примерно 3-5 часов в неделю.
    </p>
    <p class="text-l release-content__paragraph">
      Помимо классических специальностей в программу образовательных грантов были включены две специальности из области киберспорта: моделирование 3D-персонажей и киберспортивный комментатор. После
      прошедшего среди курьеров чемпионата по компьютерным играм, интерес к этой теме вырос ещё сильнее, поэтому компании решили дать возможность курьерам глубже в неё погрузиться.
    </p>
    <p class="text-xl release-content__paragraph release-content__paragraph_accent">
      Претендовать на получение гранта могут курьеры, сотрудничающие с Delivery Club не менее трех месяцев — это единственное требование. Возраст, образование, город работы значения не имеют.
      Отправить заявку необходимо на сайте
      <a href="https://доставказнаний.рф" target="_blank" rel="noopener noreferrer">https://доставказнаний.рф</a>, для этого нужно выбрать специальность, написать мотивационное письмо и пройти
      онлайн-опрос. Прием заявок продлится до 15 июля.
    </p>
    <p class="text-l release-content__paragraph">
      «Многие курьеры уже сейчас подрабатывают в доставке, чтобы оплатить учебу. Кто-то доставляет еду в свободное от основной работы время, чтобы увеличить совокупный доход, и задумывается о смене
      своей базовой специальности. Наш проект со Skillbox не просто даст 150 курьерам возможность освоить новую профессию. С помощью него мы хотим показать всем, не только курьерам, возможности
      дополнительного образования. И, конечно, для нас важно формировать правильное отношение к труду курьера. Сейчас это самый доступный способ подработки, который может пригодиться как тем, кто
      только начинает свою карьеру, так и тем, кто хочет ее перезапустить», — комментирует пресс-служба Delivery Club.
    </p>
    <p class="text-l release-content__paragraph">
      «Работа курьера не для всех предполагает карьерное развитие, часто это временное решение, классная работа для старта и поиска себя. Наш совместный проект „Доставка знаний“ дает возможность таким
      людям найти своё призвание. В предложенных программах мы закладываем обучение с нуля: человек может быть вообще не готов к новой профессии, но мы сделаем это интересно и увлекательно, что его
      точно затянет. И дальше поможем начать новую карьеру» — комментирует Влад Ситников, бренд-директор Skillbox.
    </p>
    <p class="text-l release-content__paragraph">
      Сразу после обучения курьеры получают возможность трудоустроиться по новой специальности. Специалисты Центра карьеры Skillbox помогут им составить резюме, подберут вакансии и организуют
      собеседования.
    </p>

    <div class="release-content__footer">@@include('../components/_article-footer.html')</div>
  </div>
</section>
