<section class="research">
  <div class="container container_content">
    <div class="section-controls">
      <div class="section-controls__inputs">
        <div class="custom-select section-controls__select" data-select="" data-name="some-cathegories" data-id="some-cathegories">
          <span class="custom-select__label section-controls__select-label">Категории</span>
          <button class="custom-select__button section-controls__select-btn" type="button" aria-label="Выберите год">
            <span class="custom-select__text"></span><span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list section-controls__select-list" role="listbox">
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="cathegory-1" aria-selected="true" role="option">
              Категория-1
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="cathegory-2" aria-selected="false" role="option">
              Категория-2
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="cathegory-3" aria-selected="false" role="option">
              Категория-3
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="cathegory-4" aria-selected="false" role="option">
              Категория-4
            </li>
          </ul>
        </div>
        <div class="custom-select section-controls__select" data-select="" data-name="some-year" data-id="some-year">
          <span class="custom-select__label section-controls__select-label">год</span>
          <button class="custom-select__button section-controls__select-btn" type="button" aria-label="Выберите год">
            <span class="custom-select__text"></span><span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list section-controls__select-list" role="listbox">
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2021" aria-selected="true" role="option">
              2021
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2020" aria-selected="false" role="option">
              2020
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2019" aria-selected="false" role="option">
              2019
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2018" aria-selected="false" role="option">
              2018
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2017" aria-selected="false" role="option">
              2017
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2016" aria-selected="false" role="option">
              2016
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2015" aria-selected="false" role="option">
              2015
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2014" aria-selected="false" role="option">
              2014
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2013" aria-selected="false" role="option">
              2013
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2012" aria-selected="false" role="option">
              2012
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2011" aria-selected="false" role="option">
              2011
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2010" aria-selected="false" role="option">
              2010
            </li>
          </ul>
        </div>
        <div class="section-controls__search-block search-block">
          <label class="search-block__label" for="search-block__input"></label>
          <input id="search-block__input" class="search-block__input" type="text" placeholder="Подписаться" />
        </div>
      </div>
    </div>

    <div class="cards__row cards__row_small cards__row_without_border_bottom">
      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Более половины россиян хотя бы раз продавали что-то через социальные сети</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Исследование DonationAlerts: прямые трансляции и поддержка авторов в эпоху ковида</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Нужен совет: большинство россиян советуются с друзьями при покупке товаров и услуг</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Исследование Добро Mail.ru: экопривычки россиян в 2020 году</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <!-- LARGE CARD -->
    <a href="#" class="card card_large card_bg-color-9 card_bg-patter-type-1 card_bg-patter-color-10">
      <div class="card__pic">
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">26 августа</p>
        <h5 class="card__title">All Cups и hh.ru узнали, с какими трудностями сталкиваются при найме IT-специалистов</h5>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
    </a>
    <!-- /LARGE CARD -->

    <div class="cards__row cards__row_small cards__row_without_border_bottom cards__row_without_border_top">
      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Исследование Hi-Tech Mail.ru: 65% россиян меняют телевизор в течение трех лет</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical cards__row_small">
        <div class="card__pic">
          <img width="282" height="200" src="../../img/events-photo-4.jpg" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Четверть россиян продают смартфоны в соцсетях</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Исследование Hi-Tech Mail.ru: 65% россиян меняют телевизор в течение трех лет</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Объявления ВКонтакте рассказали о самых обсуждаемых товарах в соцсети</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>
  </div>

  <div class="colored-block colored-block_turquoise">
    <div class="container container_content">
      <div class="cards__row cards__row_medium cards__row_without_border_top cards__row_without_border_bottom">
        <!-- SMALL CARD WITH PHOTO -->
        <a href="#" class="card card_vertical card_medium card_bg-color-8 card_bg-patter-type-4 card_bg-patter-color-8">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Исследование Mail.ru Group и Алгоритмики: подростки-программисты не уверены в превосходстве человека над ИИ</h5>
            <div class="card__bottom-wrapper">
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH PHOTO -->
        <a href="#" class="card card_vertical card_medium card_bg-color-10 card_bg-patter-type-3 card_bg-patter-color-11">
          <div class="card__pic">
            <div class="card__pic-bg">
              <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
              -->
                @@include('_svg-patter-2.html')
              </div>
              <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">23 июля</p>
            <h5 class="card__title">Обзор сложившихся практик и подходов к изменению IT-архитектур</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH PHOTO -->
        <a href="#" class="card card_vertical card_medium card_bg-color-7 card_bg-patter-type-4 card_bg-patter-color-9">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">«Неженская профессия»: какими необычными вакансиями интересуются россиянки</h5>
            <div class="card__bottom-wrapper">
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->

        <!-- SMALL CARD WITH PHOTO -->
        <a href="#" class="card card_vertical card_medium card_bg-patter-type-1 card_bg-patter-color-8">
          <div class="card__pic">
            <img width="282" height="200" src="../../img/events-photo-11.jpg" alt="" class="card__pic-photo" />
            <div class="card__pic-bg">
              <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
                -->
                @@include('_svg-patter-2.html')
              </div>
              <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">23 июля</p>
            <h5 class="card__title">TBD PRO: Game Design NG+</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->
      </div>

      <!-- LARGE CARD WITH ALL -->
      <a href="#" class="card card_large card_invert card_bg-color-10 card_bg-patter-type-3 card_bg-patter-color-11">
        <div class="card__pic">
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">26 августа</p>
          <h5 class="card__title">Секрет хобби: 36% пользователей сервисов объявлений больше доверяют людям со схожими увлечениями</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
      </a>
      <!-- /LARGE CARD WITH ALL -->
    </div>
  </div>

  <div class="container container_content">
    <div class="cards__row cards__row_small">
      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Кто из россиян охотнее всего расстается с деньгами</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Поездки по России: 79% довольны отдыхом, только 40% — соотношением цены и качества</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Поколение Z готово платить авторам за контент</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">ВКонтакте провела масштабное исследование молодежи в России</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <div class="timeline__loading"></div>
  </div>
</section>
