<section class="responsibility-review">
  <div class="container container_content">
    <div class="responsibility-review__wrapper scroll-item">
      <h2 class="responsibility-review__title title-h3">
        <span class="animate-row">
          <span class="animate-item">Объединяющие технологии для развития общества</span>
        </span>
      </h2>
      <p class="responsibility-review__description">
        VK инвестирует свои технологии и экспертизу в развитие социальных проектов в России.<br><br>

        Нам уже удалось сделать многое — благодаря пользователям, компаниям и благотворительным фондам — и мы регулярно рассказываем о том, что случилось нам за год, в <a href="#" class="responsibility-review__description-link">отчетах об устойчивом развитии</a> и <a href="#" class="responsibility-review__description-link">о развитии социальных проектов</a>.
      </p>
    </div>
    <div class="responsibility-review__photo">
      <img src="../../img/responsibility-review-photo-img.jpg" class="responsibility-review__photo-img">
    </div>
  </div>
</section>

<section class="social-problems">
  <div class="container container_content scroll-item">
    <div class="social-problems__wrapper ">
      <h2 class="social-problems__title title-h3">
        <span class="animate-row">
          <span class="animate-item">Привлекаем внимание к важным социальным проблемам</span>
        </span>
      </h2>
      <p class="social-problems__description anim-content">
        Мы глубоко изучаем проблемы, о которых не принято говорить, и привлекаем к ним внимание людей. Мы верим, что освещение проблемы — первый шаг к ее решению. Для этого мы развиваем кампании #надопоговорить.
      </p>
      <svg class="social-problems__bg" width="756" height="501">
        <use xlink:href="#patter-4"></use>
      </svg>
    </div>
  </div>
  <div class="social-problems__cards-list-wrapper scroll-item">
    <div class="container container_content">
      <ul class="social-problems__cards-list products-row anim-content">
        <li class="social-problems__cards-list-item products-row__item">
          <a href="#" class="social-problems__card products-card">
            <div class="products-card__logo">
              <img src="../../img/social-problems-card-logo-1.svg" alt="" class="products-card__logo-img">
            </div>
            <p class="products-card__name text-xl">День борьбы с кибербуллингом</p>
            <p class="products-card__description">Объединяем всех, для кого насилие в сети и за ее пределами недопустимо</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="social-problems__cards-list-item products-row__item">
          <a href="#" class="social-problems__card products-card">
            <div class="products-card__logo">
              <img src="../../img/social-problems-card-logo-2.svg" alt="" class="products-card__logo-img">
            </div>
            <p class="products-card__name text-xl">Исследование о помощи взрослым</p>
            <p class="products-card__description">Показываем, как важно помогать взрослым в беде</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="social-problems__cards-list-item products-row__item">
          <a href="#" class="social-problems__card products-card">
            <div class="products-card__logo">
              <img src="../../img/social-problems-card-logo-3.svg" alt="" class="products-card__logo-img">
            </div>
            <p class="products-card__name text-xl">Кампания о перинатальных потерях </p>
            <p class="products-card__description">Открыто говорим о перинатальных потерях</p>
            <button class="products-card__show"></button>
          </a>
        </li>
        <li class="social-problems__cards-list-item products-row__item">
          <a href="#" class="social-problems__card products-card">
            <div class="products-card__logo">
              <img src="../../img/social-problems-card-logo-4.svg" alt="" class="products-card__logo-img">
            </div>
            <p class="products-card__name text-xl">Кампания об аутизме</p>
            <p class="products-card__description">Меняем отношение к особенным людям</p>
            <button class="products-card__show"></button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="responsibility-systems">
  <div class="container container_content">
    <div class="responsibility-systems__wrapper scroll-item">
      <h2 class="responsibility-systems__title title-h3">
        <span class="animate-row">
          <span class="animate-item">Строим систему для развития социальных проектов</span>
        </span>
      </h2>
      <p class="responsibility-systems__description anim-content">Делать добро с нами легко и приятно. Мы помогаем участвовать в благотворительности и&nbsp;даем возможность делать это удобно.</p>
    </div>
    <ul class="responsibility-systems__list projects-row-big scroll-item">
      <li class="responsibility-systems__item projects-row-big__item anim-content">
        <div class="projects-row-big__card">
          <div class="projects-row-big__card-content">
            <div class="projects-row-big__card-logo">
              <img class="projects-row-big__card-logo-img" src="../../img/projects-logo-33.svg" alt="" />
            </div>
            <h3 class="projects-row-big__card-title text-xl">Добро</h3>
            <div class="projects-row-big__card-text-content">
              <p class="projects-row-big__card-paragraph text-m">
                Более 200 проверенных фондов-партнеров, помогающих детям, взрослым, старикам, животным и окружающей среде
              </p>
            </div>
            <div class="projects-row-big__card-footer">
              <a href="#" class="projects-row-big__card-btn btn btn_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
      <li class="responsibility-systems__item projects-row-big__item anim-content">
        <div class="projects-row-big__card">
          <div class="projects-row-big__card-content">
            <div class="projects-row-big__card-logo">
              <img class="projects-row-big__card-logo-img" src="../../img/projects-logo-33.svg" alt="" />
            </div>
            <h3 class="projects-row-big__card-title text-xl">МАЯК</h3>
            <div class="projects-row-big__card-text-content">
              <p class="projects-row-big__card-paragraph text-m">
                Сервис для поиска благотворительных фондов, которые могут помочь в сложной ситуации
              </p>
            </div>
            <div class="projects-row-big__card-footer">
              <a href="#" class="projects-row-big__card-btn btn btn_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
      <li class="responsibility-systems__item projects-row-big__item anim-content">
        <div class="projects-row-big__card">
          <div class="projects-row-big__card-content">
            <div class="projects-row-big__card-logo">
              <img class="projects-row-big__card-logo-img" src="../../img/projects-logo-33.svg" alt="" />
            </div>
            <h3 class="projects-row-big__card-title text-xl">Добрые<br> километры</h3>
            <div class="projects-row-big__card-text-content">
              <p class="projects-row-big__card-paragraph text-m">
                Возможность для каждого пассажира Ситимобила оплатить километры поездок для подопечных благотворительных фондов
              </p>
            </div>
            <div class="projects-row-big__card-footer">
              <a href="#" class="projects-row-big__card-btn btn btn_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <svg class="responsibility-systems__bg">
      <use xlink:href="#patter-2"></use>
    </svg>
  </div>
</section>

<section class="responsibility-help">
  <div class="container container_content">
    <div class="responsibility-help__wrapper scroll-item">
      <h2 class="responsibility-help__title title-h3">
        <span class="animate-row">
          <span class="animate-item">Помогаем помогать</span>
        </span>
      </h2>
      <p class="responsibility-help__description anim-content">
        Мы даем возможность проверенным благотворительным фондам пользоваться инструментами проектов экосистемы VK на специальных условиях. А наши сотрудники регулярно помогают им решать различные задачи в рамках программы развития интеллектуального волонтерства CharityTask.
      </p>
    </div>
    <ul class="responsibility-help__list projects-row-big scroll-item">
      <li class="responsibility-help__item projects-row-big__item anim-content">
        <div class="projects-row-big__card">
          <div class="projects-row-big__card-content">
            <div class="projects-row-big__card-logo">
              <img class="projects-row-big__card-logo-img" src="../../img/projects-logo-33.svg" alt="">
            </div>
            <h3 class="projects-row-big__card-title text-xl">Добро Mail.ru</h3>
            <div class="projects-row-big__card-text-content">
              <p class="projects-row-big__card-paragraph text-m">
                Почти 2000 успешно завершенных проектов
              </p>
            </div>
            <div class="projects-row-big__card-footer">
              <a href="#" class="projects-row-big__card-btn btn btn_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
      <li class="responsibility-help__item projects-row-big__item anim-content">
        <div class="projects-row-big__card">
          <div class="projects-row-big__card-content">
            <div class="projects-row-big__card-logo">
              <img class="projects-row-big__card-logo-img" src="../../img/responsibility-help-item-card-logo-1.svg" alt="">
            </div>
            <h3 class="projects-row-big__card-title text-xl">ВКонтакте</h3>
            <div class="projects-row-big__card-text-content">
              <p class="projects-row-big__card-paragraph text-m">
                Гранты на продвижение в соцсети в рамках программы «Благотворительность ВКонтакте»
              </p>
            </div>
            <div class="projects-row-big__card-footer">
              <a href="#" class="projects-row-big__card-btn btn btn_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
      <li class="responsibility-help__item projects-row-big__item anim-content">
        <div class="projects-row-big__card">
          <div class="projects-row-big__card-content">
            <div class="projects-row-big__card-logo">
              <img class="projects-row-big__card-logo-img" src="../../img/responsibility-help-item-card-logo-2.svg" alt="">
            </div>
            <h3 class="projects-row-big__card-title text-xl">Одноклассники</h3>
            <div class="projects-row-big__card-text-content">
              <p class="projects-row-big__card-paragraph text-m">
                Получить статус официального сообщества НКО в ОК и возможность получать пожертвования в соцсети
              </p>
            </div>
            <div class="projects-row-big__card-footer">
              <a href="#" class="projects-row-big__card-btn btn btn_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="responsibility-examples">
  <div class="container container_content">
    <svg class="responsibility-examples__bg responsibility-examples__bg_top">
      <use xlink:href="#patter-4"></use>
    </svg>
    <svg class="responsibility-examples__bg responsibility-examples__bg_bottom">
      <use xlink:href="#patter-4"></use>
    </svg>
    <ul class="content-cards__target-groups">
      <li class="content-cards__target-group content-card scroll-item">
        <h2 class="content-card__title title-h4">
          <span class="animate-row">
            <span class="animate-item">Делаем наши проекты доступными для всех</span>
          </span>
        </h2>
        <div class="content-card__img anim-content">
          <img src="../../img/content-card-51.jpg" width="624" height="442" alt="">
        </div>
        <div class="content-card__text anim-content">
          <p class="text-l content-card__paragraph">
            Развивая проекты экосистемы VK, мы стремимся сделать так, чтобы они были максимально полезны и удобны всем пользователям. Мы учитываем потребности людей с ограниченными возможностями, а также наиболее частые сценарии, когда и совершенно здоровые пользователи не могут работать с сервисами в привычном режиме (например, молодые родители, у которых постоянно заняты руки).
          </p>
        </div>
      </li>

      <li class="content-cards__target-group content-card content-card_inverse scroll-item">
        <h2 class="content-card__title title-h4">
          <span class="animate-row">
            <span class="animate-item">Готовим высококлассных<br> ИТ-специалистов</span>
          </span>
        </h2>
        <div class="content-card__img anim-content">
          <img src="../../img/content-card-52.jpg" width="624" height="442" alt="">
        </div>
        <div class="content-card__text anim-content">
          <p class="text-l content-card__paragraph anim-content">
            Мы помогаем всем желающим становиться ИТ-специалистами разного профиля, чтобы развивать технологии для общества, и к 2023 году планируем обучить 10 млн человек. У VK есть <a href="#" class="content-card__paragraph-link">образовательные проекты</a> для школьников, студентов и профессионалов — совершенствоваться с нами может любой. 	
          </p>
        </div>
      </li>

      <li class="content-cards__target-group content-card scroll-item">
        <h2 class="content-card__title title-h4">
          <span class="animate-row">
            <span class="animate-item">Надежно защищаем<br> данные пользователей</span>
          </span>
        </h2>
        <div class="content-card__img anim-content">
          <img src="../../img/content-card-53.jpg" width="624" height="442" alt="">
        </div>
        <div class="content-card__text anim-content">
          <p class="text-l content-card__paragraph">
            Защита данных пользователей — наш приоритет. Мы постоянно совершенствуем систему защиты, привлекая для этого самых сильных экспертов по кибербезопасности. У нас работает масштабная международная программа поиска уязвимостей. Данные обрабатываются в строгом соответствии с политикой по их использованию. Также мы запустили <a href="#" class="content-card__paragraph-link">спецпроект</a> о том, как защищаем данные мы и как могут противостоять угрозам сами пользователи.
          </p>
        </div>
      </li>

      <li class="content-cards__target-group content-card content-card_inverse scroll-item">
        <h2 class="content-card__title title-h4">
          <span class="animate-row">
            <span class="animate-item">Заботимся об <br>окружающей среде</span>
          </span>
        </h2>
        <div class="content-card__img anim-content">
          <img src="../../img/content-card-54.jpg" width="624" height="442" alt="">
        </div>
        <div class="content-card__text anim-content">
          <p class="text-l content-card__paragraph anim-content">
            Мы делаем все для того, чтобы наши проекты были дружелюбны по отношению к окружающей среде. В наших дата-центрах установлено специальное охлаждающее оборудование, которое помогает экономить электроэнергию, и мы постоянно масштабируем использование этой технологии. А на Добре есть <a href="#" class="content-card__paragraph-link">раздел</a>, объединяющий проекты помощи природе.	
          </p>
        </div>
      </li>

      <li class="content-cards__target-group content-card scroll-item">
        <h2 class="content-card__title title-h4">
          <span class="animate-row">
            <span class="animate-item">Решаем социальные<br> задачи бизнеса </span>
          </span>
        </h2>
        <div class="content-card__img anim-content">
          <img src="../../img/content-card-55.jpg" width="624" height="442" alt="">
        </div>
        <div class="content-card__text anim-content">
          <p class="text-l content-card__paragraph">
            В рамках направления VK Impact мы помогаем компаниям придумывать и воплощать социальные инициативы любого масштаба — от благотворительного проекта до КСО-стратегии. Мы можем разработать проект помощи, программу социального маркетинга, исследование на важную для общества тему — и поможем выбрать для этого честный благотворительный фонд. 
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>