<section class="services">
  <div class="container container_content">
    <ul class="services__cards services-cards">
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Delivery Club</h3>
          <div class="services-card__logo">
            <img src="../../img/services-card-logo-1.svg" class="services-card__logo-img">
          </div>
        </div>
        <p class="services-card__number title-h3">5,5 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">
          заказов Delivery Club выполняет ежемесячно
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Самокат</h3>
          <div class="services-card__logo">
            <img src="../../img/services-card-logo-2.svg" class="services-card__logo-img">
          </div>
        </div>
        <p class="services-card__number title-h3">18 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">заказов за 2020</p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Кухня на районе</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-3.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">5,2 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">
          заказов доставила "Кухня на районе" за 2020 год
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Медиапроекты</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-4.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">&gt;1 <span class="services-card__number-unit title-h4">млрд</span></p>
        <p class="services-card__description">просмотренных страниц в&nbsp;месяц</p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Облако</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-5.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">+27<span class="services-card__number-unit title-h4">%</span></p>
        <p class="services-card__description">
          среднемесячная аудитория в 2020 году на 27% больше 2019
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card services-card_big">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l mzzzz">ВКонтакте</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-6.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">97 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">
          ежемесячно пользуются платформой
        </p>
        <p class="services-card__number title-h3">15 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">
          человек обмениваются сообщениями
        </p>
        <p class="services-card__number title-h3">9 <span class="services-card__number-unit title-h4">млрд</span></p>
        <p class="services-card__description">записей в сутки</p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Сервисы объявлений</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-7.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">33 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">
          общая аудитория сервисов объявлений MRG
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Капсула</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-8.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">+15</p>
        <p class="services-card__description">
          в декабре продали в 15 раз больше, чем в мае 2020
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">MY.GAMES</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-9.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">770 <span class="services-card__number-unit title-h4">млн</span></p>
        <p class="services-card__description">
          геймеров из 190 стран мира играют в игры MY.GAMES
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Одноклассники</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-10.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">1 <span class="services-card__number-unit title-h4">млрд</span></p>
        <p class="services-card__description">
          просмотров видео в сутки на видеоплатформе ОК
        </p>
        <div class="services-card_more-borders"></div>
      </li>
      <li class="services__card services-card">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name text-l">Почта</h3>
          <div class="services-card__logo">
            <img class="services-card__logo-img" src="../../img/services-card-logo-11.svg" alt="">
          </div>
        </div>
        <p class="services-card__number title-h3">№1</p>
        <p class="services-card__description">
          46 миллионов активных пользователей только в России
        </p>
        <div class="services-card_more-borders"></div>
      </li>
    </ul>
    <button class="services__show-more-cards btn btn_primary">Показать ещё</button>
  </div>
</section>