<section class="statutory-docs scroll-item">
  <div class="container container_content">
    <h2 class="statutory-docs__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Уставные</span>
      </span>
      <span class="animate-row">
        <span class="animate-item">документы</span>
      </span>
    </h2>

    <ul class="statutory-docs__list anim-content">
      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Устав Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Кодекс деловой этики Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Правила торговли акциями для директоров, топ-менеджеров, сотрудников и связанных лиц Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о соблюдении Mail.Ru Group Limited законодательных требований</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о праве директоров Mail.Ru Group Limited на доступ к информации и документации</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Комитет по вознаграждениям совета директоров Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение об аудиторском комитете при совете директоров Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Правила обращения с инсайдерской информацией</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Перечень инсайдерской информации</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о совете директоров Mail.Ru Group Limited</p>
        </a>
      </li>

      <li class="statutory-docs__list-item">
        <a href="../../files/example.pdf" class="statutory-docs__link" download rel="noopener noreferrer">
          <p class="text-m statutory-docs__file-type">pdf</p>
          <p class="text-xl statutory-docs__file-name">Положение о внутреннем аудите Mail.Ru Group Limited</p>
        </a>
      </li>
    </ul>
  </div>
</section>
