<svg id="patter-2" class="patter patter_2" viewBox="0 0 1025 735" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M990.134 0.0703125C986.915 18.5882 982.234 36.822 976.134 54.6003C963.134 91.7903 943.504 124.76 914.374 151.69C900.702 164.269 885.527 175.108 869.194 183.96C868.469 184.31 867.833 184.819 867.334 185.45H869.404C888.064 185.45 906.714 185.45 925.404 185.39C926.766 185.336 928.073 184.845 929.134 183.99C963.934 154.69 988.294 118.09 1004.6 75.8803C1013.63 52.167 1020.2 27.5875 1024.19 2.53033C1024.32 1.71033 1024.49 0.890312 1024.64 0.0703125H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 0.0703125C755.225 5.80031 754.405 11.5503 753.225 17.2303C748.315 41.2042 740.354 64.4502 729.535 86.4003C709.492 127.171 677.979 161.201 638.865 184.31C638.515 184.52 638.175 184.75 637.455 185.23C638.455 185.33 639.015 185.44 639.595 185.44C655.005 185.44 670.415 185.44 685.825 185.5C687.985 185.5 689.165 184.29 690.525 183.13C724.215 154.41 748.705 119.13 765.205 78.1903C774.979 53.5883 781.871 27.9376 785.745 1.75031C785.858 1.18192 786.005 0.620895 786.185 0.0703125H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.815 0.071228C511.345 74.7012 478.685 137.461 418.705 185.451H421.455C432.115 185.451 442.775 185.451 453.455 185.451C454.228 185.488 455 185.356 455.717 185.065C456.434 184.773 457.078 184.328 457.605 183.761C495.055 147.211 520.535 103.471 535.815 53.6113C540.923 36.7327 544.737 19.4894 547.225 2.03125C547.315 1.38125 547.295 0.71125 547.325 0.03125L522.815 0.071228Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 0.0703125C287.604 8.36031 286.584 16.6903 284.964 24.9103C278.046 59.1584 266.5 92.3058 250.644 123.44C239.934 144.76 227.434 164.95 212.264 183.44C211.844 183.95 211.454 184.44 211.004 185.08C211.244 185.22 211.434 185.43 211.624 185.43C219.114 185.43 226.624 185.52 234.104 185.43C235.187 185.24 236.15 184.629 236.784 183.73C247.825 168.71 257.633 152.821 266.114 136.22C285.459 99.0612 298.999 59.1587 306.264 17.9003C307.264 12.0003 308.024 6.06031 308.904 0.13031L288.904 0.0703125Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 0.0700073C54.1232 8.17001 53.4933 16.3 52.3333 24.36C47.2106 59.1514 39.9737 93.5985 30.6631 127.51C25.5231 146.45 19.7432 165.19 12.7432 183.51L12.0332 185.42C17.1132 185.42 21.9833 185.48 26.8433 185.34C27.4033 185.34 28.2031 184.28 28.4331 183.56C32.6731 170.7 37.1132 157.9 40.9832 144.93C50.6038 112.425 58.2347 79.3636 63.8333 45.9301C66.4133 30.7101 67.9732 15.32 69.9932 0L55.0032 0.0700073Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M970.083 185.422H1013.68C997.364 259.952 960.254 321.152 898.684 367.262C960.204 413.262 997.324 474.472 1013.68 548.982H970.094C948.544 462.452 894.954 403.322 814.354 367.262C852.554 350.202 886.714 327.142 914.454 295.262C942.194 263.382 959.934 226.292 970.083 185.422Z"
      fill="var(--color-patter)"
    />
    <path
      d="M593.254 367.22C629.254 348.44 661.204 324.31 687.254 292.81C713.304 261.31 730.584 225.42 739.944 185.5H777.744C762.114 260.5 723.264 320.73 662.374 367.26C723.214 413.73 762.064 473.91 777.744 548.97H740.044C719.894 465.18 668.204 406.92 593.254 367.22Z"
      fill="var(--color-patter)"
    />
    <path
      d="M435.195 367.26C489.725 416.76 527.455 475.9 541.875 548.94H509.985C492.415 471.85 447.645 413.46 385.115 367.26C447.515 321.26 492.435 262.74 510.025 185.41H541.915C527.515 258.49 489.815 317.66 435.195 367.26Z"
      fill="var(--color-patter)"
    />
    <path
      d="M305.744 548.959H279.884C265.554 480.079 232.084 421.049 188.264 367.279C232.024 313.579 265.564 254.469 279.904 185.469H306.244C303.874 195.679 301.874 205.789 299.164 215.699C289.104 252.539 273.164 286.849 253.654 319.559C244.398 335.156 234.213 350.183 223.154 364.559C221.494 366.709 221.674 367.929 223.224 369.979C250.104 405.449 272.104 443.689 288.154 485.259C296.101 505.47 301.955 526.443 305.624 547.849C305.654 548.189 305.674 548.519 305.744 548.959Z"
      fill="var(--color-patter)"
    />
    <path
      d="M49.4048 185.41H69.6548C69.2148 188.77 68.875 192.02 68.365 195.25C62.515 232.38 53.1248 268.69 42.1648 304.59C35.9548 324.91 28.8549 344.96 22.2649 365.17C21.8527 366.625 21.898 368.172 22.3948 369.6C37.8348 412.6 51.0148 456.32 60.9248 500.94C64.2148 515.78 66.5449 530.82 69.2949 545.78C69.4749 546.78 69.495 547.78 69.615 549.08H56.8149C54.9049 549.08 52.985 549.08 51.075 549.08C49.795 549.08 49.1649 548.83 48.9649 547.37C44.2549 513.52 35.705 480.54 26.335 447.75C18.665 420.91 10.0848 394.35 0.144784 368.25C-0.0754181 367.504 -0.0437008 366.706 0.234872 365.98C17.0265 321.308 30.7255 275.533 41.2349 228.98C44.4149 214.88 46.5248 200.55 49.1348 186.32C49.2071 186.012 49.2973 185.708 49.4048 185.41Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M990.134 733.952C986.914 715.438 982.233 697.207 976.134 679.432C963.134 642.242 943.504 609.272 914.374 582.342C900.705 569.76 885.53 558.921 869.194 550.072C868.469 549.723 867.833 549.213 867.334 548.582H869.404C888.064 548.582 906.714 548.582 925.404 548.642C926.766 548.697 928.073 549.187 929.134 550.042C963.934 579.342 988.294 615.942 1004.6 658.142C1013.63 681.859 1020.2 706.442 1024.19 731.502C1024.32 732.322 1024.49 733.142 1024.64 733.952H990.134Z"
      fill="var(--color-patter)"
    />
    <path
      d="M756.225 733.951C755.225 728.231 754.405 722.471 753.225 716.791C748.314 692.821 740.352 669.579 729.535 647.631C709.495 606.859 677.981 572.828 638.865 549.721C638.515 549.511 638.175 549.271 637.455 548.801C638.455 548.701 639.015 548.591 639.595 548.591C655.005 548.591 670.415 548.591 685.825 548.531C687.985 548.531 689.165 549.741 690.525 550.901C724.215 579.621 748.705 614.901 765.205 655.841C774.992 680.442 781.898 706.092 785.785 732.281C785.896 732.847 786.043 733.404 786.225 733.951H756.225Z"
      fill="var(--color-patter)"
    />
    <path
      d="M522.814 733.951C511.344 659.331 478.684 596.591 418.744 548.591H421.494C432.154 548.591 442.814 548.591 453.494 548.591C454.268 548.558 455.039 548.693 455.755 548.987C456.471 549.28 457.116 549.725 457.644 550.291C495.094 586.841 520.574 630.581 535.854 680.441C540.963 697.319 544.777 714.562 547.264 732.021C547.354 732.671 547.334 733.341 547.364 734.021L522.814 733.951Z"
      fill="var(--color-patter)"
    />
    <path
      d="M288.904 733.95C287.604 725.67 286.584 717.34 284.964 709.12C278.044 674.873 266.498 641.726 250.644 610.59C239.934 589.28 227.434 569.09 212.264 550.59C211.844 550.08 211.454 549.59 211.004 548.95C211.244 548.81 211.434 548.6 211.624 548.59C219.114 548.59 226.624 548.51 234.104 548.59C235.187 548.78 236.15 549.392 236.784 550.29C247.825 565.311 257.633 581.199 266.114 597.8C285.459 634.959 298.999 674.862 306.264 716.12C307.264 722.02 308.024 727.96 308.904 733.88L288.904 733.95Z"
      fill="var(--color-patter)"
    />
    <path
      d="M55.0032 733.95C54.1232 725.86 53.4933 717.73 52.3333 709.67C47.2106 674.879 39.9737 640.432 30.6631 606.52C25.5231 587.58 19.7432 568.84 12.7432 550.52L12.0332 548.61C17.1132 548.61 21.9833 548.55 26.8433 548.69C27.4033 548.69 28.2031 549.75 28.4331 550.47C32.6731 563.33 37.1132 576.13 40.9832 589.1C50.6038 621.606 58.2347 654.667 63.8333 688.1C66.4133 703.32 67.9732 718.71 69.9932 734.02L55.0032 733.95Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
