<svg id="patter-6" class="patter patter_6" viewBox="0 0 1083 500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <g class="patter__group">
    <path
      d="M686.729 125.92H685.247C662.824 125.92 640.403 125.905 617.985 125.874C617.003 125.842 616.07 125.434 615.379 124.735C588.846 92.3017 569.734 56.0237 559.558 15.246C558.442 10.7854 557.638 6.24666 556.71 1.7392C556.643 1.22194 556.61 0.701026 556.608 0.179527C557.28 0.179527 557.857 0.101562 558.427 0.101562C573.113 0.101562 587.8 0.101562 602.487 0.101562C603.892 0.101562 604.438 0.436938 604.828 1.90303C613.881 39.5691 631.837 72.564 657.442 101.504C665.887 111.102 675.766 119.339 686.729 125.92Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 125.92H816.803C797.887 125.92 778.975 125.92 760.069 125.92C759.497 125.954 758.925 125.85 758.401 125.618C757.878 125.386 757.416 125.033 757.057 124.587C728.019 91.5138 707.596 53.9413 697.686 10.9021C696.905 7.37722 696.265 3.80561 695.516 0.0312044H697.662C709.368 0.0312044 721.074 0.093538 732.779 -0.0234375C734.691 -0.0234375 735.261 0.592633 735.659 2.31607C745.172 43.0235 765.126 77.9603 794.601 107.462C801.472 114.483 809.345 120.449 817.966 125.164C818.114 125.304 818.286 125.46 818.949 125.92Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 125.921H948.493C933.158 125.921 917.824 125.921 902.45 125.866C901.335 125.814 900.275 125.366 899.461 124.603C867.512 91.4596 845.771 52.7797 836.024 7.62718C835.665 5.98173 835.407 4.31288 835.111 2.65182C834.978 1.87199 834.861 1.09214 834.721 0.203125H865.366C867.528 7.86112 869.315 15.5035 871.844 22.8963C882.25 53.6274 899.608 81.5463 922.568 104.483C930.758 112.829 940.031 120.039 950.139 125.921Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 0.164062H996.042C998.172 7.91564 999.943 15.6283 1002.39 23.1147C1011.52 50.7443 1026.25 75.122 1045.87 96.5753C1055.03 106.588 1065.11 115.51 1076.74 122.598C1078.44 123.643 1080.21 124.595 1082.34 125.819C1081.46 125.866 1080.99 125.913 1080.53 125.913C1068.82 125.913 1057.11 125.913 1045.41 125.874C1044.41 125.846 1043.45 125.477 1042.69 124.829C1008.35 92.9257 985.429 54.3939 975.284 8.49276C974.714 5.77893 974.308 3.02606 973.793 0.164062Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 124.696C473.974 124.86 474.121 125.007 474.286 125.133H554.134C546.37 120.89 539.892 115.408 533.844 109.403C522.63 98.2907 513.133 85.8211 504.721 72.4937C490.814 50.4477 480.209 26.9902 474.091 1.59874C473.732 0.0390625 472.975 0.0390625 471.796 0.0390625C454.316 0.0390625 436.833 0.0390625 419.347 0.0390625H417.326C417.778 2.55793 418.106 4.86624 418.621 7.14336C427.978 50.6037 447.004 89.5019 473.849 124.696Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 124.805C421.55 124.674 421.227 124.52 420.915 124.345C412.549 119.666 405.62 113.155 399.259 106.089C374.997 79.1615 357.969 48.085 346.833 13.7098C345.382 9.23355 344.235 4.66371 342.931 0.15625H278.144C286.681 45.8859 305.777 86.8429 332.529 124.805H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 124.805H158.176C156.531 124.219 154.984 123.388 153.587 122.341C145.479 116.43 138.76 109.138 132.517 101.387C116.324 81.2749 103.822 58.9872 93.7707 35.2801C88.9234 23.8978 84.94 12.1672 81.8543 0.1875H0C4.02678 22.6858 10.8005 44.2249 19.5096 65.1947C28.1519 85.9511 38.6215 105.9 50.795 124.805Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 124.805C289.209 124.573 288.658 124.294 288.133 123.971C279.393 118.574 272.284 111.369 265.713 103.633C245.626 79.9881 230.752 53.2943 219.998 24.2844C217.079 16.4002 214.73 8.31334 212.069 0.15625H139.033C147.563 45.5193 166.034 86.5231 191.537 124.805H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M686.729 250.545H685.247C662.824 250.545 640.403 250.527 617.985 250.491C617.001 250.466 616.066 250.057 615.379 249.352C588.846 216.919 569.734 180.649 559.558 139.871C558.442 135.41 557.638 130.864 556.71 126.356C556.643 125.839 556.609 125.318 556.608 124.797C557.28 124.797 557.857 124.719 558.427 124.719C573.113 124.719 587.8 124.719 602.487 124.719C603.892 124.719 604.438 125.046 604.828 126.52C613.881 164.186 631.837 197.173 657.442 226.121C665.888 235.72 675.767 243.959 686.729 250.545Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 250.545H816.803C797.887 250.545 778.975 250.545 760.069 250.545C759.497 250.579 758.925 250.475 758.401 250.243C757.878 250.011 757.416 249.658 757.057 249.212C728.019 216.139 707.596 178.566 697.686 135.527C696.905 132.002 696.265 128.431 695.516 124.656H697.662C709.368 124.656 721.074 124.719 732.779 124.602C734.691 124.602 735.261 125.218 735.659 126.941C745.172 167.656 765.126 202.585 794.601 232.094C801.472 239.116 809.345 245.082 817.966 249.797C818.307 250.028 818.635 250.278 818.949 250.545Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 250.546H948.493C933.158 250.546 917.824 250.546 902.45 250.491C901.334 250.437 900.274 249.986 899.461 249.22C867.512 216.085 845.771 177.405 836.024 132.244C835.665 130.599 835.407 128.93 835.111 127.269C834.978 126.489 834.861 125.709 834.721 124.82H865.366C867.528 132.478 869.315 140.121 871.844 147.514C882.25 178.245 899.608 206.164 922.568 229.1C930.758 237.449 940.031 244.662 950.139 250.546Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 124.781H996.042C998.172 132.58 999.943 140.253 1002.39 147.732C1011.52 175.369 1026.25 199.747 1045.87 221.2C1055.03 231.213 1065.11 240.135 1076.74 247.223C1078.44 248.268 1080.21 249.22 1082.34 250.444C1081.46 250.491 1080.99 250.538 1080.53 250.538C1068.82 250.538 1057.11 250.538 1045.41 250.538C1044.41 250.51 1043.45 250.141 1042.69 249.493C1008.35 217.59 985.429 179.058 975.284 133.157C974.714 130.404 974.308 127.651 973.793 124.781Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 249.321C473.976 249.484 474.123 249.63 474.286 249.758H554.134C546.37 245.508 539.892 240.025 533.844 234.028C522.63 222.916 513.133 210.446 504.721 197.119C490.814 175.073 480.209 151.615 474.091 126.224C473.732 124.664 472.975 124.664 471.796 124.664C454.316 124.664 436.833 124.664 419.347 124.664H417.326C417.778 127.183 418.106 129.491 418.621 131.768C427.978 175.221 447.004 214.104 473.849 249.321Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 249.43C421.55 249.299 421.227 249.145 420.915 248.97C412.549 244.291 405.62 237.78 399.259 230.714C374.997 203.779 357.969 172.71 346.833 138.335C345.382 133.859 344.235 129.289 342.931 124.773H278.144C286.681 170.511 305.777 211.468 332.529 249.43H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 249.43H158.176C156.531 248.844 154.984 248.013 153.587 246.966C145.479 241.055 138.76 233.763 132.517 226.012C116.324 205.9 103.822 183.612 93.7707 159.905C88.9245 148.522 84.9411 136.792 81.8543 124.812H0C4.02678 147.303 10.8005 168.85 19.5096 189.82C28.1519 210.576 38.6215 230.525 50.795 249.43Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 249.43C289.209 249.198 288.658 248.919 288.133 248.596C279.393 243.199 272.284 235.994 265.713 228.258C245.626 204.613 230.752 177.919 219.998 148.902C217.079 141.025 214.73 132.931 212.069 124.781H139.033C147.563 170.144 166.034 211.148 191.537 249.43H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M686.729 375.35H685.247C662.824 375.35 640.403 375.334 617.985 375.303C617.002 375.274 616.068 374.866 615.379 374.165C588.846 341.731 569.734 305.453 559.558 264.676C558.442 260.215 557.638 255.676 556.71 251.169C556.643 250.652 556.61 250.131 556.608 249.609C557.28 249.609 557.857 249.531 558.427 249.531C573.113 249.531 587.8 249.531 602.487 249.531C603.892 249.531 604.438 249.867 604.828 251.333C613.881 288.999 631.837 321.994 657.442 350.933C665.887 360.532 675.766 368.768 686.729 375.35Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 375.35H816.803C797.887 375.35 778.975 375.35 760.069 375.35C759.497 375.38 758.925 375.274 758.402 375.041C757.878 374.808 757.417 374.454 757.057 374.009C728.019 340.936 707.596 303.363 697.686 260.324C696.905 256.799 696.265 253.227 695.516 249.461H697.662C709.368 249.461 721.074 249.515 732.779 249.398C734.691 249.398 735.261 250.015 735.659 251.738C745.172 292.445 765.126 327.382 794.601 356.883C801.472 363.905 809.345 369.871 817.966 374.586C818.114 374.734 818.286 374.921 818.949 375.35Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 375.35H948.493C933.158 375.35 917.824 375.35 902.45 375.296C901.335 375.244 900.275 374.796 899.461 374.032C867.512 340.897 845.771 302.209 836.024 257.057C835.665 255.411 835.407 253.743 835.111 252.082C834.978 251.302 834.861 250.522 834.721 249.641H865.366C867.528 257.291 869.315 264.941 871.844 272.334C882.254 303.063 899.611 330.981 922.568 353.92C930.76 362.262 940.033 369.469 950.139 375.35Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 249.594H996.042C998.172 257.345 999.943 265.066 1002.39 272.544C1011.52 300.174 1026.25 324.552 1045.87 346.005C1055.03 356.018 1065.11 364.939 1076.74 372.028C1078.44 373.073 1080.21 374.024 1082.34 375.249C1081.46 375.296 1080.99 375.35 1080.53 375.35C1068.82 375.35 1057.11 375.35 1045.41 375.303C1044.41 375.275 1043.45 374.907 1042.69 374.258C1008.35 342.355 985.429 303.824 975.284 257.922C974.714 255.209 974.308 252.487 973.793 249.594Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 374.143C473.977 374.303 474.123 374.447 474.286 374.572H554.134C546.37 370.33 539.892 364.848 533.844 358.843C522.63 347.738 513.133 335.261 504.721 321.933C490.814 299.887 480.209 276.43 474.091 251.038C473.732 249.479 472.975 249.479 471.796 249.479C454.316 249.479 436.833 249.479 419.347 249.479H417.326C417.778 251.997 418.106 254.298 418.621 256.575C427.978 300.059 447.004 338.91 473.849 374.143Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 374.243C421.551 374.106 421.228 373.95 420.915 373.775C412.549 369.096 405.62 362.584 399.259 355.527C374.997 328.591 357.969 297.515 346.833 263.139C345.382 258.663 344.235 254.093 342.931 249.586H278.144C286.681 295.316 305.777 336.28 332.529 374.243H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 374.243H158.176C156.532 373.651 154.986 372.817 153.587 371.771C145.479 365.86 138.76 358.568 132.517 350.817C116.324 330.712 103.822 308.417 93.7707 284.71C88.9234 273.328 84.94 261.597 81.8543 249.617H0C4.02678 272.115 10.8005 293.655 19.5096 314.624C28.1535 335.383 38.623 355.334 50.795 374.243Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 374.243C289.21 374.004 288.66 373.723 288.133 373.401C279.393 368.012 272.284 360.798 265.713 353.062C245.626 329.418 230.752 302.724 219.998 273.714C217.079 265.83 214.73 257.743 212.069 249.586H139.033C147.563 294.949 166.034 335.953 191.537 374.243H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M686.729 499.977H685.247C662.824 499.977 640.403 499.959 617.985 499.922C617.001 499.898 616.066 499.489 615.379 498.784C588.846 466.35 569.734 430.08 559.558 389.303C558.442 384.842 557.638 380.295 556.71 375.788C556.643 375.271 556.609 374.75 556.608 374.228C557.28 374.228 557.857 374.15 558.427 374.15C573.113 374.15 587.8 374.15 602.487 374.15C603.892 374.15 604.438 374.478 604.828 375.952C613.881 413.618 631.837 446.605 657.442 475.553C665.888 485.152 675.767 493.391 686.729 499.977Z"
      fill="var(--color-patter)"
    />
    <path
      d="M818.949 499.977H816.803C797.887 499.977 778.975 499.977 760.069 499.977C759.497 500.01 758.925 499.907 758.401 499.675C757.878 499.443 757.416 499.089 757.057 498.643C728.019 465.57 707.596 427.998 697.686 384.959C696.905 381.434 696.265 377.862 695.516 374.088H697.662C709.368 374.088 721.074 374.15 732.779 374.033C734.691 374.033 735.261 374.649 735.659 376.373C745.172 417.088 765.126 452.017 794.601 481.526C801.472 488.548 809.345 494.513 817.966 499.228C818.114 499.361 818.286 499.517 818.949 499.977Z"
      fill="var(--color-patter)"
    />
    <path
      d="M950.139 499.977H948.493C933.158 499.977 917.824 499.977 902.45 499.923C901.333 499.874 900.271 499.423 899.461 498.652C867.512 465.516 845.771 426.836 836.024 381.676C835.665 380.031 835.407 378.362 835.111 376.701C834.978 375.921 834.861 375.141 834.721 374.252H865.366C867.528 381.91 869.315 389.552 871.844 396.945C882.25 427.676 899.608 455.595 922.568 478.532C930.758 486.88 940.031 494.093 950.139 499.977Z"
      fill="var(--color-patter)"
    />
    <path
      d="M973.793 374.213H996.042C998.172 381.972 999.943 389.685 1002.39 397.163C1011.52 424.801 1026.25 449.179 1045.87 470.632C1055.03 480.645 1065.11 489.566 1076.74 496.655C1078.44 497.7 1080.21 498.651 1082.34 499.876C1081.46 499.923 1080.99 499.969 1080.53 499.969C1068.82 499.969 1057.11 499.969 1045.41 499.93C1044.41 499.902 1043.45 499.534 1042.69 498.885C1008.35 466.982 985.429 428.451 975.284 382.549C974.714 379.836 974.308 377.083 973.793 374.213Z"
      fill="var(--color-patter)"
    />
    <path
      d="M473.849 498.753C473.974 498.917 474.121 499.064 474.286 499.189H554.134C546.37 494.939 539.892 489.465 533.844 483.46C522.63 472.347 513.133 459.878 504.721 446.55C490.814 424.504 480.209 401.047 474.091 375.655C473.732 374.096 472.975 374.096 471.796 374.096C454.316 374.096 436.833 374.096 419.347 374.096H417.326C417.778 376.615 418.106 378.923 418.621 381.2C427.978 424.652 447.004 463.535 473.849 498.753Z"
      fill="var(--color-patter)"
    />
    <path
      d="M421.883 498.862C421.55 498.731 421.227 498.577 420.915 498.402C412.549 493.723 405.62 487.211 399.259 480.146C374.997 453.21 357.969 422.142 346.833 387.766C345.382 383.29 344.235 378.72 342.931 374.205H278.144C286.681 419.942 305.777 460.899 332.529 498.862H421.883Z"
      fill="var(--color-patter)"
    />
    <path
      d="M50.795 498.862H158.176C156.531 498.276 154.984 497.445 153.587 496.398C145.479 490.487 138.76 483.195 132.517 475.443C116.324 455.332 103.822 433.044 93.7707 409.337C88.9234 397.954 84.94 386.224 81.8543 374.244H0C4.02678 396.735 10.8005 418.281 19.5096 439.251C28.1519 460.008 38.6215 479.956 50.795 498.862Z"
      fill="var(--color-patter)"
    />
    <path
      d="M289.78 498.862C289.209 498.629 288.658 498.35 288.133 498.028C279.393 492.631 272.284 485.425 265.713 477.689C245.626 454.045 230.752 427.351 219.998 398.341C217.079 390.457 214.73 382.37 212.069 374.213H139.033C147.563 419.576 166.034 460.58 191.537 498.862H289.78Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
