<svg id="patter-3" class="patter patter_3" viewBox="0 0 1025 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M586.828 0.117188H549.251C549.698 4.51724 549.985 8.71197 550.571 12.87C552.207 24.9188 553.769 36.9823 555.705 48.9944C558.283 65.5065 561.98 81.8244 566.771 97.835L567.504 100.262H607.435L606.752 98.4657C594.946 66.646 590.839 33.3743 586.828 0.117188Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 0.0957031H658.827L659.003 1.70172C659.737 10.0692 660.353 18.4513 661.291 26.7967C662.589 38.3395 663.858 49.897 665.691 61.3664C667.628 73.7159 670.172 85.9701 672.394 98.2756L672.709 100.256H711.613L711.217 98.7889C702.703 66.3898 699.506 33.3014 696.47 0.0957031Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 0.125C770.427 33.6681 772.759 67.0425 777.834 100.153H815.872C810.27 66.8958 808.128 33.5214 806.016 0.125H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 0.154297C878.962 33.558 880.15 66.8224 882.68 100.116H919.838C918.274 66.7442 916.717 33.4236 915.167 0.154297H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 0.154297V100.16H1024.7V0.154297H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 77.5498C486.228 55.8062 481.975 33.3513 478.667 10.691C478.154 7.16365 477.699 3.62894 477.2 0.101562H439.47C441.245 15.8464 443.65 31.2906 446.76 46.6175C450.228 63.7337 454.54 80.6079 460.767 96.9467L461.126 97.8707L461.17 97.9881L461.39 98.5601C461.39 98.6334 461.456 98.6994 461.485 98.7654L462.079 100.232H503.792L503.139 99.1394C499.271 92.2748 496.094 85.0427 493.657 77.5498Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 69.9684C53.1817 54.6782 47.0071 38.068 42.5043 20.8345C40.7223 14.0291 39.3216 7.12831 37.7376 0.212891H0.0292261C0.0208569 0.376563 0.0208569 0.540545 0.0292261 0.704217C3.30727 21.3258 8.43306 41.4487 16.2505 60.8383C21.1479 73.2216 27.3712 85.0385 34.8114 96.0827L37.6202 100.277H92.4375C90.0688 98.7667 88.0375 97.5714 86.1088 96.2147C76.2381 89.2186 68.8312 80.1032 62.5685 69.9684Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 93.8091C178.818 85.7424 172.842 76.1723 167.833 65.9421C157.933 45.7312 152.132 24.2443 148.238 2.20003L147.967 0H146.5C146.324 0 146.148 0 145.95 0H135.903H109.862L110.038 1.10735C112.287 16.074 115.57 30.8667 119.865 45.3792C125.358 63.6394 132.435 81.2103 142.511 97.4465L144.117 100.182H194.636L191.168 97.4685C189.708 96.2878 188.323 95.0925 187.017 93.8091Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 72.3436C269.254 53.2767 263.827 33.0878 259.874 12.4809C259.082 8.37414 258.408 4.24542 257.674 0.109375H219.79L220.039 1.57606C222.036 15.5559 224.812 29.4133 228.355 43.0832C233.151 61.3288 239.267 79.061 248.06 95.8032L248.948 97.4605L249.27 98.0619L249.307 98.1206L250.414 100.196H291.437C292.574 100.196 293.718 100.196 294.855 100.196H297.26C288.636 92.0485 282.967 82.4857 278.208 72.3436Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 81.3642C380.377 62.5979 375.229 42.783 371.291 22.6308C369.824 15.18 368.658 7.68528 367.331 0.117188H329.674L329.857 1.66453C329.857 1.7672 329.857 1.88453 329.857 1.9872C332.104 19.0628 335.346 35.9927 339.567 52.6905C343.578 68.252 348.521 83.4909 355.304 98.0917L356.199 100.292H400.339L398.967 98.5757C394.985 93.2378 391.624 87.4633 388.95 81.3642Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 100.035H549.251C549.698 104.435 549.985 108.63 550.571 112.788C552.207 124.837 553.769 136.9 555.705 148.905C558.283 165.417 561.98 181.735 566.771 197.746L567.504 200.173H607.435L606.752 198.376C594.946 166.549 590.839 133.278 586.828 100.035Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 100.035H658.827L659.003 101.641C659.737 110.009 660.353 118.391 661.291 126.736C662.589 138.279 663.858 149.829 665.691 161.299C667.628 173.648 670.172 185.902 672.394 198.215L672.709 200.188H711.613L711.217 198.721C702.703 166.285 699.506 133.182 696.47 100.035Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 100.035C770.427 133.571 772.759 166.953 777.834 200.063H815.872C810.24 166.769 808.128 133.417 806.016 100.035H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 100.035C878.962 133.439 880.15 166.703 882.68 199.997H919.838C918.274 166.625 916.717 133.304 915.167 100.035H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 100.035V200.063H1024.7V100.035H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 177.447C486.228 155.711 481.975 133.256 478.667 110.588C478.154 107.061 477.699 103.526 477.2 100.006H439.47C441.245 115.751 443.65 131.195 446.76 146.522C450.228 163.631 454.54 180.505 460.767 196.851C460.884 197.159 461.008 197.467 461.126 197.768L461.17 197.885L461.39 198.464C461.39 198.538 461.456 198.596 461.485 198.67L462.079 200.136H503.792L503.139 199.051C499.27 192.182 496.094 184.945 493.657 177.447Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 169.834C53.1817 154.551 47.0071 137.941 42.5043 120.7C40.7223 113.894 39.3216 106.986 37.7376 100.078H0.0292261C0.0208569 100.242 0.0208569 100.406 0.0292261 100.569C3.30727 121.191 8.43306 141.314 16.2505 160.704C21.1479 173.087 27.3712 184.904 34.8114 195.948L37.6202 200.143H92.4375C90.0688 198.625 88.0375 197.437 86.1088 196.08C76.2381 189.121 68.8312 180.005 62.5685 169.834Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 193.711C178.818 185.645 172.842 176.067 167.833 165.844C157.933 145.626 152.132 124.147 148.238 102.102L147.967 99.9023H146.5H145.95C142.601 99.9023 139.252 99.9023 135.903 99.9023H109.862L110.038 101.017C112.287 115.981 115.57 130.772 119.865 145.282C125.358 163.542 132.435 181.113 142.511 197.349L144.117 200.084H194.636L191.168 197.363C189.708 196.19 188.323 194.987 187.017 193.711Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 172.248C269.254 153.181 263.827 132.992 259.874 112.385C259.082 108.278 258.408 104.15 257.674 100.014H219.79L220.039 101.48C222.036 115.46 224.813 129.317 228.355 142.988C233.151 161.226 239.267 178.965 248.06 195.7L248.948 197.365L249.27 197.966L249.307 198.025L250.414 200.1H291.437C292.574 200.1 293.718 200.1 294.855 200.1H297.26C288.636 191.953 282.967 182.39 278.208 172.248Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 181.267C380.377 162.493 375.229 142.685 371.291 122.526C369.824 115.082 368.658 107.588 367.331 100.02H329.674L329.857 101.56C329.857 101.67 329.857 101.787 329.857 101.89C332.104 118.963 335.346 135.89 339.567 152.585C343.578 168.147 348.521 183.386 355.304 197.987L356.199 200.187H400.339L398.967 198.478C394.985 193.14 391.624 187.366 388.95 181.267Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 199.961H549.251C549.698 204.361 549.985 208.556 550.571 212.714C552.207 224.763 553.769 236.826 555.705 248.838C558.284 265.348 561.981 281.663 566.771 297.671L567.504 300.099H607.435L606.752 298.302C594.946 266.504 590.839 233.218 586.828 199.961Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 199.938H658.827L659.003 201.544C659.737 209.911 660.353 218.293 661.291 226.639C662.589 238.181 663.858 249.739 665.691 261.208C667.628 273.558 670.172 285.812 672.394 298.117L672.709 300.09H711.613L711.217 298.623C702.703 266.224 699.506 233.121 696.47 199.938Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 199.969C770.427 233.504 772.759 266.886 777.834 299.997H815.872C810.27 266.74 808.128 233.358 806.016 199.969H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 199.996C878.962 233.4 880.15 266.664 882.68 299.958H919.838C918.274 266.586 916.717 233.265 915.167 199.996H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 199.996V300.002H1024.7V199.996H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 277.394C486.228 255.65 481.975 233.195 478.667 210.535C478.154 207.007 477.699 203.465 477.2 199.945H439.47C441.245 215.69 443.65 231.134 446.76 246.461C450.243 263.57 454.57 280.437 460.781 296.79L461.14 297.714L461.184 297.832L461.404 298.404C461.404 298.477 461.471 298.536 461.5 298.609L462.094 300.076H503.806L503.154 298.983C499.28 292.119 496.099 284.887 493.657 277.394Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 269.783C53.1817 254.493 47.0071 237.882 42.5043 220.649C40.7223 213.844 39.3216 206.943 37.7376 200.027H0.0292261C0.0208569 200.191 0.0208569 200.355 0.0292261 200.519C3.30727 221.14 8.43306 241.263 16.2505 260.653C21.1479 273.036 27.3712 284.853 34.8114 295.897L37.6202 300.092H92.4375C90.0688 298.581 88.0375 297.386 86.1088 296.029C76.2381 289.062 68.8312 279.947 62.5685 269.783Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 293.637C178.818 285.57 172.842 275.993 167.833 265.77C157.933 245.559 152.132 224.072 148.238 202.028L147.967 199.828H146.5C146.324 199.828 146.148 199.828 145.95 199.828H135.903H109.862L110.038 200.935C112.287 215.902 115.57 230.695 119.865 245.207C125.358 263.468 132.435 281.031 142.511 297.275L144.117 300.01H194.636L191.168 297.297C189.708 296.131 188.323 294.928 187.017 293.637Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 272.187C269.254 253.12 263.827 232.932 259.874 212.325C259.082 208.218 258.408 204.089 257.674 199.953H219.79L220.039 201.42C222.036 215.4 224.813 229.257 228.355 242.927C233.151 261.165 239.267 278.905 248.06 295.647L248.948 297.304L249.27 297.906L249.307 297.964L250.414 300.04H291.437C292.574 300.04 293.718 300.04 294.855 300.04H297.26C288.636 291.892 282.967 282.329 278.208 272.187Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 281.208C380.377 262.442 375.229 242.627 371.291 222.475C369.824 215.024 368.658 207.529 367.331 199.961H329.674L329.857 201.501C329.857 201.611 329.857 201.728 329.857 201.831C332.112 218.919 335.364 235.862 339.596 252.571C343.608 268.132 348.55 283.371 355.334 297.965L356.228 300.165H400.368L398.997 298.449C395.002 293.103 391.631 287.319 388.95 281.208Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 299.908H549.251C549.698 304.308 549.985 308.51 550.571 312.668C552.207 324.717 553.769 336.781 555.705 348.785C558.283 365.295 561.98 381.61 566.771 397.619L567.504 400.053H607.435L606.752 398.257C594.946 366.444 590.839 333.165 586.828 299.908Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 299.893H658.827L659.003 301.499C659.737 309.866 660.353 318.248 661.291 326.594C662.589 338.129 663.858 349.687 665.691 361.156C667.628 373.505 670.172 385.76 672.394 398.065L672.709 400.045H711.613L711.217 398.578C702.703 366.179 699.506 333.069 696.47 299.893Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 299.922C770.427 333.458 772.759 366.839 777.834 399.95H815.872C810.27 366.693 808.128 333.311 806.016 299.922H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 299.951C878.962 333.355 880.15 366.612 882.68 399.913H919.838C918.274 366.541 916.717 333.22 915.167 299.951H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 299.943V399.971H1024.7V299.943H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 377.341C486.228 355.597 481.975 333.15 478.667 310.482C478.154 306.955 477.699 303.42 477.2 299.893H439.47C441.245 315.645 443.65 331.082 446.76 346.416C450.228 363.525 454.54 380.399 460.767 396.738L461.126 397.662L461.17 397.779L461.39 398.358C461.39 398.432 461.456 398.49 461.485 398.556L462.079 400.023H503.792L503.139 398.938C499.271 392.071 496.094 384.836 493.657 377.341Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 369.728C53.1817 354.445 47.0071 337.835 42.5043 320.594C40.7223 313.789 39.3216 306.881 37.7376 299.973H0.0292261C0.0208569 300.136 0.0208569 300.3 0.0292261 300.464C3.30727 321.078 8.43306 341.208 16.2505 360.598C21.1464 372.98 27.3698 384.794 34.8114 395.835L37.6202 400.03H92.4375C90.0688 398.519 88.0375 397.331 86.1088 395.974C76.2381 389.015 68.8312 379.9 62.5685 369.728Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 393.606C178.818 385.54 172.842 375.962 167.833 365.739C157.933 345.529 152.132 324.049 148.238 302.005L147.967 299.805H146.5H145.95C142.601 299.805 139.252 299.805 135.903 299.805H109.862L110.038 300.919C112.287 315.884 115.57 330.674 119.865 345.184C125.358 363.444 132.435 381.015 142.511 397.251L144.117 399.987H194.636L191.168 397.273C189.708 396.085 188.323 394.882 187.017 393.606Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 372.105C269.254 353.038 263.827 332.849 259.874 312.25C259.082 308.136 258.408 304.007 257.674 299.871H219.79L220.039 301.338C222.035 315.318 224.811 329.175 228.355 342.845C233.151 361.09 239.267 378.83 248.06 395.565L248.948 397.222C249.058 397.428 249.16 397.633 249.27 397.831L249.307 397.89L250.414 399.958H291.437H294.855H297.26C288.636 391.847 282.967 382.284 278.208 372.105Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 381.161C380.377 362.387 375.229 342.58 371.291 322.42C369.824 314.977 368.658 307.475 367.331 299.914H329.674L329.857 301.454C329.857 301.564 329.857 301.674 329.857 301.784C332.105 318.857 335.347 335.785 339.567 352.48C343.578 368.042 348.521 383.28 355.304 397.881L356.199 400.081H400.339L398.967 398.373C394.985 393.035 391.624 387.26 388.95 381.161Z"
      fill="var(--color-patter)"
    />
  </g>
  <g class="patter__group">
    <path
      d="M586.828 399.855H549.251C549.698 404.256 549.985 408.45 550.571 412.608C552.207 424.657 553.769 436.721 555.705 448.733C558.283 465.242 561.98 481.558 566.771 497.566L567.504 499.993H607.435L606.752 498.197C594.946 466.384 590.839 433.113 586.828 399.855Z"
      fill="var(--color-patter)"
    />
    <path
      d="M696.47 399.832H658.827L659.003 401.438C659.737 409.805 660.353 418.188 661.291 426.533C662.589 438.076 663.858 449.633 665.691 461.103C667.628 473.452 670.172 485.706 672.394 498.012L672.709 499.992H711.613L711.217 498.525C702.703 466.126 699.506 433.016 696.47 399.832Z"
      fill="var(--color-patter)"
    />
    <path d="M768.484 399.861C770.427 433.404 772.759 466.779 777.834 499.889H815.872C810.27 466.632 808.128 433.258 806.016 399.861H768.484Z" fill="var(--color-patter)" />
    <path d="M877.986 399.891C878.962 433.294 880.15 466.559 882.68 499.852H919.838C918.274 466.48 916.717 433.16 915.167 399.891H877.986Z" fill="var(--color-patter)" />
    <path d="M987.504 399.891V499.896H1024.7V399.891H987.504Z" fill="var(--color-patter)" />
    <path
      d="M493.657 477.288C486.228 455.545 481.975 433.09 478.667 410.429C478.154 406.902 477.699 403.367 477.2 399.84H439.47C441.245 415.585 443.65 431.029 446.76 446.356C450.228 463.472 454.54 480.346 460.767 496.685L461.126 497.609L461.17 497.726L461.39 498.298C461.39 498.372 461.456 498.438 461.485 498.504L462.079 499.97H503.792L503.139 498.878C499.271 492.013 496.094 484.781 493.657 477.288Z"
      fill="var(--color-patter)"
    />
    <path
      d="M62.5685 469.675C53.1817 454.385 47.0071 437.775 42.5043 420.542C40.7223 413.736 39.3216 406.835 37.7376 399.92H0.0292261C0.0208569 400.084 0.0208569 400.248 0.0292261 400.411C3.30727 421.033 8.43306 441.156 16.2505 460.545C21.1479 472.929 27.3712 484.746 34.8114 495.79L37.6202 499.984H92.4375C90.0688 498.474 88.0375 497.278 86.1088 495.922C76.2381 488.955 68.8312 479.84 62.5685 469.675Z"
      fill="var(--color-patter)"
    />
    <path
      d="M187.017 493.547C178.818 485.481 172.842 475.947 167.833 465.68C157.933 445.469 152.132 423.983 148.238 401.938L147.967 399.738H146.5C146.324 399.738 146.148 399.738 145.95 399.738H135.903H109.862L110.038 400.846C112.287 415.812 115.57 430.605 119.865 445.117C125.358 463.378 132.435 480.949 142.511 497.185L144.117 499.92H194.636L191.168 497.207C189.708 496.041 188.323 494.831 187.017 493.547Z"
      fill="var(--color-patter)"
    />
    <path
      d="M278.208 472.082C269.254 453.015 263.827 432.826 259.874 412.219C259.082 408.112 258.408 403.984 257.674 399.848H219.79L220.039 401.314C222.036 415.294 224.812 429.152 228.355 442.821C233.151 461.067 239.267 478.799 248.06 495.541L248.948 497.199L249.27 497.8L249.307 497.859L250.414 499.934H291.437C292.574 499.934 293.718 499.934 294.855 499.934H297.26C288.636 491.787 282.967 482.224 278.208 472.082Z"
      fill="var(--color-patter)"
    />
    <path
      d="M388.95 481.102C380.377 462.336 375.229 442.521 371.291 422.369C369.824 414.918 368.658 407.424 367.331 399.855H329.674L329.857 401.403C329.857 401.505 329.857 401.623 329.857 401.725C332.104 418.801 335.346 435.731 339.567 452.429C343.578 467.99 348.521 483.229 355.304 497.83L356.199 500.03H400.339L398.967 498.314C394.985 492.976 391.624 487.202 388.95 481.102Z"
      fill="var(--color-patter)"
    />
  </g>
</svg>
