<svg id="patter-prelodoader" class="patter patter_preloader" viewBox="0 0 243 160" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g class="patter__group">
    <path
      d="M147.295 53.3292C144.822 49.4963 142.869 45.3992 141.171 41.1779C137.066 30.9793 134.3 20.3896 132.127 9.63675C131.485 6.45389 130.941 3.25028 130.343 0.015625H115.244C118.207 18.3591 122.314 36.3349 130.187 53.3395L147.295 53.3292Z"
      fill="var(--color-patter)"
    />
    <path
      d="M100.896 53.3239L98.7882 51.063C94.6445 46.6059 91.4823 41.4807 88.7708 36.0629C83.9253 26.3874 80.6182 16.1655 78.1527 5.65866C77.7124 3.77847 77.3214 1.88796 76.9044 0H57.6777C61.2206 18.8123 66.7238 36.8683 76.7956 53.3239H100.896Z"
      fill="var(--color-patter)"
    />
    <path
      d="M57.5271 53.3271C57.4147 53.2985 57.3066 53.255 57.2059 53.1976C55.134 52.0089 52.9793 50.9393 51.0344 49.5719C45.8548 45.9229 41.794 41.1836 38.2745 35.9651C31.8233 26.3958 27.576 15.8528 24.5693 4.76846C24.1394 3.17833 23.7536 1.57787 23.3522 0.00585938H0C3.90541 19.3257 10.644 37.3766 22.5777 53.3297L57.5271 53.3271Z"
      fill="var(--color-patter)"
    />
    <path d="M194.479 53.3265C188.582 35.9748 185.995 18.0276 183.693 0H172.676C174.833 18.0198 177.521 35.8868 182.893 53.3265H194.479Z" fill="var(--color-patter)" />
    <path d="M242.177 53.3265C239.398 35.6278 238.108 17.8281 236.914 0H229.922C231.08 17.8411 232.413 35.62 235.101 53.3265H242.177Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M147.295 106.651V106.638C144.822 102.805 142.869 98.7078 141.171 94.489C137.066 84.2878 134.3 73.7007 132.127 62.9453C131.485 59.7624 130.941 56.5589 130.343 53.3242H115.244C118.207 71.6677 122.314 89.6461 130.187 106.651H147.295Z"
      fill="var(--color-patter)"
    />
    <path
      d="M100.896 106.651L98.7882 104.387C94.6445 99.9302 91.4823 94.805 88.7708 89.3897C83.9253 79.7116 80.6182 69.4923 78.1527 58.9829C77.7124 57.1053 77.3214 55.2148 76.9044 53.3242H57.6777C61.2206 72.1391 66.7238 90.1925 76.7956 106.651H100.896Z"
      fill="var(--color-patter)"
    />
    <path
      d="M57.5271 106.649C57.4155 106.618 57.3078 106.574 57.2059 106.519C55.134 105.331 52.9793 104.258 51.0344 102.894C45.8548 99.2445 41.794 94.5052 38.2745 89.2868C31.8233 79.7045 27.576 69.1744 24.5693 58.0927C24.1394 56.5025 23.7536 54.8995 23.3522 53.3301H0C3.90541 72.6499 10.644 90.7008 22.5777 106.654L57.5271 106.649Z"
      fill="var(--color-patter)"
    />
    <path d="M194.479 106.653C188.582 89.3016 185.995 71.3544 183.693 53.3242H172.676C174.833 71.3466 177.521 89.2136 182.893 106.653H194.479Z" fill="var(--color-patter)" />
    <path d="M242.177 106.651C239.398 88.9494 238.108 71.1524 236.914 53.3242H229.922C231.08 71.1627 232.413 88.9442 235.101 106.651H242.177Z" fill="var(--color-patter)" />
  </g>
  <g class="patter__group">
    <path
      d="M147.295 159.989C144.822 156.158 142.869 152.061 141.171 147.84C137.066 137.641 134.3 127.052 132.127 116.299C131.485 113.113 130.941 109.912 130.343 106.678H115.244C118.207 125.021 122.314 142.997 130.187 160.002L147.295 159.989Z"
      fill="var(--color-patter)"
    />
    <path
      d="M100.896 159.986L98.7882 157.723C94.6445 153.268 91.4823 148.14 88.7708 142.725C83.9253 133.047 80.6182 122.828 78.1527 112.321C77.7124 110.441 77.3214 108.55 76.9044 106.662H57.6777C61.2206 125.474 66.7238 143.528 76.7956 159.986H100.896Z"
      fill="var(--color-patter)"
    />
    <path
      d="M57.5271 159.987C57.4155 159.956 57.3078 159.912 57.2059 159.857C55.134 158.668 52.9793 157.599 51.0344 156.231C45.8548 152.585 41.794 147.843 38.2745 142.625C31.8233 133.058 27.576 122.515 24.5693 111.431C24.1394 109.841 23.7536 108.24 23.3522 106.668H0C3.90541 125.988 10.644 144.039 22.5777 159.992L57.5271 159.987Z"
      fill="var(--color-patter)"
    />
    <path d="M194.479 159.989C188.582 142.637 185.995 124.69 183.693 106.662H172.676C174.833 124.682 177.521 142.549 182.893 159.989H194.479Z" fill="var(--color-patter)" />
    <path d="M242.177 159.989C239.398 142.287 238.108 124.49 236.914 106.662H229.922C231.08 124.503 232.413 142.282 235.101 159.989H242.177Z" fill="var(--color-patter)" />
  </g>
</svg>
