<section class="system">
  <div class="system__container container container_content scroll-item">
    <p class="system__text anim-content">
      VK строит сервисы, используя силу социальных сетей.
      <a href="#" class="system__text-strong"> <span class="system__text-word">Откройте для </span> </a>
      <a href="#" class="system__text-strong"> <span class="system__text-word">себя все возможности экосистемы. </span> </a>
    </p>
  </div>
  <div class="system__bg scroll-item">
    <div class="system__bg-wrapper">@@include('_svg-patter-4.html')</div>
  </div>
</section>
