<section class="timeline">
  <div class="container container_content">
    <div class="section-controls">
      <div class="section-controls__inputs">
        <div class="custom-select section-controls__select section-controls__select--year" data-select="" data-name="some-year" data-id="some-year">
          <span class="custom-select__label section-controls__select-label">год</span>
          <button class="custom-select__button section-controls__select-btn" type="button" aria-label="Выберите год">
            <span class="custom-select__text"></span><span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list section-controls__select-list" role="listbox">
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2021" aria-selected="true" role="option">
              2021
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2020" aria-selected="false" role="option">
              2020
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2019" aria-selected="false" role="option">
              2019
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2018" aria-selected="false" role="option">
              2018
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2017" aria-selected="false" role="option">
              2017
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2016" aria-selected="false" role="option">
              2016
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2015" aria-selected="false" role="option">
              2015
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2014" aria-selected="false" role="option">
              2014
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2013" aria-selected="false" role="option">
              2013
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2012" aria-selected="false" role="option">
              2012
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2011" aria-selected="false" role="option">
              2011
            </li>
            <li class="custom-select__item section-controls__select-item" tabindex="0" data-select-value="2010" aria-selected="false" role="option">
              2010
            </li>
          </ul>
        </div>

        <div class="section-controls__search-block search-block">
          <label class="search-block__label" for="search-block__input"></label>
          <input id="search-block__input" class="search-block__input" type="text" placeholder="Подписаться" />
        </div>
      </div>
      <div class="section-controls__btns">
        <button class="section-controls__btn btn btn_subscribe" data-modal="subscribe-form">Подписаться</button>
      </div>
    </div>
    <!-- MAIN CARD WITH BOTTOM WRAPPER -->
    <a href="#" class="card card_main card_bg-color-12 card_bg-patter-type-2 card_bg-patter-color-14">
      <div class="card__pic">
        <img src="../../img/press-card-1.jpg" width="1348" height="674" alt="" class="card__pic-photo" />
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">26 августа</p>
        <h5 class="card__title">Приглашение на обзор стратегии MY.GAMES</h5>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
    </a>
    <!-- /MAIN CARD WITH BOTTOM WRAPPER -->
    <div class="cards__row cards__row_small cards__row_without_border_top cards__row_without_border_bottom">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL card WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
          <div class="card__more-borders"></div>
        </div>
      </a>
      <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small card_bg-color-12 card_bg-patter-type-2 card_bg-patter-color-14">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH BOTTOM WRAPPER -->
    </div>
    <!-- LARGE CARD -->
    <a href="#" class="card card_large">
      <div class="card__pic">
        <img src="../../img/card-large-photo.svg" alt="" class="card__pic-photo" width="624" height="442" />
        <div class="card__pic-bg">
          <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
          <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
        </div>
      </div>
      <div class="card__content">
        <p class="card__subtitle">26 августа</p>
        <h5 class="card__title">All Cups и&nbsp;hh.ru узнали, с&nbsp;какими трудностями сталкиваются HR-менеджеры при найме IT-специалистов</h5>
        <p class="card__author">Председатель совета директоров и сооснователь Mail.ru Group</p>
        <div class="card__bottom-wrapper">
          <button class="card__show"></button>
        </div>
      </div>
    </a>
    <!-- /LARGE CARD -->
    <div class="cards__row cards__row_small cards__row_without_border_top cards__row_without_border_bottom">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small card_bg-color-12 card_bg-patter-type-2 card_bg-patter-color-14">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small card_bg-color-3 card_bg-patter-type-1 card_bg-patter-color-3">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>
    <div class="cards__row cards__row_small cards__row_without_border_bottom">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small card_bg-color-12 card_bg-patter-type-3 card_bg-patter-color-14">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_small card_bg-color-3 card_bg-patter-type-1 card_bg-patter-color-12">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Worki сменил имя на VK Работа</h5>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>
  </div>
  <div class="colored-block colored-block_blue-2">
    <div class="container container_content">
      <div class="cards__row cards__row_small cards__row_without_border_top cards__row_without_border_bottom">
        <!-- SMALL CARD -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
            <div class="card__bottom-wrapper">
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD -->

        <!-- SMALL card WITH BOTTOM WRAPPER -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
            <div class="card__more-borders"></div>
          </div>
        </a>
        <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

        <!-- SMALL CARD WITH BOTTOM WRAPPER -->
        <a href="#" class="card card_vertical card_small">
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
            <div class="card__bottom-wrapper">
              <p class="card__clarification">Начало события в 17.00</p>
              <button class="card__show"></button>
            </div>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

        <!-- SMALL CARD WITH PHOTO -->
        <a href="#" class="card card_vertical card_small card_bg-color-11 card_bg-patter-type-2 card_bg-patter-color-3">
          <div class="card__pic">
            <img width="282" height="200" src="" alt="" class="card__pic-photo" />
            <div class="card__pic-bg">
              <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_2">
                <!-- @@include('_svg-patter-2.html')
              -->
                @@include('_svg-patter-2.html')
              </div>
              <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
              <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
            </div>
          </div>
          <div class="card__content">
            <p class="card__subtitle">22 августа</p>
            <h5 class="card__title">Worki сменил имя на VK Работа</h5>
          </div>
          <div class="card__more-borders"></div>
        </a>
        <!-- /SMALL CARD WITH PHOTO -->
      </div>
      <!-- LARGE CARD WITH ALL -->
      <a href="#" class="card card_large card_invert card_bg-color-11 card_bg-patter-type-1 card_bg-patter-color-3">
        <div class="card__pic">
          <!-- <img width="624" height="442" src="" alt="" class="card__pic-photo" /> -->
          <div class="card__pic-bg">
            <div class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_2">@@include('_svg-patter-2.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</div>
            <div class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">26 августа</p>
          <h5 class="card__title">Online Demo Day «Цифровой университет» от&nbsp;Mail.ru Group</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
      </a>
      <!-- /LARGE CARD WITH ALL -->
    </div>
  </div>
  <div class="container container_content">
    <div class="cards__row cards__row_small cards__row_without_border_top cards__row_without_border_bottom">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL card WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
          <div class="card__more-borders"></div>
        </div>
      </a>
      <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

      <!-- SMALL CARD WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->
    </div>
    <div class="cards__row cards__row_small">
      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->

      <!-- SMALL card WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Дмитрий Крутов, генеральный директор Skillbox: «Наша задача – обучать новых лидеров для страны»</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
          <div class="card__more-borders"></div>
        </div>
      </a>
      <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

      <!-- SMALL CARD WITH BOTTOM WRAPPER -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH BOTTOM WRAPPER -->

      <!-- SMALL CARD -->
      <a href="#" class="card card_vertical card_small">
        <div class="card__content">
          <p class="card__subtitle">22 августа</p>
          <h5 class="card__title">Mail.ru Group выплатила более 2 миллионов долларов исследователям, которые проверяли сервисы компании на прочность</h5>
          <div class="card__bottom-wrapper">
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD -->
    </div>
    <div class="timeline__loading"></div>
  </div>
</section>
