<section class="upcoming-events scroll-item">
  <div class="container container_content">
    <h2 class="upcoming-events__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Ближайшие события</span>
      </span>
    </h2>

    <div class="cards__row cards__row_medium">
      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_medium card_bg-patter-type-2 card_bg-patter-color-8">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">TBD PRO: Game Design NG+</h5>
          <button class="card__button btn">Регистрация</button>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_medium card_bg-color-7 card_bg-patter-type-4 card_bg-patter-color-9">
        <div class="card__pic">
          <img width="282" height="200" src="../../img/events-photo-2.jpg" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
            -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Обзор сложившихся практик и подходов к изменению IT-архитектур</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_medium card_bg-patter-type-1 card_bg-patter-color-8">
        <div class="card__pic">
          <img width="282" height="200" src="" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — QA Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->

      <!-- SMALL CARD WITH PHOTO -->
      <a href="#" class="card card_vertical card_medium card_bg-patter-type-1 card_bg-patter-color-8">
        <div class="card__pic">
          <img width="282" height="200" src="../../img/events-photo-3.jpg" alt="" class="card__pic-photo" />
          <div class="card__pic-bg">
            <svg class="card__pic-bg-img card__pic-bg-img_1">@@include('_svg-patter-1.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_2">
              <!-- @@include('_svg-patter-2.html')
              -->
              @@include('_svg-patter-2.html')
            </svg>
            <svg class="card__pic-bg-img card__pic-bg-img_3">@@include('_svg-patter-3.html')</svg>
            <svg class="card__pic-bg-img card__pic-bg-img_4">@@include('_svg-patter-4.html')</svg>
          </div>
        </div>
        <div class="card__content">
          <p class="card__subtitle">23 июля</p>
          <h5 class="card__title">Dev Week Mail.ru Group — Frontend Day</h5>
          <div class="card__bottom-wrapper">
            <p class="card__clarification">Начало события в 17.00</p>
            <button class="card__show"></button>
          </div>
        </div>
        <div class="card__more-borders"></div>
      </a>
      <!-- /SMALL CARD WITH PHOTO -->
    </div>

    <button type="button" class="upcoming-events_btn btn btn_primary">Смотреть все события</button>
  </div>
</section>
