<section class="vacancies scroll-item">
  <div class="container container_content">
    <h2 class="vacancies__title title-h2">
      <span class="animate-row">
        <span class="animate-item">Горящие вакансии</span>
      </span>
    </h2>
    <div class="vacancies__cards anim-content">
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Эксперт по информационной безопасности</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Инженер по информационной безопасности</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Senior QA Engineer</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Разработчик решений</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">С++ разработчик</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Ведущий гейм-дизайнер (Rush Royale)</h4>
        <p class="vacancies__card-city">Санкт-Петербург</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Go-разработчик</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
      <a href="#" class="vacancies__card">
        <h4 class="vacancies__card-title title-h4">Tech Support Lead в Tarantool</h4>
        <p class="vacancies__card-city">Москва</p>
      </a>
    </div>
    <a href="#" class="vacancies__show-all btn btn_primary">Больше вакансий</a>
  </div>
</section>
